<template>
    <v-navigation-drawer :Navigator="Navigator" ref="drawer" :key="lang">
        <template scope="drawer">
            <div style="flex: 1">
                <div class="toolbar" :style="`background-color: ${$colors.toolbarDark}`">
                    <safe-area-view>
                        <v-text class="title" bold>bit4you</v-text>
                    </safe-area-view>
                </div>

                <scroll-view :contentContainerStyle="{flexGrow: 1, justifyContent: 'space-between', flexDirection: 'column' }" style="flex: 1" key="$db.lang">
                    <div class="mode-switch" :key="simulation">
                        <touchable @click="toggleDemo">
                          <div :class="simulation ? 'switch-mode1--active' : 'switch-mode1--inactive'">
                            <v-text :class="simulation ? 'switch-text--active' : 'switch-text--inactive'">Demo</v-text>
                          </div>
                        </touchable>
                        <touchable @click="toggleReal">
                          <div :class="!simulation ? 'switch-mode2--active' : 'switch-mode2--inactive'">
                            <v-text :class="!simulation ? 'switch-text--active' : 'switch-text--inactive'">Real</v-text>
                          </div>
                        </touchable>
                    </div>
                    <DrawerItems :items="drawer.items" :descriptors="drawer.descriptors" :drawerOpenProgress="drawer.drawerOpenProgress" :activeItemKey="drawer.activeItemKey" :screenProps="drawer.screenProps" :renderIcon="drawer.renderIcon" :onItemPress="drawer.onItemPress" :drawerPosition="drawer.drawerPosition" :getLabel="getLabel" />

                    <div style="flex: 1" />
                    <div class="wallet" :key="shadowKey">
                        <v-text bold style="margin-bottom: 3; font-size: 13">{{ $db.walletFormatted }}</v-text>
                        <v-text> {{$t('addfunds.text3').toLowerCase()}}</v-text>
                    </div>
                </scroll-view>
            </div>
        </template>

        <!--<div style="height: 50" />
        <v-divider />
        <v-list dense>
            <v-list-tile v-for="item in items" :key="item.title" :to="item.link">
                <v-list-tile-action>
                    <v-icon>icon-{{ item.icon }}</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>!-->
    </v-navigation-drawer>
</template>

<script>

    import { Navigator } from './router'
    import { DrawerItems, SafeAreaView } from 'react-navigation';
    
    //getLabel={({route}) => $t('menu.' + route.routeName.toLowerCase())}

    export default {
        api: 'members/profile',
        components: {
            DrawerItems,
            SafeAreaView
        },
        props: {
            items: Array
        },
        data() {
          return {
              wallet: 0,
              simulation: this.$api.isSimulation,
              shadowKey: '0',
              lang: this.$translator.lang
          }
        },
        computed: {
            Navigator() {
                return Navigator
            },
        },
        created() {
            const handler = (res) => {
                this.shadowKey = res.wallet + '-' + ((this.shadowKey + 1) % 1000);
            };

            this.$onApi('members/profile', handler);
            this.$onApi('mode-switch', () => {
                this.$api.refresh('members/profile');
                this.simulation = this.$api.isSimulation;

                this.$nextTick(() => {
                    this.refreshAllApis();
                });
            })

            this.$translator.onLangChange(this.onLangChange)
        },
        beforeDestroy() {
            this.$translator.removeLangChangeListener(this.onLangChange)
        },
        methods: {
            toggleMode(isSimulation) {
                const newValue = Boolean(this.$api.isTrial ? true : isSimulation);
                if(this.$api.isTrial)
                    return alert("You can not go to real mode without creating an account")

                if (this.$api.isSimulation !== newValue)
                    this.$api.isSimulation = newValue;

                return newValue;
            },
            toggleReal() {
                this.toggleMode(false);
            },
            toggleDemo() {
                this.toggleMode(true);
            },
            getLabel({route}) {
                return this.$t('menu.' + route.routeName.toLowerCase());
            },
            refreshAllApis() {
                const done = [];
                const excludeApis = [
                    'profile/search',
                    'wallet/list',
                    'members/connect',
                    'platform/currencies'
                ]

                this.$api.onApiCallbacks.forEach((obj) => {
                    obj.post = this.$api.mergePost(obj.post, obj.api, true);

                    const salt = JSON.stringify({
                        api: obj.api,
                        post: obj.post
                    });

                    if (done.indexOf(salt) === -1 && obj.api.indexOf('/') > 0 && excludeApis.indexOf(obj.api) === -1) {
                        done.push(salt);
                        this.$api.refresh(obj.api, obj.post);
                    }
                });
            },
            onLangChange(lang) {
                if(!this._isMounted)
                    return this.$translator.removeLangChangeListener(this.onLangChange)

                if(lang !== this.lang) {
                    this.lang = lang
                }
            }
        }
    }

</script>

<style scoped>

    .toolbar {
        background-color: black;
        padding-bottom: 10;
        flex-direction: row;
        justify-content: center;
    }

    .title {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 20;
        color: #fff;
    }

    .wallet {
      justify-content: center;
      align-items: center;
      padding-top: 10;
      padding-bottom: 20;
      border-top-width: 1;
      border-top-color: black;
    }
    .mode-switch {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      margin: 0;
    }
    .switch-mode1--inactive {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      width: 60px;
      padding: 10px;
      margin: 0;
      color: #c8c8c8;
      background-color: #f9f9f9;
      border-width: 1px;
      border-style: solid;
      border-color: #d0cdcd;
      border-right-width: 0;
    }
    .switch-mode2--inactive {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      width: 60px;
      padding: 10px;
      margin: 0;
      color: #c8c8c8;
      background-color: #f9f9f9;
      border-width: 1px;
      border-style: solid;
      border-color: #d0cdcd;
      border-left-width: 0;
    }
    .switch-mode1--active {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      width: 60px;
      padding: 10px;
      margin: 0;
      color: #ffffff;
      background-color: #006bff;
      border-width: 1px;
      border-style: solid;
      border-color: #035dda;
      border-right-width: 0;
    }
    .switch-mode2--active {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      width: 60px;
      padding: 10px;
      margin: 0;
      color: #ffffff;
      background-color: #006bff;
      border-width: 1px;
      border-style: solid;
      border-color: #035dda;
      border-left-width: 0;
    }
    .switch-text--inactive {
      color: #c8c8c8;
    }
    .switch-text--active {
      color: #ffffff;
    }
</style>