<template>
<div v-if="show">
  <tutorial-first-history-1 id="first-history-introjs" />

  <!--
    <ga-ab-test
      tutorial="first_history"
      :experiment=" isDev ? 'uitamd-gR5qqYHhDDWGyiA' : '8iLr0X9hQGa1HoZY-G1pjA' "
    >
      <div v-for="n in 3" :slot="n" :key="`variant-${n}`">
        <component id="first-history-introjs" :is="`tutorial-first-history-${n}`" />
      </div>
    </ga-ab-test>
  -->
</div>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: true,
    },
  },
};
</script>
