<template>
    <div id="tutorial-first-login"></div>
</template>

<script>
    const introjsMixin = require('./mixin-introjs');
    const ensureVirtual = require('./mixin-ensure-virtual');
    export default {
        props: ['market'],
        mixins: [introjsMixin, ensureVirtual],
        data() {
            return {
                tutorial: 'first_login',
                variant: 1,
                // $defaults: {},
                stepsBought: [{
                    intro: this.$translate('tutorial.intro.text.8', {
                        link: this.$translate('menu.portfolio'),
                    }),
                    selector: '.v-app',
                    'disable-interaction': true,
                    disableInteraction: true,
                    'data-tooltipClass': 'introjs-tooltip-laststep',
                    dataTooltipClass: 'introjs-tooltip-laststep',
                    tooltipClass: 'introjs-tooltip-laststep',
                }],
                stepsMarket: [{
                        intro: this.$translate('tutorial.intro.text.6', {
                            market: this.market || this.$route.params.market || ''
                        }),
                        selector: '.marketsRow',
                        onNext: async () => {
                            await this.ensureMarket(this.market || this.$route.params.market);
                            return new Promise(async (resolve) => {
                                await this.waitForEl('#trade-1');
                                await this.waitForEl('.chartContainer svg');
                                this.setMode(true);
                                return resolve(true);
                            });
                        },
                    },
                    {
                        intro: this.$translate('tutorial.marketstat.1', {
                            market: this.market || this.$route.params.market || ''
                        }),
                        selector: '.market-stats > div.flex:nth-child(1)',
                        position: 'bottom',
                        onNext: async () => {
                          return this.ensureMarket(this.market || this.$route.params.market);
                        },
                    },
                    {
                        intro: this.$translate('tutorial.marketstat.2', {
                            market: this.market || this.$route.params.market || ''
                        }),
                        selector: '.market-stats > div.flex:nth-child(2)',
                        position: 'bottom',
                        onNext: async () => {
                          return this.ensureMarket(this.market || this.$route.params.market);
                        },
                    },
                    {
                        intro: this.$translate('tutorial.marketstat.3', {
                            market: this.market || this.$route.params.market || ''
                        }),
                        selector: '.market-stats > div.flex:nth-child(3)',
                        position: 'bottom',
                        onNext: async () => {
                          return this.ensureMarket(this.market || this.$route.params.market);
                        },
                    },
                    {
                        intro: this.$translate('tutorial.marketstat.4', {
                            market: this.market || this.$route.params.market || ''
                        }),
                        selector: '.market-stats > div.flex:nth-child(4)',
                        position: 'bottom',
                        onNext: async () => {
                          return this.ensureMarket(this.market || this.$route.params.market);
                        },
                    },
                    {
                        intro: this.$translate('tutorial.marketstat.5', {
                            market: this.market || this.$route.params.market || ''
                        }),
                        selector: '.market-stats > div.flex:nth-child(5)',
                        position: 'bottom',
                        onNext: async () => {
                          return this.ensureMarket(this.market || this.$route.params.market);
                        },
                    },
                    {
                        intro: this.$translate('tutorial.marketstat.6', {
                            market: this.market || this.$route.params.market || ''
                        }),
                        selector: '.market-stats > div.flex:nth-child(6)',
                        position: 'bottom',
                        onNext: async () => {
                          return this.ensureMarket(this.market || this.$route.params.market);
                        },
                    },
                    {
                        intro: this.$translate('tutorial.intro.text.7'),
                        selector: '#trade-1',
                        position: 'bottom',
                        scrollTo: 'tooltip',
                        position: 'top',
                        tooltipClass: 'introjs-tooltip-laststep',
                        onNext: async () => {
                            this.running && this.running.exit(true);
                            return new Promise(async (resolve) => {
                                await this.waitForEl('.v-dialog--active');
                                return resolve(true);
                            });
                        },
                    },
                ],
                steps: [{
                        intro: this.$translate('tutorial.intro.text.1'),
                        selector: '.v-app',
                        'disable-interaction': true,
                        disableInteraction: true,
                        /*
                        onNext: async () => {
                          return new Promise((resolve) => {
                            // this.$defaults.drawer = !!this.$root.drawer;
                            // this.$defaults.miniDrawer = !!this.$root.miniDrawer;
                            this.$nextTick(() => {
                              return resolve(true);
                            });
                          });
                        },
                        */
                    },
                    {
                        intro: this.$translate('tutorial.intro.text.2'),
                        selector: '.side-main-navigation div.saldo-menu',
                        'disable-interaction': true,
                        disableInteraction: true,
                        position: 'right'
                        /*
                        // selector: '.grey-menu-box.saldo-menu', // aside has scroll, gives error for positioning..
                        onNext: async () => {
                          return new Promise((resolve) => {
                            // this.$set(this.$root, 'miniDrawer', this.$defaults.miniDrawer);
                            // this.$set(this.$root, 'drawer', this.$defaults.drawer);
                            this.$nextTick(() => {
                              return resolve(true);
                            });
                          });
                        },
                        */
                    },
                    {
                        intro: this.$translate('tutorial.intro.text.3'),
                        selector: '#tutorial-mode-switch',
                        onNext: async () => {
                          return this.ensureMarkets();
                        },
                        position: 'top',
                    },
                    {
                        intro: this.$translate('tutorial.intro.text.4'),
                        onNext: async () => {
                          this.disableComplete = true;
                          return this.ensureMarkets();
                        },
                        scrollTo: 'tooltip',
                        'disable-interaction': true,
                        disableInteraction: true,
                        selector: '#tutorial-router-view',
                        position: 'top',
                    },
                    {
                        intro: this.$translate('tutorial.intro.text.5'),
                        onNext: async () => {
                          return this.ensureMarkets();
                        },
                        position: 'top',
                        tooltipClass: 'introjs-tooltip-laststep',
                        selector: '.markets-container',
                    },
                ],
            };
        },
        watch: {
            $route(val, oldval) {
                this.checkRouteMarket(val, oldval);
            },
        },
        mounted() {
            this.checkRouteMarket();
        },
        methods: {
            ensureMarkets() {
              return new Promise((resolve) => {
                if (this.$route.path.indexOf('/markets') === -1) {
                  this.$router.replace('/markets');
                  this.$nextTick(() => {
                    resolve(this.ensureMarkets());
                  });
                  return;
                }
                return resolve(true);
              });
            },
            ensureMarket(market) {
              return new Promise((resolve) => {
                if (!market) return resolve(false);
                const path = `/market/${String(market).toUpperCase()}`;
                if (this.$route.path.indexOf(path) === -1) {
                  this.$router.replace(path);
                  this.$nextTick(() => {
                    resolve(this.ensureMarket(market));
                  });
                  return;
                }
                return resolve(true);
              });
            },
            afterTutorial() {
                this.setMenu(true);
            },
            setMenu(opened = false) {
                this.$set(this.$root, 'miniDrawer', false);
                this.$set(this.$root, 'drawer', opened);
            },
            checkRouteMarket(val = this.$route, oldval) {
                if (this.market && !val.query.dialog && !val.query.ordered) {
                    this.running && this.running.exit(true);
                    this.$set(this, 'steps', this.stepsMarket);
                    this.$nextTick(() => {
                        this.runTutorial(0);
                    });
                } else if (oldval && (oldval.path).indexOf('/market/') > -1 && val.query.dialog) {
                    this.running && this.running.exit(true);
                } else if (oldval && (oldval.path).indexOf('/market/') > -1 && val.query.ordered) {
                    this.running && this.running.exit(true);
                    this.$set(this, 'steps', this.stepsBought);
                    this.endTutorial(true, true);
                    this.$nextTick(() => {
                        this.runTutorial(0);
                    });
                }
            }
        }
    };

</script>
