<template>
  <tutorial-first-portfolio-1 v-if="show" id="first-portfolio-introjs" />

  <!--
  <ga-ab-test
    tutorial="first_portfolio"
    :experiment=" isDev ? 'uitamd-gR5qqYHhDDWGyiA' : '8iLr0X9hQGa1HoZY-G1pjA' "
  >
    <div v-for="n in 3" :slot="n" :key="`variant-${n}`">
      <component id="first-login-introjs" :is="`tutorial-first-login-${n}`" />
    </div>
  </ga-ab-test>
  -->
</template>

<script>
export default {
  props: ['market', 'show'],
}
</script>
