<template>
<div v-if="show">
  <tutorial-first-login-1 :market="market" id="first-login-introjs" />

  <!--
  <ga-ab-test
    tutorial="first_login"
    :experiment=" isDev ? 'uitamd-gR5qqYHhDDWGyiA' : '8iLr0X9hQGa1HoZY-G1pjA' "
  >
    <div v-for="n in 3" :slot="n" :key="`variant-${n}`">
      <component id="first-login-introjs" :is="`tutorial-first-login-${n}`" />
    </div>
  </ga-ab-test>
  -->
</div>
</template>

<script>
export default {
  props: {
    market: {
      required: false,
    },
    show: {
      type: Boolean,
      default: true,
    },
  },
}
</script>
