<template>
  <div id="tutorial-first-portfolio"></div>
</template>

<script>
const introjsMixin = require('./mixin-introjs');
export default {
  props: ['market'],
  mixins: [ introjsMixin ],
  data() {
    return {
      tutorial: 'first_portfolio',
      variant: 1,
      steps: [
        {
          intro: this.$translate('tutorial.portfolio.1'),
          selector: '.v-app',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.2', { tab: this.$translate('portfolio.tabs.2') }),
          selector: '.v-tabs__container > .v-tabs__div:last-child > .v-tabs__item',
          position: 'bottom',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.3', { tab: this.$translate('portfolio.tabs.1') }),
          selector: '.v-tabs__container > .v-tabs__div > .v-tabs__item',
          position: 'bottom',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.4'),
          selector: '.portfolio-stats > .flex:nth-child(1)',
          position: 'bottom',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.5'),
          selector: '.portfolio-stats > .flex:nth-child(2)',
          position: 'bottom',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.6'),
          selector: '.portfolio-stats > .flex:nth-child(3)',
          position: 'bottom',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.7'),
          selector: '.v-datatable',
          position: 'top',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.8'),
          selector: '.v-datatable > tbody > tr:nth-child(1) > td:nth-child(2)',
          position: 'top',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.9'),
          selector: '.v-datatable > tbody > tr:nth-child(1) > td:nth-child(3)',
          position: 'top',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.10'),
          selector: '.v-datatable > tbody > tr:nth-child(1) > td:nth-child(4)',
          position: 'top',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.11'),
          selector: '.v-datatable > tbody > tr:nth-child(1) > td:nth-child(5)',
          position: 'top',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.12'),
          selector: '.v-datatable > tbody > tr:nth-child(1) > td:nth-child(6)',
          position: 'top',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.13'),
          selector: '.v-datatable > tbody > tr:nth-child(1) > td:last-child',
          position: 'top',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            this.endTutorial(true, true);
            return this.ensurePortfolio();
          },
        },
        {
          intro: this.$translate('tutorial.portfolio.14'),
          selector: '.v-app',
          tooltipClass: 'introjs-tooltip-laststep',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensurePortfolio();
          },
        },
      ],
    };
  },
  methods: {
    ensurePortfolio() {
      return new Promise((resolve) => {
        if (this.$route.path.indexOf('/portfolio') === -1) {
          this.$router.replace('/portfolio');
          this.$nextTick(() => {
            resolve(this.ensurePortfolio());
          });
          return;
        }
        return resolve(true);
      });
    },
  },
};
</script>
