<template>
  <div id="tutorial-first-history"></div>
</template>

<script>
const introjsMixin = require('./mixin-introjs');
export default {
  mixins: [ introjsMixin ],
  data() {
    return {
      tutorial: 'first_history',
      variant: 1,
      steps: [
        {
          intro: this.$translate('tutorial.history.1'),
          selector: '.v-app',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensureHistory();
          },
        },
        {
          intro: this.$translate('tutorial.history.2'),
          selector: '.v-tabs__container',
          position: 'bottom',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensureHistory();
          },
        },
        {
          intro: this.$translate('tutorial.history.3', { tab: this.$translate('history.tabs.2') }),
          selector: '.v-tabs__container > .v-tabs__div:last-child > .v-tabs__item',
          position: 'bottom',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensureHistory();
          },
        },
        {
          intro: this.$translate('tutorial.history.4'),
          selector: '.history-stats > .flex:nth-child(1)',
          position: 'bottom',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensureHistory();
          },
        },
        {
          intro: this.$translate('tutorial.history.5'),
          selector: '.history-stats > .flex:nth-child(2)',
          position: 'bottom',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensureHistory();
          },
        },
        {
          intro: this.$translate('tutorial.history.6'),
          selector: '.history-stats > .flex:nth-child(3)',
          position: 'bottom',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensureHistory();
          },
        },
        {
          intro: this.$translate('tutorial.history.7'),
          selector: '.history-stats > .flex:nth-child(4)',
          position: 'bottom',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensureHistory();
          },
        },
        {
          intro: this.$translate('tutorial.history.8'),
          selector: '.v-datatable',
          position: 'top',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            this.endTutorial(true, true);
            return this.ensureHistory();
          },
        },
        {
          intro: this.$translate('tutorial.history.9'),
          selector: '.v-app',
          tooltipClass: 'introjs-tooltip-laststep',
          'disable-interaction': true,
          disableInteraction: true,
          onNext: async () => {
            return this.ensureHistory();
          },
        },
      ],
    };
  },
  methods: {
    ensureHistory() {
      return new Promise((resolve) => {
        if (this.$route.path.indexOf('/history') === -1) {
          this.$router.replace('/history');
          this.$nextTick(() => {
            resolve(this.ensureHistory());
          });
          return;
        }
        return resolve(true);
      });
    },
  },
};
</script>
