<template>
  <div id="tutorial-first-verification"></div>
</template>

<script>
/*
const hopscotchMixin = require('./mixin-hopscotch');
const ensureVirtual = require('./mixin-ensure-virtual');
export default {
  mixins: [ hopscotchMixin, ensureVirtual ],
  watch: {
    $route() {
      if (this.tradeStep && String(this.$route.path).toLowerCase().indexOf('/market/') === 0) {
        this.endTutorial();
      }
    },
  },
  data() {
    return {
      tutorial: 'first_verify',
      tour: {
        id: "first-verification",
        steps: [
          {
            title: this.$translate("tutorial.verif.label.1"),
            content: this.$translate("tutorial.verif.text.1"),
            target: 'tutorial-verification-title',
            placement: "bottom"
          },
          {
            title: this.$translate("tutorial.verif.label.1"),
            content: this.$translate("tutorial.verif.text.2"),
            target: 'tutorial-verification-email',
            placement: "top"
          },
          {
            title: this.$translate("tutorial.verif.label.1"),
            content: this.$translate("tutorial.verif.text.3"),
            target: 'tutorial-verification-business',
            placement: "top"
          },
          {
            title: this.$translate("tutorial.verif.label.1"),
            content: this.$translate("tutorial.verif.text.4"),
            target: 'tutorial-verification-itsme',
            placement: "top"
          },
          {
            title: this.$translate("tutorial.verif.label.1"),
            content: this.$translate("tutorial.verif.text.5"),
            target: 'tutorial-verification-info',
            placement: "top"
          },
          {
            title: this.$translate("tutorial.verif.label.1"),
            content: this.$translate("tutorial.verif.text.6"),
            target: 'tutorial-verification-address',
            placement: "top"
          },
          {
            title: this.$translate("tutorial.verif.label.1"),
            content: this.$translate("tutorial.verif.text.8"),
            target: 'tutorial-verification-title',
            placement: "bottom"
          },
        ]
      },
    };
  },
};
*/
</script>
