<template>
  <div id="tutorial-first-login">
  </div>
</template>

<script>
/*
const hopscotchMixin = require('./mixin-hopscotch');
const ensureVirtual = require('./mixin-ensure-virtual');
export default {
  mixins: [ hopscotchMixin, ensureVirtual ],
  data() {
    return {
      tutorial: 'first_login',
      variant: 1,
      tour: {
        onError: () => {
          if (this.$route.path.indexOf('/markets') === -1) {
            this.changingRoute = true;
            this.$router.push('/markets');
          }
        },
        id: "first-time",
        steps: [
          {
            title: this.$translate("tutorial.intro.label.1") + ' 1',
            content: this.$translate("tutorial.intro.text.1"),
            target: 'tutorial-welcome',
            placement: "left"
          },
          {
            title: this.$translate("tutorial.intro.label.2"),
            content: this.$translate("tutorial.intro.text.2"),
            target: 'tutorial-mode-switch',
            placement: "left",
            onNext: () => {
              if (this.$route.path.indexOf('/markets') === -1) {
                this.changingRoute = true;
                this.$router.replace('/markets');
              }
            },
          },
          {
            title: this.$translate("tutorial.intro.label.3"),
            content: this.$translate("tutorial.intro.text.3"),
            target: 'tutorial-router-view',
            onNext: () => {
              if (this.$route.path.indexOf('/markets') === -1) {
                this.changingRoute = true;
                this.$router.replace('/markets');
              }
            },
            placement: "top"
          },
          {
            title: this.$translate("tutorial.intro.label.4"),
            content: this.$translate("tutorial.intro.text.4"),
            target: 'tutorial-market-row',
            placement: "top",
          },
        ]
      },
    };
  },
};
*/
</script>
