<template>
    <div style="width: 100%; height: 100%; background: #fff">
        <v-content :style="{ position: 'absolute', left: (bar.showDrawers && showToolbar ? '70px' : 0), top: showToolbar ? '70px' : '0px', bottom: 0, right: 0, padding: 0 }" >
            <div id="modalContainer" />
            <div class="chartContainer"></div>
        </v-content>

        <v-toolbar :color="bar.color" :dark="bar.dark" :style="{ background: bar.color && bar.color.substr(0, 1) === '#' ? bar.color : null, paddingBottom: react ? 5 : 0 }" v-if="showToolbar">
            <v-btn icon @click="goBack" v-show="react || back">
                <v-icon>keyboard_arrow_left</v-icon>
            </v-btn>

            <v-toolbar-side-icon @click.stop="bar.showDrawers = !bar.showDrawers">
                <v-icon>create</v-icon>
            </v-toolbar-side-icon>
            <v-toolbar-title style="color: #fff">
                <v-avatar class="hidden-sm-and-down">
                    <img :src="'https://www.bit4you.io/img/markets/' +market.iso.split('-')[1]+ '.png'" style="width: 34px; height: 34px; margin-right: 15px; vertical-align: middle" />
                </v-avatar>
                {{market.iso}} ({{ market.name }})
            </v-toolbar-title>
            <v-spacer v-if="shared"></v-spacer>
            <v-toolbar-title v-if="shared" style="color: #fff">
              <span>
                <div class="liveIndicator"></div> Live 
                ({{ shareCurrency }})
                <span :key="onlineUsers"><v-icon>person</v-icon>{{ onlineUsers }}</span> 
              </span>
            </v-toolbar-title>
            <v-spacer></v-spacer>


            <!-------------------------------------------!-->

            <v-btn icon class="hidden-xs-only graph-btn" @click="showCrossHair = !showCrossHair" v-if="!react">
                <svg style="width: 20px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 349.557 349.557" xml:space="preserve">
                  <g>
                    <g>
                      <circle :style="{ fill: showCrossHair ? '#ffffff' : '#aaa' }" cx="174.776" cy="174.779" r="13.921"></circle>
                      <path :style="{ fill: showCrossHair ? '#ffffff' : '#aaa' }" d="M14.917,189.696h112.714c8.24,0,14.917-6.677,14.917-14.917s-6.677-14.917-14.917-14.917H14.917    C6.677,159.861,0,166.538,0,174.779S6.677,189.696,14.917,189.696z"></path>
                      <path :style="{ fill: showCrossHair ? '#ffffff' : '#aaa' }" d="M189.693,14.92c0-8.24-6.677-14.917-14.917-14.917c-8.24,0-14.917,6.677-14.917,14.917v112.714    c0,8.24,6.677,14.917,14.917,14.917c8.24,0,14.917-6.677,14.917-14.917V14.92z"></path>
                      <path :style="{ fill: showCrossHair ? '#ffffff' : '#aaa' }" d="M349.557,174.779c0-8.24-6.677-14.917-14.917-14.917H221.926c-8.24,0-14.917,6.677-14.917,14.917    s6.677,14.917,14.917,14.917H334.64C342.874,189.696,349.557,183.019,349.557,174.779z"></path>
                      <path :style="{ fill: showCrossHair ? '#ffffff' : '#aaa' }" d="M159.858,334.637c0,8.24,6.677,14.917,14.917,14.917c8.24,0,14.917-6.677,14.917-14.917V221.923    c0-8.24-6.677-14.917-14.917-14.917c-8.24,0-14.917,6.677-14.917,14.917V334.637z"></path>
                    </g>
                  </g>
                </svg>
            </v-btn>

            <span class="toolbar-divider hidden-xs-only" />
            
            <v-btn icon class="hidden-xs-only graph-btn" :disabled="!marketConfigBtn" @click="resetMarketConfig" v-if="(!react && $api.isConnected())" v-show="indicatorConfigs.length > 0">
                <v-icon>delete_forever</v-icon>
            </v-btn>
            <v-btn icon class="hidden-xs-only graph-btn" @click="showIndicatorPlots = !showIndicatorPlots" v-show="indicatorConfigs.length > 0">
                <v-icon>{{ showIndicatorPlots ? 'visibility_off' : 'visibility' }}</v-icon>
            </v-btn>
            
            <span class="toolbar-divider hidden-xs-only"  v-show="indicatorConfigs.length > 0" />
            
            <div style="width: 100px;">
              <span id="indicatorMenu"></span>
              <v-menu light offset-y max-height=450 class="hidden-sm-and-down" attach="#indicatorMenu">
                <br>
                <v-btn small class="secondary graph-btn" slot="activator">Indicators</v-btn>
                <v-list>
                    <v-list-tile v-for="indicator in indicators" :key="indicator.name" @click="showIndicatorDialog(indicator.type)">
                        <v-list-tile-title>{{indicator.name}}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
              </v-menu>
            </div>

            <!--<div style="width: 60px; margin-top: 20px; margin-right: 15px; margin-left: 15px;" class="hidden-xs-only">
                <v-select
                  max-height=500
                  v-bind:items="[ '1d', '4h', '1h', '30min', '15min', '5min', '1min' ]"
                  v-model="interval"
                  label="Interval"
                  single-line
                  return-object
                  color="#000"
                ></v-select>
            </div>-->
  
            <div style="width: 100px;">
              <span id="intervalMenu"></span>
              <v-menu light offset-y max-height=450 class="hidden-xs-only mx-2" attach="#intervalMenu">
                <v-btn :width="40" small class="secondary graph-btn" slot="activator">{{ interval }}</v-btn>
                <v-list>
                    <v-list-tile v-for="time in [ '1d', '4h', '1h', '30min', '15min', '5min', '1min' ]" :key="time" @click="interval = time">
                        <v-list-tile-title>{{ time }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
              </v-menu>
            </div>
            
            <span class="toolbar-divider hidden-xs-only" ></span>

            <v-btn icon class="hidden-xs-only graph-btn" @click="undo" :disabled="!undoEnabled">
                <v-icon>undo</v-icon>
            </v-btn>
            <v-btn icon class="hidden-xs-only graph-btn" @click="redo" :disabled="!redoEnabled">
                <v-icon>redo</v-icon>
            </v-btn>

            <span class="toolbar-divider hidden-xs-only" ></span>
            <!--
            <v-btn icon class="hidden-xs-only graph-btn" @click="share">
                <v-icon>share</v-icon>
            </v-btn>
            -->
            <v-btn icon class="hidden-xs-only graph-btn" :disabled="!downloadBtn" @click="download" v-if="!react">
                <v-icon>camera_alt</v-icon>
            </v-btn>
            <v-btn icon class="graph-btn" @click="showSettings = true">
                <v-icon>settings</v-icon>
            </v-btn>
            <v-btn icon class="hidden-xs-only graph-btn" @click="fullscreen">
                <v-icon>fullscreen</v-icon>
            </v-btn>
        </v-toolbar>

        <v-navigation-drawer v-if="showToolbar" v-model="bar.showDrawers" mini-variant style="box-shadow: 0 0 1px #000; overflow-y: auto" :hide-overlay="true">
            <v-list class="pt-0" dense>

                <v-tooltip right v-if="!react && $api.isConnected()">
                    <v-list-tile @click="showOrdersDialog = true" slot="activator">
                        <v-list-tile-action>
                            <v-icon>trending_up</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <span>Open Orders Annotions</span>
                </v-tooltip>

                <v-tooltip right>
                    <v-list-tile @click="showFormatDialog" slot="activator">
                        <v-list-tile-action>
                            <v-icon>format_paint</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <span>Edit Drawing Style</span>
                </v-tooltip>
                
                <v-divider></v-divider>
                
                <v-menu offset-x :nudge-width="200" open-on-hover>
                    <v-list-tile slot="activator">
                        <v-list-tile-action>
                            <v-icon>star_border</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-list class="pt-0" dense>
                        <v-list-tile v-for="(config, name) in drawFigures" :key="config.icon+name+'0'" @click="useAnnotation(config)">
                            <v-list-tile-action>
                                <span :class="'glyphicon ac ac-' + config.icon"></span>
                            </v-list-tile-action>
                            <v-list-tile-title>{{name}}</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>

                <v-tooltip right v-for="(config, name) in drawers" v-if="name !== 'Fibonacci'"  :key="config.icon+name+'1'">
                    <v-list-tile @click="useAnnotation(config)" slot="activator" :style="config.active ? 'background: #eee;' : ''">
                        <v-list-tile-action>
                            <span :class="'glyphicon ac ac-' + config.icon"></span>
                        </v-list-tile-action>
                    </v-list-tile>
                    <span>{{name}}</span>
                </v-tooltip>
                
                <v-menu offset-x :nudge-width="200" open-on-hover>
                    <v-list-tile @click="useAnnotation(drawers.Fibonacci)" slot="activator" :style="drawers.Fibonacci.active ? 'background: #eee;' : ''">
                        <v-list-tile-action>
                            <span :class="'glyphicon ac ac-' + drawers.Fibonacci.icon"></span>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-list class="pt-0" dense>
                        <v-list-tile v-for="(icon, name) in drawers.Fibonacci.subItems" :key="icon+name+'2'" @click="useAnnotation({active: false}, icon)">
                            <v-list-tile-action>
                                <span :class="'glyphicon ac ac-' + icon"></span>
                            </v-list-tile-action>
                            <v-list-tile-title>{{name}}</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
                
                <v-divider></v-divider>
                
                <v-tooltip right>
                    <v-list-tile @click="clearAnnotations" slot="activator">
                        <v-list-tile-action>
                            <v-icon>icon-clear</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <span>Clear All</span>
                </v-tooltip>

            </v-list>
        </v-navigation-drawer>
        
        <share-dialog ref="shareDialog" :react="react" />
        
        <v-dialog attach="#modalContainer" v-if="showToolbar" v-model="showSettings" :fullscreen="react" :max-width="react ? null : '500px'" transition="dialog-bottom-transition" :overlay=false scrollable>
            <v-card>
                <v-toolbar style="flex: 0 0 auto;" dark class="primary">
                    <v-spacer></v-spacer>
                    <v-toolbar-title>Tools</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @click.native="showSettings = false" dark>
                        <v-icon>icon-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>

                    <v-list>
                        <v-list-group prepend-icon="show_chart">
                            <v-list-tile slot="activator">
                                <v-list-tile-content>
                                    <v-list-tile-title>Chart Type</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile v-for="item in ['Candlestick', 'Line', 'OHCL', 'HiLo', 'Range-Area', 'Range-Column', 'Range-Spline-Area', 'Range-Step-Area']" :key="item" @click="graphType = item">
                                <v-list-tile-title>{{ item }} <span v-if="String(item||'').toLowerCase() === graphType"> (Current)</span></v-list-tile-title>
                            </v-list-tile>
                        </v-list-group>
                        
                        <v-list-group prepend-icon="access_time">
                            <v-list-tile slot="activator">
                                <v-list-tile-content>
                                    <v-list-tile-title>Interval Time</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile v-for="time in [ '1d', '4h', '1h', '30min', '15min', '5min', '1min' ]" :key="'settings_t' + time" @click="interval=time">
                                <v-list-tile-title :style="{fontWeight: time === interval ? 'bold' : ''}">{{time}}</v-list-tile-title>
                            </v-list-tile>
                        </v-list-group>

                        <v-list-group prepend-icon="multiline_chart">
                            <v-list-tile slot="activator">
                                <v-list-tile-content>
                                    <v-list-tile-title>Indicators</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile v-for="indicator in indicators" :key="indicator.name" @click="showIndicatorDialog(indicator.type)">
                                <v-list-tile-title>{{indicator.name}}</v-list-tile-title>
                            </v-list-tile>
                        </v-list-group>
                    </v-list>

                </v-card-text>

                <div style="flex: 1 1 auto;"></div>
            </v-card>
        </v-dialog>

        <v-dialog attach="#modalContainer" v-if="showToolbar" v-model="drawTool.showDialog" :max-width="500" persistent>
            <v-card>
                <v-card-title class="headline">Draw Settings</v-card-title>
                <v-card-text>
                    <form>
                        <v-text-field label="Stroke Size" v-model="drawTool.size" type="number" />
                        <v-text-field label="Figures Size" v-model="drawTool.markerSize" type="number" />

                        <v-container grid-list-md text-xs-center>
                            <v-layout row wrap>
                                <v-flex xs6>
                                    <div class="color-preview-container">
                                        <div class="color-preview" :style="{background: drawTool.color.hex}">
                                            Stroke Color
                                        </div>
                                    </div>
                                    <color-picker v-model="drawTool.color" v-if="drawTool.showDialog" style="margin-left: auto; margin-right: auto;" />
                                </v-flex>
                                <v-flex xs6>
                                    <div class="color-preview-container">
                                        <div class="color-preview" :style="{background: drawTool.fillColor.hex}">
                                            Fill Color
                                        </div>
                                    </div>
                                    <color-picker v-model="drawTool.fillColor" v-if="drawTool.showDialog" style="margin-left: auto; margin-right: auto;" />
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary darken-1" flat @click.native="drawTool.showDialog = false">Done</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <StudiesDialog v-if="showToolbar" ref="studiesDialog" @indicator="addIndicator" />
        <component :is="react ? 'div' : 'OrdersDialog'" v-if="!react && showOrdersDialog" :market="market.iso" @close="showOrdersDialog = false" @open="drawOrderAnnotations($event)" />
    </div>
</template>

<script>
    import Studies from './studies/index.vue';
    import Orders from './components/orders-dialog.vue';
    import Mixins from './mixins'
    import {
        Sketch
    } from 'vue-color';

    export default {
        mixins: Mixins,

        props: {
            react: {
                type: Boolean,
                default: false
            },
            showToolbar: {
                type: Boolean,
                default: true
            },
            toolbarColor: {
              type: String,
              required: false,
              default: '#34495e',
            },
            back: {
                type: Boolean,
                default: false
            },
            currency: {
                type: String,
            }
        },

        components: {
            'color-picker': Sketch,
            StudiesDialog: Studies,
            OrdersDialog: Orders,
        },

        data() {
            this.$chart = null;

            return {
                graphType: 'candlestick',
                showSettings: false,
                showOrdersDialog: false,
                showCrossHair: true,

                shared: false,

                userCounts: {},
                onlineUsers: 1,
                shareCurrency: (this.$getCurrency) ? this.$getCurrency().name : 'USD',

                downloadBtn: true,
                marketConfigBtn: true,

                market: {
                    name: this.marketName,
                    iso: this.marketIso
                },

                bar: {
                    color: this.toolbarColor,
                    dark: true,
                    showDrawers: !this.react && this.initialDrawer
                },

                interval: '1d'
            }
        },

        watch: {
            graphType(val, oldval) {
                this.showSettings = false;
                if (val !== oldval && this.$series) {
                    const type = String(this.graphType).toLowerCase()
                    switch (type) {
                        case 'candlestick':
                            this.$series.seriesType('candlestick');
                            this.$series.risingFill("#16a085");
                            this.$series.fallingFill("#c0392b");
                            this.$series.risingStroke("#000");
                            this.$series.fallingStroke("#000");
                            break;
                        case 'ohcl':
                            this.$series.seriesType('ohlc');
                            break;
                        default:
                            this.$series.seriesType(type);
                            this.$series.stroke('2px #64b5f6');
                            break;
                    }
                    this.$series.legendItem(false);
                }
            },
            
            showCrossHair(val) {
                if(this.$chart) {
                    this.$chart.crosshair(val);
                    this.$chart.tooltip(val);
                }
            }
        },

        mounted() {
            this.$onApi('market-graph/user-count', (res) => {
              this.userCounts[res.uuid] = res.count;
              if (!this.shared) this.onlineUsers = 1;
              this.onlineUsers = Object.values(this.userCounts).reduce((prev, next) => {
                return prev + Number(next);
              }, 0);
            });

            if (window.toolbarColor) {
                this.bar.color = window.toolbarColor;
                if (this.marketIso) {
                    this.market = {
                        iso: this.marketIso,
                        name: this.marketName
                    };
                    window.market = this.market;
                }
            } else if (this.react) {
                const _this = this;
                Object.defineProperty(window, "toolbarColor", {
                    get: function() {
                        return _this.bar.color;
                    },
                    set: function(color) {
                        _this.bar.color = color;
                    }
                });
                Object.defineProperty(window, "market", {
                    get: function() {
                        return _this.market;
                    },
                    set: function(market) {
                        _this.market.name = market.name;
                        _this.market.iso = market.iso;

                        _this.updateApi();
                    }
                });

                if (this.react)
                    this.setMobileMode();
            }

            if (!this.react && this.$api.isConnected()) {
              this.$api.post('market-graph/personal-config', {
                  market: this.market.iso,
              }).then((result) => {
                  if (result.configs && result.configs.length > 0)
                      this.restoreIndicators(result.configs);
                  if (result.annotations && result.annotations.length > 0)
                      this.restoreAnnotations(result.annotations);
              }).catch((err) => {
                  console.error('Saving config failed!', err);
              })
            }
            //--------------

        },

        methods: {
            setMobileMode() {
                const chart = this.setupChart();
                chart.crosshair(false);

                process.nextTick(() => {
                    this.bar.showDrawers = false;
                })
            },

            goBack($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                if (this.back) {
                    return this.$emit('back');
                };
                if (window.postMessage.length === 1)
                    window.postMessage('goBack');
            },

            intervalMinutes() {
                switch (this.interval) {
                    case '1d':
                        return 60 * 24;
                    case '4h':
                        return 60 * 4;
                    case '1h':
                        return 60;
                    case '30min':
                        return 30;
                    case '15min':
                        return 15;
                    case '5min':
                        return 5;
                    case '1min':
                        return 1;
                }

                return 1;
            },

            download() {
                if (!this.$chart) return;
                this.downloadBtn = false;
                this.$chart.saveAsPng(960, 540, 0.4, `${this.marketIso}-bit4you-chart-${new Date().getTime()}`);
                setTimeout(() => {
                    this.downloadBtn = true;
                }, 1800);
            },

            saveMarketConfig() {
                if (!this.$chart || this.react || !this.$api.isConnected())
                    return;

                this.marketConfigBtn = false;

                this.$api.post('market-graph/personal-save', {
                    market: this.market.iso,
                    configs: this.indicatorConfigs,
                    annotations: this.serializeAnnotations(),
                }).catch((err) => {
                    console.error('Saving config failed!', err);
                }).then((obj) => {
                    this.marketConfigBtn = true;
                });
            },

            resetMarketConfig() {
                this.clearAnnotations();
                this.removeAllIndicators();

                this.showIndicatorPlots = true;

                this.$nextTick(() => {
                    this.saveMarketConfig();
                });
            },

            //--------------------------------

            onTouchStart($e) {
                //if($e.touches.length === 2)
                //    alert("test")
            },

            onChartDraw() {
                this.$chart.fullScreen = this.fullscreen;
                //hidePreloader
            }
        },

        metaInfo() {
            return {
                link: [{
                        rel: 'stylesheet',
                        href: 'https://cdn.anychart.com/releases/8.0.1/css/anychart-ui.min.css'
                    },
                    {
                        rel: 'stylesheet',
                        href: 'https://cdn.anychart.com/releases/8.0.1/fonts/css/anychart-font.min.css'
                    },
                    {
                        rel: 'stylesheet',
                        href: 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'
                    }
                ],
                script: [{
                    src: `${this.react ? 'https://www.bit4you.io' : ''}/lib/anychart.combined.js`,
                }]
            }
        },
    }

</script>

<style lang="scss">
    @import './css/chart.scss';
    .liveIndicator {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: red;
      display: inline-block;
      margin-bottom: 4px;
    }
    #intervalMenu .v-menu__content,
    #indicatorMenu .v-menu__content {
      left: initial !important;
      top: 49px !important;

      br {
        display: none !important;
      }

      &.theme--light, &.theme--light .v-list {
        background: #fff !important;
        color: rgba(0, 0, 0, 0.87) !important;
      }

      &.theme--dark, &.theme--dark .v-list {
        background: #424242 !important;
        color: #fff !important;
      }
    }
    #intervalMenu .v-menu__content {
      margin-left: 10px;
    }
    #indicatorMenu .v-menu__content {
      margin-left: 2px;
    }
</style>
