<template>
    <v-app id="app">
        <chart :react="true" />
    </v-app>
</template>

<style lang="sass">

    @import "../node_modules/vuetify/dist/vuetify.min";

</style>

<script>
    
    import Vuetify from 'vuetify';
    import chart from './chart.vue';

    Vue.use(Vuetify);
    
    export default {
        components: {
            chart
        }
    }
    
</script>