<template>
    <v-toolbar color="white">
        <v-spacer />
        <v-toolbar-title class="itsme_title">Itsme</v-toolbar-title>
        <v-spacer />
        <v-toolbar-icon-spacer v-if="!close && !rightIcon" />
        <div class="text-xs-center">
                <v-btn color="secondary" style="color: #FF4612;" @click="sheet = !this.sheet" >
                        FR
                    </v-btn>
            <v-bottom-sheet v-model="sheet">
                <v-list>
                    <v-subheader>Choise your Language</v-subheader>
                    <v-list-tile v-for="lang in languages"  @click="test(lang)"   :key="lang.lang" @click="sheet = !this.sheet">
                        <v-list-tile-title class="lang">{{ lang.lang }}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-bottom-sheet>
        </div>
        <template slot="extension" v-if="$slots.default">
            <slot />
        </template>
    </v-toolbar>
</template>
<script>
export default {
    props: {
        leftIcon: String,
        rightIcon: String,
        close: Boolean,
        dark: Boolean,
        back: Boolean,
        i18n: Boolean,
        centerText: String,
        navigation: Object,
        items: Array
    },
    data() {
        return {
            sheet: false,
            langUser:"fr",
            languages: [
                { lang: 'Fr' },
                { lang: 'En' },
                { lang: 'NL' },
                { lang: 'Dl' },
            ]
        }
    },
    methods: {
        test(e){
            console.log("im event",e)
        }
    }
};
</script>
<style>
.toolbar-icon {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.itsme_title {
    color: #FF4612;
    font-size: 44px;
    font-weight: bold;
    position: absolute;

}

</style>