<template>
    <v-container grid-list-lg class="pb-0">
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-card-title class="title">
                        <span class="headline">{{$translate('referrals.label.0')}}</span>
                    </v-card-title>
                    <v-card-text class="text-xs-center">
                        <span class="ref-link">
                            <span>{{ link }}</span>
                            <v-icon :size="18" @click="copy" class="ml-1">{{ copied ? 'icon-check' : 'icon-copy' }}</v-icon>
                        </span>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs12 md6>
                <v-card class="text-xs-center">
                    <v-card-title class="headline">{{$translate('referrals.label.3')}}</v-card-title>
                    <v-card-text class="title">
                        {{ total_referrals }} {{$translate('referrals.label.5')}}
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs12 md6>
                <v-card class="text-xs-center">
                    <v-card-title class="headline">
                        <img style="height: 28px; width: 28px;" height="28" width="28" alt="USDT" title="USDT" src="/img/markets/USDT.png" />
                        <span class="pl-3">{{$translate('referrals.label.4', { currency: 'USDT' })}}</span>
                    </v-card-title>
                    <v-card-text class="title">
                        {{ revenue }} USDT
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                api: 'settings.referrals/info',
                link: '',
                total_referrals: 0,
                revenue: 0,
                copied: false,
            };
        },
        methods: {
            copy() {
                this.$copyText(this.link || '');
                this.copied = true;
                this.$setTimeout(() => {
                    this.copied = false;
                }, 3000);
            },
        },
    };

</script>

<style>
    .ref-link {
        background: #eee;
        border: 1px solid #dedede;
        border-radius: 3px;
        padding: 10px 20px;
    }

</style>
