<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title class="headline">
            {{$translate('referrals.label.1')}}
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 style="z-index: 1">
                <v-data-table
                  :headers="items.length === 0 ? [] : headers"
                  :rows-per-page-items="[50]"
                  :items="items"
                  hide-actions
                  :cound="Math.min(50, items.length)"
                  class="table-referrals"
                >
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-left">
                      {{ props.item.createdAt | formatDateTime }}<br>
                    </td>
                    <td class="text-xs-left">
                      {{$translate('referrals.label.2')}} #{{ String(props.item.child_id).padStart(10, '0') }}<br>
                    </td>
                    <td class="text-xs-right">
                      {{ props.item.iso }} {{ props.item.quantity }}<br>
                    </td>
                  </template>
                </v-data-table>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      api: 'settings.referrals/latest',
      items: [],
      headers: [{
        text: 'global.label2',
        align: 'left',
        sortable: false,
        value: 'createdAt',
        width: 200,
      }, {
        text: 'referrals.label.7',
        align: 'left',
        sortable: false,
        value: 'child_id',
        width: 200,
      }, {
        text: 'referrals.label.8',
        align: 'right',
        sortable: false,
        value: 'quantity',
      }]
    };
  },
};
</script>
