<template>
<div>
    <v-card>
      <v-card-title class="pb-1">
        <h2 class="ma-0">{{$translate('news.text.1')}}</h2>
      </v-card-title>
      <v-list>
          <v-list-tile class="my-2" :style="`border-top: 1px solid transparent; border-bottom: 1px solid transparent; border-left: 3px solid ${selected === cat.value ? '#095CE5' : 'lightgrey'}`" v-for="cat in categoriesMapped" :key="cat.value" @click="selected = cat.value">
              <v-list-tile-content>
                  <v-list-tile-title class="text-md-left">
                      {{ cat.text }}
                  </v-list-tile-title>
              </v-list-tile-content>
          </v-list-tile>
      </v-list>
    </v-card>
</div>
</template>

<script>
    export default {
        props: {
            categories: {
                type: Array,
                default () {
                    return [];
                },
            },
            fromApi: {
                type: Boolean,
                default: false,
            }
        },
        data() {
            return {
                selected: (this.$route.query || {}).category || 'all-news',
                innerCategories: this.categories.slice(0),
            };
        },
        mounted() {
          this.$nextTick(() => {
            if (this.fromApi) {
              this.getData();
            }
            this.emit();
          });
        },
        computed: {
            categoriesMapped() {
                let cats = this.innerCategories.slice(0);
                cats = cats.map((cat) => ({
                    text: cat,
                    value: String(cat).toLowerCase().split(' ').join('-'),
                }));
                cats.unshift({
                    text: 'All news',
                    value: 'all-news'
                });
                return cats;
            },
        },
        watch: {
            categories() {
              this.innerCategories = this.categories.slice(0);
            },
            '$route.fullPath': 'fullPathChanged',
            selected(val, oldval) {
                if (val !== oldval) {
                    this.$router.replace({
                        path: this.$route.fullPath.split('?')[0].split('#')[0], // Languages: fullpath
                        query: val === 'all-news' ? '' : {
                            category: this.selected
                        },
                    })
                    this.emit();
                }
            },
        },
        methods: {
            getData() {
              this.$api.post('news/categories').then((res) => {
                try {
                  this.innerCategories = (res || []).slice(0);
                } catch (e) {
                  this.getData();
                }
              }).catch(console.error);
            },
            emit() {
                this.$emit('selected', this.selected === 'all-news' ? null : this.selected);
            },
            fullPathChanged(val, oldval) {
                if (val !== oldval) {
                    this.selected = (this.$route.query || {}).category || 'all-news';
                }
            },
            stringToRGB(_string) {
                var str = String(_string);
                var hash = 0;
                for (var i = 0; i < str.length; i++) {
                    hash = str.charCodeAt(i) + ((hash << 5) - hash);
                }
                var c = (hash & 0x00FFFFFF)
                    .toString(16)
                    .toUpperCase();
                return '#' + '00000'.substring(0, 6 - c.length) + c;
            },
        },
    };

</script>
