<template>
<div>
  <my-news-list key="crypto-news" v-if="parseInt(selectedTab, 10) === 0" />
  <my-news-list key="medium-news" medium v-else-if="parseInt(selectedTab, 10) === 1" />
  <div v-else>Tab {{ selectedTab }}</div>
</div>
</template>

<script>
export default {
  mixins: [
      Vue.selectTabsMixin
  ],

  tabs: { 
    crypto: 'news.label.2',
    bit4you: 'news.label.3',
  },

  props: {
      selectedTab: {
          default: 0,
          urlProp: false
      },
      
      urlTab: {
          default: '',
          required: false,
          type: String
      }
  },

  metaInfo() {
    let title = this.$translate('news.label.1');
    if (parseInt(this.selectedTab, 10) === 0) {
      title = this.$translate('news.label.2');
    }
    return {
      title: `bit4you - ${title}`,
    };
  },

  mounted() {
    if(this.urlTab === 'open' && parseInt(this.selectedTab) !== 1)
      this.$emit('update:selectedTab', 1);

    this.checkRoute();
  },

  watch: {
      selectedTab: 'checkRoute',
  },

  methods: {
    checkRoute() {
      if(parseInt(this.selectedTab) === 0 && this.$route.path !== '/my-news/crypto')
          this.$router.replace("/my-news/crypto");
      else if(parseInt(this.selectedTab) === 1 && this.$route.path !== '/my-news/bit4you')
          this.$router.replace("/my-news/bit4you");
    },
  },
};
</script>

