<template>
    <v-container class="news-container">
        <!-- :style="`top: ${topOffset}px;`" -->
        <v-btn class="white btn--news-filter" small box flat @click="isFiltering = !isFiltering" v-if="!medium">
          <v-icon>{{ isFiltering ? 'icon-close' : 'icon-menu-mini' }}</v-icon>&nbsp;{{$translate('news.text.2')}}
        </v-btn>
        <v-layout row wrap :class="medium ? 'mt-0' : 'mt-4'">
          <v-flex xs12 md4 lg3 v-show="isFiltering" style="margin-top: 4px;" v-if="!medium">
            <my-news-categories from-api @selected="category = $event; isFiltering = false;"/>
          </v-flex>
          <v-flex xs12 :md8="isFiltering && !medium" :lg9="isFiltering && !medium">
            <h2 class="medium-header mb-4 mt-0 pa-0" v-if="medium">{{$translate('news.text.3')}}</h2>
            <v-layout row wrap>
              <span
                v-for="(article, index) in articles"
                v-if="article.link"
                :key="''+index+article.link"
                class="flex mb-2 xs12 pa-1"
                :class="isFiltering ? 'sm6 md6' : 'sm6 md4'"
              >
                <a
                  :title="article.title"
                  :href="article.link"
                  target="_blank"
                  class="article align-self-stretch v-card card v-card__text card__text"
                >
                  <div class="mb-2 image-div" :style="`background: url(${article.img || article.image});`" :alt="article.alt || article.title"></div>
                  <!--
                  <div class="mb-2">
                    <img width="100%" height="200" :src="article.img || article.image" class="" :alt="article.alt || article.title">
                  </div>
                  -->
                  <header>
                    <div>
                      <time class="time" :datetime="article.datetime || article.published">{{ article.time || article.published }}</time>
                      <small class="source" v-if="!medium">{{ article.source }}</small>
                      <div class="category">{{ (article.category || article.categories).join(' | ') }}</div>
                    </div>
                    <h4>{{ article.title }}</h4>
                  </header>
                </a>
              </span>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-progress-linear :indeterminate="true" color="black" v-if="!ending && others && loading" />
    </v-container>
</template>

<script>

    export default {
        props: {
          medium: {
            type: Boolean,
            default: false,
          },
        },

        data() {
            return {
                page: 1,
                loading: false,
                articles: [],
                endCount: 0,
                ending: false,
                others: true, // medium api
                isFiltering: false,
                category: null,
            }
        },

        computed: {
          topOffset() {
            switch (String(this.$vuetify.breakpoint.name).toLowerCase()) {
              case 'lx': return 75;
              case 'lg': return 75;
              case 'md': return 135;
              case 'sm': return 105;
              default: return 120;
            }
          },
        },

        watch: {
          isFiltering(val) {
            if (val && !this.$isServer) {
              var body = document.body; // Safari
              var html = document.documentElement; // Chrome, Firefox, IE and Opera places the overflow at the <html> level, unless else is specified. Therefore, we use the documentElement property for these browsers
              body.scrollTop = 0;
              html.scrollTop = 0;
            }
          },
          category(val, oldval) {
            if (val !== oldval) {
              this.page = 1;
              this.articles = [];
              this.endCount = 0;
              this.ending = false;
              this.isFiltering = false;
              this.loading = false;
              this.$nextTick(() => {
                this.loadMore();
              });
            }
          },
        },

        mounted: function () {
            this.onScroll = this.onScroll.bind(this);
            window.addEventListener('scroll', this.onScroll);
            this.loadMore();
        },

        destroyed: function () {
            window.removeEventListener('scroll', this.onScroll);
        },

        methods: {
            loadMore() {
                if (this.loading) return;
                this.loading = true;
                const data = {
                  page: this.page,
                  limit: 12,
                };
                const api = (this.medium ? 'news/medium' : 'news/list');
                if (this.category) data.category = String(this.category);
                this.$api.post(api, data).then((res) => {
                    res = (res.result || res.articles || res || []);
                    if (res.length) {
                      const articles = this.articles.slice(0);
                      res.forEach((el) => {
                        if (!articles.find(a => a.link === el.link)) {
                          articles.push(el);
                        }
                      });
                      this.$set(this, 'articles', articles);
                    }
                    if (res.length < data.limit) {
                      if (res.length > 0 || this.endCount >= 2) {
                        this.ending = true;
                        this.loading = false;
                        return;
                      }
                      this.endCount += 1;
                      this.$setTimeout(() => {
                        this.loading = false;
                        this.loadMore();
                      }, 4000);
                      return;
                    }
                    this.ending = false;
                    this.endCount = 0;
                    this.page++;
                    this.loading = false;
                }).catch((err) => {
                    console.error(err);
                    this.loading = false;
                })
            },
            
            onScroll($e) {
                if(this.loading || this.ending || !this.others)
                    return;
                
                if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 10)) {
                    this.loadMore();
                }
            }
        }
    }

</script>

<style lang="scss">

    .news-container {
        .btn--news-filter {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: 0;
          margin: auto;
          border: 1px solid #eee !important;
          border-top: none !important;
          box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 3px 0 rgba(0, 0, 0, 0.08) !important;
          padding: 0;
          margin: 0;
          // z-index: 4;
        }

        .medium-header {
          margin-top: 15px;
          font-size: 40px;
          text-align: center;
        }

        .article {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;

            /*
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33%;
            flex: 0 0 33%;
            max-width: 33%;
            */

            padding: 16px;
            border-radius: 2px;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
            display: block;
            min-width: 0;
            position: relative;
            text-decoration: none;

            img, .image-div {
                width: 100% !important;
                margin: auto;
                height: 200px;
            }
            
            .image-div {
              background-repeat: no-repeat !important;
              background-size: cover !important;
              background-position: top !important;
            }

            .category {
                color: #1E88E5;
                font-weight: bold;
                @media all and (max-width: 1263px) {
                  display: block;
                }
            }

            .time {
                font-size: 12px;
                @media all and (max-width: 1263px) {
                  display: inline-block;
                }
            }

            .source {
                position: absolute;
                right: 16px;
                margin-top: 3px;
                @media all and (max-width: 1263px) {
                  display: inline-block;
                }
            }
        }

    }

</style>