<template>
    <component :key="component" :is="component" />
</template>

<script>

    import SettingsVerificationTab from './verification/tab';
    import SettingsContactTab from './contact/tab';
    import SettingsPreferencesTab from './preferences/tab';
    import SettingsSecurityTab from './security/tab';
    import SettingsReferralsTab from './referrals/tab';

    export default {
        components: {
            SettingsVerificationTab,
            SettingsContactTab,
            SettingsPreferencesTab,
            SettingsSecurityTab,
            SettingsReferralsTab,
        },
        mixins: [
            Vue.selectTabsMixin
        ],
        tabs: {
            preferences:    'settings.tabs.1',
            contact:        'settings.tabs.2',
            verification:   'settings.tabs.3',
            security:       'settings.tabs.4',
            referrals:      'settings.tabs.5',
        },
        props: {
            page: {
                type: String,
                default() { return 'preferences' },
            },
        },
        metaInfo() {
            const tab = String(this.$options.tabs[parseInt(this.selectedTab)] || '')
              .toLowerCase();
            return {
              title: `bit4you - Settings ${tab}`.split('  ').join(' '),
            };
        },
        computed: {
            component() {
              const tab = String(Object.keys(this.$options.tabs)[parseInt(this.selectedTab)] || 'preferences')
                .toLowerCase();

              return `settings-${tab}-tab`;
            },
        },
    };

</script>
