<template>
    <view style="flex:1">
        <view class="container">
            <KeyboardAwareScrollView>
                <v-text class="accountType">Account type</v-text>
                <v-card class="vcard">
                    <v-text class="topText">Select type </v-text>
                    <v-text> {{typeAccount}}</v-text>
                    <Touchable @click="sheet = !this.sheet" style="right:0;bottom:0;position:absolute">
                        <v-icon class="icon_input">angle-down</v-icon>
                    </Touchable>
                </v-card>
                <v-card v-if="typeAccount == 'Shared' " class="vcard">
                    <v-text class="topText">Please write the emails address </v-text>
                    <v-text> {{mail_address}}</v-text>
                    <Touchable @click="emails = !this.emails" style="right:0;bottom:0;position:absolute">
                        <v-icon class="icon_input">angle-down</v-icon>
                    </Touchable>
                </v-card>
                <v-card class="vcard">
                    <v-text class="topText">Name</v-text>
                    <TextInput class="accountName_Text" style="height:40px;" placeholder="Account Name" />
                </v-card>
                <v-card class="vcard">
                    <v-text class="topText">Select Currency </v-text>
                    <v-text>{{ typeCoin }}</v-text>
                    <Touchable @click="coin = !this.coin" style="right:0;bottom:0;position:absolute">
                        <v-icon class="icon_input">angle-down</v-icon>
                    </Touchable>
                </v-card>
            </KeyboardAwareScrollView>
            <BtnWallet text="Create wallet" />
        </view>
        <!--select options model -->
        <v-bottom-sheet v-model="emails">
            <KeyboardAwareScrollView>
                <v-list style="display:flex;flex-direction:column;justify-content:center;align-items:center" v-for="(share,index) in share_with " :key="index">
                    <v-card style="height:60px,font-size:25px;display:flex;justify-content:center;align-items:center">
                        <TextInput v-model="list_mail_address[share]" placeholder="Write the email address" />
                    </v-card>
                </v-list>
                <Touchable @click="share_with += 1">
                    <v-text color="primary" class="joinText"> Join More Persons to this wallet</v-text>
                </Touchable>
                <LinearGradient class="btn_create" :colors="btn_linearGradient">
                    <Touchable @click="sendEmails">
                        <v-text class="btn_create_text">send</v-text>
                    </Touchable>
                </LinearGradient>
            </KeyboardAwareScrollView>
        </v-bottom-sheet>

        <v-bottom-sheet v-model="coin">
            <EditableInput icon="icon-search" placeholder="search your crypto" v-model="search" keyboardType='string' />
            <v-list style="display:flex;flex-direction:column;justify-content:center;align-items:center" v-for="(coin,index) in listCoins " :key="index">
                <v-text>{{list}}</v-text>
                <Touchable @click="typeCoin = coin" class="btn_coin">
                    <!--<img :src="getImage(coin)" />-->
                   <v-text class="testInside">{{coin}}</v-text>
                </Touchable>
            </v-list>
        </v-bottom-sheet>
        <v-bottom-sheet v-model="sheet">
            <v-list style="display:flex;flex-direction:column;justify-content:center;align-items:center">
                <Touchable @click="typeAccount = 'Shared'">
                    <v-text class="testInside">Shared</v-text>
                </Touchable>
                <Touchable @click="typeAccount = 'Private'">
                    <v-text class="testInside">Private</v-text>
                </Touchable>
            </v-list>
        </v-bottom-sheet>
    </view>
</template>
<script>
import { BtnWallet } from '@components';
import { KeyboardAwareScrollView } from 'react-native-keyboard-aware-scrollview';
import { LinearGradient } from 'expo';
export default {
    components: {
        LinearGradient,
        KeyboardAwareScrollView,
        BtnWallet
    },

    data() {
        return {
            mountant: "33.33",
            wallets: 0,
            items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
            saved: "test",
            currencies: ["zez", "sds"],
            currency: "zez",
            accountName: null,
            sheet: false,
            typeAccount: "Private",
            coin: false,
            listCoins: ["ADA", "BCH", "BTC", "DASH", "EOS", "ETC","ETH", "IOTA", "LTC", "NEO", "OMG", "TRX","TRX", "USDT", "XML", "XMR", "XRP","ZEC"],
            btn_linearGradient: ['#9025fc', '#1308fe'],
            typeCoin: "Btn",
            mail_address: null,
            list_mail_address: [],
            emails: false,
            share_with: 4,
            search: "",
        }
    },
    methods: {
        sendEmails() {
            console.log("emails address", this.list_mail_address)
        },
    },
    computed: {
        list() {
            if (this.search) {
                let searchUppercase = this.search.toUpperCase()

                let resulte = this.listCoins.filter(coin => coin.indexOf(searchUppercase) == -1)
                return resulte
            }



        }
    }

};
</script>
<style>
.topText {
    color: #252631;
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
}

.joinText {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}
.btn_coin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;

}

.accountType {
    color: #778ca2;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.18px;
}

.testInside {
    font-size: 30px;
}

.vcard {
    margin-bottom: 10px;
    margin-top: 10px;
}

.accountName_Text {
    color: #98a9bc;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}

.addWallet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn_create {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;

}


.btn_create_text {
    height: 23px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
</style>