<template>
    <view style="flex:1">
        <Toolbar :centerText="mountant" :counters="wallets" />
        <KeyboardAwareScrollView>
        </KeyboardAwareScrollView>
        <view class="addWallet">
            <LinearGradient class="btn_create" :colors="btn_linearGradient">
                <Touchable @click="addWallet">
                    <v-text class="btn_create_text">Adds new wallet</v-text>
                </Touchable>
            </LinearGradient>
        </view>
    </view>
</template>
<script>
import { Toolbar } from '@components';
import { LinearGradient } from 'expo';
import { KeyboardAwareScrollView } from 'react-native-keyboard-aware-scrollview';
export default {
    components: {
        KeyboardAwareScrollView,
        LinearGradient
    },
    data() {
        return {
            btn_linearGradient: ['#9025fc', '#1308fe'],
            mountant: "34.34",
            wallets: 3
        }
    },
    methods: {
        addWallet() {
            this.$router.push('CreateWallet')
        }
    }


};
</script>
<style>
.addWallet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn_create {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;

}


.btn_create_text {
    height: 23px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
</style>