<template>
    <view style="flex:1">
        <Toolbar :centerText="mountant" :counters="wallets" headerSearch name="bitcoin wallet" mountant=500 />
        <KeyboardAwareScrollView>
            <v-card class="v_card" v-for="(transition,index) in history" :key="index">
                <view class="container_circle">
                    <v-icon color="white">check</v-icon>
                </view>
                <view class="column">
                    <v-text class="textNumberTransaction row">
                        Numéro transaction: {{transition.transactionNumber}}
                    </v-text>
                    <v-text class="descriptionText">
                        Descripton
                        &nbsp;
                        <v-text style="text-align:start">{{transition.Description}}</v-text>
                    </v-text>
                </view>
                <view class="column">
                    <v-text class="value">{{transition.value}}</v-text>
                    <view class="row">
                        <v-text class="subtitle">{{transition.date}}</v-text>
                        <v-text class="subtitle">{{transition.hours}}</v-text>
                    </view>
                </view>
            </v-card>
            <v-bottom-sheet v-model="send">
                <KeyboardAwareScrollView>
                    <v-list style="display:flex;flex-direction:column;justify-content:center;align-items:center">
                        <v-card class="v_card">
                            <TextInput placeholder="Beneficiary Address" />
                        </v-card>
                        <v-card class="v_card">
                            <TextInput placeholder="Description" />
                        </v-card>
                        <v-card class="v_card">
                            <TextInput placeholder="Mountant" />
                        </v-card>
                        <v-card class="v_card">
                            <v-text class="topText">Select Currency </v-text>
                            <v-text>{{ typeCoin }}</v-text>
                            <Touchable @click="coin = !this.coin" style="right:0;bottom:0;position:absolute">
                                <v-icon class="icon_input">angle-down</v-icon>
                            </Touchable>
                        </v-card>
                    </v-list>
                    <v-bottom-sheet v-model="coin" style="height:300px">
                        <KeyboardAwareScrollView>
                            <v-list style="display:flex;flex-direction:column;justify-content:center;align-items:center" v-for="(coin,index) in listCoins " :key="index">
                                <v-text>{{list}}</v-text>
                                <Touchable @click="(event) => pickCoin(coin)" class="btn_coin">
                                    <v-text class="testInside">{{coin}}</v-text>
                                </Touchable>
                            </v-list>
                        </KeyboardAwareScrollView>
                    </v-bottom-sheet>
                    <LinearGradient class="btn_sends" :colors="btn_linearGradient">
                        <Touchable @click="sendFunc">
                            <v-text class="btn_send_text">Send</v-text>
                        </Touchable>
                    </LinearGradient>
                </KeyboardAwareScrollView>
            </v-bottom-sheet>
            <v-bottom-sheet v-model="receive">
                <v-list style="display:flex;flex-direction:column;justify-content:center;align-items:center">
                    <QRCode :size="200" value="qrcode" />
                    <LinearGradient style="width:300;height:60;border-radius:25;display:flex;flex-direction:row;align-items:center;justify-content:center;margin:20" :colors="btn_linearGradient">
                        <Touchable @click="copyText">
                            <v-text style="color:white;font-size:20">{{qrcode}}</v-text>
                        </Touchable>
                    </LinearGradient>
                    <v-text v-if="copied" style="font-size:25px;color:green">Copied!! <v-icon>check</v-icon>
                    </v-text>
                </v-list>
            </v-bottom-sheet>
        </KeyboardAwareScrollView>
        <view class="section-actions">
            <LinearGradient class="btn_send" :colors="btn_linearGradient">
                <Touchable @click="send = !this.send">
                    <v-text class="btn_send_text">Send</v-text>
                </Touchable>
            </LinearGradient>
            <v-btn @click="receive = !this.receive" color="white" class="btn_receive">
                <v-text class="btn_receive_text">Receive</v-text>
            </v-btn>
        </view>
    </view>
</template>
<script>
import { Toolbar } from '@components';
import { LinearGradient } from 'expo';
import { KeyboardAwareScrollView } from 'react-native-keyboard-aware-scrollview';
import QRCode from 'react-native-qrcode';
import { Clipboard } from 'react-native';

export default {
    components: {
        LinearGradient,
        KeyboardAwareScrollView,
        QRCode,
        Clipboard,
    },
    data() {
        return {
            mountant: "34.34",
            clipboardText: null,
            wallets: 3,
            btn_linearGradient: ['#9025fc', '#1308fe'],
            send: false,
            listCoins: ["ADA", "BCH", "BTC", "DASH", "EOS", "ETC", "ETH", "IOTA", "LTC", "NEO", "OMG", "TRX", "TRX", "USDT", "XML", "XMR", "XRP", "ZEC"],
            coin: false,
            copied: false,
            typeCoin: null,
            receive: false,
            qrcode: "https://www.bit4you.io",
            history: [
                { transactionNumber: 4, Description: "Bit4yOU", date: "19/05/2019", hours: "11:35", signatures: ["dfdf", "dfdf", "gfdg"], value: "-$4.20" },
                { transactionNumber: 4, Description: "bitcoin", date: "19/05/2019", hours: "11:35", signatures: ["dfdf", "dfdf", "gfdg"], value: "-$45.20" },
                { transactionNumber: 4, Description: "Test", date: "19/05/2019", hours: "11:35", signatures: ["dfdf", "dfdf", "gfdg"], value: "-$6.20" },
                { transactionNumber: 4, Description: "Bit4yOU", date: "19/05/2019", hours: "11:35", signatures: ["dfdf", "dfdf", "gfdg"], value: "-$4.20" },
                { transactionNumber: 4, Description: "bitcoin", date: "19/05/2019", hours: "11:35", signatures: ["dfdf", "dfdf", "gfdg"], value: "-$45.20" },
                { transactionNumber: 4, Description: "Test", date: "19/05/2019", hours: "11:35", signatures: ["dfdf", "dfdf", "gfdg"], value: "-$6.20" },
                { transactionNumber: 4, Description: "Bit4yOU", date: "19/05/2019", hours: "11:35", signatures: ["dfdf", "dfdf", "gfdg"], value: "-$4.20" },
                { transactionNumber: 4, Description: "bitcoin", date: "19/05/2019", hours: "11:35", signatures: ["dfdf", "dfdf", "gfdg"], value: "-$45.20" },
                { transactionNumber: 4, Description: "Test", date: "19/05/2019", hours: "11:35", signatures: ["dfdf", "dfdf", "gfdg"], value: "-$6.20" }
            ]
        }
    },
    methods: {
        receiveFunc() {
            alert("hello")
        },
        sendFunc() {
            this.$router.push('Send')
        },
        pickCoin(event) {
            console.log("im coin", event)
            this.typeCoin = event
            this.coin = !this.coin
        },
        async pasteText() {
            const clipboardContent = await Clipboard.getString();
            this.clipboardContent = clipboardContent;
            alert(clipboardContent)
        },
        async copyText() {
            await Clipboard.setString(this.qrcode);
            let test = await Clipboard.setString(this.qrcode);
            this.copied = !this.copied
            setTimeout(() => {
                this.copied = false

            }, 3000);
        },

    }
};
</script>
<style scoped>
.section-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textNumberTransaction {
    color: #252631;
    font-size: 15;
    letter-spacing: 0.19;
}

.icon_input {
    margin-bottom: 20;
}


.container_circle {
    height: 30;
    width: 30;
    border-radius: 50;
    background-color: #50a1ff
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.btn_send {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 163px;

}

.btn_sends {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.v_card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70;
    margin-top: 10;
}

.descriptionText {


    color: #98a9bc;
    font-family: : 'Roboto';
    font-size: : 14;
    font-weight: 400;
    line-height: 21;

}

.subtitle {
    color: #6c7b8a;
    font-size: 11;
    line-height: 15;
    margin-left: 10;
}

.value {
    color: #252631;
    font-size: 14;
    font-weight: 500;
    letter-spacing: 0.18;
    margin-bottom: 10;
}

.btn_send_text {
    height: 23px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.btn_receive {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    width: 163px;
}


.btn_receive_text {
    color: #1308fe;
    font-size: 16px;
    line-height: 21px;

}
</style>