<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered {{{meta.htmlAttrs}}}>
    <head {{{meta.headAttrs}}}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <link href='/css/bundle.css' rel='stylesheet' type='text/css' />

        <style>
            html, body {
                margin: 0;
                padding: 0;
                overflow: hidden;
                
              -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                 -khtml-user-select: none; /* Konqueror HTML */
                   -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently
                                              supported by Chrome and Opera */
            }
        </style>
        
        {{{ meta.title }}}
        {{{ meta.link }}}
        {{{ meta.style }}}
    </head>
    <body {{{meta.bodyAttrs}}}>
        <!--vue-ssr-outlet-->
        <script>window.API_DATA = {}</script>
        {{{ meta.script }}}
        <script src="/lib/bundle.js"></script>
    </body>
</html>