<template>
    <v-dialog v-model="dialog" width="500" persistent>
        <v-card>
            <v-card-title class="headline blue white--text" primary-title>
                {{$translate('members.text.1')}}...
            </v-card-title>

            <v-card-text class="text-xs-center" v-if="!error">
                <v-progress-circular :size="75" color="blue" indeterminate />
            </v-card-text>
            <v-card-text v-else>
                <v-alert type="error" :value="error">{{error}}</v-alert>
            </v-card-text>

            <form method="post" action="members/connect" @apiError="onError" @apiSuccess="onSuccess" @apiPrepare="error = null; dialog = true" ref="conn">
                <input type="hidden" name="code" :value="$route.query.code" />
            </form>

            <v-card-actions v-show="error">
                <v-spacer />
                <connect-btn :text="$translate('members.btn.1')" flat color="primary" ref="trybtn" />
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

    export default {
        data() {
            return {
                dialog: false,
                error:  null
            }
        },
        mounted() {
            this.$onApi('logout', () => {
                console.log('logging out, redirect to login')
                location.href = this.$refs.trybtn.getAuthUrl();
            });

            this.$permissions.onLoaded(() => {
                if(!this.$route.query.code) {
                    console.error('no query code provided in members page');
                    if(process.env.NODE_ENV !== 'development' && !this.$api.isConnected()) {
                        console.log('redirect to login')
                        location.href = this.$refs.trybtn.getAuthUrl();
                    } else if(this.$api.isConnected()) {
                        this.$root.bindConnectedApis();
                        this.dialog = false;
                        this.$router.replace('/markets/usdt');
                    }

                    this.error = 'No query code received.';
                    this.dialog = true;
                    return
                }

                if(window.API_DATA && window.API_DATA.code === this.$route.query.code) {
                    this.$api.setCredentials('connected');
                    this.$root.bindConnectedApis();
                    this.dialog = false;
                    this.$router.replace('/markets/usdt');
                } else {
                    this.$submitForm('conn');
                }
            });
        },
        methods: {
            onError($e) {
              console.error($e)
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented()))
                    $e.preventDefault();

                const err  = $e.error;
                this.error = err.description || err.message || err.error || err;
            },
            onSuccess($e) {
              console.log($e)
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented()))
                    $e.preventDefault();

                this.$api.setCredentials('connected');
                this.$root.bindConnectedApis();
                this.$router.replace('/markets/usdt');
                this.dialog = false;
            }
        }
    }

</script>