<template>
  <div>
      <connect-btn color="primary white--text" />
  </div>
</template>

<script>

    /*
    <div>
        <connect-btn color="primary white--text" />
    </div>
    */

    /*
    <screen-settings-verification-camera-preview style="width: 300px; overflow: hidden" :img="{ uri: 'https://envato-shoebox-0.imgix.net/eed5/fa89-bff9-4490-b64f-c4fb4ab84731/DSCF6970.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=96c1939f688e5312627e5aa69ac70444' }" />
    */

    export default {}

</script>