<template>
    <div>
        <market-graph v-if="market" :toolbarColor="'#212121'" :market="market" :back="!!this.backUrl" @back="goBack" />
        <div class="text-xs-center px-4" style="display: flex; justify-content: center; align-items: center;" v-else>
            <ui-loading />
        </div>
    </div>
</template>

<script>
    /* This was build mainly for our mobile application */

    export default {
        data() {
            return {
                market: null,
                backUrl: null
            };
        },

        mounted() {
            this.backUrl =
                this.$route.query.redirect_url ||
                this.$route.query.redirect_uri ||
                '/markets';
            if (!this.$route.query || !this.$route.query.market) {
                return this.$router.push(this.backUrl);
            }
            this.market = this.$route.query.market;
        },

        methods: {
            goBack() {
                if (!this.backUrl) return;
                window.location = this.backUrl;
            }
        }
    };

</script>
