<template>
    <v-dialog v-model="dialog" persistent max-width="500">
        <v-btn flat color="blue darken-1" large  slot="activator">
            <v-icon>icon-plus</v-icon>
            {{ $translate('wallets.label.3') }}
        </v-btn>

        <v-card class="text-xs-center">
            <v-card-title class="headline">
                <v-spacer />
                <b>{{ $translate('wallets.label.3') }}</b>
                <v-spacer />
            </v-card-title>
            <v-card-text v-if="loading" style="text-align: center">
                <v-progress-circular indeterminate v-bind:size="50" color="blue" />
            </v-card-text>
            <v-card-text v-else-if="error" style="color: red">{{error}}</v-card-text>
            <v-card-actions v-if="error">
                <v-btn color="red darken-1" flat @click.native="dialog = false">{{$translate('btn.3')}}</v-btn>
            </v-card-actions>
            <div v-if="!error && !loading">
                <v-card-text>
                    {{$translate('wallets.text.1')}}
                    {{$translate('wallets.text.2')}}
                </v-card-text>
                <v-card-text>
                  <v-layout>
                    <v-flex xs12>
                      <form method="post" action="wallet/import" @apiPrepare="loading = true" @apiError="onError" @apiSuccess="dialog = false">
                          <input type="hidden" name="iso" :value="selectedIso" />
                          <input type="hidden" :name="selectAccess === 'READ-ONLY' ? 'public' : 'private'" :value="key" />

                          <v-select
                            :label="$translate('wallets.text.3')"
                            :items="supported"
                            v-model="selectedIso" />

                          <v-select
                            :label="$translate('wallets.text.4')"
                            :items="[
                              { text: $translate('wallets.label.4'), value: 'READ-ONLY' },
                              { text: $translate('wallets.label.5'), value: 'READ/WRITE' }
                            ]"
                            v-model="selectAccess"
                          />
                          <small>
                            <b>{{$translate('wallets.label.4')}}</b>: {{$translate('wallets.text.5')}}<br>
                            <b>{{$translate('wallets.label.5')}}</b>: {{$translate('wallets.text.6')}}
                          </small>

                          <v-text-field
                            :label="`${$translate('wallets.label.2')} ${$translate(selectAccess === 'READ-ONLY' ? 'wallets.label.6' : 'wallets.label.7')}`"
                            :placeholder="`${$translate(selectAccess === 'READ-ONLY' ? 'wallets.label.6' : 'wallets.label.7')}...`"
                            v-model="key"
                          />

                          <small v-if="selectAccess !== 'READ-ONLY'">
                            <b>{{$translate('wallets.label.8')}}</b> {{$translate('wallets.text.7')}}
                          </small>

                          <v-btn color="blue darken-1" flat type="submit">
                            <img
                              :key="selectedIso"
                              :alt="selectedIso"
                              :title="selectedIso"
                              :src="`/img/markets/${selectedIso}.png`"
                              :height="32"
                              :width="32"
                              style="height: 32px; width: 32px; margin-right: 15px;"
                            />
                            {{ selectedIso }}&nbsp;<span>{{$translate('wallets.label.2')}}</span>
                          </v-btn>
                      </form>
                    </v-flex>
                  </v-layout>
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn color="red darken-1" flat @click.native="dialog = false">{{$translate('btn.5')}}</v-btn>
                    <v-spacer />
                </v-card-actions>
            </div>
        </v-card>
        -->
    </v-dialog>
</template>

<script>

    export default {
        data() {
            return {
                dialog: false,
                loading: false,
                error: false,
                supported: require('./@config/crypto-assets.json').map((o) => o.iso),
                selectedIso: 'BTC',
                selectAccess: 'READ/WRITE',
                key: null,
            }
        },
        
        watch: {
            dialog(val, oldVal) {
                if(val && !oldVal) {
                    this.loading = false;
                    this.error = false;
                }
            }
        },
        
        methods: {
            onError($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.error = $e.error;
                this.loading = false;
            }
        }
    }
    
</script>