<template>
    <wallets-list v-if="parseInt(selectedTab) === 0" />
    <wallet-spend v-else-if="parseInt(selectedTab) === 1" />
    <wallet-receive v-else />
</template>

<script>

    export default {
        mixins: [
            Vue.selectTabsMixin,
        ],

        tabs: {
            list: 'wallet.tabs.1',
            send: 'wallet.tabs.3',
            receive: 'wallet.tabs.4'
        },

        metaInfo() {
            return {
                title: 'bit4you - Wallets',
            };
        },
    }

</script>
