<template>
    <v-card class="wallets-item">
        <wallet-export-key :name="item.name" :address="item.address" :iso="item.iso" ref="$exportKey" />
        <v-card-title primary-title style="padding-bottom: 0;">
            <router-link :to="walletLink">
                <v-avatar>
                    <img :src="`/img/markets/${item.iso}.png`" :alt="item.name || item.iso" :title="item.name || item.iso">
                </v-avatar>
                <div style="padding-left: 15px;">
                    <div class="headline">{{item.name}}</div>
                    <span class="grey--text">{{item.iso}}</span>
                </div>
                <v-spacer />
            </router-link>
            <v-menu offset-y>
                <v-btn icon slot="activator">
                    <v-icon>icon-more-dots</v-icon>
                </v-btn>
                <v-list>
                    <!--<v-list-tile :to="walletLink">
                        <v-list-tile-title>{{$translate('wallets.label.9')}}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile :to="'/market/' + item.iso" v-if="item.iso !== 'USDT'">
                        <v-list-tile-title>{{$translate('wallets.label.10')}}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile :to="`/wallet/send-assets/${item.iso}/${item.address}`">
                        <v-list-tile-title>{{$translate('wallets.label.11')}}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile :to="`/wallet/receive-assets/${item.iso}/${item.address}`">
                        <v-list-tile-title>{{$translate('wallets.label.12')}}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="$refs.$exportKey.$show()">
                        <v-list-tile-title>{{$translate('wallets.label.13')}}</v-list-tile-title>
                    </v-list-tile>!-->
                    <v-list-tile :to="'/market/' + item.iso" v-if="item.iso !== 'USDT'">
                        <v-list-tile-title>{{$translate('wallets.label.14')}}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile to="/add-funds" v-else>
                        <v-list-tile-title>{{$translate('wallets.label.15')}}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile to="/portfolio" v-if="item.iso !== 'USDT'">
                        <v-list-tile-title>{{$translate('wallets.label.16')}}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile to="/add-funds/sell" v-else>
                        <v-list-tile-title>{{$translate('wallets.label.16')}}</v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-card-title>
        <router-link :to="walletLink">
            <v-card-text class="w-balance">
                <div v-if="error === null">
                    <h3 class="headline mb-0">{{toFixed(balance)}} {{item.iso}}</h3>
                    <div>{{ (balance * rate) | currencyWithSymbol(item.iso) }}</div>
                </div>
                <div v-else style="color: red">
                    {{error}}
                </div>
            </v-card-text>
        </router-link>
        <router-link :to="walletLink" v-if="!item.address">
            <v-card-text class="text-center">
                <hr>
                {{item.label || item.address || '&nbsp;'}} 
            </v-card-text>
        </router-link>
        <v-card-text class="text-center" v-else>
            <hr>
            {{item.label || item.address || '&nbsp;'}} 
        </v-card-text>
    </v-card>
</template>

<script>

    export default {
        
        props: {
            item: Object
        },

        data() {
            return {
                rate:    0,
                lastUpdate: null,
                error: null
            }
        },
        
        computed: {
            walletLink() {
                return '/wallet/transactions/' + this.item.iso;
                /*if(this.item.iso === 'USDT')
                    return '/add-funds';
                return '/market/' + this.item.iso*/
            },
            balance() {
                return this.item.balance
            }
        },

        mounted() {
            //--------------------------------
            //Listen rates (15s interval)

            if(this.item.iso.toLowerCase() === 'usdt')
                this.rate = 1;
            else {
              var summ = this.$db.getSummary('USDT-' + this.item.iso);
              var summ2 = { last: 1 };
              if (summ.last === 0) {
                summ = this.$db.getSummary('BTC-' + this.item.iso);
                summ2 = this.$db.getSummary('USDT-BTC');
              }
              if (summ.last === 0) {
                summ = this.$db.getSummary('ETH-' + this.item.iso);
                summ2 = this.$db.getSummary('USDT-ETH');
              }
              this.rate = summ.last * summ2.last;
            }

            this.$requireApi('market/summaries', (res) => {
                if(this.lastUpdate === 0 || this.lastUpdate < Date.now() - (15 * 60 * 1000)) {
                    this.lastUpdate = Date.now();
                    this.rate = this.$db.getUsdtRate(this.item.iso);
                }
            });
        },
        
        methods: {
            toFixed(n) {
                return (n || 0).toFixed(Math.min(8, this.$insight ? this.$insight.digits : 8)).replace(/\.0+$/,'')
            }
        }

    }
    
</script>

<style>

    .wallets-item.hover {
        background: #efefef;
    }

    .wallets-item .w-balance {
        text-align: center;
    }

    .wallets-item .w-balance > div {
        text-align: left; 
        display: inline-block;
    }

    .wallets-item .v-card__title > a {
        display: flex;
        flex: 1;
    }
    
    .wallets-item .v-card__text {
        padding: 15px 5px 5px 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>