<template>
    <v-container grid-list-lg style="padding-top: 0; padding-bottom: 25px">
        <v-layout row wrap v-if="error">
            <v-alert :value="true" type="error">
              {{typeof error === 'object' ? (error.error || error.err || error) : error }}
            </v-alert>
        </v-layout>
        <v-layout row wrap v-else-if="items && items.length">
            <v-flex xs12 sm12 md6 lg4 v-for="(item, index) in sortedWallets" :key="''+index+item.balance+item.iso+item.market">
                <wallets-item :item="item" />
            </v-flex>
        </v-layout>
        <v-progress-linear :indeterminate="true" v-else />

        <!--<v-layout row wrap v-if="wallets">
            <v-flex xs12 md6 lg4 offset-lg2>
                <div style="text-align: center">
                    <wallets-import />
                </div>
            </v-flex>
            <v-flex xs12 md6 lg4>
                <div style="text-align: center">
                    <wallets-create />
                </div>
            </v-flex>
        </v-layout>!-->
    </v-container>
</template>

<script>

    import depositMixin from '../wallet/deposit-mixin.js';

    export default {
        mixins: [
            depositMixin,
        ],
        data() {
            return {
                api: 'wallet/balances',
                items: [],
                error: null
            }
        },
        computed: {
          sortedWallets() {
            return (this.items || []).sort((a, b) => {
              if (a.balance === 0 && b.balance === 0) return 0;
              if (a.balance === 0) return 1;
              if (b.balance === 0) return -1;
              return 0;
            });
          },
        },
        methods: {
            $onApiError(err) {
                this.error = err;
            },
        }
    }

</script>