.alert {
  position: relative;
  padding: .75rem 1.25rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  min-width: 320px;
  max-width: 90%;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: ((1rem * 1.5) + (1.25rem * 2));

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
  }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.
$theme-color-interval: 8%;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    #34495e,
  "secondary":  #006BFF,
  "success":    #00BD9A,
  "info":       #17a2b8,
  "warning":    #ffc107,
  "danger":     #FF6960,
  "error":     #FF6960,
), $theme-colors);

@mixin alert-variant($background, $border, $color) {
  color: $color;
  border-color: $border;
  background: $background;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }
}
@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}
@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, #000, #fff);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 6));
  }
}
