@import './alert.scss';
@import './vuetify-fixes.scss';
/*@import './article-social.scss';
@import './quill.scss';
*/

@import './../../../../assets/fonts/exo2/font.scss';


body a {
    color: #212121;
}

.pointer {
      cursor: pointer;
    }

    a, a:focus, a:focus:hover, a:hover, a:link, a:link:hover, a:visited,
    a:visited:hover {
        text-decoration: none !important
    }

    #tutorial-mode-switch {

      .v-btn {
        margin: 0 !important;
        border: none !important;
        border: 1px solid #d0cdcd !important;

        &::before {
          background-color: currentColor;
        }

        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border-right: none !important;
          &::before {
            border-top-left-radius: 8px !important;
            border-bottom-left-radius: 8px !important;
          }
        }

        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          border-left: none !important;
          &::before {
            border-top-right-radius: 8px !important;
            border-bottom-right-radius: 8px !important;
          }
        }
      }

      .v-btn--active {
        opacity: 1;
        color: white !important;
        border-color: #006bff !important;
        &::before {
          opacity: 1;
          background-color: #006bff;
          color: white !important;
        }
      }
    }

    #main-content.v-content > .v-content__wrap {
        padding: 40px 0;

        > #tutorial-router-view > .container:first-child, > .container:nth-child(2), > .container:first-child {
            padding-top: 0;
        }
    }

    .content--wrap .no-radius.card.card--flat nav.toolbar.white {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0);
    }

    .grey-menu-box {
        padding: 15px;
        border-radius: 4px;
        background: #262626;
        margin: 15px 15px 40px 15px;
        position: relative;

        h2 {
            color: #fff;
            font-size: 18px;
            padding: 0;
        }
    }

    .side-main-navigation {
      @media all and (max-width: 400px) {
        width: 260px !important;
      }
    }

    .saldo-menu {
        padding-bottom: 25px;

        .saldo-view {
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            padding-top: 10px;
            border: none;
            outline: none;
        }

        h4 {
            color: #fff;
            font-size: 14px;
            margin-bottom: 15px;
        } 

        h3 {
            color: #fff;
            font-size: 20px;
            padding-bottom: 8px;
        }

        button {
            position: absolute !important;
            bottom: -25px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }

        .btn-add-funds {
            transition: .3s all, 0s border-radius;
        }

        .btn-add-funds:hover {
            width: 95%;
            border-radius: 2px;

            span {
                display: inline-block;
                opacity: 0;
            }

            .v-btn__content {
                border-radius: 0;
            }

            i {
                -webkit-transform: rotate(90deg);  /* to support Safari and Android browser */
                -ms-transform: rotate(90deg);      /* to support IE 9 */
                transform: rotate(90deg);
            }
        }
    }

    .v-btn--floating .v-btn__content i.v-icon:not(:only-child):first-child {
        display: flex;
        position: relative;
        flex: 0;
    }

    .btn-add-funds.v-btn--floating .v-btn__content :not(:only-child):last-child {
        display: none;
        margin-left: 10px;
        transform: none;
        position: relative;
        top: auto;
        left: auto;
    }

    .v-navigation-drawer:not(.v-navigation-drawer--mini-variant) .btn-add-funds.v-btn--floating:hover .v-btn__content :not(:only-child):last-child {
        display: inline-block;
        opacity: 1;
    }

    @-moz-keyframes spin90 { 100% { -moz-transform: rotate(90deg); } }
    @-webkit-keyframes spin90 { 100% { -webkit-transform: rotate(90deg); } }
    @keyframes spin90 { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }

    //--------------------------

    .v-navigation-drawer--fixed > .v-list .v-list__tile {
        margin: 5px 15px;
        border-radius: 4px;
        font-weight: 700;
    }

    .v-navigation-drawer--fixed > .v-list .v-list__tile.v-list__tile--active {
        background: #0095ff;
        color: #fff !important;
    }

    .v-navigation-drawer--fixed > .v-list .v-list__tile:hover {
        color: #fff !important;
    }

    //--------------------------

    .v-navigation-drawer--mini-variant {
        .grey-menu-box {
            display: none;
        }

        > .v-list .v-list__tile {
            margin: 0;
            border-radius: 0;
        }

        .saldo-menu {
            display: block;
            background: transparent;

            .v-avatar, .saldo-view {
                display: none;
            }
        }
    }

    // -------------------------

    .table-cards {
        table {
            border-collapse: separate;
            background: none;
            background-color: transparent !important;
            border-spacing: 0 15px;

            tr {
                background-color: white;
                cursor: pointer;
                &.card {
                    display: table-row !important;
                    &:first-child:not(.v-btn) {
                        border-top-left-radius: inherit;
                        border-top-right-radius: 0;
                    }
                }
                td {
                    word-break: keep-all;
                    white-space: nowrap;
                    &:first-child {
                        border-top-left-radius: 2px !important;
                        border-bottom-left-radius: 2px !important;
                    }
                    &:last-child {
                        border-top-right-radius: 2px !important;
                        border-bottom-right-radius: 2px !important;
                    }
                }
            }
        }
    }

    .text-center {
        text-align: center;
    }

    .v-application .theme--dark.input-group:not(.input-group--error):not(.input-group--focused):not(.input-group--disabled) .input-group__input .input-group__append-icon:not(:hover), .application .theme--dark.input-group:not(.input-group--error):not(.input-group--focused):not(.input-group--disabled) .input-group__input .input-group__prepend-icon:not(:hover), .theme--dark .input-group:not(.input-group--error):not(.input-group--focused):not(.input-group--disabled) .input-group__input .input-group__append-icon:not(:hover), .theme--dark .input-group:not(.input-group--error):not(.input-group--focused):not(.input-group--disabled) .input-group__input .input-group__prepend-icon:not(:hover) {
      color: rgba(0, 0, 0, 0.54);
    }

    aside .v-list__tile__action {
        min-width: 45px;
    }

    @media only screen and (min-width:600px) {
        .v-tabs__container--centered .v-tabs__div, .v-tabs__container--fixed-tabs .v-tabs__div,
        .v-tabs__container--icons-and-text .v-tabs__div {
            min-width: 160px
        }
    }
