.v-dialog.v-bottom-sheet.v-dialog--active {
  background: white;
  padding: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.v-btn--block {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}