<template>
    <v-flex lg6 offset-lg3 xs12 text-xs-center class="verification-identity">
        <div v-if="success">
            <h2 style="margin-bottom: 25px">{{$translate('settings.verification.label.7')}}</h2>
            <v-alert :value="true" type="success" transition="fade-transition">{{$translate('settings.verification.text.17')}}</v-alert>
            <v-btn class="blue-grey" outline round style="margin-top: 15px" @click="success = false">
                {{$translate('btn.1')}}
            </v-btn>
            <v-btn class="green white--text" round style="margin-top: 15px" @click="$emit('next')">
                {{$translate('btn.4')}}
            </v-btn>
        </div>
        <form method="post" action="settings.verification/update" @apiPrepare="loading = true" @apiDone="loading = false" @apiError="onError" @apiSuccess="apiSuccess" v-else-if="inputData">
            <settings-verification-itsme />
            <ui-or-divider id="tutorial-verification-manual" />
            <h2 style="margin-bottom: 25px">
              {{$translate('settings.verification.text.18')}}
            </h2>

            <v-alert :value="!address.verified && address.verification_pending" type="info" transition="fade-transition" dismissible>
              {{$translate('settings.verification.text.19')}}
            </v-alert>

            <v-text-field :label="$translate('settings.verification.label.8')" prepend-icon="icon-location" :disabled="loading" class="outline" autofocus v-model="address.street_address" :error="errors.street" @change="errors.street = false" @input="errors.street = false" name="street_address" />
            <v-text-field :label="$translate('settings.verification.label.9')" prepend-icon="icon-city" :disabled="loading" class="outline" v-model="address.locality" :error="errors.city" @change="errors.city = false" @input="errors.city = false" name="locality" />
            <v-text-field :label="$translate('settings.verification.label.10')" prepend-icon="icon-city" :disabled="loading" class="outline" v-model="address.postal_code" :error="errors.zip" @change="errors.zip = false" @input="errors.zip = false" name="postal_code" />
            <v-text-field :label="$translate('settings.verification.label.11')" prepend-icon="icon-location" :disabled="loading" class="outline" v-model="address.region" name="region" />
            <input-country prepend-icon="icon-flag" :disabled="loading" class="outline" v-model="address.country" :error="errors.country" @change="errors.country = false" name="country" />

            <v-alert :value="error" type="error" dismissible @input="onErrorInput">{{error}}</v-alert>
            <v-progress-linear :indeterminate="true" v-if="loading" color="blue" />
            <v-btn color="blue white--text" round style="margin-top: 25px" :disabled="loading" @click="verifyForm" type="submit">
                {{$translate('btn.4')}}
            </v-btn>
        </form>
        <form action="settings.verification/update" method="post" v-else>
            <input-drag-file icon="icon-file-add" :label="$translate('settings.verification.label.12')" name="address_upload"  v-model="files" />

            <v-alert :value="error" type="error" dismissible @input="onErrorInput">{{error}}</v-alert>
            <v-progress-linear :indeterminate="true" v-if="loading" color="blue" />
            <v-alert v-else type="info" class="my-2" value>
              {{ $translate('settings.verification.label.49') }}
            </v-alert>
            <v-btn color="red white--text" round style="margin-top: 15px" :disabled="loading" @click="inputData = true">
                {{$translate('btn.1')}}
            </v-btn>
            <v-btn color="blue white--text" round style="margin-top: 15px" :disabled="loading" type="submit" @click="uploadDocuments">
                {{$translate('btn.4')}}
            </v-btn>
        </form>
    </v-flex>
</template>

<script>

    //ToDo on browser auto fill => set country 

    export default {
        data() {
            return {
                api:  'settings.verification/status',
                loading: false,
                error: null,
                inputData: true,
                success: false,
                address: {
                    verified: false,
                    street_address: null,
                    locality: null,
                    region: null,
                    postal_code: null,
                    country: null,
                },
                errors: {
                    street: false,
                    city: false,
                    zip: false,
                    country: false
                },
                files: []
            }
        },
        watch: {
            loading(val) {
                if(val) {
                    this.error = null;
                }
            },
            success(val) {
                this.error = null;
                this.inputData = true;
            },
            inputData(val, oldval) {
              if (this.loading && val !== oldval) {
                this.loading = false;
                this.error = false;
              }
            },
        },
        methods: {
            apiSuccess($e) {
              if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                $e.preventDefault();
              }
              this.inputData = false;
            },
            onError($e) {
                this.loading = false;
                this.$nextTick(() => {
                    this.error = $e.error.error || $e.error;
                });
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
            },
            onErrorInput($e) {
                if(!$e)
                    this.error = null;
            },
            verifyForm($e) {
                var prevent = false;

                if((this.address.street_address || '').split(' ').join('').length < 2) {
                    this.errors.street = true;
                    prevent = true;
                }
                if((this.address.locality || '').split(' ').join('').length < 2) {
                    this.errors.city = true;
                    prevent = true;
                }
                if((this.address.postal_code || '').split(' ').join('').length < 2) {
                    this.errors.zip = true;
                    prevent = true;
                }
                if((this.address.country || '').split(' ').join('').length < 2) {
                    this.errors.country = true;
                    prevent = true;
                }

                if(prevent) {
                    this.error = this.$translate('settings.verification.error.1');
                    if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                      $e.preventDefault();
                    }
                } else {
                    this.error = null;
                }
            },
            onFinalSuccess($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.success = true;
                this.$api.refresh(this.api);
            },
            uploadDocuments() {
                if(this.files.length === 0) {
                    this.error = this.$translate('settings.verification.error.2');
                    return;
                }

                this.error   = null;
                this.loading = true;
                const body = {
                    address_upload: this.files[0]
                }

                this.$api.post('settings.verification/update', body).then(() => {
                    this.success = true;
                    this.$api.refresh(this.api);
                }).catch((err) => {
                    this.error = err.error || err.message || err || this.$translate('error.1');
                }).then(() => this.loading = false);
            }
        }
    }

</script>