<template>
    <v-flex lg6 offset-lg3 xs12 text-xs-center class="verification-identity">
        <div v-if="success">
            <h2 style="margin-bottom: 25px">{{$translate('settings.verification.label.13')}}</h2>
            <v-alert :value="true" type="success" transition="fade-transition">{{$translate('settings.verification.text.20')}}</v-alert>
            <v-btn class="blue-grey" outline round style="margin-top: 15px" @click="success = false">
                {{$translate('btn.1')}}
            </v-btn>
            <v-btn color="green white--text" round style="margin-top: 15px" @click="$emit('next')">
                {{$translate('btn.4')}}
            </v-btn>
        </div>
        <form method="post" action="settings.verification/update" @apiPrepare="loading = true" @apiDone="loading = false" @apiError="onError" @apiSuccess="apiSuccess" v-else-if="inputData">
            <h2>{{$translate('settings.verification.label.14')}}</h2>
            <p style="margin-bottom: 25px">{{$translate('settings.verification.text.21')}}</p>
            <v-alert :value="!primary.verified && primary.verification_pending" type="info" transition="fade-transition" dismissible>
              {{$translate('settings.verification.text.22')}}
            </v-alert>
            
            <v-text-field :label="$translate('settings.verification.label.15')" prepend-icon="icon-business" :disabled="loading" class="outline" autofocus v-model="primary.name" :error="errors.name" @input="errors.name = false" @change="errors.name = false" required name="company_name" />
            <v-text-field :label="$translate('settings.verification.label.16')" prepend-icon="icon-description" :disabled="loading" class="outline" v-model="primary.vat" :error="errors.vat" @input="errors.vat = false" @change="errors.vat = false" required name="company_vat" />
            <v-text-field :label="$translate('settings.verification.label.17')" prepend-icon="icon-class" :disabled="loading" class="outline" v-model="primary.sector" :error="errors.sector" @input="errors.sector = false" @change="errors.sector = false" required name="company_sector" />
            <hr>
            <h2>{{$translate('settings.verification.label.18')}}:</h2>
            <v-text-field :label="$translate('settings.verification.label.19')" prepend-icon="icon-location" :disabled="loading" class="outline" v-model="primary.street_address" :error="errors.street_address" @input="errors.street_address = false" @change="errors.street_address = false" required name="company_street" />
            <v-text-field :label="$translate('settings.verification.label.20')" prepend-icon="icon-city" :disabled="loading" class="outline" v-model="primary.city" :error="errors.city" @input="errors.city = false" @change="errors.city = false" required name="company_city" />
            <v-text-field :label="$translate('settings.verification.label.21')" prepend-icon="icon-city" :disabled="loading" class="outline" v-model="primary.postal_code" :error="errors.postal_code" @input="errors.postal_code = false" @change="errors.postal_code = false" required name="company_zip" />
            <v-text-field :label="$translate('settings.verification.label.22')" prepend-icon="icon-location" :disabled="loading" class="outline" v-model="primary.region" name="company_region" />
            <input-country prepend-icon="icon-flag" :disabled="loading" class="outline" v-model="primary.country" :error="errors.country" @input="errors.country = false" @change="errors.country = false" name="company_country" />
            <v-checkbox primary :label="$translate('settings.verification.label.23')" hide-details v-model="representative" :error="errors.representative" @input="errors.representative = false" @change="errors.representative = false" />
            <input type="hidden" name="representative" :value="Number(representative)" />

            <v-alert :value="error ? true : false" type="error" dismissible @input="onErrorInput">{{error}}</v-alert>
            <v-progress-linear :indeterminate="true" v-if="loading" color="blue" />
            <v-btn color="blue white--text" round style="margin-top: 25px" :disabled="loading" type="submit" @click="verifyForm">
                Continue
            </v-btn>
        </form>
        <form method="post" action="settings.verification/update" v-else>
            <input-drag-file icon="icon-file-add" :label="$translate('settings.verification.label.24')" name="company_status_file" v-model="files" />

            <v-alert :value="error" type="error" dismissible @input="onErrorInput">{{error}}</v-alert>
            <v-progress-linear :indeterminate="true" v-if="loading" color="blue" />
            <v-btn class="blue-grey" outline round style="margin-top: 15px" :disabled="loading" @click="inputData = true">
                {{$translate('btn.1')}}
            </v-btn>
            <v-btn color="blue white--text" round style="margin-top: 15px" :disabled="loading" @click="uploadDocuments">
                {{$translate('btn.4')}}
            </v-btn>
        </form>
    </v-flex>
</template>

<script>

    export default {
        data() {
            return {
                api:  'settings.verification/status',
                loading: false,
                error: null,
                representative: false,
                inputData: true,
                success: false,
                business: [],
                nbusiness: {},
                errors: {
                    name: false,
                    vat: false,
                    sector: false,
                    street_address: false,
                    city: false,
                    postal_code: false,
                    country: false,
                    representative: false
                },
                files: []
            }
        },
        computed: {
            primary() {
                return this.business[0] || this.nbusiness
            }
        },
        watch: {
            loading(val) {
                if(val) {
                    this.error = null;
                }
            },
            success() {
                this.error = null;
                this.inputData = true;
                this.loading = false;
            },
            files() {
                this.error = null
            }
        },
        methods: {
            apiSuccess($e) {
              if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                $e.preventDefault();
              }
              this.loading = false;
              this.inputData = false;
            },
            onError($e) {
                this.loading = false;
                this.$nextTick(() => {
                    this.error = $e.error.error || $e.error;
                });
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
            },
            onErrorInput($e) {
                this.loading = false;
                if(!$e)
                    this.error = null;
            },
            verifyForm($e) {
                var fields = Object.keys(this.errors);
                var prevent = false;

                for(var k in fields) {
                    const field = fields[k];
                    if(field === 'representative') {
                        if(!this.representative) {
                            this.errors[field] = true;
                            prevent = true;
                        }
                    } else if(!this.primary[field] || this.primary[field].split(' ').join('').length < 2) {
                        this.errors[field] = true;
                        prevent = true;
                    }
                }

                if(prevent) {
                    this.error = this.$translate('settings.verification.error.1');
                    if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                      $e.preventDefault();
                    }
                } else {
                    this.error = null;
                }
            },
            uploadDocuments() {
                if(this.files.length === 0) {
                    this.error = this.$translate('settings.verification.error.3');
                    return;
                }

                this.error   = null;
                this.loading = true;
                const body = {
                    company_upload: this.files[0]
                }

                this.$api.post('settings.verification/update', body).then(() => {
                    this.success = true;
                    this.$api.refresh(this.api);
                }).catch((err) => {
                    this.loading = false;
                    this.error = err.error || err.message || err || this.$translate('error.1');
                }).then(() => this.loading = false);
            }
        }
    }

</script>