<template>
    <v-flex lg6 offset-lg3 xs12 text-xs-center>
        <form method="post" :action="inputMail ? 'settings.contact/update-email' : 'settings.contact/validate-email'" @apiPrepare="loading = true" @apiDone="loading = false" @apiError="onError" @apiSuccess="onSuccess" v-if="!success">
            <h2 style="margin-bottom: 25px">{{$translate('settings.verification.label.27')}}</h2>

            <div v-if="inputMail">
                <v-text-field solo :label="$translate('settings.verification.label.28')" prepend-icon="icon-mail" type="email" name="email" :disabled="loading" v-model="email" />
            </div>
            <div v-else>
                <p>{{$translate('settings.verification.text.24')}}</p>
                <input-pin token name="code" />
            </div>

            <v-alert :value="error" type="error" dismissible @input="onErrorInput">{{error}}</v-alert>
            <v-alert :value="warning" type="warning">{{warning}}</v-alert>
            <v-progress-linear :indeterminate="true" v-if="loading" color="blue" />
            <v-btn color="red white--text" round style="margin-top: 15px" :disabled="loading" v-if="!inputMail" @click="inputMail = true">
                {{$translate('btn.1')}}
            </v-btn>
            <v-btn color="blue white--text" round style="margin-top: 15px" :disabled="loading" type="submit" @click="checkMail">
                {{ $translate(inputMail ? 'settings.verification.label.25' : 'settings.verification.label.26') }}
            </v-btn>
        </form>
        <div v-else>
            <v-icon size="75" color="green">icon-mail</v-icon>
            <h2>{{$translate('settings.verification.text.23')}}</h2>
            <h3 style="margin-bottom: 25px">{{email}}</h3>
            <v-btn class="blue-grey" outline round style="margin-top: 15px" :disabled="loading" v-if="!inputMail" @click="reset">
                {{$translate('btn.1')}}
            </v-btn>
            <v-btn class="green white--text" round @click="$emit('next')">
                {{$translate('btn.4')}}
            </v-btn>
        </div>
    </v-flex>
</template>

<script>
    
    export default {
        data() {
            return {
                api: 'settings.verification/status',
                inputMail: true,
                success: false,
                loading: false,
                error: null,
                warning: null,
                email: '',
                verified_mail: null
            }
        },
        watch: {
            loading(val) {
                if(val) {
                    this.error = null;
                    this.warning = null;
                }
            },
            inputMail() {
                this.error = null;
            }
        },
        mounted() {
            this.$onApi('settings.verification/status', ($e) => {
                this.verified_mail = $e.email_verified ? $e.email : null
            })
        },
        methods: {
            onError($e) {
                this.$nextTick(() => {
                    this.error = $e.error.error || $e.error;
                });
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
            },
            onErrorInput($e) {
                if(!$e)
                    this.error = null;
            },
            onSuccess($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }

                if(this.inputMail)
                    this.inputMail = false
                else
                    this.success = true;
            },
            checkMail($e) {
                this.error = null;
                this.warning = null;

                if(this.email === this.verified_mail) {
                    if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                      $e.preventDefault();
                    }
                    this.warning = this.$translate('settings.verification.error.4');
                }
            },
            reset() {
                this.error = null;
                this.loading = false;
                this.success = false;
                this.inputMail = true;
            }
        }
    }

</script>