<template>
    <v-flex lg6 offset-lg3 xs12 text-xs-center class="verification-identity">
        <form method="post" action="settings.verification/update" @apiPrepare="loading = true" @apiDone="loading = false" @apiError="onError" @apiSuccess="apiSuccess" v-if="inputData">
            <settings-verification-itsme v-if="!verified" />
            <ui-or-divider id="tutorial-verification-manual" v-if="!verified" />

            <h2 style="margin-bottom: 25px">{{$translate('settings.verification.text.25')}}</h2>

            <v-alert :value="verified" type="success" transition="fade-transition" dismissible>{{$translate('settings.verification.text.26')}}</v-alert>
            <v-alert :value="!verified && verification_pending" type="info" transition="fade-transition" dismissible>
              {{$translate('settings.verification.text.27')}}
            </v-alert>

            <v-text-field name="given_name" :label="$translate('settings.verification.label.29')" prepend-icon="icon-user" :disabled="verified || loading" class="outline" autofocus v-model="given_name" :error="errors.given_name" @change="errors.given_name = false" @input="errors.given_name = false" />
            <v-text-field name="middle_name" :label="$translate('settings.verification.label.30')" prepend-icon="icon-user" :disabled="verified || loading" class="outline" v-model="middle_name" :error="errors.middle_name" @change="errors.middle_name = false" @input="errors.middle_name = false" />
            <v-text-field name="family_name" :label="$translate('settings.verification.label.31')" prepend-icon="icon-user" :disabled="verified || loading" class="outline" v-model="family_name" :error="errors.family_name" @change="errors.family_name = false" @input="errors.family_name = false" />
            <v-select :items="[ { value: 'male', text: $translate('settings.verification.label.32') }, { value: 'female', text: $translate('settings.verification.label.33') } ]" :label="$translate('settings.verification.label.34')" solo :disabled="verified || loading" prepend-inner-icon="icon-gender" style="margin-bottom: 15px" v-model="gender" item-value="value" item-text="text" :error="errors.gender" @change="errors.gender = false" @input="errors.gender = false" />

            <input-date :disabled="verified || loading" name="birthdate" :label="`${$translate('settings.verification.label.35')} (yyyy-mm-dd)`" txtClass="outline" v-model="birthdate" min="1920-01-01" :max="new Date().toISOString()" :error="!birthdate || errors.birthdate" @change="errors.birthdate = false" @input="errors.birthdate = false" />
            <v-text-field name="birthplace" :label="$translate('settings.verification.label.36')" prepend-icon="icon-location" :disabled="verified || loading" class="outline" v-model="birthplace" :error="errors.birthplace" @change="errors.birthplace = false" @input="errors.birthplace = false" />
            <input-country name="nationality" prepend-icon="icon-flag" :disabled="verified || loading" class="outline" :label="$translate('settings.verification.label.37')" v-model="nationality" :error="errors.nationality" @change="errors.nationality = false" @input="errors.nationality = false" />
            <br>
            <p v-if="!verified">{{$translate('settings.verification.text.28')}}</p>
            <v-checkbox :disabled="verified || loading" color="blue" :label="$translate('settings.verification.label.38')" hide-details v-model="flag_pep" :error="errors.flag_pep" @change="errors.flag_pep = false" @input="errors.flag_pep = false" v-if="!verified" />
            <v-checkbox :disabled="verified || loading" color="blue" :label="$translate('settings.verification.label.39')" hide-details v-model="flag_sanctionlist" :error="errors.flag_sanctionlist" @change="errors.flag_sanctionlist = false" @input="errors.flag_sanctionlist = false" v-if="!verified" />

            <input :disabled="verified || loading" type="hidden" name="gender" :value="gender">
            <input :disabled="verified || loading" type="hidden" name="flag_pep" :value="Number(flag_pep)">
            <input :disabled="verified || loading" type="hidden" name="flag_sanctionlist" :value="Number(flag_sanctionlist)">
            <v-alert :value="error" type="error" dismissible @input="onErrorInput">{{error}}</v-alert>
            <v-progress-linear :indeterminate="true" v-if="loading" color="blue" />
            <v-btn color="blue white--text" round style="margin-top: 15px" :disabled="verified || loading" type="submit" @click="verifyFormInfo" v-if="!verified">
                {{$translate('btn.4')}}
            </v-btn>
        </form>

        <div v-else-if="sucessUpload">
            <h2 style="margin-bottom: 25px">{{$translate('settings.verification.label.40')}}</h2>
            <v-alert :value="true" type="success" transition="fade-transition">
              {{$translate('settings.verification.text.29')}}<br>{{$translate('settings.verification.text.30')}}
            </v-alert>
            <v-btn color="red white--text" round style="margin-top: 15px" @click="sucessUpload = false; inputData = true">
                {{$translate('btn.1')}}
            </v-btn>
            <v-btn color="blue white--text" round style="margin-top: 15px" :disabled="loading" @click="$emit('next', true)">
                {{$translate('btn.17')}}
            </v-btn>
        </div>
        <form action="settings.verification/update" method="post" @apiSuccess="sucessUpload = true" v-else>
            <h2 style="margin-bottom: 25px">{{$translate('settings.verification.text.31')}}</h2>

            <v-select :disabled="verified || loading" :items="[ { value: 'passport', text: $translate('settings.verification.label.41') }, { value: 'identity_card', text: $translate('settings.verification.label.42') } ]" :label="$translate('settings.verification.label.43')" class="outline" prepend-inner-icon="icon-id-card" style="margin-bottom: 15px" item-value="value" item-text="text" v-model="docType" />

            <input-date :disabled="verified || loading" :label="`${$translate('settings.verification.label.44')} (yyyy-mm)`" v-model="id_expiration" txtClass="outline" :min="new Date().toISOString()" type="month" :error="errors.id_expiration" @change="errors.id_expiration = false" @input="errors.id_expiration = false" max="2050-01" />
            <v-text-field :disabled="verified || loading" :label="$translate('settings.verification.label.45')" prepend-icon="icon-verified" class="outline" v-model="id_number" />

            <input-drag-file :disabled="verified || loading" name="upload-1" v-model="files1" :error="errors.files1" @input="errors.files1 = false" :img="docType === 'passport' ? '/img/identity/passport.svg' : '/img/identity/id-front.svg'" :label="docType === 'passport' ? $translate('settings.verification.label.46') : $translate('settings.verification.label.47')" />
            <br>
            <input-drag-file :disabled="verified || loading" name="upload-2" v-model="files2" :error="errors.files2" @input="errors.files2 = false" img="/img/identity/id-back.svg" :label="$translate('settings.verification.label.48')" v-if="docType === 'identity_card'" />

            <v-alert :value="error" type="error" dismissible @input="onErrorInput">{{error}}</v-alert>
            <v-progress-linear :indeterminate="true" v-if="loading" color="blue" />
            <v-btn color="red white--text" round style="margin-top: 15px" :disabled="loading" @click="inputData = true">
                {{$translate('btn.1')}}
            </v-btn>
            <v-btn color="blue white--text" round style="margin-top: 15px" :disabled="verified || loading" type="button" @click="uploadDocuments">
                {{$translate('btn.4')}}
            </v-btn>
        </form>
    </v-flex>
</template>

<script>
    export default {
        data() {
            return {
                api: 'settings.verification/status',
                inputData: true,
                loading: false,
                error: null,
                docType: 'identity_card',

                verified: false,
                verification_pending: false,
                sucessUpload: false,

                errors: {
                    given_name: false,
                    middle_name: false,
                    family_name: false,
                    gender: false,
                    birthplace: false,
                    birthdate: false,
                    nationality: false,
                    flag_pep: false,
                    flag_sanctionlist: false,
                    id_number: false,
                    id_expiration: false,
                    upload1: false,
                    upload2: false,
                },
                given_name: null,
                middle_name: null,
                family_name: null,
                gender: null,
                birthplace: null,
                birthdate: null,
                nationality: null,
                flag_pep: false,
                flag_sanctionlist: false,
                id_expiration: null,
                id_number: null,
                files1: [],
                files2: [],
            }
        },
        watch: {
            loading(val) {
                if (val) {
                    this.error = null;
                }
            },
            inputData(val, oldval) {
              if (this.loading && val !== oldval) {
                this.loading = false;
                this.error = false;
              }
            },
        },
        methods: {
            apiSuccess($e) {
              if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                $e.preventDefault();
              }
              this.inputData = false;
            },
            verifyFormInfo($e) {
                var prevent = false;
                if ((this.given_name || '').split(' ').join('').length < 2) {
                    this.errors.given_name = true;
                    prevent = true;
                }
                if ((this.family_name || '').split(' ').join('').length < 2) {
                    this.errors.family_name = true;
                    prevent = true;
                }
                if (this.gender !== 'male' && this.gender !== 'female') {
                    this.errors.gender = true;
                    prevent = true;
                }
                if ((this.birthplace || '').split(' ').join('').length < 2) {
                    this.errors.birthplace = true;
                    prevent = true;
                }
                if ((this.birthdate || '').split(' ').join('').length < 2) {
                    this.errors.birthdate = true;
                    prevent = true;
                }
                if ((this.nationality || '').split(' ').join('').length < 2) {
                    this.errors.nationality = true;
                    prevent = true;
                }
                if (this.flag_pep !== true && this.flag_pep !== false) {
                    this.errors.flag_pep = true;
                    prevent = true;
                }
                if (this.flag_sanctionlist !== true && this.flag_sanctionlist !== false) {
                    this.errors.flag_sanctionlist = true;
                    prevent = true;
                }

                if (prevent) {
                    this.error = this.$translate('settings.verification.error.1');
                    if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                      $e.preventDefault();
                    }
                } else {
                    this.$emit('scrollup', true);
                    this.error = null;
                }
            },
            onError($e) {
                this.loading = false;
                this.$nextTick(() => {
                    this.error = $e.error.error || $e.error;
                });
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
            },
            onErrorInput($e) {
                if (!$e)
                    this.error = null;
            },
            uploadDocuments($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                if (this.files1.length === 0 || (this.docType === 'identity_card' && this.files2.length === 0)) {
                    this.error = this.$translate('settings.verification.error.5');
                    return;
                }
                if (
                    ((this.id_number || '').split(' ').join('').length < 2) ||
                    ((this.id_expiration || '').split(' ').join('').length < 2)
                ) {
                    this.error = this.$translate('settings.verification.error.6');
                    return;
                }

                this.error = null;
                this.loading = true;
                const body = {
                    id1_upload: this.files1[0],
                    id_expiration: this.id_expiration,
                    id_number: this.id_number,
                };
                if (this.files2.length > 0) {
                    body.id2_upload = this.files2[0];
                }

                this.$api.post('settings.verification/update', body).then(() => {
                    this.success = true;
                    this.sucessUpload = true;
                    this.$api.refresh(this.api);
                }).catch((err) => {
                    this.error = err.error || err.message || err || this.$translate('error.1');
                }).then(() => this.loading = false);
            }
        }
    }

</script>
