<template>
    <v-container class="account-verification">
        <v-card>
            <v-card-text>
                <h1>{{$translate('settings.verification.label.1')}}</h1>
                <h2>{{$translate('settings.verification.text.1')}}</h2>
            </v-card-text>

            <v-layout v-if="!loading">
                <v-flex xs12 sm10 offset-sm1 md8 offset-md2 class="verification-steps">
                    <v-layout row wrap>
                        <v-flex class="verification-step">
                            <v-tooltip bottom>
                                <div :class="'step ' + getStatus('email').class" slot="activator" @click="step = 1">
                                    <div>
                                        <v-icon size=50>icon-mail</v-icon>
                                    </div>
                                    <span>
                                        <v-icon>{{getStatus('email').icon}}</v-icon> {{$translate('settings.label.11')}}
                                    </span>
                                    <span>
                                        <v-icon size="30" class="current-indicator" v-if="step === 1">icon-angle-up</v-icon>
                                    </span>
                                </div>
                                <span>{{getStatus('email').tooltip}}</span>
                            </v-tooltip>
                        </v-flex>
                        <v-flex class="step-divider">
                            <hr />
                        </v-flex>
                        <v-flex class="verification-step">
                            <v-tooltip bottom>
                                <div :class="'step ' + getStatus('identity').class" slot="activator" @click="step = 2">
                                    <div>
                                        <v-icon size=50>icon-user</v-icon>
                                    </div>
                                    <span>
                                        <v-icon>{{getStatus('identity').icon}}</v-icon> {{$translate('settings.verification.label.2')}}
                                    </span>
                                    <span>
                                        <v-icon size="30" class="current-indicator" v-if="step === 2">icon-angle-up</v-icon>
                                    </span>
                                </div>
                                <span>{{getStatus('identity').tooltip}}</span>
                            </v-tooltip>
                        </v-flex>
                        <v-flex class="step-divider">
                            <hr />
                        </v-flex>
                        <v-flex class="verification-step">
                            <v-tooltip bottom>
                                <div :class="'step ' + getStatus('address').class" slot="activator" @click="step = 3">
                                    <div>
                                        <v-icon size=50>icon-home</v-icon>
                                    </div>
                                    <span>
                                        <v-icon>{{getStatus('address').icon}}</v-icon> {{$translate('settings.verification.label.3')}}
                                    </span>
                                    <span>
                                        <v-icon size="30" class="current-indicator" v-if="step === 3">icon-angle-up</v-icon>
                                    </span>
                                </div>
                                <span>{{getStatus('address').tooltip}}</span>
                            </v-tooltip>
                        </v-flex>
                        <v-flex class="step-divider">
                            <hr />
                        </v-flex>
                        <v-flex class="verification-step">
                            <v-tooltip bottom>
                                <div :class="'step ' + getStatus('business').class" slot="activator" @click="step = 4">
                                    <div>
                                        <v-icon size=50>icon-business</v-icon>
                                    </div>
                                    <span>
                                        <v-icon color="red">{{getStatus('business').icon}}</v-icon> {{$translate('settings.verification.label.4')}}
                                    </span>
                                    <span>
                                        <v-icon size="30" class="current-indicator" v-if="step === 4">icon-angle-up</v-icon>
                                    </span>
                                </div>
                                <span>{{getStatus('business').tooltip}}</span>
                            </v-tooltip>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>

            <v-layout class="verification-section" v-if="!loading">
                <div style="margin-left: auto; margin-right: auto;" v-if="$route.query.code || $route.query.error">
                    <settings-verification-itsme v-if="$route.query.code || $route.query.error" @next="next" />
                </div>
                <settings-verification-email v-else-if="step === 1" @next="next" @scrollup="scrollup" />
                <settings-verification-identity v-else-if="step === 2" @next="next" @scrollup="scrollup" />
                <settings-verification-address v-else-if="step === 3" @next="next" @scrollup="scrollup" />
                <settings-verification-business v-else-if="step === 4" @next="next" @scrollup="scrollup" />
                <div v-else-if="step === 5" style="margin-left: auto; margin-right: auto; text-align: center">
                    <h2>{{$translate('settings.verification.text.2')}}</h2>
                    <v-icon color="green" size=90>icon-verified</v-icon>
                </div>
                <div v-else style="margin-left: auto; margin-right: auto; text-align: center">
                    <h2>{{$translate('settings.verification.text.3')}}</h2>
                    <v-icon color="yellow darken-2" size=90>icon-clock</v-icon>
                </div>
            </v-layout>
            <v-flex v-else>
                <h2 style="font-weight: bold">{{$translate('settings.verification.text.4')}}..</h2>
                <v-progress-linear indeterminate color="blue" />
            </v-flex>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                api: 'settings.verification/status',
                step: 0,

                loading: true,
                email_verified: false,
                verified: false,
                verification_pending: false,
                address: {
                    verified: false,
                    verification_pending: false
                },
                business: [{
                    verfied: false,
                    verification_pending: false
                }]
            }
        },
        watch: {
            step() {
                if(this.$route.query.code || this.$route.query.error)
                    this.$router.replace({ path: this.$route.path, query: {} });
            },
            verified() {
                this.$nextTick(() => {
                    this.$db.verified = this.verified && this.address.verified && this.email_verified;
                })
            }
        },
        beforeMount() {
            var once = true;
            this.$onApi(this.api, () => {
                if(this.address.formatted === undefined)
                    return;

                if(!this.$route.query.code && !this.$route.query.error && once)
                    this.next(true);

                once = false;
                this.$nextTick(() => {
                    this.loading = false;
                })
            });
        },
        methods: {
            getStatus(type) {
                var res = {
                    class: 'error'
                }

                if (type === 'email') {
                    res.class = this.email_verified ? 'success' : 'error';
                    res.tooltip = this.email_verified ? 'settings.verification.text.5' : 'settings.verification.text.6';
                } else if (type === 'identity') {
                    if (this.verified) {
                        res.class = 'success';
                        res.tooltip = 'settings.verification.text.7';
                    } else if (this.verification_pending) {
                        res.class = 'pending';
                        res.tooltip = 'settings.verification.text.8';
                    } else {
                        res.class = 'error';
                        res.tooltip = 'settings.verification.text.9';
                    }
                } else if (type === 'address') {
                    if (this.address && this.address.verified) {
                        res.class = 'success';
                        res.tooltip = 'settings.verification.text.10';
                    } else if (this.address && this.address.verification_pending) {
                        res.tooltip = 'settings.verification.text.11';
                        res.class = 'pending';
                    } else {
                        res.tooltip = 'settings.verification.text.12';
                        res.class = 'error';
                    }
                } else {
                    if (this.business && this.business[0] && this.business[0].verified) {
                        res.tooltip = 'settings.verification.text.13';
                        res.class = 'success';
                    } else if (this.business && this.business[0] && this.business[0].verification_pending) {
                        res.tooltip = 'settings.verification.text.14';
                        res.class = 'pending';
                    } else {
                        res.tooltip = 'settings.verification.text.15';
                        res.class = 'info';
                    }
                }

                if (res.tooltip) res.tooltip = this.$translate(res.tooltip);

                res.icon = res.class === 'success' ? 'icon-check-o' : (res.class === 'error' ? 'icon-error' : (res.class === 'info' ? 'icon-info' : 'icon-clock'));
                return res;
            },
            scrollup() {
                let element = this.$el.querySelector('.verification-section');
                if (Array.isArray(element) && element.length) element = element[0];
                element = element.$el || element;
                const offset = element.scrollTop - 140;
                var body = document.body; // Safari
                var html = document.documentElement; // Chrome, Firefox, IE and Opera places the overflow at the <html> level, unless else is specified. Therefore, we use the documentElement property for these browsers
                body.scrollTop = offset;
                html.scrollTop = offset;
            },
            next(disableScroll) {
                if((this.$route.query.code || this.$route.query.error) && disableScroll !== true) {
                    this.step = 0;
                }

                if(!this.email_verified && this.step !== 1) {
                    this.step = 1;
                } else if(!this.verified && !this.verification_pending && this.step !== 2) {
                    this.step = 2;
                } else if(!this.address.verified && !this.address.verification_pending && this.step !== 3) {
                    this.step = 3;
                } else if(this.business[0] && this.business[0].verification_pending) {
                    this.step = 6;
                } else if(this.email_verified && this.verified && this.address.verified) {
                    this.step = 5;
                } else if(this.verification_pending || this.address.verification_pending) {
                    this.step = 6;
                } else if(!this.email_verified) {
                    this.step = 1;
                } else if(!this.verified) {
                    this.step = 2;
                } else if(!this.address.verified) {
                    this.step = 3;
                } else {
                    this.step = 6;
                }

                if(disableScroll !== true)
                    this.scrollup();
            }
        }
    }

</script>

<style lang="scss">
    @keyframes fontshrink {
        0% {
            font-size: 40px;
        }

        50% {
            font-size: 50px;
        }

        100% {
            font-size: 40px;
        }
    }

    .account-verification {
        .verification-steps {
            margin-top: 10px;
            padding-bottom: 30px;

            .error div .v-icon {
                -webkit-animation: fontshrink 4s infinite;
                /* Safari 4.0 - 8.0 */
                animation: fontshrink 4s infinite;
            }
        
            @media all and (min-width: 600px) {
                .flex.verification-step {
                    flex: none;
                }

                .step-divider {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            @media all and (max-width: 600px) {
                margin-top: 0;
                padding-bottom: 10px;

                .step-divider {
                    display: none;
                }

                .verification-step {
                    width: 50%;
                    padding-bottom: 20px;

                    .v-tooltip {
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        h1 {
            margin-top: 15px;
            font-size: 40px;
            text-align: center;
        }

        h2 {
            font-size: 18px;
            margin-bottom: 20px;
            text-align: center;
            font-weight: normal;
            max-width: 750px;
            margin-left: auto;
            margin-right: auto;
        }

        .verification-section {
            padding: 0 50px 50px 50px;

            h2 {
                font-size: 24px;
                margin-bottom: 5px;
            }

            @media all and (max-width: 1263px) {
                padding: 50px 10px;
            }
        }

        .step {
            text-align: center;
            cursor: pointer;

            span {
                margin-top: 5px;
                font-weight: bold;
                display: block;

                i {
                    vertical-align: bottom;
                    margin-right: 2px;
                }
            }
        }

        .step i {
            color: #9e9e9e !important;

            &.current-indicator {
                color: black !important;
            }
        }

        .step.success {
            background-color: transparent !important;
            border-color: transparent !important;

            >div,
            i {
                color: #4caf50 !important;
                border-color: #4caf50 !important;

                &.current-indicator {
                    color: black !important;
                }
            }
        }

        .step.pending {

            >div,
            i {
                color: #f9a825 !important;
                border-color: #f9a825 !important;

                &.current-indicator {
                    color: black !important;
                }
            }
        }

        .step.info {
            background-color: transparent !important;
            border-color: transparent !important;
        }

        .step.error {
            background-color: transparent !important;
            border-color: transparent !important;

            >div,
            i {
                color: #f44336 !important;
                border-color: #f44336 !important;

                &.current-indicator {
                    color: black !important;
                }
            }
        }

        .step>div {
            border: 2px solid #999;
            height: 72px;
            width: 72px;
            ;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        hr {
            border: none;
            border-top: 2px dotted #999;
            color: #fff;
            background-color: #fff;
            height: 1px;
            margin-top: 34px;
            width: 100%;
        }
    }

    .verification-identity {

        .v-text-field.v-input.outline,
        .outline .v-text-field.v-input {
            border-radius: 2px;
            transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            padding-bottom: 10px;
            padding-left: 15px;
            margin-bottom: 15px;
            padding-top: 20px;
            padding-right: 15px;

            .v-input__slot:before {
                border: 0;
            }

            input {
                padding-bottom: 0;
            }
        }

        .v-select__slot {
            margin-left: 10px;
        }

        .v-select .v-input__slot {
            margin-bottom: 0;
        }

        .v-text-field__details {
            display: none;
        }
    }

</style>
