<template>
  <v-container class="support-chat">
    <div ref="chat">

    </div>
  </v-container>
  <!-- still using JQUERY -->
</template>

<script>
export default {
  data() {
    return {
      script: null,
    };
  },
  metaInfo() {
    return {
      title: 'bit4you - Support',
    };
  },
  mounted() {
    if (this.$isServer) return;
    this.script = this.$api.setupChatbot(document.body);
    this.setupChatForm();
  },
  beforeDestroy() {
    if (!this.$isServer && this.script) {
      this.script.parent.removeChild(this.script.child);
      delete window.__chatio;
      delete window.LC_Invite;
      delete window.LC_API;
      delete window.LC_Tasks;
    }
  },
  methods: {
    setupChatForm() {
      if (this.$isServer) return;
      const chatEl = document.getElementById("chatio-container");
      const chatFrame = document.getElementById("chatio");
      if (!chatEl || !chatFrame || !this.$refs.chat) {
        return setTimeout(() => {
          this.setupChatForm();
        }, 200);
      }
      const	contents = $(chatFrame).contents();
      const body = contents.find('body');
      const styleTag = $(`
        <style>
          .poweredBy {
            display: none !important;
          }
          #minimized-wrapper {
            position: initial;
            display: block;
            margin: auto;
            text-align: center;
          }
        </style>
      `).appendTo(contents.find('head'));
      this.$refs.chat.appendChild(chatEl);
    }
  }
};
</script>

<style lang="scss">

.support-chat {
  #chatio-container {
    position: initial !important;
    display: block !important;
    max-width: 95%;
    width: 100% !important;
    margin: auto;
    #chatio {
      width: 95%;
      display: block;
      margin: auto;
      position: initial !important;
    }
  }
}
</style>
