<template>
    <v-layout row wrap>
        <v-flex xs12 style="z-index: 1;">
            <v-data-table :headers="items.length === 0 ? [] : Object.keys(items[0]).map((el) => {
              return {
                text: el,
                align: 'center',
                sortable: false,
                value: el,
              };
            })" :items="items" hide-actions hide-headers class="table-cards">
                <template slot="items" slot-scope="props">
              <tr>
                <td>
                  {{ props.item }}
                </td>
              </tr>
            </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        data: () => ({
            items: [],
        }),
    };

</script>
