<template>
    <!--<v-toolbar :color="dark ? 'secondary' : 'primary'">
        
        <v-toolbar-side-icon v-if="!close" :back="back" />
        <v-toolbar-icon-spacer v-else />
        <v-spacer />
        <v-toolbar-title>{{i18n ? $t(centerText || defaultCenterText) : (centerText || $t($api.isSimulation ? 'mode.demo' : 'mode.real'))}} {{ centerText ? '' : $format.price(wallet, 2)}}</v-toolbar-title>
        <v-spacer />
        <v-toolbar-icon-spacer v-if="!close && !rightIcon" />
        <v-btn flat round icon dark v-else class="toolbar-icon" @click="onRightClick">
            <v-icon>{{ rightIcon ? 'icon-' + String(rightIcon).replace('icon-', '') : 'icon-close' }}</v-icon>
        </v-btn>
        <template slot="extension" v-if="$slots.default">
            <slot />
           
        </template>0.
    </v-toolbar>-->
    <LinearGradient v-if="headerSearch" class="header" :colors="btn_linearGradient">
        <view class="row" style="margin-top:30">
            <Touchable @click="onRightClick" style="margin:10">
<v-icon color="white" >icon-angle-left</v-icon>
            </Touchable>

            <LinearGradient class="search_input" style="margin:10" :colors="searchInput">
                <TextInput  class="text_search_engine" placeholder="Type to search!"   placeholderTextColor="white"/>
            </LinearGradient>
            </view>
            <view class="row">
                <v-text class="text_info">{{name}}</v-text>
                 <v-text class="text_info">{{mountant}}</v-text>
            </view>
            <!--<EditableInput icon="icon-search" placeholder="Type to search" v-model="search" keyboardType='string' class="search_input" />-->
            <!-- <v-text class="centerText"> ${{i18n ? $t(centerText || defaultCenterText) : (centerText || $t($api.isSimulation ? 'mode.demo' : 'mode.real'))}} {{ centerText ? '' : $format.price(wallet, 2)}}</v-text>
        </view>
        <view class="counter_section">
            <v-text  class="counter">{{i18n ? $t(counters || defaultCenterText) : (counters || $t($api.isSimulation ? 'mode.demo' : 'mode.real'))}} {{ counters ? '' : $format.price(counters, 2)}} Wallets</v-text>
        -->
    </LinearGradient>
    <LinearGradient v-else class="header" :colors="btn_linearGradient" style="display:flex;flex-direction:column;justify-content:center;align_items:center">
        <view style="display:flex;flex-direction:row;justify-content:center;align-items:center">
            <v-icon>settings</v-icon>
            <v-text class="centerText"> ${{i18n ? $t(centerText || defaultCenterText) : (centerText || $t($api.isSimulation ? 'mode.demo' : 'mode.real'))}} {{ centerText ? '' : $format.price(wallet, 2)}}</v-text>
        </view>
        <view class="counter_section">
            <v-text class="counter">{{i18n ? $t(counters || defaultCenterText) : (counters || $t($api.isSimulation ? 'mode.demo' : 'mode.real'))}} {{ counters ? '' : $format.price(counters, 2)}} Wallets</v-text>
        </view>
    </LinearGradient>
</template>
<script>
import { LinearGradient } from 'expo';

export default {
    components: {
        LinearGradient
    },
    props: {
        leftIcon: String,
        rightIcon: String,
        counters: Number,
        close: Boolean,
        dark: Boolean,
        back: Boolean,
        i18n: Boolean,
        headerSearch: Boolean,
        centerText: String,
        navigation: Object,
        mountant:Number,
        name:String

        /*flex,
          background,
          onLayout,
          statusBar,
          wrapperStyle,
          linearStyle,*/
    },
    data() {
        return {
            wallet: this.$db.wallet,
            btn_linearGradient: ['#9025fc', '#1308fe'],
            searchInput: ['#2a14f6', '#e409f9'],
        }
    },
    mounted() {
        console.log("im props back", this.close)
        this.$onApi('wallet', ({ wallet }) => {
            this.wallet = wallet;
        })
    },
    methods: {
        onRightClick() {
            this.$emit('rightClick')

            if (this.close)
                this.$router.go(-1);
        }
    },
};
</script>
<style>
.header {
    height: 164px;

}

.toolbar-icon {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.text_info{
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 26;
  font-weight: 400;
  letter-spacing: 0.2;
  margin-left: 10;
  margin-right: 10;
  margin-bottom: 20;
}
.text_search_engine {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12;
  font-weight: 400;
  line-height:21;

}
.row{
    margin-top:30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search_input {
    width: 260;
    height: 50;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    border-radius:25;
}

.counter {
    height: 14px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.counter_section {
    position: absolute;
    bottom: 20;
    right: 20;
}

.centerText {
    height: 41px;
    color: #ffffff;
    font-size: 34px;
    letter-spacing: 0.23px;

}
</style>