<template>
    <confirm-api-dialog
      :title="$translate('wallet.label.1')"
      :text="$translate('wallet.text.1')" 
      :confirm="$translate('wallet.label.2')"
      cancelColor="green darken-1"
      :max-width=400
      color="red darken-1"
      action="wallet/archive"
    >

        <v-tooltip top slot="activator">
            <span>{{$translate('wallet.label.2')}}</span>
            <v-btn slot="activator" small fab icon class="white wallet-action">
                <v-icon>icon-trash</v-icon>
            </v-btn>
        </v-tooltip>

    </confirm-api-dialog>
</template>