<template>
    <v-container grid-list-md>
        <v-card style="margin: 8px 0">
            <ui-loading v-if="loading" />
            <v-card-text v-else-if="formSuccess === true" class="py-3 px-1 headline text-xs-center">
              <v-icon size=100 color="green">icon-check</v-icon>
              <span>{{$translate('wallet.label.3')}}</span>!
              <v-btn class="secondary" @click="formSuccess = null, loading = false">{{$translate('btn.1')}}</v-btn>
            </v-card-text>
            <form v-else method="post" action="wallet/create-transaction" @handleApiPrepare="handleApiPrepare" @apiSuccess="apiSuccess" @apiError="apiError">
                <v-layout wrap row>
                    <v-flex xs12 :md8="spend" :md6="!spend" class="px-3" :offset-md2="spend">
                        <br>
                        <!--<selects-crypto :disabled="isScanned" :key="crypto" :selected.sync="crypto" name="currency" :label="$translate('wallet.label.30')" />!-->
                        <v-select :label="`${spend ? $translate('wallet.label.4') : $translate('wallet.label.5')}`" v-model="selectedWallet" :items="wallets" />
                        <div v-if="receive">
                            <div class="text-xs-center" v-if="!advanced">
                                <v-btn class="blue white--text" @click="advanced = true">{{$translate('wallet.label.6')}}</v-btn>
                            </div>
                            <div v-else>
                                <hr>
                                <v-text-field v-model="amountCrypto" @keyup="changedCryptoAmount" :hint="`${$translate('label.9')}: ${this.$getCurrency().name} ${parseFloat(market.value).toFixed(market.precision)}`" persistent-hint name="amount" persistent-label :label="crypto + ' ' + $translate('label.1')" :suffix="crypto" class="mb-1" />
                                <v-text-field v-model="amountFiat" @keyup="changedFiatAmount" persistent-label :label="$translate('label.21')" :suffix="this.$getCurrency().symbol" />
                                <!--
                                  <v-text-field name="description" persistent-label v-model="description" :label="$translate('wallet.label.8')" />
                                  <v-select :label="$translate('wallet.label.9')" :items="categories" v-model="category" />
                                !-->
                                <div class="text-xs-center">
                                    <v-btn class="blue white--text" @click="advanced = false">{{$translate('wallet.label.7')}}</v-btn>
                                </div>
                            </div>
                        </div>

                        <div v-else-if="spend">
                            <v-alert class="primary" color="secondary" :value="true" v-if="selectedWallet && walletInfo.balance || walletInfo.balance === 0">
                              <b><span>{{$translate('wallet.label.10')}}</span>:</b> <span>{{ walletInfo.balance }} {{ crypto }}</span>
                            </v-alert>

                            <input type="hidden" name="source_address" :value="selectedWallet" />
                            <input type="hidden" name="fee_type" :value="txTypeSelected" />

                            <v-layout row wrap>
                              <v-flex xs12 md4 lg4>
                                <v-select :label="$translate('wallet.label.13')" v-model="externalDestination" :items="[
                                  { text: $translate('wallet.label.11'), value: true },
                                  { text: $translate('wallet.label.12'), value: false },
                                ]" />
                              </v-flex>
                              <v-text-field v-if="externalDestination" :disabled="isScanned" :label="$translate('wallet.label.5')" v-model="spendingDestinationWallet" />
                              <v-select v-else-if="(filteredWallets || []).length > 0" :label="$translate('wallet.label.12')" v-model="spendingDestinationWallet" :items="(filteredWallets || [])" />
                              <div v-else>
                                <span>{{$translate('wallet.text.2')}}</span> {{ crypto }} <span>{{$translate('wallet.text.3')}}</span>.
                              </div>
                              <input type="hidden" name="destination_address" :value="spendingDestinationWallet" />
                            </v-layout>
                            
                            <v-text-field :disabled="isScanned" v-model="amountCrypto" @keyup="changedCryptoAmount" :hint="`${$translate('label.9')}: ${this.$getCurrency().name} ${parseFloat(market.value).toFixed(market.precision)}`" persistent-hint name="amount" persistent-label :label="crypto + ' ' + $translate('label.1')" :suffix="crypto" class="mb-1" />
                            <v-text-field :disabled="isScanned" v-model="amountFiat" @keyup="changedFiatAmount" persistent-label :label="$translate('label.21')" :suffix="this.$getCurrency().symbol" />
                            <v-select v-if="spend" v-model="txTypeSelected" :label="$translate('wallet.label.14')" :items="txTypes" name="fee_type" />
                            <v-text-field v-if="txTypeSelected === 'custom'" :label="$translate('wallet.label.15')" :suffix="crypto" name="custom_fee" />
                            <div class="text-xs-center" v-if="!advanced">
                                <v-btn class="blue white--text" @click="advanced = true">{{$translate('wallet.label.16')}}</v-btn>
                            </div>
                            <div v-else>
                                <hr>
                                <v-text-field name="description" persistent-label :label="$translate('wallet.label.8')" v-model="description" />
                                <v-text-field name="category" persistent-label :label="$translate('wallet.label.9')" v-model="category" />
                                <div class="text-xs-center">
                                    <v-btn class="blue white--text" @click="advanced = false">{{$translate('wallet.label.7')}}</v-btn>
                                </div>
                            </div>
                            <br>
                            <v-alert class="error" :value="walletInfo.balance < amountCrypto">
                              <span>{{ amountCrypto }} {{ crypto }} <span>{{$translate('wallet.text.4')}}</span> <span>{{$translate('wallet.text.5')}}</span> {{ walletInfo.balance }} {{ crypto }}.</span>
                            </v-alert>
                            <div class="text-xs-center">
                              <v-btn class="success" type="submit" :disabled="walletInfo.balance < amountCrypto">{{$translate('wallet.btn.1')}}</v-btn>
                            </div>
                        </div>

                        <v-alert class="error" :value="typeof formSuccess === 'string'">
                          <b>{{$translate('error.3')}}</b><br>
                          {{ formSuccess }}
                        </v-alert>

                    </v-flex>

                    <v-flex xs12 md6 class="px-3 qr-wrapper">

                        <div v-if="receive">
                            <v-btn class="blue white--text" :disabled="!(this.selectedWallet && (!this.advanced || this.amountCrypto > 0))" @click="qr = true" v-if="!qrvalue || !qrvalue.length">{{$translate('wallet.btn.2')}}</v-btn>
                            <div v-show="qr && qrvalue.length > 0">
                                <output-qrcode :value="qrvalue" class="mt-3" />
                                <div class="text-xs-center my-3">
                                    <span v-if="advanced"><b>{{$translate('label.1')}}</b>: {{ this.amountCrypto}} {{this.crypto}}<br></span>
                                    <b>{{$translate('label.22')}}</b>:<br>{{ this.selectedWallet}}
                                </div>
                            </div>
                        </div>

                        <!--
                        <div v-else-if="spend">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-btn class="blue white--text" @click="scanQR" v-if="!scanning">{{$translate('wallet.btn.3')}}</v-btn>
                                    <div class="preview-container" v-show="scanning">
                                        <b>{{$translate('wallet.text.6')}}</b><br>
                                        <video id="preview" autoplay="autoplay" class="active video-preview"></video><br>
                                        <v-btn class="error" @click="stopScanQR" v-if="scanning">{{$translate('wallet.btn.4')}}</v-btn>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </div>
                        !-->

                    </v-flex>
                </v-layout>
            </form>
        </v-card>

    </v-container>
</template>

<script>
    function floor(n) {
        return Math.floor(n * 100000000) / 100000000;
    }

    function nanZero(n) {
        return isNaN(Number(n)) ? 0 : Number(n);
    }

    /*

      todo:

      - Contacts (social) select wallet
      - Select your own wallet as destination
      - Show fee amount btc & usd & expected time

    */
    export default {
        props: {
            receive: {
                type: Boolean,
                default: false,
            },
            spend: {
                type: Boolean,
                default: false,
            },
            defaultWallet: {
                required: false,
                type: Object,
                default () {
                    return {};
                },
            },
        },

        data() {
            return {
                lastChanged: 'CRYPTO',
                amountCrypto: 0,
                amountFiat: 0,
                advanced: false,
                qr: false,
                scanner: false,
                scanning: false,
                isScanned: false,
                loading: true,
                formSuccess: null,
                prefixQR: {
                  BTC: 'bitcoin:',
                },
                suffixQR: {
                  default: 'amount={@amount}',
                },
                selectedWallet: this.defaultWallet.address || null, // Spend = Source ; Receive = Destination
                externalDestination: false,
                spendingDestinationWallet: '',
                wallets: [],
                description: '',
                category: '',
                categories: [{
                    text: this.$translate('wallet.label.17'),
                    value: 'Real goods'
                }],
                txTypes: [{
                        text: this.$translate('wallet.label.18'),
                        value: 'regular'
                    },
                    {
                        text: this.$translate('wallet.label.19'),
                        value: 'fast'
                    },
                    {
                        text: this.$translate('wallet.label.20'),
                        value: 'custom'
                    },
                ],
                txTypeSelected: 'regular',
                api: 'market/list',
                items: [],
            };
        },

        beforeMount() {
            this.$onApi("market/summaries", (summaries) => {
                const items = this.items.map((market) => {
                    const summary = this.$db.getSummary('USDT-' + market.iso);
                    summary.last = summary.value = parseFloat(summary.last * parseFloat(this.$getCurrency().info.rate));
                    summary.change = (summary.last - summary.prevDay) * 100 / summary.prevDay;
                    return Object.assign(market, summary);
                });
                const oldMarket = Object.assign({}, this.market);
                this.items = items;
                this.$nextTick(() => {
                    if (this.lastChanged === 'CRYPTO') {
                        this.amountFiat = this.calculateFiat();
                    } else {
                        this.amountCrypto = this.calculateCrypto();
                    }
                });
            });
        },

        mounted() {
            if (!this.$isServer && !this.scanner) {
              this.setupScan();
            }
            this.$onApi('wallet/list', this.onWalletList);
            this.$requireApi('wallet/list', this.onWalletList);
        },

        beforeDestroy() {
            if (this.timeout) clearTimeout(this.timeout);
            this.stopScanQR();
            this.scanner = null;
        },

        watch: {
            externalDestination() {
              this.spendingDestinationWallet = null;
            },
            crypto() {
                this.qr = false;
                this.advanced = false;
            },
            amountCrypto() {
                if (this.qr) {
                    this.qr = false;
                    this.$nextTick(() => this.qr = true);
                }
            },
            selectedWallet() {
              this.amountCrypto = this.walletInfo.balance;
            },
            defaultWallet() {
                this.qr = false;
                if (this.selectedWallet !== this.defaultWallet) {
                    this.selectedWallet = this.defaultWallet.address || null;
                }
            },
            advanced(val, oldval) {
                this.qr = false;
                if (val !== oldval && this.advanced) {
                    this.amountCrypto = 1;
                    this.amountFiat = this.calculateFiat();
                }
            },
        },

        computed: {
            filteredWallets() {
              return (this.wallets || []).filter(el => el.text.indexOf(`(${(this.crypto || '').toUpperCase()})`) > -1);
            },
            walletInfo() {
              return this.wallets.find(el => el.value === this.selectedWallet) || {};
            },
            crypto() {
              return this.walletInfo.iso || 'BTC';
            },
            qrvalue() {
                if (!this.qr) return '';
                var value = `${this.prefixQR[String(this.crypto).toUpperCase()]}${this.selectedWallet}`;
                if (this.advanced) {
                    var suffix = this.suffixQR[String(this.crypto).toUpperCase()] || this.suffixQR.default;
                    suffix = suffix.split('{@amount}').join(nanZero(this.amountCrypto));
                    value += `?${suffix}`;
                    if (this.description) {
                        value += `&description=${encodeURI(this.description)}`;
                    }
                    if (this.category) {
                        value += `&category=${encodeURI(this.category)}`;
                    }
                }
                return value;
            },
            market() {
                return this.items.find(market => market.iso === this.crypto) || {};
            },
        },

        methods: {
            handleApiPrepare() {
              this.loading = true;
              this.formSuccess = null;
            },
            apiSuccess() {
              this.$nextTick(() => {
                this.loading = false;
                this.formSuccess = true;
              });
            },
            apiError($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
              this.$nextTick(() => {
                this.formSuccess = String($e.result.error);
                this.loading = false;
              });
            },
            setupScan() {
                if (this.scanner) return true;
                try {
                    if (!window.Instascan) {
                      this.$setTimeout(() => {
                        this.setupScan();
                      }, 150);
                    }
                    this.scanner = new window.Instascan.Scanner({
                        video: document.getElementById('preview')
                    });
                    this.scanner.addListener('scan', (content) => {
                        this.stopScanQR();
                        Object.keys(this.prefixQR).forEach((coin) => {
                            if (content.indexOf(this.prefixQR[coin]) > -1) {
                                this.$set(this, 'crypto', coin);
                                content = content.split(this.prefixQR[coin]).join('');
                            }
                            content = content.split('?');
                            this.spendingDestinationWallet = content[0];
                            if (content.length > 1) {
                                content[1].split('&').forEach((query) => {
                                    query = query.split('=');
                                    switch (query[0].toLowerCase()) {
                                        case 'amount':
                                            this.amountCrypto = parseFloat(query[1]);
                                            break;
                                        case 'description':
                                            this.advanced = true;
                                            this.description = decodeURI(query[1]);
                                            break;
                                        case 'category':
                                            this.advanced = true;
                                            this.category = decodeURI(query[1]);
                                            break;
                                        default:
                                            break;
                                    }
                                });
                            }
                        });
                        this.isScanned = true;
                    });
                } catch (e) {
                    this.timeout = setTimeout(() => {
                        this.setupScan();
                    }, 2000);
                }
            },

            scanQR() {
                if (this.$isServer || !this.scanner) 
                    return;
                
                this.setupScan();
                window.Instascan.Camera.getCameras().then((cameras) => {
                    if (cameras.length > 0) {
                        this.scanner.start(cameras[0]);
                        this.scanning = true;
                    } else {
                        alert('No cameras found.');
                    }
                }).catch((e) => {
                    console.error(e);
                });
            },

            stopScanQR() {
                if (this.scanner) this.scanner.stop();
                this.scanning = false;
            },

            calculateFiat(value = this.market.value) {
                return nanZero(parseFloat(floor(nanZero(this.amountCrypto) * value)).toFixed(this.$getCurrency().info.decimal_digits));
            },

            calculateCrypto(value = this.market.value) {
                return nanZero(parseFloat(floor(nanZero(this.amountFiat) / value)).toFixed(8));
            },

            changedCryptoAmount() {
                this.lastChanged = 'CRYPTO';
                this.amountFiat = this.calculateFiat();
            },

            changedFiatAmount() {
                this.lastChanged = 'FIAT';
                this.amountCrypto = this.calculateCrypto();
            },

            onWalletList(wallets) {
                this.wallets = wallets.map((wallet) => {
                    return {
                        text: `${wallet.address} (${wallet.iso})`,
                        value: String(wallet.address),
                        balance: wallet.balance,
                        iso: wallet.iso,
                    };
                });
            }
        }
    }

</script>

<style>
    .qr-wrapper {
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
    }

    .video-preview {
        transform: scaleX(-1);
        max-width: 70%;
    }

</style>
