<template>
    <v-dialog v-model="show" width=500>
        <slot slot="activator" />
        <v-card class="export-key">
            <v-card-title primary-title>
                <div class="headline">{{name}}</div>
                <v-spacer />
                <v-btn icon @click="show = false">
                    <v-icon>icon-close</v-icon>
                </v-btn>
            </v-card-title>

            <v-card-text>
              {{$translate('wallet.text.7')}}
            </v-card-text>
            <v-card-text class="public-address">
                <div>{{address}}</div>
            </v-card-text>

            <v-card-text>
                {{$translate('wallet.text.8')}}
            </v-card-text>
            <v-card-text class="private-key">
                <form method="post" action="wallet/export-key" @apiSuccess="showKey" v-if="!key">
                    <input type="hidden" name="iso" :value="iso" />
                    <input type="hidden" name="address" :value="address" />
                    <v-btn color="red white--text" type="submit">{{$translate('wallet.btn.5')}}</v-btn>
                </form>
                <div v-else style="word-break: break-all">{{key}}</div>
            </v-card-text><br>
        </v-card>
    </v-dialog>
</template>

<script>

    export default {
        props: {
            iso:     String,
            name:    String,
            address: String
        },
        
        data() {
            return {
                show: false,
                key: null
            }
        },
        
        watch: {
            show(val, oldVal) {
                if(val && !oldVal) {
                    this.key = null;
                }
            }
        },

        methods: {
            $show() {
                this.show = true;
            },

            showKey($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.key = $e.result.result === null ? this.$translate('wallet.text.9') : $e.result.private;
            }
        }
    }

</script>

<style lang="scss">

    .export-key .public-address, .export-key .private-key {
        display: flex;
        justify-content: center;

        > div {
            background: #ddd;
            padding: 7px 12px;
            border-radius: 9px;
            font-weight: bold;
        }
    }

    .export-key .private-key > div {
        background: #e74c3c;
        color: #fff;
    }

</style>