<template>
    <wallets-list v-if="!marketIso || parseInt(selectedTab) === 0" @show="walletNav($event)" />
    <wallet-overview v-else-if="marketIso && parseInt(selectedTab) === 1" :iso="marketIso" />
    <wallet-spend v-else-if="marketIso && parseInt(selectedTab) === 2" :defaultIso="marketIso" />
    <wallet-receive v-else-if="marketIso" :defaultIso="marketIso" />
</template>

<script>
    import depositMixin from './deposit-mixin.js';

    export default {

        mixins: [
            Vue.selectTabsMixin.default(1),
            depositMixin,
        ],

        tabs: {
            list: 'wallet.tabs.1',
            transactions: 'wallet.tabs.2',
            'send-assets': 'wallet.tabs.3',
            'receive-assets': 'wallet.tabs.4'
        },

        props: {
            marketIso: {
                type: String,
                default () {
                    return null;
                },
            }
        },

        data() {
            return {
                dialogType: null,
                showDialog: false,
            }
        },

        metaInfo() {
            return {
                title: `bit4you - ${this.marketIso} wallet`,
            };
        },
    }
</script>


<style>
    .wallet-tx-type {
        padding: 10px 20px !important;
        text-align: center;
    }

    .wallet-tx-type div i {
        line-height: 32px;
        font-size: 18px;
    }

    .wallet-tx-type h2 {
        font-size: 18px;
        padding: 10px 0 0 0;
    }

</style>
