<template>
    <v-container fluid>
        <v-layout row pb-4 pt-3>
            <v-flex xs8 offset-xs2>
                <v-card class="wallets-item">
                    <v-card-title primary-title style="padding-bottom: 0;">
                        <v-avatar>
                            <img :src="`/img/markets/${iso}.png`" :alt="assetName" :title="assetName">
                        </v-avatar>
                        <div style="padding-left: 15px;">
                            <div class="headline">{{assetName}}</div>
                            <span class="grey--text">{{iso}}</span>
                        </div>
                        <v-spacer />
                        <!--<wallet-export-key :name="assetName" :address="address" :iso="iso" ref="$exportKey">
                            <v-btn icon>
                                <v-icon>icon-info</v-icon>
                            </v-btn>
                        </wallet-export-key>!-->
                        <v-menu offset-y>
                            <v-btn icon slot="activator">
                                <v-icon>icon-more-dots</v-icon>
                            </v-btn>
                            <v-list>
                                <v-list-tile :to="`/market/${market}`" v-if="iso !== 'USDT'">
                                    <v-list-tile-title>{{$translate('wallets.label.10')}}</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile :to="`/wallet/send-assets/${iso}`">
                                    <v-list-tile-title>{{$translate('wallets.label.11')}}</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile :to="`/wallet/receive-assets/${iso}`">
                                    <v-list-tile-title>{{$translate('wallets.label.12')}}</v-list-tile-title>
                                </v-list-tile>
                                <!--<v-list-tile @click="$refs.$exportKey.$show();">
                                    <v-list-tile-title>{{$translate('wallets.label.13')}}</v-list-tile-title>
                                </v-list-tile>!-->
                            </v-list>
                        </v-menu>
                    </v-card-title>
                    <v-card-text class="w-balance">
                        <div>
                            <h3 class="headline mb-0">{{toFixed(balance + coldBalance + exchangeBalance)}} {{iso}}</h3>
                            <div>{{ ((balance + coldBalance + exchangeBalance) * rate) | currencyWithSymbol(iso) }} <small>(Current value)</small></div>
                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn flat :to="`/wallet/receive-assets/${iso}`" v-if="iso === 'BTC'">{{$translate('wallets.label.12')}}</v-btn>
                        <v-btn flat :to="`/wallet/send-assets/${iso}`" v-if="couldBeWithdrawn">{{$translate('wallets.label.11')}}</v-btn>
                        <v-spacer />
                        <v-btn flat color="green darken-2" :to="iso === 'USDT' ? '/add-funds' : '/market/' + market">{{$translate('label.15')}} {{assetName}}s</v-btn>
                        <v-btn flat color="red darken-2" :to="iso === 'USDT' ? '/add-funds/sell' : '/portfolio'">{{$translate('label.19')}} {{assetName}}s</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>

        <!--<v-layout row pb-4>
            <v-flex xs8 offset-xs2>
                <v-card class="wallet-storages">
                    <v-list>
                        <v-list-group no-action >
                            <v-list-tile slot="activator" avatar>
                                <v-list-tile-avatar>
                                    <v-icon class="green white--text" style="line-height: 40px;">icon-home</v-icon>
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{$translate('wallet.label.21')}}</v-list-tile-title>
                                    <v-list-tile-sub-title v-if="!balanceError">{{toFixed(balance)}} {{iso}} <small>({{balance * rate | currencyWithSymbol(iso)}})</small></v-list-tile-sub-title>
                                    <v-list-tile-sub-title v-else style="color: red">{{balanceError}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <div class="v-list-tile-text">
                                <v-list-tile-title>{{$translate('wallet.text.10')}}</v-list-tile-title>
                                <v-list-tile-sub-title>{{$translate('wallet.text.11')}}</v-list-tile-sub-title>
                            </div>
                        </v-list-group>
                        <v-divider />

                        <v-list-group no-action >
                            <v-list-tile slot="activator" avatar>
                                <v-list-tile-avatar>
                                    <v-icon class="red white--text" style="line-height: 40px;">icon-lock</v-icon>
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{$translate('wallet.label.22')}}</v-list-tile-title>
                                    <v-list-tile-sub-title v-if="!coldError">{{toFixed(coldBalance)}} {{iso}} <small>({{coldBalance * rate | currencyWithSymbol(iso)}})</small></v-list-tile-sub-title>
                                    <v-list-tile-sub-title v-else style="color: red">{{coldError}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{$translate('wallet.text.12')}}:</v-list-tile-title>
                                    <v-list-tile-sub-title><a :href="addrExplorer(coldstorage)" target="_blank">{{coldstorage}}</a></v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <div class="v-list-tile-text">
                                <v-list-tile-title>{{$translate('wallet.text.13')}}</v-list-tile-title>
                                <v-list-tile-sub-title>{{$translate('wallet.text.14')}}</v-list-tile-sub-title>
                                <v-tabs color="blue" dark slider-color="white" centered v-model="coldtab">
                                    <v-tab ripple>
                                        {{$translate('wallet.label.23')}}
                                    </v-tab>
                                    <v-tab ripple>
                                        {{$translate('wallet.label.24')}}
                                    </v-tab>
                                </v-tabs>
                                <v-layout>
                                    <v-flex xs6 offset-xs3>
                                        <v-text-field :hint="`${$translate('wallet.label.27')} ${toFixed(coldBalance)} ${iso} ${($translate('page.text.1')).toLowerCase()}`" :label="`${$translate(coldtab == 0 ? 'wallet.label.25' : 'wallet.label.26')} ${iso}`" :suffix="iso" />
                                        <v-text-field :label="`${$translate(coldtab == 0 ? 'wallet.label.25' : 'wallet.label.26')} ${$getCurrency().info.name}`" :suffix="$getCurrency().name" />
                                        <v-btn color="blue white--text">{{$translate(coldtab == 0 ? 'wallet.label.23' : 'wallet.label.24')}}</v-btn>
                                    </v-flex>
                                </v-layout>
                                <v-list-tile-title><b style="color: red">{{$translate('error.4')}}</b></v-list-tile-title>
                            </div>                            
                        </v-list-group>
                        <v-divider />

                        <v-list-group no-action>
                            <v-list-tile slot="activator" avatar>
                                <v-list-tile-avatar>
                                    <v-icon class="blue white--text" style="line-height: 40px;">icon-exchange</v-icon>
                                </v-list-tile-avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{$translate('wallet.label.28')}}</v-list-tile-title>
                                    <v-list-tile-sub-title>{{toFixed(exchangeBalance)}} {{iso}} <small>({{exchangeBalance * rate | currencyWithSymbol(iso)}})</small></v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>

                            <div class="v-list-tile-text">
                                <v-list-tile-title>{{$translate('wallet.text.15')}}</v-list-tile-title>
                                <v-list-tile-sub-title>{{$translate('wallet.text.16')}}</v-list-tile-sub-title>
                                <v-tabs color="blue" dark slider-color="white" centered v-model="exchangeTab">
                                    <v-tab ripple>
                                        {{$translate('wallet.label.23')}}
                                    </v-tab>
                                    <v-tab ripple>
                                        {{$translate('wallet.label.24')}}
                                    </v-tab>
                                </v-tabs>
                                <v-layout>
                                    <v-flex xs6 offset-xs3>
                                        <v-text-field :hint="`${$translate('wallet.label.27')} ${toFixed(exchangeBalance)} ${iso} ${($translate('page.text.1')).toLowerCase()}`" :label="$translate(exchangeTab == 0 ? 'wallet.label.25' : 'wallet.label.26')" :suffix="iso" />
                                        <v-text-field :label="`${$translate(coldtab == 0 ? 'wallet.label.25' : 'wallet.label.26')} ${$getCurrency().info.name}`" :suffix="$getCurrency().name" />
                                        <v-btn color="blue white--text">{{$translate(exchangeTab == 0 ? 'wallet.label.23' : 'wallet.label.24')}}</v-btn>
                                    </v-flex>
                                </v-layout>
                            </div>
                        </v-list-group>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>!-->

        <v-layout row pb-2>
            <v-flex xs8 offset-xs2>
                <wallet-tx-table :iso="iso" :rate="rate" :coldstorage="coldstorage" />
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import assets from '@config/crypto-assets.json';
    
    export default {
        props: {
            iso: String
        },
        data() {
            return {
                api:            'wallet/transactions',
                api_data:       { iso: this.iso },
                balance:        0,
                balanceError:   null,
                lastUpdate:     null,
                rate:           0,
                coldstorage:    '/',
                coldBalance:    0,
                coldError:      null,
                coldtab:        0,
                exchangeBalance: 0,
                exchangeTab:     0
            }
        },

        computed: {
            assetName() {
                return (assets.find((o) => o.iso === this.iso) || {}).name || this.iso;
            },
            couldBeWithdrawn() {
                return [ 'BTC', 'BCH', 'DAN', 'ETH', 'LTC', 'USDT' ].indexOf(this.iso) !== -1
            },
            market() {
                if(this.$db.getMarket('USDT-' + this.iso))
                    return 'USDT-' + this.iso;
                else if(this.$db.getMarket('BTC-' + this.iso))
                    return 'BTC-' + this.iso;

                return 'ETH-' + this.iso;
            }
        },

        mounted() {
            //--------------------------------
            //Listen rates (15s interval)

            if((this.iso || '').toLowerCase() === 'usdt')
                this.rate = 1;
            else
                this.rate = this.$db.getSummary('USDT-' + this.iso).last;

            this.$requireApi('market/summaries', (res) => {
                if(this.lastUpdate === 0 || this.lastUpdate < Date.now() - (15 * 60 * 1000)) {
                    this.lastUpdate = Date.now();
                    this.rate = this.$db.getUsdtRate(this.iso);
                }
            });
        },

        watch: {
            iso() {
                this.lastUpdate = null;
                this.rate = null;
                if((this.iso || '').toLowerCase() === 'usdt')
                    this.rate = 1;
            }
        },

        methods: {
            toFixed(n) {
                return (n || 0).toFixed(Math.min(8, this.$insight ? this.$insight.digits : 8)).replace(/\.0+$/,'')
            }
        }
    }

</script>

<style>
    
    .wallet-storages .v-list .v-list__group--active:before,.wallet-storages .v-list .v-list__group--active:after {
        background: transparent;
    }

    .wallet-storages hr.v-divider {
        margin-top: 10px;
    }
    
    .v-list-tile-text {
        padding-left: 72px;
        padding-right: 15px;
    }
    
    .v-list-tile-text .v-list__tile__sub-title {
         white-space: normal;
    }
    
    .v-list-tile-text > .v-tabs {
        padding-top: 20px;
        margin-bottom: 10px;
    }

</style>