<template>
    <nothing-to-display-view notVerified>
        <v-container style="padding: 10px" grid-list-lg v-if="$api.isSimulation">
            <v-layout>
                <v-flex xs12>
                    <mode-card :forceReal="true" :cancelable="false" @close="dialog = false" />
                </v-flex>
            </v-layout>
        </v-container>
        <v-container fluid grid-list-lg v-else>
            <v-layout row>
                <v-flex xs3>
                     <a v-for="(item, index) in items" :key="''+item.address+index" @click="wallet = item" v-if="item.address">
                         <v-card class="wallets-item" style="margin-bottom: 5px" :color="wallet && item.address === wallet.address && item.iso === wallet.iso ? 'grey lighten-3' : ''">
                            <v-card-title primary-title>
                                <v-avatar>
                                    <img :src="`/img/markets/${item.iso}.png`" :alt="item.name || item.iso" :title="item.name || item.iso">
                                </v-avatar>
                                <div style="padding-left: 15px;">
                                    <div class="headline">{{item.name}}</div>
                                    <span class="grey--text">{{item.iso}}</span>
                                </div>
                            </v-card-title>
                            <v-card-text class="text-center" style="padding: 0 0 8px 0;">
                                <hr>
                                {{item.label || item.address}}
                            </v-card-text>
                        </v-card>
                    </a>
                </v-flex>
                <v-flex class="flex-wallet-receive-form">
                    <v-card v-if="error">
                        <v-card-text>
                            <v-alert :value="true" class="error">
                              {{typeof error === 'object' ? (error.error || error.err || error) : error }}
                            </v-alert>
                        </v-card-text>
                    </v-card>
                    <v-card v-else-if="wallet">
                        <v-card-title primary-title>
                            <v-avatar>
                                <img :src="`/img/markets/${wallet.iso}.png`" :alt="wallet.name || wallet.iso" :title="wallet.name || wallet.iso">
                            </v-avatar>
                            <div style="padding-left: 15px;">
                                <div class="headline">{{wallet.name}}</div>
                                <span class="grey--text">{{wallet.iso}}</span>
                            </div>
                            <v-spacer />
                            <div>{{wallet.label}}</div>
                        </v-card-title>
                        <v-card-text class="text-center">
                            <span>{{$translate('wallet.text.17')}} {{wallet.name}}'s {{$translate('wallet.text.18')}}</span>
                            <output-qrcode :value="qrAddress" class="mt-3" /><br>
                            {{ wallet.address }}
                        </v-card-text>
                        <v-card-actions style="justify-content: center;">
                            <v-btn color="blue white--text" @click="showMore = !showMore">{{$translate(showMore ? 'wallet.label.7' : 'wallet.label.16')}}</v-btn>
                        </v-card-actions>
                        <v-card-text v-if="showMore">
                            <v-layout>
                                <v-flex xs6 offset-xs3>
                                    <v-text-field :label="`${$translate('wallet.label.29')} ${wallet.name} ${($translate('label.1')).toLowerCase()}`" :hint="$translate('wallet.text.19')" v-model="assetsAmount" :suffix="wallet.iso" />
                                    <v-text-field :label="`${$translate('wallet.label.29')} ${$getCurrency().info.name} ${($translate('label.1')).toLowerCase()}`" :hint="$translate('wallet.text.19')" v-model="currencyAmount" :suffix="$getCurrency().name" />
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                    <v-card v-else>
                        <v-progress-linear indeterminate active color="blue" />
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </nothing-to-display-view>
</template>

<script>
    const configs = {
        USDT: {
            prefix: 'usdt:',
            amount: 'amount'
        },
        BTC: {
            prefix: 'bitcoin:',
            amount: 'amount'
        },
        BCH: {
            prefix: 'bitcoincash:',
            amount: 'amount'
        },
        BTG: {
            prefix: 'bitcoingold:',
            amount: 'amount'
        },
        ETH: { // ethereum:<address>[?value=<value>][?gas=<suggestedGas>][?data=<bytecode>]
            prefix: 'ethereum:',
            amount: 'value'
        },
        ETC: {
            prefix: 'ethereumclassic:',
            amount: 'value'
        },
        ZEC: {
            prefix: 'zcash:',
            amount: 'amount'
        },
        DASH: {
            prefix: 'dash:',
            amount: 'amount'
        },
        TRX: {
            prefix: '',
            amount: 'value'
        },
        OMG: {
            prefix: '',
            amount: 'value'
        },
        LTC: {
            prefix: 'litecoin:',
            amount: 'amount'
        },
    };
    
    export default {
        props: {
            defaultAddress: String,
            defaultIso:     String
        },
        data() {
            return {
                api:        'wallet/balances',
                items:      null,
                wallet:     null,
                error:      null,
                showMore:   false,
                currencyAmount: '', //USD, EURO, ..
                assetsAmount:   '', //BTC, ETH, ..
                updateDirection: -1 //used for amount recalculations
            }
        },
        computed: {
            qrAddress() {
                if(!this.wallet)
                    return '';

                const { iso, address } = this.wallet;
                const config = configs[iso];
                if(!config)
                    return address;

                var qr = (config.prefix || '') + address;
                const query = {};
                
                if(this.assetsAmount && config.amount)
                    query[config.amount] = this.assetsAmount

                if(Object.keys(query).length > 0)
                    qr += '?' + Object.keys(query).map((o) => o + '=' + query[o]).join('&');

                return qr;
            }
        },
        watch: {
            items() {
                if(this.wallet === null) {
                    this.wallet = this.items.filter((o) => o.address)[0] || null;
                }
            },
            wallet() {
                if(this.$api.isServer || this.$api.isSimulation || !this.$el.querySelector('.flex-wallet-receive-form'))
                    return;

                this.currencyAmount = '';
                let element = this.$el.querySelector('.flex-wallet-receive-form');
                if (Array.isArray(element) && element.length) element = element[0];
                element = element.$el || element;
                const offset = element.scrollTop - 200;
                var body = document.body; // Safari
                var html = document.documentElement; // Chrome, Firefox, IE and Opera places the overflow at the <html> level, unless else is specified. Therefore, we use the documentElement property for these browsers
                body.scrollTop = offset;
                html.scrollTop = offset;
            },
            currencyAmount(val, oldVal) {
                if(val === oldVal || !this.wallet || this.updateDirection === 1) {
                    this.updateDirection = -1;
                    return;
                }

                if(val === '') {
                    this.assetsAmount = '';
                    return;
                }

                //ToDo check input max digits

                //recalculate assets
                const rate = this.wallet.iso === 'USDT' ? 1 : this.$db.getSummary('USDT-' + this.wallet.iso).last;

                //ToDo Digits check
                const pow = Math.pow(10, 8);
                this.updateDirection = 0;
                this.assetsAmount = Math.round((val * pow / rate) / this.$convertRate(1)) / pow;
            },
            assetsAmount(val, oldVal) {
                if(val === oldVal || !this.wallet || this.updateDirection === 0) {
                    this.updateDirection = -1;
                    return;
                }

                if(val === '') {
                    this.currencyAmount = '';
                    return;
                }

                //ToDo check input max digits
                
                //recalculate currency
                const rate = this.wallet.iso === 'USDT' ? 1 : this.$db.getSummary('USDT-' + this.wallet.iso).last;
                this.updateDirection = 1;
                const currency = this.$getCurrency();
                const pow = Math.pow(10, currency.info.decimal_digits || 2)
                this.currencyAmount = Math.round(this.$convertRate(val * rate) * pow) / pow;
            }
        },
        methods: {
            $onApiError(err) {
                this.error = err;
            }
        },
        metaInfo() {
            return {
                script: [{
                    src: '/lib/qrcode.min.js'
                }],
            };
        },
    }
</script>
