<template>
    <nothing-to-display-view notVerified>
        <v-container style="padding: 10px" grid-list-lg v-if="$api.isSimulation">
            <v-layout>
                <v-flex xs12>
                    <mode-card :forceReal="true" :cancelable="false" @close="dialog = false" />
                </v-flex>
            </v-layout>
        </v-container>
        <v-container fluid grid-list-lg v-else>
            <v-layout row>
                <v-flex xs3>
                     <a v-for="(item, index) in items" :key="''+item.address+index" @click="wallet = item" v-if="item.address || ['BCH', 'ETH', 'LTC', 'DAN', 'USDT'].indexOf(item.iso) !== -1">
                         <v-card class="wallets-item" style="margin-bottom: 5px" :color="wallet && item.address === wallet.address && item.iso === wallet.iso ? 'grey lighten-3' : ''">
                            <v-card-title primary-title>
                                <v-avatar>
                                    <img :src="`/img/markets/${item.iso}.png`" :alt="item.name || item.iso" :title="item.name || item.iso">
                                </v-avatar>
                                <div style="padding-left: 15px;">
                                    <div class="headline">{{item.name}}</div>
                                    <span class="grey--text">{{item.iso}}</span>
                                </div>
                            </v-card-title>
                            <v-card-text class="text-center" style="padding: 0 0 8px 0;">
                                <hr>
                                {{item.label || item.address}}
                            </v-card-text>
                        </v-card>
                    </a>
                </v-flex>
                <v-flex class="flex-wallet-receive-form">
                    <v-card v-if="error">
                        <v-card-text>
                            <v-alert :value="true" class="error">
                              {{typeof error === 'object' ? (error.error || error.err || error) : error }}
                            </v-alert>
                        </v-card-text>
                    </v-card>
                    <v-card v-else-if="wallet">
                        <v-card-title primary-title>
                            <v-avatar>
                                <img :src="`/img/markets/${wallet.iso}.png`" :alt="wallet.name || wallet.iso" :title="wallet.name || wallet.iso">
                            </v-avatar>
                            <div style="padding-left: 15px;">
                                <div class="headline">{{wallet.name}}</div>
                                <span class="grey--text">{{wallet.iso}}</span>
                            </div>
                            <v-spacer />
                            <div style="text-align: right">
                                <div class="headline">{{(toFixed(wallet.balance))}} {{wallet.iso}}</div>
                                <span class="grey--text">{{ (wallet.balance * rate) | currencyWithSymbol(wallet.iso) }}</span>
                            </div>
                        </v-card-title>
                        <v-card-text class="text-center">
                            <h2>{{ $translate('spend.text.1', { currency: wallet.name }) }}</h2>
                            <h3>{{ $translate('spend.text.2') }}</h3>
                        </v-card-text>
                        <v-card-text>
                            <v-layout>
                                <v-flex xs6 offset-xs3 v-if="success" class="text-center">
                                    <v-icon size=100 color="green">icon-check</v-icon>
                                    <h3>{{$translate('spend.text.3')}}:</h3>
                                    <h4>{{destAddress}}</h4>
                                    <h5>{{last.asset}} {{wallet.iso}} ({{$getCurrency().symbol}} {{last.amount | formatPercentage}})</h5>
                                    <v-btn color="green white--text" @click="goBack">{{$translate('btn.1')}}</v-btn>
                                </v-flex>
                                <v-flex xs6 offset-xs3 v-show="!sending" v-else>
                                    <v-alert class="error" :value="sendError">{{sendError}}</v-alert>

                                    <!--<v-tabs>
                                        <v-tab ripple>External Wallet</v-tab>
                                        <v-tab ripple>Personnal Wallet</v-tab>
                                        <v-tab-item>!-->
                                            <v-text-field :label="`${wallet.name} ${$translate('label.22')}`" v-model="destAddress" />
                                        <!--</v-tab-item>
                                        <v-tab-item>
                                            select list, containign all wallets (currency name & logo, address)
                                        </v-tab-item>
                                    </v-tabs>!-->

                                    <!--<v-select v-model="txTypeSelected" :label="$translate('wallet.label.14')" :items="txTypes" name="fee_type" />!-->
                                    <v-text-field v-if="txTypeSelected === 'custom'" :label="$translate('wallet.label.15')" :suffix="wallet.iso" name="custom_fee" v-model="customFee" />

                                    <v-text-field :label="`${$translate('label.24')} ${wallet.name} ${($translate('label.1')).toLowerCase()}`" v-model="assetsAmount" :suffix="wallet.iso" />
                                    <v-text-field :label="`${$translate('label.24')} ${$getCurrency().info.name} ${($translate('label.1')).toLowerCase()}`" v-model="currencyAmount" :suffix="$getCurrency().name" />

                                    <v-btn color="blue white--text" @click="send">{{ $translate('label.24') }}</v-btn>
                                </v-flex>
                                <v-flex xs6 offset-xs3 v-if="sending">
                                    {{$translate('wallet.text.20')}}...
                                    <v-progress-linear :indeterminate="true" color="blue" />
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                    <v-card v-else>
                        <v-progress-linear indeterminate active color="blue" />
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </nothing-to-display-view>
</template>

<script>

    export default {
        props: {
            defaultAddress: String,
            defaultIso:     String
        },
        data() {
            return {
                api:        'wallet/balances',
                sending:    false,
                sendError:  null,
                items:      null,
                wallet:     null,
                error:      null,
                rate:       0,
                lastRateUpdate: 0,
                success:    false,
                last: {
                    amount: 0,
                    asset: 0,
                },

                destAddress: '',
                customFee:  0,
                txTypeSelected: 'regular',
                txTypes: [{
                        text: this.$translate('Regular'),
                        value: 'regular'
                    },
                    {
                        text: this.$translate('Fast'),
                        value: 'fast'
                    },
                    {
                        text: this.$translate('Custom'),
                        value: 'custom'
                    },
                ],

                currencyAmount: '', //USD, EURO, ..
                assetsAmount:   '', //BTC, ETH, ..
                updateDirection: -1 //used for amount recalculations
            }
        },
        watch: {
            items() {
                if(this.wallet === null) {
                    this.$nextTick(() => {
                        this.wallet = this.items.find((o) => o.address) || null;
                    });
                } else {
                    this.wallet = this.items.find((o) => o.address === this.wallet.address && o.iso === this.wallet.iso) || this.wallet;
                }
            },
            wallet(wallet) {
                if(this.$api.isServer)
                    return;

                this.sendError = null;
                this.rate = wallet.iso === 'USDT' ? 1 : this.$db.getUsdtRate(wallet.iso);
                this.currencyAmount = '';
                this.error = null;

                if(!this.$el.querySelector('.flex-wallet-receive-form'))
                    return;

                let element = this.$el.querySelector('.flex-wallet-receive-form');
                if (Array.isArray(element) && element.length) element = element[0];
                element = element.$el || element;
                const offset = element.scrollTop - 200;
                var body = document.body; // Safari
                var html = document.documentElement; // Chrome, Firefox, IE and Opera places the overflow at the <html> level, unless else is specified. Therefore, we use the documentElement property for these browsers
                body.scrollTop = offset;
                html.scrollTop = offset;

            },
            currencyAmount(val, oldVal) {
                if(val === oldVal || !this.wallet || this.updateDirection === 1) {
                    this.updateDirection = -1;
                    return;
                }

                if(val === '') {
                    this.assetsAmount = '';
                    return;
                }

                //ToDo check input max digits
                
                //recalculate assets
                const rate = this.wallet.iso === 'USDT' ? 1 : this.$db.getUsdtRate(this.wallet.iso);

                //ToDo Digits check
                const pow = Math.pow(10, 8);
                this.updateDirection = 0;
                this.sendError = null;
                this.assetsAmount = Math.round((val * pow / rate) / this.$convertRate(1)) / pow;
            },
            assetsAmount(val, oldVal) {
                if(val === oldVal || !this.wallet || this.updateDirection === 0) {
                    this.updateDirection = -1;
                    return;
                }

                if(val === '') {
                    this.currencyAmount = '';
                    return;
                }

                //ToDo check input max digits

                //recalculate currency
                const rate = this.wallet.iso === 'USDT' ? 1 : this.$db.getUsdtRate(this.wallet.iso);
                this.updateDirection = 1;
                this.sendError = null;
                const currency = this.$getCurrency();
                const pow = Math.pow(10, currency.info.decimal_digits || 2)
                this.currencyAmount = Math.round(this.$convertRate(val * rate) * pow) / pow;
            }
        },
        mounted() {
            this.$onApi('market/summaries', (res) => {
                if(this.wallet && (this.lastRateUpdate === 0 || this.lastRateUpdate < Date.now() - (15 * 60 * 1000))) {
                    this.lastRateUpdate = Date.now();
                    this.rate = this.$db.getUsdtRate(this.wallet.iso);
                }
            });
        },
        methods: {
            $onApiError(err) {
                this.error = err;
            },

            toFixed(n) {
                return (n || 0).toFixed(Math.min(8, this.$insight ? this.$insight.digits : 8)).replace(/\.0+$/,'')
            },

            goBack() {
                this.destAddress = '';
                this.currencyAmount = 0;
                this.success = false;
                this.sendError = null;
                this.sending = false;
            },

            send() {
                if(this.assetsAmount === '' || this.assetsAmount < 0.00000001 || this.assetsAmount > 100000000) {
                    this.sendError = this.$translate('wallet.error.1');
                    return;
                } else if(this.txTypeSelected === 'custom' && (this.customFee === '' || this.customFee < 0.0000001 || this.customFee > 100000000)) {
                    this.sendError = this.$translate('wallet.error.2');
                    return;
                } else if(this.destAddress === this.wallet.address) {
                    //this.sendError = this.$translate('wallet.error.3');
                    //return;
                }

                this.sendError = null;
                this.sending   = true;

                this.$api.post('wallet/send', {
                    fee:         this.txTypeSelected,
                    address:     this.destAddress,
                    quantity:    Math.round(parseFloat(this.assetsAmount) * 100000000),
                    iso:         this.wallet.iso
                }).then((res) => {
                    this.last = {
                        asset: this.assetsAmount,
                        amount: this.currencyAmount,
                    }
                    
                    this.sending = false;
                    this.success = true;
                }).catch((err) => {
                    this.sendError = err.error || err.message || err;
                    this.sending = false;
                    this.success = false;
                });
            }
        }
    }
</script>
