<template>
    <v-card class="card--flex-toolbar">
        <v-toolbar card prominent color="blue white--text">
            <v-toolbar-title class="body-2">{{$translate('wallet.tabs.2')}}</v-toolbar-title>
            <v-spacer />

            <!--<v-btn icon>
                <v-icon>icon-search</v-icon>
            </v-btn>!-->
            <v-btn icon @click="generateCSV" color="white">
                <v-icon>icon-download</v-icon>
            </v-btn>
        </v-toolbar>
        <v-divider />

        <v-card-text style="min-height: 200px; display: flex; align-items: center; justify-content: center; color: red" v-if="error">
            <h3 class="headline mb-0">{{error}}</h3>
        </v-card-text>
        <v-card-text style="min-height: 200px; display: flex; align-items: center; justify-content: center" v-else-if="txs.length === 0 && !loading">
            <h3 class="headline mb-0">{{$translate('wallet.error.4')}}</h3>
        </v-card-text>
        <v-list two-line v-else>
            <v-list-group v-for="(tx, index) in txs" :key="''+index+tx.txid" append-icon="icon-info">
                <v-list-tile avatar slot="activator">
                    <v-list-tile-avatar>
                        <v-icon :color="txConfig(tx).color">{{txConfig(tx).icon}}</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>{{txConfig(tx).label}}</v-list-tile-title>
                        <v-list-tile-sub-title>{{tx.time | formatDateTime}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-content>
                        <v-list-tile-title style="text-align: right">{{toFixed(tx.quantity)}} {{iso}}</v-list-tile-title>
                        <!--<v-list-tile-sub-title style="text-align: right" v-if="tx.meta && tx.meta.paid_currency">{{tx.meta.paid_value | currencyWithSymbol(iso, tx.meta.paid_currency)}}</v-list-tile-sub-title>!-->
                        <v-list-tile-sub-title style="text-align: right" v-if="txConfig(tx).label2">{{txConfig(tx).label2}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>{{$translate('wallet.label.31')}}</v-list-tile-title>
                        <v-list-tile-sub-title v-if="tx.type === 'blockchain' && tx.txid.indexOf('-') === -1"><a :href="url(`tx/${tx.txid}`)" target="_blank">{{tx.txid}}</a></v-list-tile-sub-title>
                        <v-list-tile-sub-title v-else>{{tx.txid || '/'}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="tx.meta && tx.meta.address">
                    <v-list-tile-content>
                        <v-list-tile-title>{{$translate('label.22')}}</v-list-tile-title>
                        <v-list-tile-sub-title><a :href="url(`address/${tx.meta.address}`)" target="_blank">{{tx.meta.address}}</a></v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="tx.block !== null">
                    <v-list-tile-content>
                        <v-list-tile-title>{{$translate('wallet.label.32')}}</v-list-tile-title>
                        <v-list-tile-sub-title><a :href="url(`block/${tx.block}`)" target="_blank">{{tx.block}}</a></v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="tx.fee !== null">
                    <v-list-tile-content>
                        <v-list-tile-title>{{$translate('wallet.label.33')}}</v-list-tile-title>
                        <v-list-tile-sub-title v-if="tx.meta && tx.meta.fee_asset">{{tx.meta.fee_asset}} {{tx.fee}}</v-list-tile-sub-title>
                        <v-list-tile-sub-title v-else-if="tx.meta && tx.meta.paid_currency">{{ `${$getCurrency(tx.meta.paid_currency).symbol || '$'} ${Number(tx.fee).toFixed(2)}` }}</v-list-tile-sub-title>
                        <v-list-tile-sub-title v-else>{{tx.fee || 0}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="tx.confirmations !== null">
                    <v-list-tile-content>
                        <v-list-tile-title>{{$translate('wallet.label.34')}}</v-list-tile-title>
                        <v-list-tile-sub-title>{{tx.confirmations}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list-group>

            <v-progress-linear :indeterminate="true" v-if="loading" color="blue" />
        </v-list>
    </v-card>
</template>

<script>
    //ToDo listen for live updates

    import { insight as Insight } from '@config/server';

    export default {
        props: {
            iso:     String,
            address: String,
            rate:    Number,
            coldstorage: String
        },

        data() {
            return {
                pages:  0,
                actualPage: 0,
                txs:    [],
                error:  null,
                loading: false
            }
        },
        
        watch: {
            address() {
                this.reset();
            },
            iso() {
                this.reset();
            },
            txs() {
                this.loading = false;
            }
        },
      
        beforeMount() {
            this.onScroll = this.onScroll.bind(this);
        },
        
        mounted() {
            window.addEventListener('scroll', this.onScroll);
            this.loadTransactions();

            this.$onApi('mode-switch', (res) => {
                this.reset();
            });
        },

        destroyed: function () {
            window.removeEventListener('scroll', this.onScroll);
        },
        
        methods: {
            txConfig(tx) {
                const res = {
                    color: (tx.quantity < 0) ? 'red' : 'green',
                    icon:  'icon-send',
                    label: (tx.quantity > 0) ? 'tx.type1' : 'tx.type2',
                };

                if(['fiat'].indexOf(tx.type) !== -1) {
                    res.icon = 'icon-card';
                    res.label = (tx.quantity < 0 ? 'tx.type4' : 'tx.type5');

                    if(tx.meta.method === 'internal' && tx.meta.paid_value === 0) {
                        res.icon = 'icon-gift';
                        res.label = 'tx.type3';
                    }
                } else if(tx.type === 'SEPA') {
                    tx.meta.method = 'SEPA';
                    if(tx.quantity < 0) {
                        res.label = 'tx.type4';
                    } else {
                        res.label = 'tx.type5';
                    }

                    res.icon = 'icon-add-funds';
                } else if(tx.type === 'internal') {
                    res.label = 'tx.type6';
                    res.icon = 'icon-gift';
                } else if(tx.type === 'order') {
                    res.label = ((tx.quantity < 0 && tx.meta.paid_asset !== tx.meta.market) || (tx.quantity > 0 && tx.meta.paid_asset === tx.meta.market) ? 'tx.type9' : 'tx.type10');
                    res.icon = 'icon-exchange';

                    if(tx.meta.paid_value)
                        res.label2 = tx.meta.paid_asset + ' ' + tx.meta.paid_value;
                } else if(tx.type === 'fork') {
                    res.label = 'tx.type7';
                    res.icon = 'icon-split';
                } else if(tx.type === 'referral') {
                    res.label = 'tx.type8';
                    res.icon = 'icon-network';
                }

                res.label = this.$translate(res.label, {
                    amount:     tx.meta.paid_value ? tx.meta.paid_value.toFixed(2) : '0',
                    negativeAmount: tx.meta.paid_value ? (tx.meta.paid_value * -1).toFixed(2) : 0,
                    quantity:   tx.quantity.toFixed(2),
                    method:     tx.meta.method,
                    iso:        this.iso,
                    market:     tx.meta.market,
                });

                if(tx.meta && tx.meta.pending) {
                    res.color = 'orange';
                    res.label = this.$translate('tx.type11') + ': ' + res.label;
                }

                return res;
            },

            loadTransactions(page = 0) {
                this.loading  = true;
                this.$api.post('wallet/transactions', { page: page, iso: this.iso }).then((res) => {
                    this.pages = res.pages;
                    this.txs   = this.txs.concat(res.txs).filter(function(value, index, self) { 
                        return self.findIndex((v) => v.txid === value.txid) === index;
                    }).sort((a, b) => {
                        if(a.time === b.time)
                            return 0;
                        return a.time < b.time ? 1 : -1
                    });
                }).catch((err) => {
                    console.error(err);
                    this.error = err.error || err.message || err;
                }).then(() => this.loading = false)
            },

            url(path) {
                if(!Insight[this.iso].ui)
                    return '';

                return Insight[this.iso].ui + path;
            },
            
            onScroll($e) {
                if(this.loading)
                    return;

                if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 10)) {
                    if(this.actualPage + 1 > this.pages)
                        return;

                    this.actualPage = Math.min(this.actualPage + 1, this.pages);
                    this.loadTransactions( this.actualPage );
                }
            },

            reset() {
                this.actualPage = 0;
                this.error = null;
                this.pages = 0;
                this.txs = [];
                this.loadTransactions();
            },

            generateCSV() {
                const rows = [['date', 'amount', 'asset', 'fees', 'description', 'confirmations', 'txid', 'block']].concat(this.txs.map((tx) => {
                    return [
                        new Date(tx.time),
                        tx.quantity,
                        this.iso,
                        tx.fees || 0,
                        tx.label,
                        tx.confirmations,
                        tx.txid,
                        tx.block
                    ];
                }));

                let csvContent = "data:text/csv;charset=utf-8,";
                rows.forEach(function(rowArray){
                   let row = rowArray.join(",");
                   csvContent += row + "\r\n";
                }); 

                var encodedUri = encodeURI(csvContent);
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", this.address + '-' + this.iso + '.csv');
                link.innerHTML= this.address + '-' + this.iso + '.csv';
                document.body.appendChild(link); // Required for FF

                link.click();
                link.style.display = 'none';

                setTimeout(() => {
                    link.parentNode.removeChild(link);
                }, 30000);
            },

            toFixed(n) {
                return (n || 0).toFixed(Math.min(8, this.$insight ? this.$insight.digits : 8)).replace(/\.0+$/,'')
            }
        }
    }

</script>
