<template>
    <v-container>
        <v-text-field solo :label="(search && search.length > 0)
            ? $translate('placeholder.marketsearch')
            : $translate('placeholder.marketsearch2', { market: [$translate('markets.tabs.2'), 'USDT', 'BTC', 'ETH'][parseInt(selectedTab)] })
          " prepend-inner-icon="icon-search" clearable style="margin-top: -20px" v-model="innerSearch" v-if="!(search && search.length > 0)" />

        <markets-table ref="table" :baseIso="(search && search.length > 0) ? null : ['fav', 'USDT', 'BTC', 'ETH'][parseInt(selectedTab)]" @loaded="innerCheckTab" :search="innerSearch" :searchAll="(search && search.length > 0)" />
        <tutorial-first-login />
    </v-container>
</template>

<script>
    export default {
        mixins: [
            Vue.selectTabsMixin
        ],
        tabs: {
            'favorites': 'markets.tabs.2',
            'USDT': 'USDT',
            'BTC': 'BTC',
            'ETH': 'ETH'
        },
        props: {
            search: {
                type: String,
                urlProp: false,
                default: null
            },
            selectedTab: {
                urlProp: false,
                required: false,
                default () {
                    return '1';
                },
            },
        },
        data() {
            return {
                updateTab: true,
                innerSearch: null,
            };
        },
        metaInfo() {
            return {
                title: 'bit4you - Markets',
            };
        },
        watch: {
            search() {
                this.innerSearch = this.search;
            },
        },
        created() {
            this.updateTab = this.$route.path === '/markets';
            if (this.updateTab)
                this.$router.replace('/markets/usdt');
        },
        methods: {
            innerCheckTab() {
                return true;
                /*
                if (this.$refs && this.$refs.table) {
                  if (this.updateTab && this.$refs.table.items.length) {
                    this.$emit('update:selectedTab', (this.$refs.table.favorites.length ? '0' : '1'));
                  }
                } else {
                  this.$setTimeout(() => this.innerCheckTab(), 300);
                }
                */
            },
        },
    };

</script>
