<template>
  <span>
    <v-icon :size="16" v-if="[`${type}-`, `${type}+`].indexOf(String(sorting)) > -1" class="black--text">
      {{ sorting === `${type}-` ? 'icon-sort-desc' : 'icon-sort-asc' }}
    </v-icon>
    <v-icon :size="16" v-else class="grey--text text--lighten-2 pt-1">
      icon-sort-none
    </v-icon>
  </span>
</template>

<script>
export default {
  props: {
    sorting: {
      required: true,
    },
    type: {
      required: true,
    },
  },
};
</script>

