<template>
    <div>
        <h1 style="font-size: 25px; margin-bottom: 10px;">
            {{
            (
              !baseIso
                ? $translate('markets.title1')
                : $translate('markets.title2', { market: (baseIso === 'fav' ? $translate('markets.tabs.2') : baseIso) })
            )
          }}
        </h1>
        <div class="markets-container">
            <div class="header hidden-xs-only" :key="sorting">
                <div class="hr1" style="flex: 0;" @click.self.prevent></div>
                <div class="hr1 pa-0" @click="setSort('name')">
                    {{ $translate('addfunds.label5') }}
                    <markets-sort-icon v-if="baseIso !== 'fav'" :sorting="sorting" type="name" />
                </div>
                <div class="hr1 pa-0" @click.self.prevent></div>
                <div class="hr2" @click="setSort('value')">
                    {{ $translate('portfolio.label5') }}
                    <markets-sort-icon v-if="baseIso !== 'fav'" :sorting="sorting" type="value" />
                </div>
                <div class="hr2 hidden-sm-and-down" @click="setSort('change')">
                    {{ $translate('table.markets2') }}
                    <markets-sort-icon v-if="baseIso !== 'fav'" :sorting="sorting" type="change" />
                </div>
                <div class="hr2 hidden-xs-only" @click="setSort('volume')">
                    {{ $translate('global.label13') }}
                    <markets-sort-icon v-if="baseIso !== 'fav'" :sorting="sorting" type="volume" />
                </div>
                <div class="hr2 hidden-xs-only" @click="setSort('spread')">
                    {{ $translate('table.markets5') }}
                    <markets-sort-icon v-if="baseIso !== 'fav'" :sorting="sorting" type="spread" />
                </div>
                <div v-if="baseIso === 'fav'" class="drag-placement"></div>
                <div v-else class="drag-placement" @click.self.prevent></div>
            </div>
            <component :is="baseIso === 'fav' ? 'draggable' : 'div'" :options="{ handle: '.dragindicator' }" v-model="draggables" @input="dragEvent" @start="dragging = true" @end="dragging = false">
                <router-link :to="'/market/' + market.iso" class="marketsRow" v-for="(market) in tableRows" :key="`row-${market.iso}-${baseIso}-${tableRows.length}`">
                    <div v-if="baseIso === 'fav'" class="dragindicator drag-placement" @click.stop.prevent>
                        <v-tooltip bottom>
                            <v-icon slot="activator">icon-more-dots</v-icon>
                            <span>{{$translate('markets.label22')}}</span>
                        </v-tooltip>
                    </div>
                    <div style="margin-left: 5px; margin-right: 10; flex-direction: column; justify-content: center; align-items: center; display: flex">
                        <img :src="`https://www.bit4you.io/img/markets/${market.iso.split('-')[1]}.png`" style="height: 40px; width: 40px; margin-right: 10px" />
                    </div>
                    <div class="name">
                        <div style="font-size: 16px; font-weight: 500">{{market.name}}</div>
                        <div style="font-size: 14px">{{market.iso}}</div>
                    </div>
                    <div style="display: flex; flex: 2; justify-content: center" class="hidden-md-and-down" v-if="$vuetify.breakpoint.lgAndUp">
                        <chart-market-mini :market="market.iso" />
                    </div>
                    <div class="priceRow">
                        <div class="collWidth price" :style="'color: ' + (values[market.iso] ? values[market.iso].color : 'black')" v-if="market.iso.split('-')[0] === 'USDT'">
                            {{values[market.iso] ? values[market.iso].rate : market.value | currencyWithSymbol(market.iso)}}
                        </div>
                        <div class="collWidth price" :style="'color: ' + (values[market.iso] ? values[market.iso].color : 'black')" v-else>
                            {{market.iso.split('-')[0]}} {{parseFloat((values[market.iso] ? values[market.iso].rate : market.value).toFixed(8))}}
                        </div>
                        <div class="collWidth change">
                            <div :style="{ background: (values[market.iso] ? values[market.iso].change : market.change) < 0 ? '#ED3735' : '#44bd32' }">
                                {{ (values[market.iso] ? values[market.iso].change : market.change) < 0 ? '-' : '+' }} {{ (Math.abs(values[market.iso] ? values[market.iso].change : market.change)) | formatPercentage }} %
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: center; text-align: center" class="collWidth hidden-xs-only">
                        <span v-if="values[market.iso]">{{ intToString($convertRate(values[market.iso].volume) || 0) }}</span>
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: center; text-align: center" class="collWidth hidden-xs-only">
                        <span v-if="values[market.iso]">{{ values[market.iso].spread | formatPercentage }} %</span>
                    </div>
                    <div v-if="baseIso === 'fav'" class="dragindicator drag-placement">
                        <v-tooltip bottom>
                            <v-btn slot="activator" flat icon color="error" @click.native.prevent="removeFavorite(market.iso, $event)">
                                <v-icon>icon-trash</v-icon>
                            </v-btn>
                            <span>{{$translate('markets.label23')}}</span>
                        </v-tooltip>
                    </div>
                    <div v-else class="drag-placement" v-for="fav in [favorites.indexOf(market.iso) > -1]" :key="`f-${market.iso}-${fav}`">
                      <v-btn flat icon color="grey lighten-1" @click.native.prevent="fav ? removeFavorite(market.iso) : addFavorite(market.iso)">
                          <v-icon :class="{ 'warning--text': fav }">
                            {{ fav ? 'icon-star' : 'icon-star-o' }}
                          </v-icon>
                      </v-btn>
                    </div>
                </router-link>
            </component>

            <div class="text-xs-center" v-if="baseIso === 'fav'">
                <v-menu v-model="menu" :close-on-content-click="false" top auto>
                    <v-btn slot="activator" color="info" dark>
                        {{$translate('favorites.label1')}}
                    </v-btn>

                    <v-card>
                        <v-card-title class="text-xs-center pb-0">
                            <span class="font-weight-bold">{{$translate('favorites.label2')}}</span>
                        </v-card-title>
                        <v-card-text class="text-xs-center py-0">
                            <v-autocomplete clearable placeholder="" :items="items.map(el => el.iso).filter(el => favorites.indexOf(el) === -1)" v-model="selectedFavorite" />
                        </v-card-text>
                        <v-card-actions>
                            <v-btn flat color="secondary" @click="menu = false">{{$translate('btn.5')}}</v-btn>
                            <v-spacer></v-spacer>
                            <v-btn :disabled="!selectedFavorite" flat color="green" @click="addFavorite(selectedFavorite)">{{$translate('btn.8')}}</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-menu>
            </div>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    function mapSummaries(summaries, iso, oldValues = {}) {
        if (iso) {
            if (typeof iso !== 'string') {
                iso = Object.values(iso).map((i) => String(i).toUpperCase());
                summaries = summaries.filter((o) => iso.indexOf(o.market) > -1);
            } else {
                summaries = summaries.filter((o) => o.market.split('-')[0] === iso)
            }
        }

        const res = {};
        for (var summary of summaries) {
            res[summary.market] = {
                change: (summary.last - summary.prevDay) * 100 / summary.prevDay,
                rate: summary.last,
                spread: (summary.ask - summary.bid) * 100 / summary.ask,
                volume: summary.volume,
            }

            var oldRate = (oldValues[summary.market] || {}).rate;
            if(!oldRate || oldRate == res[summary.market].rate) {
                res[summary.market].color = 'black';
            } else if(oldRate > res[summary.market].rate) {
                res[summary.market].color = '#388E3C';
            } else {
                res[summary.market].color = 'red';
            }
        }

        return res;
    }

    export default {
        props: {
            baseIso: String,
            search: String,
            searchAll: {
                type: Boolean,
                default: false,
            },
        },
        components: {
            draggable,
        },
        data() {
            return {
                api: 'market/list',
                api_data: {
                    favorites: true
                },
                favorites: [],
                items: [],
                values: {},
                selectedFavorite: null,
                menu: false,
                draggables: [],
                dragging: false,
                sorting: 'name+',
            }
        },
        watch: {
            baseIso() {
                this.loadValues();
            }
        },
        computed: {
            tableRows() {
                let draggables = this.items.filter((o) => {
                    let searched = true;
                    if (this.search && this.search.length) {
                        const term = String(this.search).toUpperCase();
                        searched = (
                            o.iso.indexOf(term) > -1 ||
                            String(o.name).toUpperCase().indexOf(term) > -1
                        );
                        if (this.searchAll) return searched;
                    }
                    if (this.baseIso === 'fav') return searched && this.favorites.indexOf(o.iso) > -1;
                    return searched && o.iso.split('-')[0] === this.baseIso;
                });
                if (this.baseIso === 'fav') {
                    draggables = draggables.sort((a, b) => {
                        return this.favorites.indexOf(a.iso) - this.favorites.indexOf(b.iso);
                    });
                } else {
                    try {
                        draggables = draggables.sort((a, b) => {
                            const sort = String(this.sorting).slice(0, -1).toLowerCase();
                            const isReverse = String(this.sorting).slice(-1) === '-';
                            let A = (isReverse ? b : a);
                            let B = (isReverse ? a : b);
                            if (['spread', 'volume'].indexOf(sort) > -1) {
                                A = this.values[A.iso] || A;
                                B = this.values[B.iso] || B;
                            }
                            if (sort === 'name') {
                                return ('' + A[sort]).localeCompare('' + B[sort]);
                            }
                            return A[sort] - B[sort];
                        });
                    } catch (e) {
                        console.error(e);
                    }
                }
                this.draggables = draggables;
                return draggables;
            },
        },
        created() {
            this.loadValues();
        },
        beforeMount() {
            this.$onApi("market/summaries", this.loadValues.bind(this));
            this.$onApi(this.api, this.api_data, (res) => {
                this.$emit('loaded', res);
            });
        },
        methods: {
            loadValues(summaries = this.$db.summaries) {
                if (this.dragging) return;
                this.values = mapSummaries(summaries, this.baseIso === 'fav' ? this.favorites : this.baseIso, this.values);
            },
            intToString(value) {
                if(value > 100000)
                    return `${parseFloat(value / 1000000).toFixed(2)} Mil.`;
                else if(value > 100)
                    return `${parseFloat(value / 1000).toFixed(2)} K.`;
                else
                    return `${parseFloat(value).toFixed(2)}`;
            },
            addFavorite(market) {
                this.$api.post('market-favorite/favorite', {
                    market,
                }).then(this.handleApiResult.bind(this));
            },
            removeFavorite(iso, $e) {
                this.$api.post('market-favorite/unfavorite', {
                    market: iso,
                }).then(this.handleApiResult.bind(this));
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                    $e.preventDefault();
                }
            },
            dragEvent(items) {
                this.$api.post('market-favorite/order', {
                    favorites: items.map(el => el.iso).join(','),
                }).then(this.handleApiResult.bind(this));
            },
            handleApiResult(res) {
                this.menu = false;
                this.selectedFavorite = null;
                if (res.favorites) {
                    this.$set(this, 'favorites', res.favorites);
                }
            },
            setSort(type = 'name') {
                if (this.baseIso === 'fav') return;
                this.sorting = (this.sorting === `${type}+` ? `${type}-` : `${type}+`)
            },
        }
    }

</script>

<style lang="scss">

    .markets-container {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        background: #fff;

        .header {
            display: flex;
            flex: 1;
            padding-left: 15px;
            padding-right: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            flex-direction: row;
            border-bottom: 1px solid #E9E9E9;
            font-weight: 500;

            .hr1 {
                flex: 1;
                padding-left: 70px;
            }

            .hr2 {
                text-align: center;
            }
        }

        .collWidth,
        .hr2 {
            width: 150px;
        }

        .drag-placement {
            align-self: center;
            align-items: center;
            justify-content: center;
            width: 42px;
        }

        @media all and (max-width: 650px) {

            .collWidth,
            .hr2 {
                width: 120px;
            }

            .drag-placement {
                width: 30px;
            }
        }

        @media all and (max-width: 430px) {
            .drag-placement {
                display: none;
            }
        }
    }

    .marketsRow {
        display: flex;
        flex: 1;
        padding-left: 15px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        flex-direction: row;
        border-bottom: 1px solid #E9E9E9;

        .name {
            display: flex;
            flex: 2;
            max-width: 200px;
            margin-left: 15px;
            margin-right: 5;
            flex-direction: column;
            justify-content: center;
        }

        .priceRow {
            margin-left: 5px;
            flex-direction: row;
            text-align: center;
            align-items: center;
            display: flex;
            
            .price {
                font-size: 16px;
                font-weight: 500;
            }
        }

        .collWidth.change {
            text-align: center;

            >div {
                width: 80px;
                padding: 3px;
                border-radius: 4px;
                text-align: center;
                display: inline-block;
                margin-top: 2px;
                color: #fff;
            }
        }

        @media all and (max-width: 959px) {
            .priceRow {
                flex-direction: column;
            }

            .name {
                max-width: initial;
            }

            .header {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }

</style>
