.graph-btn {
    margin: 2px 2px !important;
}

.toolbar-divider {
    display: inline-block;
    background: #fff;
    width: 1px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
}

.chartContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.color-preview {
    border: 1px solid #999;
    ;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px 10px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
    color: white;
    font-size: 15px;
}

.color-preview-container {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 15px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.share-link-wrapper {
    max-width: 600px;
    width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .4);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, .24);
}
