<template>
  <mode-switch force-real v-model="dialog" :showSubDialog.sync="showSubDialog">
      <v-dialog max-width="500px" v-model="showSubDialog">
          <form v-if="formData && formData.redirectionUrl" ref="formposter" method="post" :action="formData.redirectionUrl">
              <input type="hidden" name="seal" :value="formData.seal" />
              <input type="hidden" name="redirectionData" :value="formData.redirectionData" />
              <input type="hidden" name="redirectionVersion" :value="formData.redirectionVersion" />
          </form>
          <form method="post" action="balance/bancontact-deposit" @apiPrepare="onPrepare" @apiError="onError" @apiSuccess="onSuccess" @apiDone="loading = false" ref="frm">
              <input type="hidden" name="prepare" value="1" />
              <input type="hidden" name="currency" :value="innerCurrency" v-if="innerCurrency" />
              <input type="hidden" name="type" :value="method.name" />
              <input type="hidden" name="amount" :value="amount" />
              <v-card v-if="confirm_dialog && !loading && !error && !success">
                  <v-toolbar style="flex: 0 0 auto;" dark class="blue">
                      <v-spacer />
                      <v-toolbar-title>{{$translate('add-funds.text.1')}}</v-toolbar-title>
                      <v-spacer />
                      <v-btn icon @click.native="dialog = false" dark>
                          <v-icon>icon-close</v-icon>
                      </v-btn>
                  </v-toolbar>

                  <v-card-text>
                      <v-container grid-list-lg>
                          <v-layout row wrap>
                              <v-flex xs12 text-center v-if="method">
                                  <img :src="method.img" style="height: 80px" />
                                  <p v-if="$getCurrency().name !== 'EUR'">{{$translate('add-funds.bancontact.euro')}}</p>
                              </v-flex>
                              <add-funds-deposit-confirm-overview :amount="parseFloat(amount)" :crypto-currency="innerCurrency === 'USDT' ? null : innerCurrency" :currency="$getCurrency().name" />
                          </v-layout>
                      </v-container>
                  </v-card-text>

                  <v-card-actions>
                      <v-btn color="red" flat @click.stop="confirm_dialog=false">{{$translate('btn.1')}}</v-btn>
                      <v-spacer />
                      <v-btn color="green darken-3" flat @click="$submitForm('frm')">{{$translate('btn.2')}}</v-btn>
                  </v-card-actions>
              </v-card>
              <v-card v-else-if="!loading && !error && !success">
                  <v-toolbar style="flex: 0 0 auto;" dark class="blue">
                      <v-spacer />
                      <v-toolbar-title v-if="!innerCurrency">{{$translate('add-funds.text.1')}}</v-toolbar-title>
                      <v-toolbar-title v-else><span>{{$translate('label.15')}}</span> {{innerCurrency}}</v-toolbar-title>
                      <v-spacer />
                      <v-btn icon @click.native="dialog = false" dark>
                          <v-icon>icon-close</v-icon>
                      </v-btn>
                  </v-toolbar>

                  <v-card-text>
                      <v-container grid-list-lg>
                          <v-layout row wrap>
                              <v-flex xs12 text-center v-if="method">
                                  <img :src="method.img" style="height: 80px" />
                              </v-flex>
                              <v-flex xs12>
                                  <v-text-field :suffix="$getCurrency().name" :label="$translate('add-funds.label.1')" type="number" :min="minimum" max="maximum" :rules="amountRules" required v-model="amount" />
                              </v-flex>
                              <v-flex xs12>
                                <add-funds-crypto-picker
                                  :label="$translate('add-funds.label.41')"
                                  v-model="innerCurrency"
                                />
                              </v-flex>
                          </v-layout>
                      </v-container>
                  </v-card-text>

                  <v-card-actions>
                      <v-btn color="primary" flat @click.stop="dialog=false">{{$translate('btn.3')}}</v-btn>
                      <v-spacer />
                      <v-btn color="green darken-3" flat @click.stop="showDetails">{{$translate('btn.4')}}</v-btn>
                  </v-card-actions>
              </v-card>
              <v-card v-else-if="!success">
                  <v-toolbar style="flex: 0 0 auto;" dark class="blue">
                      <v-spacer />
                      <v-toolbar-title>{{$translate('add-funds.text.1')}}</v-toolbar-title>
                      <v-spacer />
                      <v-btn icon @click.native="dialog = false" dark>
                          <v-icon>icon-close</v-icon>
                      </v-btn>
                  </v-toolbar>

                  <v-card-text style="text-align: center" v-if="loading">
                      <v-progress-circular indeterminate v-bind:size="50" color="blue" />
                  </v-card-text>
                  <v-card-text v-else style="color: red">
                      <v-flex xs12 text-center>
                          <img :src="method.img" style="height: 80px" />
                      </v-flex>
                      {{error}}
                  </v-card-text>
                  <v-card-actions v-if="error">
                      <v-btn color="red" flat="flat" @click="dialog = false">{{$translate('btn.5')}}</v-btn>
                      <v-spacer />
                      <v-btn color="blue" flat="flat" @click="error = null">{{$translate('btn.1')}}</v-btn>
                  </v-card-actions>
              </v-card>
              <v-card v-else>
                  <v-toolbar style="flex: 0 0 auto;" dark class="blue">
                      <v-spacer />
                      <v-toolbar-title>{{$translate('add-funds.text.1')}}</v-toolbar-title>
                      <v-spacer />
                      <v-btn icon @click.native="dialog = false" dark>
                          <v-icon>icon-close</v-icon>
                      </v-btn>
                  </v-toolbar>

                  <v-card-text class="text-center">
                      <v-icon size=100 color="green">icon-check</v-icon>
                      <h3>{{$translate('add-funds.text.5')}}</h3>
                      <v-btn color="green white--text" @click="dialog = false">
                          {{$translate('btn.3')}}
                      </v-btn>
                  </v-card-text>
              </v-card>
          </form>
      </v-dialog>
  </mode-switch>
</template>

<script>
    import fees from '@config/balance-fees.json';

    export default {
        props: {
            value: {
                type: Boolean,
                required: false,
                default: false
            },
            method: {
                type: Object,
                required: false
            },
            currency: {
                type: String,
                required: false,
                default: null
            }
        },

        data() {
            const innerCurrency = String((!this.currency || String(this.currency).toLowerCase() === 'usdt')
              ? 'USDT'
              : this.currency
            );
            return {
                confirm_dialog: false,
                showSubDialog: false,
                dialog: this.value,
                error: null,
                success: false,
                loading: false,
                minimum: fees.minimumDeposit,
                maximum: fees.maximumDeposit,
                amount: 200,
                formData: null,
                innerCurrency: innerCurrency || 'USDT',
            };
        },

        computed: {
            amountRules() {
                const t1 = this.$translate('add-funds.text.3');
                const t2 = this.$translate('add-funds.text.4');

                return [
                    (v) => v === undefined || parseInt(v) >= fees.minimumDeposit || t1 + ` ${fees.minimumDeposit} $`,
                    (v) => v === undefined || parseInt(v) <= fees.maximumDeposit || t2 + ` ${fees.maximumDeposit} $`,
                ]
            }
        },

        mounted() {
            if (!this.$route.query || !this.$route.query.source || !this.$route.query.client_secret)
                return;

            this.dialog = true;

            this.$nextTick(() => {
                this.loading = true;

                const action = this.$refs.frm.getAttribute('action')
                this.$api.post(action, this.$route.query).then((res) => {
                    this.success = true;
                    this.$router.replace('/add-funds');
                }).catch((e) => {
                    this.onError({
                        preventDefault() {
                            this.isDefaultPrevented = (() => (true));
                            this.defaultPrevented = true;
                        },
                        error: e
                    });
                }).then(() => this.loading = false);
            });
        },

        watch: {
            currency() {
              this.$set(this, 'innerCurrency', 
                String((!this.currency || String(this.currency).toLowerCase() === 'usdt')
                  ? 'USDT'
                  : this.currency || 'USDT'
                )
              );
            },

            formData() {
                if (this.formData && this.formData.redirectionUrl) {
                    this.$nextTick(() => {
                        if (this.$refs.formposter) {
                            this.$refs.formposter.submit();
                        }
                    });
                }
            },

            value(val) {
                if (this.dialog !== val)
                    this.dialog = val;
            },

            dialog(val, oldVal) {
                if (val && !oldVal) {
                    this.success = false;
                    this.error = null;
                    this.loading = false;
                    this.confirm_dialog = false;
                }

                if (this.value !== val)
                    this.$emit('input', val);
            },

            showSubDialog(val, oldVal) {
                if (oldVal === true && val === false)
                    this.dialog = false;
            }
        },

        methods: {
            onPrepare() {
                this.loading = true;
                this.formData = false;

                $ga('ec:setAction','checkout', {
                    'option': 'Bancontact'
                });
                $ga('send', 'pageview')
            },

            onError($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                    $e.preventDefault();
                }
                this.error = $e.error;

                if (typeof(this.error) === 'object')
                    this.error = this.error.error || this.error.message || this.error;
            },

            onSuccess($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                    $e.preventDefault();
                }

                if ($e.result.redirectionUrl) {
                    this.formData = $e.result;
                } else {
                    this.error = this.$translate('error.1');
                    console.error($e);
                }
            },

            showDetails() {
                this.$nextTick(() => {
                    this.confirm_dialog = true;
                });

                $ga('ec:addProduct', {
                    'id': 'bancontact-' + (this.innerCurrency || 'USDT'),
                    'name': 'bancontact deposit ('+(this.innerCurrency || 'USDT')+')', // Product name (string).
                    'category': 'Deposit',
                    'brand': 'bancontact',
                    'position': 1,
                    'list': 'add funds',
                    'price': String(Math.round(this.amount)),
                    'quantity': 1
                });

                $ga('ec:setAction', 'add')
            }
        }
    }

</script>
