<template>
    <mode-switch force-real v-model="dialog" :showSubDialog.sync="showSubDialog">
        <v-dialog max-width="500px" v-model="showSubDialog">
            <form method="post" action="balance/cc-deposit" @apiPrepare="loading = true" @apiError="onError" @apiSuccess="onSuccess" @apiDone="loading = false">
                <v-card v-if="!loading && !error && !success">
                    <v-toolbar style="flex: 0 0 auto;" dark class="blue">
                        <v-spacer />
                        <v-toolbar-title>{{ $translate('add-funds.text.1') }}</v-toolbar-title>
                        <v-spacer />
                        <v-btn icon @click.native="dialog = false" dark>
                            <v-icon>icon-close</v-icon>
                        </v-btn>
                    </v-toolbar>

                    <v-card-text>
                        <v-container grid-list-lg>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-text-field :label="$translate('add-funds.label.1')" type="number" :min="minimum" :max="maximum" :rules="amountRules" required name="amount" v-model="amount" />
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field  :label="$translate('add-funds.label.2')" :mask="getCardRegex(cardNumber)" autocomplete="cc-number" name="cardNumber" type="tel" required v-model="cardNumber" />
                                </v-flex>
                                <v-flex xs6>
                                    <v-menu ref="menu" v-model="datemenu" lazy :close-on-content-click="false" transition="scale-transition" offset-y full-width :nudge-right="40" min-width="290px">
                                        <v-text-field slot="activator" v-model="carddate" :label="$translate('add-funds.label.3')" readonly autocomplete="cc-exp" name="cardExpiry" type="tel" required />
                                        <v-date-picker ref="picker" v-model="carddate" :min="new Date().toISOString().substr(0, 10)" max="2050-01-01" type="month" @change="save" color="blue" />
                                    </v-menu>
                                </v-flex>
                                <v-flex xs6>
                                    <v-text-field label="CVC/CVV" :mask="getCvcRegex(cardNumber)" autocomplete="cc-csc" name="cvc" type="tel" required v-model="cvc" />
                                </v-flex>
                                <!--<v-flex xs12>
                                    <v-checkbox :label="$translate('add-funds.text.6')" v-model="rememberCard" color="blue" />
                                </v-flex>!-->
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-btn color="primary" flat @click.stop="dialog=false">{{$translate('btn.3')}}</v-btn>
                        <v-spacer />
                        <v-btn color="green darken-3" flat type="submit">{{$translate('btn.6')}}</v-btn>
                    </v-card-actions>
                </v-card>
                <v-card v-else-if="!success">
                    <v-toolbar style="flex: 0 0 auto;" dark class="blue">
                        <v-spacer />
                        <v-toolbar-title>{{ $translate('add-funds.text.1') }}</v-toolbar-title>
                        <v-spacer />
                        <v-btn icon @click.native="dialog = false" dark>
                            <v-icon>icon-close</v-icon>
                        </v-btn>
                    </v-toolbar>

                    <v-card-text style="text-align: center" v-if="loading">
                        <v-progress-circular indeterminate v-bind:size="50" color="blue" />
                    </v-card-text>
                    <v-card-text v-else style="color: red">
                        {{error}}
                    </v-card-text>
                    <v-card-actions v-if="error">
                        <v-btn color="red" flat="flat" @click.native="dialog = false">{{$translate('btn.5')}}</v-btn>
                        <v-spacer />
                        <v-btn color="blue" flat="flat" @click="error = null">{{$translate('btn.1')}}</v-btn>
                    </v-card-actions>
                </v-card>
                <v-card v-else>
                    <v-toolbar style="flex: 0 0 auto;" dark class="blue">
                        <v-spacer />
                        <v-toolbar-title>{{ $translate('add-funds.text.1') }}</v-toolbar-title>
                        <v-spacer />
                        <v-btn icon @click.native="dialog = false" dark>
                            <v-icon>icon-close</v-icon>
                        </v-btn>
                    </v-toolbar>

                    <v-card-text class="text-center">
                        <v-icon size=100 color="green">icon-check</v-icon>
                        <h3>{{$translate('add-funds.text.5')}}</h3>
                        <v-btn color="green white--text" @click="dialog = false">{{$translate('btn.3')}}</v-btn>
                    </v-card-text>
                </v-card>
            </form>
        </v-dialog>
    </mode-switch>
</template>

<script>

    import fees from '@config/balance-fees.json';

    export default {
        props: {
            value: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        
        data() {
            return {
                dialog:         false,
                error:          null,
                success:        false,
                minimum:    fees.minimumDeposit,
                maximum:    fees.maximumDeposit,

                showSubDialog:  false,
                carddate:       null,
                datemenu:       false,
                rememberCard:   false,
                loading:        false,
                amount:         null,
                cardNumber:     null,
                cvc:            null
            }
        },

        computed: {
            amountRules() {
                const t1 = this.$translate('add-funds.text.3');
                const t2 = this.$translate('add-funds.text.4');

                return [
                    (v) => v === undefined || parseInt(v) >= fees.minimumDeposit || t1 + ` ${fees.minimumDeposit} $`,
                    (v) => v === undefined || parseInt(v) <= fees.maximumDeposit || t2 + ` ${fees.maximumDeposit} $`,
                ];
            }
        },

        watch: {
            datemenu(val) {
                val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
            },
            
            value(val) {
                if(this.dialog !== val)
                    this.dialog = val;
            },
            
            dialog(val, oldVal) {
                if(val && !oldVal) {
                    this.success = false;
                    this.error   = null;
                    this.loading = false;
                }
                
                if(this.value !== val)
                    this.$emit('input', val);
            },

            showSubDialog(val, oldVal) {
                if(oldVal === true && val === false)
                    this.dialog = false;
            }
        },

        /*mounted() {
            this.dialog = true;
        },*/

        methods: {   
            save(date) {
                this.$refs.menu.save(date);
            },
            
            onError($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.error = $e.error;
                
                if(typeof(this.error) === 'object')
                    this.error = this.error.error || this.error.message || this.error;
            },
            
            onSuccess($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.success = true;
            },
            
            getType(number) {
                if(number === null)
                    return '';

                // visa
                var re = new RegExp("^4");
                if (number.match(re) != null)
                    return "Visa";

                // Mastercard 
                // Updated for Mastercard 2017 BINs expansion
                 if (/^(5[1-5][0-9]{14}|2(22[1-9][0-9]{12}|2[3-9][0-9]{13}|[3-6][0-9]{14}|7[0-1][0-9]{13}|720[0-9]{12}))$/.test(number)) 
                    return "Mastercard";

                // AMEX
                re = new RegExp("^3[47]");
                if (number.match(re) != null)
                    return "AMEX";

                // Discover
                re = new RegExp("^(6011|622(12[6-9]|1[3-9][0-9]|[2-8][0-9]{2}|9[0-1][0-9]|92[0-5]|64[4-9])|65)");
                if (number.match(re) != null)
                    return "Discover";

                // Diners
                re = new RegExp("^36");
                if (number.match(re) != null)
                    return "Diners";

                // Diners - Carte Blanche
                re = new RegExp("^30[0-5]");
                if (number.match(re) != null)
                    return "Diners - Carte Blanche";

                // JCB
                re = new RegExp("^35(2[89]|[3-8][0-9])");
                if (number.match(re) != null)
                    return "JCB";

                // Visa Electron
                re = new RegExp("^(4026|417500|4508|4844|491(3|7))");
                if (number.match(re) != null)
                    return "Visa Electron";

                return "";
            },

            getCardRegex(number) {
                const type = this.getType(number);

                if(type === 'AMEX')
                    return '#### - ###### - #####';

                return '#### - #### - #### - ####';
            },
            
            getCvcRegex(number) {
                const type = this.getType(number);

                if(type === 'AMEX')
                    return '####';
                
                return '###';
            }
        }
    }

</script>