<template>
    <v-autocomplete :label="label || $translate('add-funds.label.41')" v-model="selected" :items="innerItems" item-text="name" item-value="iso">
        <template slot="selection" slot-scope="data">
            <v-avatar :size="18" class="mr-2">
                <img :src="`/img/markets/${data.item.iso}.png`">
            </v-avatar>
            {{ data.item.name }}
        </template>
        <template slot="item" slot-scope="data">
            <v-list-tile-content v-if="typeof data.item !== 'object'" v-text="data.item" />
            <template v-else>
                <v-list-tile-avatar class="my-4" size=28>
                    <img :src="`/img/markets/${data.item.iso}.png`">
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                    <v-list-tile-sub-title v-html="data.item.iso"></v-list-tile-sub-title>
                </v-list-tile-content>
            </template>
        </template>
    </v-autocomplete>
</template>

<script>
    export default {
        name: 'add-funds-crypto-picker',
        props: {
            value: {
                type: String,
                default: null,
            },
            label: {
                type: String,
                default: null,
            },
        },
        data() {
            return {
                //api: 'market/list',
                items: [
                    {
                        iso: 'USDT-BTC',
                        name: 'Bitcoin'
                    },
                    {
                        iso: 'USDT-XRP',
                        name: 'XRP'
                    },
                    {
                        iso: 'USDT-ETH',
                        name: 'Ethereum'
                    },
                    {
                        iso: 'USDT-LTC',
                        name: 'Litecoin'
                    },
                    {
                        iso: 'USDT-BCH',
                        name: 'Bitcoin Cash'
                    },
                    {
                        iso: 'BTC-DAN',
                        name: 'Daneel'
                    }
                ],
                selected: this.value,
            };
        },
        watch: {
            value() {
                if (this.value !== this.selected) {
                    this.$set(this, 'selected', this.value);
                }
            },
            selected() {
                this.$emit('selected', this.selected);
                this.$emit('update:value', this.selected);
                this.$emit('change', this.selected);
                this.$emit('value', this.selected);
                this.$emit('input', this.selected);
            },
        },
        computed: {
            innerItems() {
                let items = this.items.slice(0);
                if (items.length === 0) return ['USDT'];
                items = items
                    .map(el => ({
                        name: el.name,
                        iso: el.iso.split('-').slice(-1)[0]
                    }));
                items.unshift({
                    name: 'Tether USDT',
                    iso: 'USDT'
                });
                return items;
            },
        },
    };

</script>
