<template>
    <v-flex xs12>
        <table class="v-table theme--light">
            <tbody>
                <tr>
                    <td>{{$translate('add-funds.dialog.amount')}}</td>
                    <td>{{$getCurrency().symbol}} {{amount | formatPercentage}}</td>
                </tr>
                <tr v-if="currency !== $getCurrency().name">
                    <td>{{currency}} {{$translate('add-funds.dialog.value')}}</td>
                    <td>{{$getCurrency(currency).symbol}} {{convertAmount(amount) | formatPercentage}}</td>
                </tr>
                <tr v-if="crypto">
                    <td>{{crypto}} {{$translate('label.9')}}</td>
                    <td>{{$getCurrency().symbol}} {{$convertRate(1) * rate | formatPercentage}} / {{crypto === 'USDT' ? '$' : crypto}} 1</td>
                </tr>
                <tr v-else-if="currency !== 'USD' && DepositFees.currencyConversion > 0">
                    <td>{{$translate('add-funds.label.5')}}</td>
                    <td>{{$getCurrency(currency).symbol}} {{$convertRate(1, currency) | formatPercentage}} / USDT 1</td>
                </tr>
                <tr v-if="currency === 'EUR'">
                    <td><span>{{$translate('add-funds.label.6')}}</span> ({{DepositFees.currencyConversion | formatPercentage}} %)</td>
                    <td>{{$getCurrency(currency).symbol}} {{ convertAmount(amount) * DepositFees.currencyConversion / 100 | formatPercentage }}</td>
                </tr>
                <tr>
                    <td><span>{{$translate('add-funds.label.7')}}</span> ({{fee | formatPercentage}} %)</td>
                    <td>{{$getCurrency(currency).symbol}} {{ convertAmount(amount) * fee / 100 | formatPercentage }}</td>
                </tr>
                <tr v-if="crypto">
                    <td style="font-weight: bold">{{($translate('add-funds.label.8')).replace('USDT', crypto).replace('usdt', crypto)}}</td>
                    <td style="font-weight: bold">{{crypto}} {{ (amount * (100 - fee - ($getCurrency().name === 'EUR' ? DepositFees.currencyConversion : 0)) / 100) / $convertRate(1) / rate | formatPercentage }}</td>
                </tr>
                <tr v-else>
                    <td style="font-weight: bold">{{$translate('add-funds.label.8')}}</td>
                    <td style="font-weight: bold">USDT {{ (convertAmount(amount) * (100 - fee - ($getCurrency(currency).name === 'EUR' ? DepositFees.currencyConversion : 0)) / 100) / $convertRate(1, currency) | formatPercentage }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p style="margin: 0">{{$translate('add-funds.text.7')}}</p>
    </v-flex>
</template>

<script>

    import DepositFees from '@config/balance-fees.json';

    export default {
        props: {
            amount: Number,
            type: {
                type: String,
                default() {
                    return 'bancontact'
                }
            },
            currency: {
                type: String,
                required: false,
                default() {
                    return ['EUR', 'USD'].indexOf(this.$root.$getCurrency().name) !== -1 ? this.$root.$getCurrency().name : 'USD';
                }
            },
            cryptoCurrency: {
                type: String,
                required: false,
                default: null
            }
        },
        computed: {
            fee() {
                return DepositFees[this.type];
            },
            crypto() {
              if (!this.cryptoCurrency || this.cryptoCurrency === 'USDT') return null;
              return this.cryptoCurrency;
            }
        },
        data() {
            return {
                DepositFees,
                rate: 1
            }
        },
        mounted() {
            if(this.crypto)
                this.rate = this.$db.getSummary('USDT-' + this.crypto);

            this.$onApi("market/summaries", (summaries) => {
                if(this.crypto)
                    this.rate = this.$db.getUsdtRate(this.crypto)
                else if(this.rate !== 1)
                    this.rate = 1;
            });
        },
        methods: {
            convertAmount(amount) {
                return this.$convertRate(amount, this.currency) / this.$convertRate(1)
            }
        }
    }

</script>