<template>
    <nothing-to-display-view notVerified :key="$api.isSimulation">
        <v-container style="padding: 10px" grid-list-lg v-if="$api.isSimulation">
            <v-layout>
                <v-flex xs12>
                    <mode-card :forceReal="true" :cancelable="false" @changed="$api.isSimulation = $event" @close="dialog = false" />
                </v-flex>
            </v-layout>
        </v-container>
        <v-container grid-list-lg v-else style="padding: 0 16px">
            <v-layout>
                <v-flex xs12>
                    <wallets-item :item="walletUSDT" v-if="walletUSDT" />
                </v-flex>
            </v-layout>
            <add-funds-tab-add-funds v-if="Number(selectedTab) === 0" />
            <add-funds-tab-withdrawal v-else-if="Number(selectedTab) === 1" />
            <add-funds-tab-history v-else />
        </v-container>
    </nothing-to-display-view>
</template>

<script>
    export default {
        mixins: [
            Vue.selectTabsMixin
        ],
        tabs: {
            buy: 'add-funds.tabs.1',
            sell: 'add-funds.tabs.2',
            history: 'add-funds.tabs.3',
        },
        data() {
            return {
                api: 'wallet/balances',
                items: null,
            }
        },
        beforeDestroy() {
            $ga('send', 'pageview')
        },
        computed: {
            walletUSDT() {
                if (!this.items || this.items.length === 0) return null;
                return this.items.find(el => el.iso === 'USDT');
            },
        },
        mounted() {
            this.$onApi('mode-switch', () => {
                this.$forceUpdate();
            })
        },
        metaInfo() {
            return {
                title: 'bit4you - Add funds',
            };
        },
    }

</script>
