<template>
    <v-card class="add-funds-promotion">
        <add-funds-bancontact-dialog v-model="dialog" :method="depositMethod" currency="XRP" />

        <v-card-text>
            <div>
                <img height="40" width="40" alt="Ripple" title="Ripple" src="/img/markets/XRP-white.png" class="market-logo" style="width: 40px; height: 40px;">
            </div>
            <h1>{{($translate('promotion.1')).toUpperCase()}} {{$translate('promotion.2')}}</h1>
            <h3><span>{{$translate('history.text.13')}}:</span> {{depositMethod.fee.toFixed(2)}} %</h3>
            <v-btn @click="dialog = true">{{$translate('promotion.3')}}</v-btn>
        </v-card-text>
    </v-card>
</template>

<script>
    const fees = require('@config/balance-fees.json');

    export default {
        data() {
            return {
                dialog: false,
                depositMethod: {
                    name: 'bancontact',
                    type: 'bancontact',
                    fee: fees.bancontact,
                    img: '/img/deposit/bancontact.svg'
                }
            }
        }
    }
    
</script>

<style>

    .add-funds-promotion {
        background: #095ce5 !important;
        color: #fff !important;
        text-align: center;
    }
    
</style>