<template>
    <mode-switch force-real v-model="dialog" :showSubDialog.sync="showSubDialog">
        <v-dialog max-width="500px" v-model="showSubDialog">
            <form method="post" action="balance/sepa-deposit" @apiPrepare="loading = true" @apiError="onError" @apiSuccess="onSuccess" @apiDone="loading = false" ref="frm">
                <input type="hidden" name="amount" :value="amount" />
                <input type="hidden" name="currency" :value="innerCurrency || 'USDT'" />
                <v-card v-if="confirm_dialog && !loading && !error && !success">
                    <v-toolbar style="flex: 0 0 auto;" dark class="blue">
                        <v-spacer />
                        <v-toolbar-title>{{ $translate('add-funds.text.1') }}</v-toolbar-title>
                        <v-spacer />
                        <v-btn icon @click.native="dialog = false" dark>
                            <v-icon>icon-close</v-icon>
                        </v-btn>
                    </v-toolbar>

                    <v-card-text>
                        <v-container grid-list-lg>
                            <v-layout row wrap>
                                <v-flex xs12 text-center>
                                    <img src="/img/deposit/sepa.png" style="height: 80px" />
                                </v-flex>
                                <add-funds-deposit-confirm-overview :amount="parseFloat(amount)" type="sepa" :crypto-currency="innerCurrency" />
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-btn color="red" flat @click.stop="confirm_dialog=false">{{$translate('btn.1')}}</v-btn>
                        <v-spacer />
                        <v-btn color="green darken-3" flat type="submit">{{$translate('btn.2')}}</v-btn>
                    </v-card-actions>
                </v-card>
                <v-card v-else-if="!loading && !error && !success">
                    <v-toolbar style="flex: 0 0 auto;" dark class="blue">
                        <v-spacer />
                        <v-toolbar-title>{{ $translate('add-funds.text.1') }}</v-toolbar-title>
                        <v-spacer />
                        <v-btn icon @click.native="dialog = false" dark>
                            <v-icon>icon-close</v-icon>
                        </v-btn>
                    </v-toolbar>

                    <v-card-text>
                        <v-container grid-list-lg>
                            <v-layout row wrap>
                                <v-flex xs12 text-center>
                                    <img src="/img/deposit/sepa.png" style="height: 80px" />
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field :label="$translate('add-funds.label.1')" type="number" :min="minimum" :max="maximum" :rules="amountRules" required v-model="amount" />
                                </v-flex>
                                <v-flex xs12>
                                  <add-funds-crypto-picker
                                    v-model="innerCurrency"
                                  />
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-btn color="primary" flat @click.stop="dialog=false">{{$translate('btn.3')}}</v-btn>
                        <v-spacer />
                        <v-btn color="green darken-3" flat @click="confirm_dialog = true">{{$translate('btn.4')}}</v-btn>
                    </v-card-actions>
                </v-card>
                <v-card v-else-if="!success">
                    <v-toolbar style="flex: 0 0 auto;" dark class="blue">
                        <v-spacer />
                        <v-toolbar-title>{{ $translate('add-funds.text.1') }}</v-toolbar-title>
                        <v-spacer />
                        <v-btn icon @click.native="dialog = false" dark>
                            <v-icon>icon-close</v-icon>
                        </v-btn>
                    </v-toolbar>

                    <v-card-text style="text-align: center" v-if="loading">
                        <v-progress-circular indeterminate v-bind:size="50" color="blue" />
                    </v-card-text>
                    <v-card-text v-else style="color: red">
                        <v-flex xs12 text-center>
                            <img src="/img/deposit/sepa.png" style="height: 80px" />
                        </v-flex>
                        {{error}}
                    </v-card-text>
                    <v-card-actions v-if="error">
                        <v-btn color="red" flat="flat" @click.native="dialog = false">{{$translate('btn.5')}}</v-btn>
                        <v-spacer />
                        <v-btn color="blue" flat="flat" @click="error = null">{{$translate('btn.1')}}</v-btn>
                    </v-card-actions>
                </v-card>
                <v-card v-else>
                    <v-toolbar style="flex: 0 0 auto;" dark class="blue">
                        <v-spacer />
                        <v-toolbar-title>{{ $translate('add-funds.text.1') }}</v-toolbar-title>
                        <v-spacer />
                        <v-btn icon @click.native="dialog = false" dark>
                            <v-icon>icon-close</v-icon>
                        </v-btn>
                    </v-toolbar>

                    <v-card-text class="text-center">
                        <table class="v-table theme--light">
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold">{{ $translate('add-funds.label.40') }}</td>
                                    <td style="font-weight: bold">{{info.reference}}</td>
                                </tr>
                                <tr>
                                    <td>{{ $translate('label.1') }}</td>
                                    <td>{{info.currency}} {{info.amount | formatCurrency}}</td>
                                </tr>
                                <tr>
                                    <td>{{ $translate('add-funds.label.9') }}</td>
                                    <td>BE92 7320 4854 5723</td>
                                </tr>
                                <tr>
                                    <td>{{ $translate('add-funds.label.10') }}</td>
                                    <td>BIT4YOU SA</td>
                                </tr>
                                <tr>
                                    <td>{{ $translate('add-funds.label.11') }}</td>
                                    <td>Avenue Charles-Quint 292B, 1083 Brussels</td>
                                </tr>
                                <tr>
                                    <td>{{ $translate('add-funds.label.12') }}</td>
                                    <td>Belgium</td>
                                </tr>
                                <tr>
                                    <td>{{ $translate('add-funds.label.13') }}</td>
                                    <td>CBC</td>
                                </tr>
                                <tr>
                                    <td>{{ $translate('add-funds.label.14') }}</td>
                                    <td>Avenue Albert 1er 60, 5000 Namur</td>
                                </tr>
                                <tr>
                                    <td>{{ $translate('add-funds.label.15') }}</td>
                                    <td>CREGBEBB</td>
                                </tr>
                            </tbody>
                        </table>
                        <v-btn color="blue white--text" @click="dialog = false">{{ $translate('btn.3') }}</v-btn>
                    </v-card-text>
                </v-card>
            </form>
        </v-dialog>
    </mode-switch>
</template>

<script>

    import fees from '@config/balance-fees.json';

    export default {
        props: {
            value: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        
        data() {
            return {
                innerCurrency: 'USDT',
                minimum:    fees.minimumDeposit,
                maximum:    fees.maximumDeposit,
                confirm_dialog: false,
                showSubDialog:  false,
                dialog:         false,
                error:          null,
                success:        false,
                loading:        false,
                amount:         null,
                info:           null
            }
        },

        computed: {
            amountRules() {
                const t1 = this.$translate('add-funds.text.3');
                const t2 = this.$translate('add-funds.text.4');
                return [
                    (v) => v === undefined || parseInt(v) >= fees.minimumDeposit || t1 + ` ${fees.minimumDeposit} $`,
                    (v) => v === undefined || parseInt(v) <= fees.maximumDeposit || t2 + ` ${fees.maximumDeposit} $`,
                ]
            }
        },

        watch: {
            value(val) {
                if(this.dialog !== val)
                    this.dialog = val;
            },

            dialog(val, oldVal) {
                if(val && !oldVal) {
                    this.success = false;
                    this.error   = null;
                    this.loading = false;
                    this.confirm_dialog = false;
                }
                
                if(this.value !== val)
                    this.$emit('input', val);
            },

            showSubDialog(val, oldVal) {
                if(oldVal === true && val === false)
                    this.dialog = false;
            }
        },

        methods: {
            onError($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.error = $e.error;

                if(typeof(this.error) === 'object')
                    this.error = this.error.error || this.error.message || this.error;
            },
            
            onSuccess($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.success = true;
                this.info = $e.result;
            }
        }
    }

</script>