<template>
    <v-card v-if="$route.query.processing">
      <v-card-text>
        <nothing-to-display-view fundsProcessing style="margin-top: -1em;" />
      </v-card-text>
    </v-card>
    <v-layout row wrap v-else>
        <add-funds-bancontact-dialog v-model="bancontactDialog" :method="selectedMethod" />
        <add-funds-sepa-dialog v-model="sepaDialog" />

        <!-- xs12 :sm6="!column" :md4="!column" :lg3="!column"  -->
        <v-flex xs12 sm6 v-for="(item, index) in methods" :key="index" @click="select(item);">
            <v-card class="wallet-method elevation-2">
                <v-img :src="item.img" :height="column ? '100px' : '200px'" style="max-width: 85%;margin: auto;" contain />
                <v-card-title>
                    <div class="wallets-fee-text">{{item.fee.toFixed(2)}} % {{ $translate('add-funds.label.7') }}</div>
                </v-card-title>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    const fees = require('@config/balance-fees.json');

    export default {
        props: {
            column: {
                type: Boolean,
                default () {
                    return false
                }
            }
        },

        data() {
            return {
                error: null,
                ccDialog: false,
                bancontactDialog: false,
                sepaDialog: false,
                selectedMethod: {},
                methods: [{
                        name: 'bancontact',
                        type: 'bancontact',
                        fee: fees.bancontact,
                        img: '/img/deposit/bancontact.svg'
                    },
                    /*
                    {
                        name: 'kbc',
                        type: 'bancontact',
                        fee: fees.sofort,
                        img: '/img/deposit/kbc.png'
                    },
                    {
                        name: 'belfius',
                        type: 'bancontact',
                        fee: fees.sofort,
                        img: '/img/deposit/belfius.jpg'
                    },
                    {
                        name: 'sofort',
                        type: 'bancontact',
                        fee: fees.sofort,
                        img: '/img/deposit/sofort.png'
                    },
                    {
                        name: 'visa',
                        type: 'card',
                        fee: fees.visa,
                        img: '/img/deposit/visa.jpg'
                    },
                    {
                        name: 'mastercard',
                        type: 'card',
                        fee: fees.mastercard,
                        img: '/img/deposit/mastercard.png'
                    },
                    {
                        name: 'american-express',
                        type: 'card',
                        fee: fees.american,
                        img: '/img/deposit/american-express.jpg'
                    },
                    */
                    {
                        name: 'sepa',
                        type: 'sepa',
                        fee: fees.sepa,
                        img: '/img/deposit/sepa.png'
                    }
                ],
            };
        },

        mounted() {
            for(var i in this.methods) {
                const method = this.methods[i]
                $ga('ec:addImpression', {
                    'id': method.type + '-USDT',
                    'name': method.name + ' deposit (USDT)',
                    'category': 'Deposit',
                    'brand': method.name,
                    'list': 'add funds',
                    'position': parseInt(i) + 1
                });
            }
        },
        
        methods: {
            toFixed(n) {
                return (n || 0).toFixed(Math.min(8, this.$insight ? this.$insight.digits : 8)).replace(/\.0+$/, '')
            },

            select(method) {
                this.selectedMethod = method;

                if (method.type === 'bancontact') {
                    this.bancontactDialog = true;
                } else if (method.type === 'sepa') {
                    this.sepaDialog = true;
                } else {
                    this.ccDialog = true;
                }

                $ga('ec:setAction', 'detail', {
                    'id': method.type + '-USDT',
                    'name': method.name + ' deposit (USDT)',
                    'category': 'Deposit',
                    'brand': method.name,
                    'list': 'add funds',
                    'position': this.methods.indexOf(method) + 1
                })
            }
        }
    }

</script>

<style>
    .wallet-method {
        cursor: pointer;
        border: 2px solid #fff;
    }

    .wallet-method:hover,
    .wallet-method.active {
        border: 2px solid #3498db;
    }

    .wallets-fee-text {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;
    }

</style>
