<template>
    <v-layout row wrap>
        <v-dialog v-model="dialog" max-width="500px">
            <v-card>
                <v-toolbar style="flex: 0 0 auto;" dark class="primary">
                    <v-toolbar-title>{{ $translate('add-funds.label.23') }}</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @click.native="dialog = false" dark>
                        <v-icon>icon-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    {{ $translate('add-funds.text.9') }}!<br>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialog=false">{{ $translate('btn.3') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-flex xs12>
            <v-card>
                <v-card-title>
                    <div style="padding-left: 15px;">
                        <div class="headline">{{ $translate('add-funds.label.24') }}</div>
                        <span class="grey--text">{{ $translate('add-funds.text.10') }}</span>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
        <v-flex xs12>
            <v-card v-if="loading">
              <ui-loading />
            </v-card>
            <v-card v-else-if="done">
              <v-card-text class="text-xs-center">
                  <v-icon size=100 color="green">icon-check</v-icon>
                  <h3>{{$translate('add-funds.text.11')}}</h3>
              </v-card-text>
            </v-card>
            <v-card v-show="!loading && !done">
                <v-card-title class="pb-0 mb-0 text-xs-center justify-center">
                  <b v-if="step === 1">{{ $translate('add-funds.label.25') }}</b>
                  <b v-if="step === 2">{{ $translate('add-funds.label.26') }}</b>
                  <b v-else-if="step === 3">{{ $translate('add-funds.label.27') }}</b>
                </v-card-title>
                <v-card-title v-if="error" class="pb-0 mb-0 text-xs-center justify-center">
                  <v-alert class="danger" :value="error">
                    {{ error }}
                  </v-alert>
                </v-card-title>
                <v-card-text class="pt-0 mt-0">
                    <v-form @submit.prevent="submit" ref="form">
                        <v-container grid-list-xl>
                            <v-layout row wrap v-show="step === 1">
                                <v-flex xs12 offset-lg1>
                                    <v-alert class="grey" :value="true">{{ $translate('add-funds.text.13') }}</v-alert><br><br>

                                    <v-select
                                      :label="$translate('add-funds.label.42')"
                                      :items="[{ text: $translate('add-funds.label.43'), value: false }, { text: $translate('add-funds.label.44'), value: true }]"
                                      v-model="withdrawAll"
                                    />
                                    <v-select name="currency" v-model="req_currency" :items="['EUR', 'USD']" color="purple darken-2" :label="$translate('add-funds.label.28')" required />
                                    <v-text-field v-show="!withdrawAll" v-model="amount" color="purple darken-2" :label="`${$translate('label.1')} (${$getCurrency().name})`" type="number" required />

                                    <v-text-field color="purple darken-2" v-model="iban" :label="`${$translate('add-funds.label.29')}`" type="text" required @change="ibanValid = true" :error="!ibanValid" />
                                    <v-text-field color="purple darken-2" v-model="swift" :label="`${$translate('add-funds.label.15')}`" type="text" required v-show="iban.length > 2 && iban.substr(0,2).toUpperCase() !== 'BE'" />
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap v-show="step === 2">
                                <v-flex xs12>
                                  <table class="v-table theme--light">
                                      <tbody>
                                          <tr>
                                              <td>{{ $translate('add-funds.label.31') }}</td>
                                              <td><b>{{name}}</b></td>
                                          </tr>
                                          <tr>
                                              <td>{{ $translate('add-funds.label.32') }}</td>
                                              <td>{{address.formatted}}</td>
                                          </tr>
                                          <tr v-if="bankDetails">
                                              <td>{{ $translate('add-funds.label.13') }}</td>
                                              <td><b>{{bankDetails.BankName}}</b><br>{{bankDetails.BankCity}}, {{bankDetails.Country}}</td>
                                          </tr>
                                          <tr>
                                              <td>{{ $translate('add-funds.label.29') }}</td>
                                              <td><b>{{ (bankDetails && bankDetails.IBAN) || iban }}</b></td>
                                          </tr>
                                          <tr>
                                              <td>{{ $translate('add-funds.label.15') }}</td>
                                              <td>{{ swift }}</td>
                                          </tr>
                                           <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr v-if="$getCurrency().name !== 'USD' || req_currency !== 'USD'">
                                                <td>{{ $translate('add-funds.label.33') }}</td>
                                                <td><b>{{$getCurrency().symbol}} {{amount | formatPercentage}}</b></td>
                                            </tr>
                                            <tr v-if="$getCurrency().name !== 'USD'">
                                                <td>{{ $translate('add-funds.label.34') }}</td>
                                                <td>{{$getCurrency().symbol}} {{$convertRate(1) | formatPercentage}} / $ 1</td>
                                            </tr>
                                            <tr>
                                                <td>{{ $translate('add-funds.label.35') }}</td>
                                                <td>USDT {{ (amount / $convertRate(1)).toFixed(8) }}</td>
                                            </tr>
                                            <tr v-if="$getCurrency().name !== 'USD' || req_currency !== 'USD'">
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr v-if="req_currency == 'EUR' && $getCurrency().name !== req_currency">
                                                <td>{{ $translate('add-funds.label.36') }}</td>
                                                <td>{{$getCurrencies()[req_currency].symbol}} {{$convertRate(1, req_currency) | formatPercentage}} / USDT 1</td>
                                            </tr>
                                            <tr>
                                                <td>{{req_currency}} {{ $translate('label.4') }}</td>
                                                <td>{{$getCurrencies()[req_currency].symbol}} {{ usdAmount() | formatPercentage }}</td>
                                            </tr>
                                            <tr v-if="req_currency === 'EUR'">
                                                <td><span>{{ $translate('add-funds.label.37') }}</span> ({{DepositFees.currencyConversion | formatPercentage}} %)</td>
                                                <td>{{$getCurrencies()[req_currency].symbol}} {{ usdAmount() * DepositFees.currencyConversion / 100 | formatPercentage }}</td>
                                            </tr>
                                            <tr>
                                                <td><span>{{ $translate('add-funds.label.38') }}</span> ({{DepositFees.sepaWithdrawal | formatPercentage}} %)</td>
                                                <td>{{$getCurrencies()[req_currency].symbol}} {{ usdAmount() * DepositFees.sepaWithdrawal / 100 | formatPercentage }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ $translate('add-funds.label.39') }}</td>
                                                <td><b>{{$getCurrencies()[req_currency].symbol}} {{ Math.floor(usdAmount() * (100 - DepositFees.sepaWithdrawal - (req_currency === 'EUR' ? DepositFees.currencyConversion : 0))) / 100 | formatPercentage }}</b></td>
                                            </tr>
                                      </tbody>
                                  </table>
                                  <br>
                                  <p v-if="req_currency === 'EUR'" style="margin: 0">{{ $translate('add-funds.text.12') }}</p>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn v-if="step > 1" color="red lighten-1" dark @click="stepBack">{{ $translate('btn.1') }}</v-btn>
                    <v-spacer />
                    <v-btn :disabled="disableButton" class="blue" :dark="!disableButton" @click="stepNext">{{ $translate(step === 2 ? 'btn.2' : 'btn.4') }}</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    import DepositFees from '@config/balance-fees.json';

    export default {
        data() {
            return {
                DepositFees,
                api: 'settings.verification/status',
                address: {
                    formatted: null,
                },
                name: null,
                dialog: false,
                step: 1,
                req_currency: this.$getCurrency().name === 'EUR' ? 'EUR' : 'USD',
                amount: null,
                iban: '',
                swift: '',
                loading: false,
                disableButton: false,
                error: null,
                done: false,
                withdrawAll: false,
                wallet: null,
                bankDetails: null,
                ibanValid: true,
            }
        },
        watch: {
            amount: 'checkStep',
            bic: 'checkStep',
            iban: 'checkStep',
            swift: 'checkStep',
            step: 'checkStep',
            wallet(val) {
              this.amount = Math.min(this.wallet, this.amount);
            },
            req_currency(val) {
              if (this.withdrawAll) {
                this.amount = this.wallet * (val === 'USD' ? 1 : this.$convertRate(1, this.req_currency));
              }
              return this.checkStep();
            },
            withdrawAll(val) {
              if (val) {
                this.amount = this.wallet * this.$convertRate(1, this.req_currency);
              } else {
                this.amount = Math.min(this.wallet, 200);
              }
            },
        },
        beforeMount() {
          this.$bindApi('portfolio/wallet');
        },
        methods: {
            usdAmount() {
                return this.amount * this.$convertRate(1, this.req_currency) / this.$convertRate(1)
            },
            checkStep() {
                switch (this.step) {
                    case 1:
                        {
                            this.disableButton = !(this.amount > 0 && ['EUR', 'USD'].indexOf(this.req_currency) > -1);
                            break;
                        }
                    default:
                        break;
                }
            },
            stepBack() {
                this.step -= 1;
                this.error = null;
            },
            stepNext() {
                this.disableButton = (this.step !== 1); // Confirmation step should be active.
                if (this.step === 2) {
                    return this.submit();
                }
                this.step += 1;
                this.error = null;
                
                if(this.step === 2)
                    this.loadBankDetails();
            },
            loadBankDetails() {
                this.bankDetails = null;
                if(String(this.iban).substr(0, 2).toUpperCase() !== 'BE') {
                    return
                }

                this.$api.post('iban/' + this.iban.split(' ').join('').split('-').join('')).then((res) => {
                    if(!res.Valid) {
                        this.ibanValid = false;
                        this.step = 1;
                        return;
                    }

                    this.bankDetails = res;
                    this.swift = res.Swift
                }).catch((err) => {
                    console.error(err);
                    //ToDo show error
                })
            },
            submit() {
                this.loading = true;
                // ... todo
                this.$api.post('balance/withdraw', {
                    amount: this.withdrawAll ? 'ALL' : this.amount,
                    currency: this.req_currency,
                    iban: this.iban,
                    swift: this.swift,
                }).then((res) => {
                    if (res && !!(res.err || res.error)) {
                        this.done = false;
                        this.error = (res ? (res.err || res.error || res) : res);
                        if (res.step) {
                            this.$set(this, 'step', Number(res.step));
                        }
                    } else {
                        this.error = null;
                        this.done = true;
                    }
                    this.loading = false;
                    this.disableButton = false;
                }).catch((res) => {
                    if (res && !!(res.err || res.error)) {
                        this.error = (res ? (res.err || res.error || res) : res);
                    }
                    if (res.step) {
                        this.$set(this, 'step', Number(res.step));
                    }
                    this.done = false;
                    this.loading = false;
                    this.disableButton = false;
                });
            },
        },
    }

</script>
