<template>
    <v-data-table v-bind:headers="headers" :items="items" class="elevation-1" :rows-per-page-items="[25,50,100,250]">
        <template slot="items" slot-scope="props">
          <tr>
            <td>{{ props.item.createdAt | formatDateTime }}</td>
              <td>{{ (props.item.origin === $translate('add-funds.label.17') ? $translate('add-funds.label.18') :  props.item.origin) | ucwords }}</td>
              <td>{{ props.item.initial_currency.toUpperCase() }} {{props.item.initial_value | formatPercentage}}</td>
            <td :class="props.item.change_value < 0 ? 'error--text' : 'success--text'">
              <b>{{ props.item.change_value < 0 ? '-' : '+' }} {{ Math.abs(props.item.change_value) | formatPercentage }} {{props.item.currency}}</b>
            </td>
          </tr>
        </template>
    </v-data-table>
</template>

<script>

    export default {
        
        data() {
            return {
                api: 'balance/history',
                headers: this.$translateHeaders([
                    { text: 'label.2', value: 'createdAt', sortable: false },
                    { text: 'label.3', value: 'buy', sortable: false },
                    { text: 'label.4', value: 'change_value', sortable: false },
                    { text: 'add-funds.label.22', value: 'change_value', sortable: false },
                ]),

                items: []
            }
        }
        
    }

</script>