<template>
    <v-dialog max-width="350" v-model="show">
        <v-card>
            <v-card-title class="headline">{{$translate('portfolio.label10')}}</v-card-title>
            <v-card-text v-if="loading" style="text-align: center">
                <v-progress-circular indeterminate v-bind:size="50" color="blue" />
            </v-card-text>
            <v-card-text v-else-if="error" style="color: red">{{error}}</v-card-text>
            <v-card-text v-else>
              {{ $translate('portfolio.text.1') }}<br>
              <table class="v-table theme--light">
                  <tbody>
                    <tr>
                        <td>{{$translate('label.7')}}</td>
                        <td>{{ (item || {}).units }} {{ (item || {}).market }}</td>
                    </tr>
                    <tr>
                        <td>Opening rate</td>
                        <td>{{ (item || {}).unitPrice | currencyWithSymbol((item || {}).market) }}</td>
                    </tr>
                    <tr>
                        <td>Total profit</td>
                        <td>{{ (item || {}).profit | currencyWithSymbol((item || {}).market) }}</td>
                    </tr>
                  </tbody>
              </table>
              <b>{{ $translate('portfolio.text.2') }}</b>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn outline class="mx-1" color="blue-grey darken-1" @click.native="show = false">{{ $translate('btn.5') }}</v-btn>
              <form method="post" class="mx-1" action="portfolio/close" @apiError="onCancelError" @apiPrepare="loading = true" @apiSuccess="onSuccess">
                  <v-btn color="green" class="white--text" type="submit" v-if="!loading && !error">{{$translate('btn.4')}}</v-btn>
                  <input type="hidden" name="id" :value="id" />
              </form>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

    export default {
        props: {
          id: {
            type: Number,
          },
          item: {
            type: Object,
          },
        },
        
        data() {
            return {
                show: false,
                loading: false,
                error: null
            }
        },
        
        watch: {
            show(val, oldVal) {
                if(val && !oldVal) {
                    this.loading = false;
                    this.error = null;
                }
            }
        },
        
        methods: {
            onCancelError($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.loading = false;
                this.error = $e.result.error || this.$translate('error.2');
                
                if(this.error.indexOf('<html') !== -1)
                    this.error = this.$translate('error.2');
            },
            
            onSuccess($e) {
                this.show = false;
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                    $e.preventDefault();
                }

                $ga('send', 'event', this.$api.isSimulation ? 'simulation' : 'real', 'buy', this.item.market, Math.round(this.item.invested))
            }
        }
    }
    
</script>