<template>
    <div>
        <portfolio-overview v-if="parseInt(selectedTab) === 0" />
        <open-orders v-else />
    </div>
</template>

<script>
    export default {
        tabs: {
            overview: 'portfolio.tabs.1',
            open: 'portfolio.tabs.2'
        },

        props: {
            selectedTab: {
                default: 0,
                urlProp: false
            },

            urlTab: {
                default: '',
                required: false,
                type: String
            }
        },

        metaInfo() {
            return {
                title: 'bit4you - Portfolio',
            };
        },

        mounted() {
            if (this.urlTab === 'open' && parseInt(this.selectedTab) !== 1)
                this.$emit('update:selectedTab', 1);
        },

        watch: {
            selectedTab(val) {
                if (parseInt(val) === 0 && this.$route.path !== '/portfolio')
                    this.$router.replace("/portfolio");
                else if (parseInt(val) === 1 && this.$route.path !== '/portfolio/open')
                    this.$router.replace("/portfolio/open");
            }
        }
    }

</script>
