<template>
    <v-dialog v-model="show" max-width="600px">
        <v-card>
            <v-toolbar style="flex: 0 0 auto;" dark class="primary">
                <v-toolbar-title>{{ item.position | ucwords }}</v-toolbar-title>
                <v-spacer />
                <v-btn icon @click.native="show = false" dark>
                    <v-icon>icon-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text>
                <v-layout row wrap>
                    <v-flex xs12  text-xs-center v-if="info">
                        <img :src="`/img/markets/${item.market}.png`" :alt="`${item.market} logo`" :title="`${item.market} logo`" height="64" width="64" style="height: 64px; width: 64px;" /><br><br>
                    </v-flex>
                    <v-flex xs12>
                        <v-layout row wrap v-if="!advanced">
                            <v-flex xs12 md6>
                                <v-list three-line subheader class="right px-4">
                                    <v-list-tile v-if="item.invested > 0">
                                        <v-list-tile-content>
                                            <v-list-tile-title>{{$translate('history.label.1')}}</v-list-tile-title>
                                            <v-list-tile-sub-title class="d-block" style="text-align: right;">{{ item.invested | currencyWithSymbol }}</v-list-tile-sub-title>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                    <v-list-tile>
                                        <v-list-tile-content>
                                            <v-list-tile-title>{{$translate('label.6')}}</v-list-tile-title>
                                            <v-list-tile-sub-title class="d-block" :style="`text-align: right; color: ${item.profit >= 0 ? 'green' : 'red'};`">
                                              {{ item.profit | currencyWithSymbol }} <span v-if="item.invested > 0">({{item.profit * 100/ item.invested | formatCurrency}}%)</span>
                                            </v-list-tile-sub-title>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                    <v-list-tile>
                                        <v-list-tile-content>
                                            <v-list-tile-title>{{ $translate('history.text.8')[0].toUpperCase() }}{{ $translate('history.text.8').slice(1, 100).toLowerCase() }}</v-list-tile-title>
                                            <v-list-tile-sub-title class="d-block" style="text-align: right;">{{item.market}} {{ item.units }}</v-list-tile-sub-title>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                </v-list>
                            </v-flex>
                            <v-flex xs12 md6>
                                <v-list three-line subheader class="px-4">
                                    <v-list-tile>
                                        <v-list-tile-content>
                                            <v-list-tile-title>{{$translate('history.label.13')}}</v-list-tile-title>
                                            <v-list-tile-sub-title>{{ item.open_time | formatDateTime }}</v-list-tile-sub-title>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                    <v-list-tile>
                                        <v-list-tile-content>
                                            <v-list-tile-title>{{$translate('openorders.label.5')}}</v-list-tile-title>
                                            <v-list-tile-sub-title>${{ item.currentRate }}</v-list-tile-sub-title>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                    <v-list-tile v-if="hasId">
                                        <v-list-tile-content text-xs-center>
                                          <v-btn small outline @click="advanced = 'sl';">
                                            <v-icon>icon-write</v-icon>&nbsp;{{$translate(`order.sl.1`)}}
                                          </v-btn>
                                          <v-btn small outline @click="advanced = 'tp';">
                                            <v-icon>icon-write</v-icon>&nbsp;{{$translate(`order.tp.1`)}}
                                          </v-btn>
                                        </v-list-tile-content>
                                    </v-list-tile>
                                </v-list>
                            </v-flex>
                            <v-flex xs12 class="text-xs-center">
                                <v-btn type="submit" color="error" @click="closeOrder">{{$translate('portfolio.label10')}}</v-btn>
                            </v-flex>
                        </v-layout>
                        <portfolio-sl-tp :id="info ? info.id : 0" :currentRate="info ? info.currentRate : 0" :type="advanced || ''" @back="advanced = false" v-if="advanced" @done="advanced = false" />
                    </v-flex>
                </v-layout>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        props: [
            'info'
        ],
        data() {
            return {
                show: false,
                advanced: false,
            }
        },
        watch: {
            show() {
                setTimeout(() => {
                    if(!this.show && this.advanced)
                        this.advanced = false;
                }, 500);
            }
        },
        computed: {
            item()  {
              return this.info || {};
            },
            hasId() {
              return !!(this.item && this.item.id);
            },
            api_data() {
              if (!this.hasId) return null;
              return { portfolio_id: this.info.id };
            },
        },

        methods: {
            closeOrder() {
                this.show = false;
                this.$emit('closeOrder', this.item);
            },
        }
    }

</script>
