<template>
    <v-container grid-list-md text-xs-center style="padding: 20px 0">

        <tutorial-first-portfolio :show="innerItems.length > 0" />

        <v-card class="card--flex-toolbar">
            <v-card-title primary-title>
                <div class="headline">{{$translate('menu.portfolio')}}</div>
            </v-card-title>
            <v-card-text style="min-height: 200px;">
                <v-data-table v-bind:headers="headers" :items="innerItems" hide-actions class="table-markets" :pagination.sync="pagination">
                    <tr class="portfolio-row" slot="items" slot-scope="props" v-if="props" @click="show(props.item)">
                        <td style="width: 48px; text-align: left;">
                            <img style="height: 40px; width: 40px;" height="40" width="40" :alt="props.item.name" :title="props.item.market" :src="`/img/markets/${props.item.market}.png`" />
                        </td>
                        <td>
                            <b>{{ props.item.position }}</b>
                            {{ props.item.open_time | formatDateTime }}
                        </td>
                        <td>
                            <b>{{props.item.market}} {{ props.item.units.toFixed(8) }}</b>
                            <span v-if="props.item.invested > 0 && props.item.base_iso === 'USDT'">{{ props.item.unitPrice | currencyWithSymbol(props.item.market) }} / {{$translate('portfolio.label.5')}}</span>
                            <span v-else-if="props.item.invested > 0">{{props.item.base_iso}} {{ Math.round(props.item.unitPrice * 100000000) / 100000000 }} / {{$translate('portfolio.label.5')}}</span>
                        </td>
                        <td v-if="props.item.invested > 0 && props.item.base_iso === 'USDT'">{{ props.item.invested | currencyWithSymbol }}</td>
                        <td v-else-if="props.item.invested > 0">{{props.item.base_iso}} {{ Math.round(props.item.invested * 100000000) / 100000000 }}</td>
                        <td v-else>/</td>
                        <td style="font-weight: bold" v-if="props.item.base_iso === 'USDT'">
                            {{ getRate(props.item) | currencyWithSymbol(props.item.market) }}
                        </td>
                        <td style="font-weight: bold" v-else>
                            {{props.item.base_iso}} {{ Math.round(getRate(props.item) * 100000000) / 100000000 }}
                        </td>
                        <td :style="'color: ' + (props.item.invested > 0 ? (props.item.profit >= 0 ? 'green' : 'red') : 'black')">
                            <b v-if="props.item.base_iso === 'USDT'">{{props.item.profit | currencyWithSymbol}}</b>
                            <b v-else>{{props.item.base_iso}} {{Math.round(props.item.profit * 100000000) / 100000000}}</b>
                            <span v-if="props.item.invested > 0">{{props.item.profit >= 0 ? '+' : ''}}{{props.item.profit * 100 / props.item.invested | formatPercentage }} %</span>
                        </td>
                        <td>
                            <v-btn icon color="red white--text" small @click.native="closeOrder($event, props.item)">
                                <v-icon>icon-close</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </v-data-table>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        props: {
            market: {
              type: String,
              default: null,
            },
        },
        data() {
            return {
                api: 'portfolio/list',
                items: [],
                innerItems: [],
                pagination: {
                    rowsPerPage: 20
                },
                headers: this.$translateHeaders([{
                        text: "",
                        sortable: false,
                        value: "id"
                    },
                    {
                        text: "history.label.12",
                        value: "position"
                    },
                    {
                        text: "portfolio.label.2",
                        value: "units"
                    },
                    {
                        text: "history.text.1",
                        value: "invested"
                    },
                    {
                        text: "portfolio.label.3",
                        value: "currentRate"
                    },
                    {
                        text: "label.6",
                        value: "profit"
                    },
                    {
                        sortable: false
                    }
                ])
            }
        },
        beforeMount() {
            this.$onApi("market/summaries", this.onSummary.bind(this));
            this.onSummary(this.$db.summaries)
        },
        mounted() {
            this.innerItems = this.transformItems(this.items);
            this.onSummary(this.$db.summaries)
        },
        watch: {
            items() {
                this.innerItems = this.transformItems(this.items);
                this.onSummary(this.$db.summaries)
            },
            innerItems() {
                this.$nextTick(() => {
                    this.pagination.rowsPerPage = this.innerItems.length;
                });
                
                this.$emit('items', this.innerItems.map((obj) => {
                    return {
                        base_iso: obj.base_iso,
                        invested: obj.invested,
                        profit:   obj.profit
                    }
                }));
            },
        },

        methods: {
            getRate(item) {
                const market = item.base_iso + '-' + item.market;
                return item.currentRate || (item.type === 'sell' ? this.$db.getSummary(market).ask : this.$db.getSummary(market).bid);
            },

            getProfit(item) {
                const value = item.quantity * this.getRate(item);
                return value - item.invested;
            },

            closeOrder($e, item) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented()))
                    $e.preventDefault();

                this.$emit('closeOrder', item);
            },
            
            show(item) {
                this.$emit('showItem', item);
            },
            
            transformItems(items) {
                if (this.market)
                    items = items.filter(item => item.market === this.market);

                return items.map((obj) => {
                    const name = (this.$db.getMarket(obj.market) || {}).name || obj.market;
                    return {
                        id:          obj.id,
                        type:        obj.type,
                        position:    this.$translate(obj.invested !== 0 ? 'label.15' : 'portfolio.label.6', { name }) + (obj.invested !== 0 ? ' ' + name : ''),
                        open_time:   obj.open_time,
                        market:      obj.market,
                        profit:      this.getProfit(obj),
                        currentRate: this.getRate(obj),
                        units:       obj.quantity,
                        unitPrice:   obj.invested / obj.quantity,
                        invested:    obj.invested,
                        base_iso:    obj.base_iso,
                        multiplicator: obj.multiplicator,
                        stop_loss:   obj.stop_loss,
                        take_profit: obj.take_profit
                    }
                });
            },

            onSummary(summaries) {
                var changed = false;

                this.items.forEach((item) => {
                    const summary = this.$db.getSummary(item.base_iso + '-' + item.market);
                    
                    if(!summary)
                        return;
                    
                    if(parseFloat(summary.last) !== item.currentRate) {
                        item.currentRate = item.type === 'sell' ? parseFloat(summary.ask) :  parseFloat(summary.bid);
                        changed = true;
                    }
                });
                
                if(changed)
                    this.innerItems = this.transformItems(this.items);
            }
        }
    };

</script>

<style>
    .portfolio-row {
      text-align: left;
    }

    .portfolio-row td {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    
    .portfolio-row b {
        font-size: 16px;
        padding-bottom: 5px;
        display: block;
    }

</style>