<template>
    <nothing-to-display-view api="portfolio/list">
        <v-container grid-list-md text-xs-center v-if="!marketView">
            <v-layout row wrap justify-center class="portfolio-stats">
                <v-flex xs12 sm4 md3>
                    <v-card>
                        <v-card-text primary-title class="blue-grey white--text">
                            <div>
                                <div class="headline">{{ allocated | currencyWithSymbol }}</div>
                                <div>{{$translate('portfolio.label.4')}}</div>
                            </div>
                            <v-spacer/>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs12 sm4 md3>
                    <v-card>
                        <v-card-text primary-title :class="'white--text ' + profitColor">
                            <div>
                                <div class="headline">{{ profit | currencyWithSymbol }}</div>
                                <div><span>{{$translate('label.6')}}</span> {{$getCurrency().name}}</div>
                            </div>
                            <v-spacer/>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs12 sm4 md3>
                    <v-card>
                        <v-card-text primary-title :class="'white--text ' + profitColor">
                            <div>
                                <div class="headline">{{ (profit * 100 / allocated) | formatPercentage }} %</div>
                                <div>{{$translate('history.label.4')}}</div>
                            </div>
                            <v-spacer/>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>

        <portfolio-list :market="market" @items="updateItems" @showItem="showItem" @closeOrder="closeOrder" />
        <portfolio-info :info="showedItem" ref="dialog" @closeOrder="closeOrder" />
        <portfolio-close :id="closingId" ref="closeDialog" :item="showedItem" />
    </nothing-to-display-view>
</template>

<script>
    
    export default {
        props: {
          marketView: {
            type: Boolean,
            default: false,
          },
          market: {
            type: String,
            default: null,
          },
        },

        data() {
            return {
                items: [],
                showedItem: null,
                closingId: 0
            }
        },
        
        computed: {
            profit() {
                return this.items.reduce((prev, next) => {
                    var profit = (next.invested > 0  && next.base_iso === 'USDT' ? parseFloat(next.profit) : 0)
                    if(next.invested > 0  && next.base_iso !== 'USDT') {
                        const market = this.$db.getMarket('USDT-' + next.base_iso) || { value: 0 }
                        profit = market.value * next.profit;
                    }

                    return prev + (next.invested > 0 ? profit : 0);
                }, 0);
            },

            allocated() {
                return this.items.reduce((prev, next) => {
                    var invested = next.base_iso === 'USDT' ? parseFloat(next.invested) : (this.$db.getMarket('USDT-' + next.base_iso) || { value: 0 }).value * next.invested;
                    return prev + invested;
                }, 0);
            },
            
            profitColor() {
                if(this.profit === 0)
                    return 'blue-grey';
                
                return this.profit < 0 ? 'red' : 'green';
            }
        },
        
        methods: {
            updateItems(items) {
                this.items = items;
            },

            showItem(item) {
                if(this.$refs.closeDialog.show)
                    return;

                this.showedItem = item;
                this.$refs.dialog.show = true;
            },
            
            closeOrder(item) {
                this.showedItem = item
                this.closingId = item.id;
                this.$refs.dialog.show = false;
                this.$refs.closeDialog.show = true;
            }
        }
    }

</script>
