<template>
    <v-layout row wrap>
        <!-- Advanced -->
        <v-flex xs12 class="text-xs-left px-2">
            <v-alert color="error" icon="icon-error" class="mb-3" :value="error">
                {{error}}
            </v-alert>

            <div class="title">{{$translate(`order.${type}.1`)}}</div>
            <v-checkbox v-model="enabled" :label="$translate(`order.${type}.2`)"></v-checkbox>
            <v-text-field v-if="enabled" :label="$translate(`order.${type}.3`)" min="0.01" max="100" class="pa-0" suffix="%" v-model="value" @changed="value = parseFloat(value || 0)" />
            <v-checkbox v-if="enabled" v-model="trailing" :label="$translate(`order.${type}.4`)"></v-checkbox>
            <v-text-field v-if="type === 'tp' && enabled && trailing" :label="$translate(`order.${type}.5`)" min="0.01" max="100" class="pa-0" suffix="%" v-model="devValue" @changed="devValue = parseFloat(devValue || 0)" />
        </v-flex>

        <v-flex xs12 class="text-xs-center">
            <!--<v-alert color="warning" icon="icon-error" :value="type === 'sl' " class="mb-2">
                <span>{{$translate('portfolio.text.3')}}.</span><br>
                <span>{{$translate('portfolio.text.4')}}.</span>
            </v-alert>
            <v-alert color="warning" icon="icon-error" :value="type === 'tp' " class="mb-2">
                <span>{{$translate('portfolio.text.5')}}.</span><br>
                <span>{{$translate('portfolio.text.6')}}.</span>
            </v-alert>!-->
            <v-btn type="button" color="primary" outline @click.prevent="$emit('back')">{{$translate('btn.1')}}</v-btn>
            <v-btn type="button" class="green white--text" @click.prevent="save">{{$translate('btn.8')}}</v-btn>
            <br>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        props: {
            id: Number,
            type: String,
            currentRate: Number,
        },
        data() {
            return {
                api: 'portfolio/triggers',
                items: [],
                error: null,

                value: 0,
                enabled: false,
                trailing: false,
                devValue: 0,
            }
        },
        watch: {
          id(val, oldval) {
            if (val && val !== oldval)
              this.refreshData();
          },
          items(val) {
            this.refreshData();
          },
        },
        methods: {
            refreshData() {
                var sp = null;
                var trailing = null;
                if(this.type === 'sl') {
                    sp        = this.items.find(el => el.type === 'sl' && el.portfolio_id === this.id) || null;
                    trailing  = this.items.find(el => el.type === 'sl_following' && el.portfolio_id === this.id) || null;
                } else {
                    sp        = this.items.find(el => el.type === 'tp' && el.portfolio_id === this.id) || null;
                    trailing  = this.items.find(el => el.type === 'tp_trailing' && el.portfolio_id === this.id) || null;
                }

                this.enabled    = (!!sp || !!trailing);
                this.value      = parseFloat((sp || trailing || { percentage: 0 }).percentage);
                this.trailing   = !!trailing;
                this.devValue   = parseFloat((sp || trailing || { dev_percentage: 0 }).dev_percentage);
            },

            hasType(type) {
              const found = (this.items.find(el => el.type === type && el.portfolio_id == this.id) || false);
              return found ? found.id : false;
            },

            async handleType(type, enabled, value, devValue) {
                let items = this.items.slice(0);
                if (this.hasType(type)) {
                    await this.$api.post('portfolio/trigger-remove', {
                        id: this.hasType(type),
                        type,
                    });
                    items = items.filter(el => el.id !== this.hasType(type));
                }

                if (enabled) {
                    const data = {
                        id: this.id,
                        type,
                        value,
                    };
                    if (devValue || devValue === 0) data.devValue = devValue;
                    const trigger = await this.$api.post('portfolio/trigger-attach', data);
                    items = [].concat(items, [trigger]);
                }

                this.$set(this, 'items', items);
            },

            async asyncSave() {
                const previous = {
                    value: this.value,
                    enabled: this.enabled,
                    trailing: this.trailing,
                    devValue: this.devValue,
                }

                try {
                    const value = this.value;
                    if (this.type === 'sl') {
                        if (!!this.trailing && this.enabled) {
                            await this.handleType('sl', false, value); // Remove 'sl'
                            await this.handleType('sl_following', true, value); // Remove + Add 'sl_following'
                        } else {
                            const enabled = this.enabled;
                            await this.handleType('sl_following', false, value); // Remove 'sl_following'
                            await this.handleType('sl', enabled, value); // Remove + Add 'sl'
                        }
                    } else if (this.type === 'tp') {
                        if (!!this.trailing && this.enabled) {
                            const devValue = this.devValue;
                            await this.handleType('tp', false, value); // Remove 'tp'
                            await this.handleType('tp_trailing', true, value, devValue); // Remove + Add 'tp_trailing'
                        } else {
                            const enabled = this.enabled;
                            await this.handleType('tp_trailing', false, value); // Remove 'tp_trailing'
                            await this.handleType('tp', enabled, value); // Remove + Add 'sl'
                        }
                    }

                    this.error = null;
                    this.$api.refresh('portfolio/triggers');
                    this.$emit('done');
                } catch(e) {
                    for(var x in previous)
                        this[x] = previous[x];

                    throw(e);
                }
            },

            save() {
                this.error = null;
                this.asyncSave().catch((err) => {
                    this.error = err.error || err.message || err;
                });
            }
        }
    }

</script>
