<template>
  <div class="notification-manager">
    <v-alert v-for="notif in notifications" :color="`${notif.type} lighten-1`" :value="notif.opened" :key="notif.time" dismissible>
      {{ $translate(notif.message) }}
    </v-alert>
  </div>
</template>

<script>
export default {
  data() {
    return {
      notifications: [],
    };
  },
  beforeMount() {
    this.$onApi('new-notification', (data) => {
      let notifications = this.notifications.slice(0);
      const uuid = `${Date.now()}-${notifications.length}`;
      const hash = this.hashCode(JSON.stringify(data));
      notifications = this.filter(hash, notifications);
      notifications = this.filter(uuid, notifications);
      notifications.push({
        uuid,
        hash,
        type: data.type,
        message: data.message,
        opened: true,
      });
      this.$set(this, 'notifications', notifications);
      if (!data.persistent) {
        this.$setTimeout(() => {
          this.filter(uuid);
        }, 8500);
      }
    });
  },
  methods: {
    hashCode(str) {
      var hash = 0, i, chr;
      if (str.length === 0) return hash;
      for (i = 0; i < str.length; i++) {
        chr   = str.charCodeAt(i);
        hash  = ((hash << 5) - hash) + chr;
        hash |= 0; // Convert to 32bit integer
      }
      return hash;
    },
    filter(term, arr) {
      if (arr) return arr.filter(n => n.uuid !== term && n.hash !== term);
      this.$set(this, 'notifications', this.notifications.filter(n => n.uuid !== term && n.hash !== term));
    },
  },
};
</script>

<style>
.notification-manager {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2147483647;
}

.notification-manager .v-alert {
  z-index: 2147483647;
  margin: 10px;
  -webkit-box-shadow: 1px 2px 15px -6px rgba(0,0,0,0.6);
  -moz-box-shadow: 1px 2px 15px -6px rgba(0,0,0,0.6);
  box-shadow: 1px 2px 15px -6px rgba(0,0,0,0.6);
  border-radius: 5px;
  border-top-width: 2px;
}
</style>
