<template>
    <v-card>
        <v-card-title class="pb-0" v-if="!left">
            <h2 class="headline pb-0 mb-0">{{ $translate('settings.label.1') }}</h2>
        </v-card-title>
        <v-card-title class="pt-0 mt-0" v-if="!left">
            <b class="subheader pl-0">{{ $translate('settings.text.1') }}</b>
        </v-card-title>
        <v-card-text class="py-0 my-0" v-if="email">
            <span>{{$translate('settings.label.2')}}</span>:<br>
            <b>{{ email }}</b>
        </v-card-text>
        <v-card-text class="py-0 my-0" v-else-if="!formSuccess">
            <b><span>{{ $translate('settings.text.2') }}</span></b>
        </v-card-text>

        <v-card-text class="pt-0" v-if="formSuccess">
            <v-alert class="success" :value="true">
                <span>{{message}}</span>
            </v-alert>
        </v-card-text>
        <v-card-text v-else-if="!setupForm" :class="{ 'pt-0': true, 'text-xs-center': !left }">
            <v-btn color="primary" @click="setupForm = true">
                {{ $translate(email ? 'settings.label.3' : 'settings.label.4') }}
            </v-btn>
        </v-card-text>
        <v-card-text v-else>
            <v-flex xs12 md6 :offset-md3="!left">
                <form method="post" action="settings.contact/update-email" @apiSuccess="onSuccess">
                    <v-text-field :label="$translate('settings.label.1')" type="email" name="email" />
                    <v-btn outline color="blue-grey" @click="setupForm = false" v-if="!left">
                        {{ $translate('btn.5') }}
                    </v-btn>
                    <v-btn color="green white--text" type="submit">
                        {{ $translate('btn.12') }}
                    </v-btn>
                </form>
            </v-flex>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        props: {
            left: {
                type: Boolean,
                default: false
            },
            apiOverwrite: {
                type: String,
                required: false
            }
        },
        data() {
            return {
                api:  this.apiOverwrite || 'settings.contact/info',
                email: null,
                email_verified: false,
                setupForm: this.left,
                formSuccess: false,
                message: ''
            }
        },

        methods: {
            onSuccess($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.setupForm = false;
                this.formSuccess = true;

                if($e.result.email === false) {
                    this.message = this.$translate('settings.text.3');
                } else {
                    this.message = this.$translate('settings.text.4');
                }
            }
        }
    };

</script>

<style lang="scss">

    hr {
        border: none;
        margin: auto;
        margin-bottom: 10px;
        width: 80%;
        height: 1px;
        background: #eee;
    }

</style>
