<template>
    <v-card>
        <v-card-title class="pb-0">
            <h2 class="headline pb-0 mb-0">{{$translate('settings.label.5')}}</h2>
        </v-card-title>
        <v-card-title class="pt-0 mt-0 pb-0">
            <b class="subheader pl-0">
                {{$translate('settings.text.5')}}
            </b>
        </v-card-title>
        <v-card-text v-if="show === 1">
            <table class="settings-phone">
                <tbody>
                    <tr>
                        <th>{{$translate('settings.text.6')}}:</th>
                        <td>
                            {{phone_number}}
                        </td>
                    </tr>
                    <tr>
                      <td colspan="2"><hr class="mt-2 mb-1"></td>
                    </tr>
                    <tr class="mb-1">
                        <th>{{$translate('settings.text.7')}}:</th>
                        <td v-if="country">
                            {{ getFlag(country) }} <span>{{country.name.common}}</span>
                        </td>
                        <td v-else>/</td>
                    </tr>
                </tbody>
            </table>

            <v-alert class="success" :value="successMessage" style="margin-top: 25px">
                <span>{{successMessage}}</span>
            </v-alert>

            <div class="text-center">
                <v-btn type="button" color="primary" style="margin-top: 20px" @click="show = 2">
                    {{$translate('settings.label.6')}}
                </v-btn>
            </div>
        </v-card-text>
        <v-card-text v-else-if="show === 2" class="text-center">
            <h2>{{$translate('settings.label.7')}}:</h2>
            <form method="post" action="settings.contact/update-phone" @apiSuccess="onMessageSend" @apiPrepare="loading = true" @apiDone="loading = false">
                <input-phone :phone="phone_number" />

                <v-progress-linear indeterminate active color="blue" v-if="loading" />
                <hr style="margin-top: 20px" />
                <v-btn type="button" color="blue-grey" outline @click="show = 1">
                    {{$translate('btn.5')}}
                </v-btn>
                <v-btn class="green white--text" type="submit">
                    {{$translate('btn.8')}}
                </v-btn>
            </form>
        </v-card-text>
        <v-card-text v-else class="text-center">
            <form method="post" ref="pinform" action="settings.contact/validate-phone" @apiSuccess="onPhoneChanged">
                <v-flex xs12 md6 offset-md3>
                    <b>{{$translate('settings.text.8')}}</b>
                    <b>{{phone_confirm}}</b>
                    <input type="hidden" :value="id_confirm" name="id" />
                    <input type="hidden" :value="phone_confirm" name="phone_number" />
                    <input-pin name="token" token @submit="$submitForm('pinform')" />
                </v-flex>
                <hr>
                <v-btn type="button" color="blue-grey" outline @click="show = 1">
                    {{$translate('btn.5')}}
                </v-btn>
                <v-btn type="submit" class="green white--text">
                    {{$translate('btn.13')}}
                </v-btn>
            </form>
        </v-card-text>
    </v-card>
</template>

<script>
    import nodeEmoji from 'node-emoji';
    import Countries from '@config/countries';
    import { parse } from 'libphonenumber-js';

    export default {
        
        data() {
            return {
                api:  'settings.contact/info',
                phone_number: null,
                phone_confirm: null,
                id_confirm: null,
                country: null,
                show: 1,
                successMessage: null,
                loading: false,
            }
        },
        watch: {
            phone_number() {
                this.parsePhoneProp();
            },
            show(val) {
                if(val !== 1)
                    this.successMessage = null;
            }
        },
        mounted() {
            this.parsePhoneProp();
        },
        methods: {
            getFlag(item) {
                if (!item || !item.flag) return '';
                return nodeEmoji.get(item.flag);
            },

            parsePhoneProp() {
                var phoneInfo = this.phone_number ? parse(this.phone_number) : null;

                if(phoneInfo && phoneInfo.country) {
                    this.country = Countries[phoneInfo.country];
                }
            },

            onMessageSend($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                const result = typeof($e.result.phone_result) === 'object' && $e.result.phone_result.result ? $e.result.phone_result.result : $e.result.phone_result;

                if((result && result.result === false) || result === false) {
                    this.successMessage = this.$translate('settings.text.9');
                    this.show = 1;
                    return;
                }

                this.phone_confirm = $e.result.phone_number;
                this.id_confirm = result.id;
                this.show = 3;
            },

            onPhoneChanged($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.successMessage = this.$translate('settings.text.10');
                this.phone_number = this.phone_confirm;
                this.show = 1;

                this.$api.refresh('settings.contact/info');
            }
        }
    }

</script>

<style lang="scss">

    table.settings-phone {
        th {
            text-align: left;
        }

        td {
            padding-left: 20px;
        }
    }

</style>