<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <settings-contact-phone-form />
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12>
        <settings-contact-email-form />
      </v-flex>
    </v-layout>
  </v-container>
</template>