<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered>
    <head {{{meta.inject().headAttrs.text()}}}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
        <link rel="shortcut icon" type="image/png" sizes="32x32" href="/img/favicon.png" />
        <link rel="shortcut icon" type="image/png" sizes="48x48" href="/img/manifest/logo-48.png">

        {{{ meta.inject().title.text() }}}
        {{{ meta.inject().meta.text() }}}
        {{{ meta.inject().link.text() }}}
        {{{ meta.inject().base.text() }}}
        {{{ meta.inject().style.text() }}}
        {{{ meta.inject().noscript.text() }}}

        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />

        <meta name="keywords" content="bit4you, trading, crypto, crypto-assets, exchange, platform, regulated, bitcoin" >
        <meta name="application-name" content="bit4you" />
        <meta name="theme-color" content="#006bff">
        <meta property="og:url"                content="https://www.bit4you.io" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="bit4you - buy and sell crypto assets" />
        <meta property="og:description"        content="Buy and sell your favorite crypto assets on a nice and easy way with bit4you. Once your comfortable with the cryptos on your demo account, you can easily switch to real funds within the same account." />
        <meta property="og:image"              content="https://www.bit4you.io/img/manifest/logo-192.png" />

        <meta property='author' content='bit4you'>
        <meta name='author' content='bit4you'>
        <meta name='owner' content='bit4you'>
        <meta name='designer' content='bit4you'>
        <meta name='copyright' content='bit4you'>

        <meta name='target' content='all'>
        <meta name='HandheldFriendly' content='True'>
        <meta name="MobileOptimized" content="320">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/manifest/logo-120.png">

        <link rel="manifest" href="/manifest.json">

        {{{ meta.httpCode && meta.httpCode !== 200 && meta.httpCode !== 404 ? `<script>window.HTTP_STATUS = ${meta.httpCode}; </script>` : '' }}}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M2VMKVR');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body {{{meta.inject().bodyAttrs.text()}}}>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2VMKVR"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <!--vue-ssr-outlet-->
        <script>window.API_DATA = {{{ JSON.stringify(meta.apiData || {}) }}}</script>
        {{{ meta.inject().script.text() }}}
    </body>
</html>