<template>
    <div>
        <input :name="name" type="hidden" :value="country" />
        <v-autocomplete v-model="country" :items="countries" :label="$translate(label)"
              :prepend-icon="prependIcon || getFlag(country)"
              item-text="name" item-value="value"
              :disabled="disabled"
              :required="required" :error="error"
              @change="$emit('change', $event)">
            <v-slide-x-reverse-transition slot="append-outer" mode="out-in" />
        </v-autocomplete>
    </div>
</template>

<script>
    import nodeEmoji from 'node-emoji';
    import Countries from './countries.json';

    export default {
        props: {
            name: {
                type: String,
                default () {
                    return 'country'
                },
            },
            label: {
                type: String,
                default () {
                    return 'Country'
                },
            },
            value: {
                type: String,
                required: false
            },
            required: {
                type: Boolean,
                required: false
            },
            prependIcon: {
                type: String,
                required: false,
                default: null
            },
            disabled: {
                type: Boolean,
                default: false
            },
            error: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                country: this.value || ''
            };
        },
        computed: {
            countries() {
                return Object.keys(Countries).map((iso) => {
                    return {
                        value: iso,
                        name:  this.$translate(Countries[iso].name.common),
                        flag:  Countries[iso].flag
                    }
                })
            }
        },
        methods: {
            getFlag(item) {
                if (!item) return '';
                item = Countries[item];
                if(!item) return '';
                return nodeEmoji.get(item.flag || item);
            }
        },

        watch: {
            value(val) {
                if(val !== this.country)
                    this.country = val;
            },
            country(val) {
                if(val  !== this.value) {
                    this.$emit('input', val);
                }
            }
        }
    }

</script>

<style lang="scss">
    .phone-input {
        .code-text {
            margin-right: 5px;
            flex: none;
            border-bottom: none;
            height: 50px;
            .input-group__details {
                display: none;
            }
        }
        .phone-text {
            max-width: 250px;
            height: 50px;
            .input-group__details::before {
                background-color: rgba(0, 0, 0, 0.25);
            }
        }
        .dialog__container {
          display: block !important;
          margin: auto;
          text-align: center;
        }
    }

    .members-plus {
        padding-top: 22px;
        padding-right: 2px;
    }
    
</style>
