<template>
    <v-text-field v-if="disabled" :disabled="disabled" v-model="dateFormatted" :label="label" :prepend-icon="prependIcon" @blur="date = parseDate(dateFormatted)" :name="name" :class="txtClass" :mask="type === 'date' ? '####-##-##' : '####-##'" />
    <v-menu v-else :close-on-content-click="false" v-model="menuDate" :nudge-right="40" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
        <v-text-field slot="activator" v-model="dateFormatted" :label="label" :prepend-icon="prependIcon" @blur="date = parseDate(dateFormatted)" :name="name" :class="txtClass" :mask="type === 'date' ? '####-##-##' : '####-##'" />
        <v-date-picker v-model="date" no-title ref="picker" @input="handleDate($event)" :max="(max || '').substr(0, 10)" :min="(min || '').substr(0, 10)" :type="type" />
    </v-menu>
</template>

<script>

    export default {
        props: {
            value: {
                type: String,
                required: false,
                default: ''
            },
            prependIcon: {
                type: String,
                required: false,
                default: 'icon-calendar'
            },
            name: {
                type: String,
                required: false,
            },
            txtClass: {
                type: String,
                required: false
            },
            min: {
                type: String,
                required: false
            },
            max: {
                type: String,
                required: false
            },
            disabled: {
                type: Boolean,
                default: false
            },
            type: {
                type: String,
                required: false,
                default: 'date'
            },
            label: String
        },
        data() {
            return {
                menuDate: false,
                date: this.value || '',
                dateFormatted: ''
            }
        },
        watch: {
            menuDate(val) {
                if (val) this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'));
            },
            date(val, oldVal) {
                if(val === oldVal)
                    return;

                const formated = this.parseDate(val);
                if(formated && formated !== this.dateFormatted)
                    this.dateFormatted = formated;

                this.$emit('value:update', val);
                this.$emit("input", val)
            },
            value(val) {
                this.date = val;
                this.dateFormatted = this.handleDate(val);
            }
        },
        mounted() {
            if(this.value)
                this.handleDate(this.value);
        },
        methods: {
            parseDate(date) {
                if (!date)
                    return this.date;

                const [year, month, day] = date.indexOf('/') === -1 ? date.split('-') : date.split('/');
                if(!year || !month || !day)
                    return this.date;
                
                if(this.type === 'month')
                    return `${year}-${month.padStart(2, '0')}`;

                return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
            },
            handleDate(date) {
                if (!date)
                    return null

                if(this.type === 'month')
                    date = date.substr(0,7) + '-01';

                let d = new Date(date);
                const year = d.getFullYear();
                const month = String(d.getMonth() + 1).padStart(2, '0');
                const day = String(d.getDate()).padStart(2, '0');

                if(this.type === 'month')
                    this.dateFormatted = `${year}/${month}`;
                else
                    this.dateFormatted = `${year}/${month}/${day}`;

                this.menuDate = false;
                return this.dateFormatted;
            }
        }
    }
    
</script>