<template>
    <div class="drag-and-drop-upload" @click="$refs.fileupload.click();">
        <div class="input">
            <input type="file" ref="fileupload" :accept="accept" @change="previewUpload" :name="name">
        </div>

        <h2 v-if="label">{{label}}</h2>

        <div style="clear:both" v-if="preview">
            <img v-if="previewImage" :src="preview" width= />
            <iframe v-else frameborder="0" scrolling="no" width="400" height="400" :src="preview"></iframe>
        </div>
        <img v-else-if="img" :src="img" />
        <v-icon v-else-if="icon" size=80>icon-{{icon.replace('icon-', '')}}</v-icon>

        <div>
            <v-btn>Upload Document</v-btn>
        </div>

        <div>
          <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            img: {
                type: String,
                required: false,
                default: null
            },
            icon: {
                type: String,
                required: false,
                default: null
            },
            label: {
                type: String,
                required: false,
                default: null
            },
            name: {
                type: String,
                required: false,
                default: null
            },
            accept: {
                type: String,
                default: 'image/jpeg, image/jpg, image/png, application/pdf',
            },
            value: {
                type: Array,
                default: [],
            }
        },
        data() {
            return {
                previewImage: true,
                preview: false,
                dragAndDropCapable: false,
                files: this.value || []
            }
        },
        watch: {
            files() {
                this.$emit('input', this.files);
            },
            value() {
                //ToDo attach files to input
            }
        },
        mounted() {
            this.dragAndDropCapable = this.determineDragAndDropCapable();
            if (this.dragAndDropCapable) {
                ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach((evt) => {
                    this.$el.addEventListener(evt, ($e) => {
                        if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                          $e.preventDefault();
                        }
                        $e.stopPropagation();
                    }, false);
                });

                this.$el.addEventListener('drop', this.onDrop.bind(this))
            }
        },
        methods: {
            previewUpload() {
                if (this.$isServer) return;
                try {
                  const URLLib = window.URL || window.webkitURL;
                  const file = this.$refs.fileupload.files[0];
                  this.preview = URLLib.createObjectURL(file);
                  this.previewImage = (file.type !== "application/pdf");
                  this.onChange();
                } catch (e) {
                  this.preview = null;
                  this.previewImage = false;
                }
            },
            determineDragAndDropCapable() {
                return (('draggable' in this.$el) ||
                        ('ondragstart' in this.$el && 'ondrop' in this.$el)) &&
                    'FormData' in window &&
                    'FileReader' in window;
            },
            onDrop($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.$refs.fileupload.files = $e.dataTransfer.files;
            },
            onChange() {
                var x = this.$refs.fileupload;
                if(!x.files)
                    return;

                var totalsize = 0;
                var files = [];
                var all = [];
                for (var i = 0; i < x.files.length; i++)
                    all.push(this.getBase64(x.files[i]));

                Promise.all(all).then((res) => {
                    for(var i in res) {
                        var base64 = res[i].b64;
                        files.push(base64);
                        if ('size' in res[i].file) {
                            totalsize += res[i].file.size;
                            //txt += ` (${res.returnFileSize(file.size)})`;
                        }
                    }

                    this.$set(this, 'files', files);
                }).catch((err) => {
                    console.error(err);
                });
            },
            getBase64(file) {
                return new Promise((resolve) => {
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function () {
                        resolve({
                            file,
                            b64: reader.result
                        });
                    };
                    reader.onerror = function (error) {
                        reject(error);
                    };
                });
            },
        }
    }

</script>

<style lang="scss">
    .drag-and-drop-upload {
        cursor: pointer;
        border: 3px dotted #000;
        padding: 25px 15px;
        text-align: center;

        img {
            max-width: 100%;
            max-height: 200px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }

        .input {
            opacity: 0;
            height: 1px;
        }
    }

</style>
