<template>
  <div style="padding: 10px; background: #ececec; border-radius: 3px;">
    <div style="display: block; opacity: 0; height: 1px;">
      <input type="file" ref="fileupload" :multiple="multiple" :accept="accept" @change="this.onchange">
      <input type="hidden" v-for="(file, i) in files" :key="i+String(file).slice(-10)" :name="`${name}-${i}`" :value="file" />
    </div>
    <div :class="{ 'text-center': center }">
      <v-btn @click="activate" class="ml-0">{{ text }}</v-btn>
      <span v-if="totalsize <= 0"><slot></slot><small><b> (Max {{ this.returnFileSize(max) }})</b></small></span>
      <p class="mb-0" v-html="txt"></p>
      <v-alert :value="totalsize > max" class="danger">
        Current total size: {{ this.returnFileSize(totalsize) }}.<br>
        Max total size: {{ this.returnFileSize(max) }}
      </v-alert>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    center: {
      type: Boolean,
      default: false,
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    accept: {
      type: String,
      default: 'image/jpeg, image/jpg, image/png, application/pdf',
    },
    max: {
      type: Number,
      default: 15728640, // 15MB
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      default: 'upload',
    },
    text: {
      type: String,
      default: 'Upload files',
    },
  },
  data() {
    return {
      files: [],
      totalsize: 0,
      txt: '',
    };
  },
  mounted() {
    this.onchange();
    const input = this.$refs.fileupload;
    this.$onApi('form-submit', () => {
      input.disabled = true;
      setTimeout(() => {
        if (input) input.disabled = false;
      }, 300);
    });
  },
  watch: {
    files() {
      const emit = {};
      this.files.forEach((file, i) => {
        emit[`${this.name}-${i}`] = file;
      });
      this.$emit('files', emit);
    },
  },
  methods: {
    activate() {
      if (!this.disabled)
        this.$refs.fileupload.click();
    },
    returnFileSize(number) {
      if(number < 1024) {
        return number + 'bytes';
      } else if(number >= 1024 && number < 1048576) {
        return (number/1024).toFixed(1) + 'KB';
      } else if(number >= 1048576) {
        return (number/1048576).toFixed(1) + 'MB';
      }
    },
    getBase64(file) {
      return new Promise((resolve) => {
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          resolve(reader.result);
        };
        reader.onerror = function (error) {
          resolve('');
        };
      });
    },
    onchange() {
      var x = this.$refs.fileupload;
      var txt = "";
      var totalsize = 0;
      var files = [];
      if ('files' in x) {
          if (x.files.length == 0) {
              txt = `<small>Select one or more (${ this.accept.split('image/').join('').split('application/').join('') }) files.</small>`;
              this.$set(this, 'txt', txt);
          } else {
              var txtArray = [];
              for (var i = 0; i < x.files.length; i++) {
                  var file = x.files[i];
                  this.getBase64(file).then((base64) => {
                    var txt = '';
                    if ('name' in file) {
                        txt += file.name;
                    }
                    if (base64.length > 0) {
                      files.push(base64);
                      if ('size' in file) {
                          totalsize += file.size;
                          txt += ` (${this.returnFileSize(file.size)})`;
                      }
                    } else {
                      txt += ` (Could not be uploaded by this browser)`;
                    }
                    txtArray.push(txt);
                    this.$set(this, 'totalsize', totalsize);
                    this.$set(this, 'files', (totalsize > this.max) ? [] : files);
                    this.$set(this, 'txt', txtArray.join('<br>'));
                  });
              }
          }
      } else {
          if (x.value == "") {
              txt += "Select one or more files.";
          } else {
              txt += "The files property is not supported by your browser!";
              txt  += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
          }
          this.$set(this, 'txt', txt);
      }
    }
  },
};
</script>
