<template>
  <div class="phone-input">
      <div style="margin-top: 30px; text-align:center;">{{$translate('common.label.1')}}</div>
      <v-dialog max-width="350" :overlay="true" v-model="showCountries">
          <div v-if="countryInfo" style="font-size: 25px; margin-top: 15px; margin-bottom: 20px; cursor: pointer" slot="activator">
              {{getFlag(countryInfo)}} {{countryInfo.name ? $translate(countryInfo.name) : '/'}}
          </div>
          <v-card style="background: #fff">
              <v-toolbar color="blue" dark>
                  <v-toolbar-title class="white--text">{{$translate('common.label.2')}}</v-toolbar-title>
                  <v-spacer />
                  <v-btn icon @click="showCountries = false">
                      <v-icon>icon-close</v-icon>
                  </v-btn>
              </v-toolbar>
              <v-text-field prepend-icon="icon-search" :placeholder="`${$translate('placeholder.search2')}...`" hide-details single-line v-model="search" style="margin: 10px 25px 5px; 25px" />
              <v-list>
                  <v-list-tile avatar v-for="item in filtredCountries" :key="item.name" @click="country = item.iso">
                      <v-list-tile-action>
                        {{ getFlag(item) }}
                      </v-list-tile-action>
                      <v-list-tile-content>
                          {{item.name}}
                      </v-list-tile-content>
                  </v-list-tile>
              </v-list>
          </v-card>
      </v-dialog>
      <v-layout row style="padding: 10px 50px;"  justify-center>
          <div class="members-plus">+</div>
          <input type="hidden" :name="nameCountry" :value="country" />
          <v-text-field type="tel" :label="$translate('label.26')" value="32" class="code-text code" :style="{ width: (String(callCode).length * 12) }" single-line v-model="callCode"/>
          <v-text-field type="tel" :label="$translate('settings.label.5')" class="phone-text" :name="namePhone" single-line autofocus v-model="phoneInput" @change="$emit('phone', $event)" />
      </v-layout>
  </div>
</template>

<script>
    import nodeEmoji from 'node-emoji';
    import Countries from './countries.json';
    import { parse, format, AsYouType } from 'libphonenumber-js';

    export default {
        props: {
            nameCountry: {
                type: String,
                default () {
                    return 'country'
                },
            },
            namePhone: {
                type: String,
                default () {
                    return 'phone'
                },
            },
            phone: {
                type: String,
                default: null
            }
        },
        data() {
            return {
                search: '',
                country: null,
                countries: Countries,
                showCountries: false,
                callCode: '',
                phoneInput: null,
            };
        },

        computed: {
            countryInfo() {
                var country = this.countries[this.country];
                if (!country)
                    return {};

                this.callCode = country.callingCode;
                return {
                    name: country.name.common,
                    iso: this.country,
                    flag: country.flag,
                    callCode: country.callingCode,
                };
            },
            filtredCountries() {
                const res = [];
                const search = this.search.toLowerCase();

                for (var key in this.countries) {
                    if (!this.countries[key].name || this.countries[key].name.common.toLowerCase().indexOf(search) === -1)
                        continue;

                    res.push({
                        iso: key,
                        name: this.countries[key].name.common,
                        flag: this.countries[key].flag,
                        callCode: this.countries[key].callingCode,
                    })
                }

                return res;
            },
        },

        watch: {
            showCountries() {
                this.search = '';
            },
            country(val) {
                this.showCountries = false;
                
                if(this.phone && this.phoneInput === null) {
                    var phoneInfo = parse(this.phone, val);
                    
                    if(phoneInfo && phoneInfo.phone) {
                        this.phoneInput = phoneInfo.phone;
                    }
                }

                this.$nextTick(() => {
                    this.$emit('country', this.countryInfo);
                    this.$emit('phone', this.phoneInput);
                    this.$set(this, 'callCode', this.countryInfo.callCode);
                });
            },
            callCode() {
                const country = Object.entries(this.countries).find(([key, value]) => value.callingCode === this.callCode);
                if (country && country.length > 0 && typeof country[0] === 'string') this.country = country[0];
            },
            phone() {
                this.parsePhoneProp();
            }
        },

        mounted() {
            this.parsePhoneProp();
        },
        methods: {
            getFlag(item) {
                if (!item || !item.flag) return '';
                return nodeEmoji.get(item.flag);
            },
            
            parsePhoneProp() {
                var phoneInfo = this.phone ? parse(this.phone) : null;

                if(phoneInfo && phoneInfo.country) {
                    this.country = phoneInfo.country;
                    this.phoneInput = phoneInfo.phone;
                } else {
                    const country = (this.$api.credentials || {
                        country: null
                    }).country;

                    if (!country) {
                        this.country = 'BE';
                        this.$bindApi('platform/geo');
                    } else {
                        this.$set(this, 'country', country);
                    }
                }
            }
        },
    }

</script>

<style lang="scss">
    .phone-input {
        .code-text {
            min-width: 32px;
            margin-right: 5px;
            flex: none;
            border-bottom: none;
            height: 50px;
            .v-input-group__details {
                display: none;
            }

            input {
                text-align: center;
            }
        }
        .phone-text {
            max-width: 250px;
            height: 50px;
            .v-input-group__details::before {
                background-color: rgba(0, 0, 0, 0.25);
            }
        }
        .v-dialog__container {
          display: block !important;
          margin: auto;
          text-align: center;
        }
    }

    .members-plus {
        padding-top: 22px;
        padding-right: 2px;
    }
    
</style>
