<template>
    <v-layout row wrap style="padding: 0" justify-center class="input-pin">
        <input type="hidden" :name="name" :value="code.join('')" />

        <v-text-field :key="`key0-${key}`" :type="innerTypes[0]" single-line class="token-input" v-model="code[0]" :value="String(code[0])" maxlength="1" @keydown.native="keydown" @focus="onFocus($event, 0)" @blur="lostFocus($event, 0)" autofocus pattern="[0-9]*" inputmode="numeric" />
        <v-text-field :key="`key1-${key}`" :type="innerTypes[1]" single-line class="token-input" v-model="code[1]" :value="String(code[1])" maxlength="1" @keydown.native="keydown" @focus="onFocus($event, 1)" @blur="lostFocus($event, 1)" pattern="[0-9]*" inputmode="numeric" />
        <v-text-field :key="`key2-${key}`" :type="innerTypes[2]" single-line class="token-input" v-model="code[2]" :value="String(code[2])" maxlength="1" @keydown.native="keydown" @focus="onFocus($event, 2)" @blur="lostFocus($event, 2)" pattern="[0-9]*" inputmode="numeric" />
        <div class="members-plus" style="margin: 0 15px" v-if="token">-</div>
        <v-text-field :key="`key3-${key}`" :type="innerTypes[3]" single-line class="token-input" v-model="code[3]" :value="String(code[3])" maxlength="1" @keydown.native="keydown" @focus="onFocus($event, 3)" @blur="lostFocus($event, 3)" pattern="[0-9]*" inputmode="numeric" />
        <v-text-field :key="`key4-${key}`" :type="innerTypes[4]" single-line class="token-input" v-model="code[4]" :value="String(code[4])" maxlength="1" @keydown.native="keydown" @focus="onFocus($event, 4)" @blur="lostFocus($event, 4)" pattern="[0-9]*" inputmode="numeric" />
        <v-text-field :key="`key5-${key}`" :type="innerTypes[5]" single-line class="token-input" v-model="code[5]" :value="String(code[5])" maxlength="1" @keydown.native="keydown" @focus="onFocus($event, 5)" @blur="lostFocus($event, 5)" pattern="[0-9]*" inputmode="numeric" />
    </v-layout>
</template>

<script>

    export default {
        props: {
            value: {
                type: String,
                required: false,
                default: ''
            },
            name: {
                type: String,
                required: false,
                default: ''
            }, 
            token: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                code: this.parseValue(),
                key: 0,
                innerTypes: [
                  'number',
                  'number',
                  'number',
                  'number',
                  'number',
                  'number',
                ],
            }
        },
        
        computed: {
            type() {
                if(this.token)
                    return 'number';
                
                //if(!this.$api.isClient)
                    return 'password';

                //var iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
                //return iOS ? 'number' : 'password';
            }
        },

        methods: {
            getFocusIndex() {
                const $elm = this.$el.querySelectorAll('.token-input input');

                for(var i=0; i<$elm.length; i++) {
                    if($elm[i] === document.activeElement)
                        return i;
                }
                
                return -1;
            },
            
            keydown($e) { 
                const isDigit   = !isNaN(parseInt($e.key));
                const authCodes = [ 8, 48, 9, 13, 16 ];
    
                if(($e.keyCode < 48 || $e.keyCode > 57) && authCodes.indexOf($e.keyCode) === -1 && ($e.keyCode < 96 || $e.keyCode > 106) && !isDigit) { //numeric
                  if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                    return $e.preventDefault();
                  } else {
                    return;
                  }
                }

                const index = this.getFocusIndex();

                if($e.keyCode === 13 && index >= 5) //enter
                    return this.$emit('submit', true);

                if($e.keyCode !== 8 && $e.keyCode !== 46) //backspace
                    return;

                if(index >= 0 && index < 6) {
                    let $elm = this.$el.querySelectorAll('.token-input input');
                    var hasCurrentValue = (this.code[index] && this.code[index].length > 0);
                    this.$set(this.code, [index-Number(!hasCurrentValue)], '');
                    let inputs = $elm[index-Number(!hasCurrentValue)].querySelectorAll('input');
                    if (inputs && inputs.length) {
                      inputs[0].value = '';
                      inputs[0].text = '';
                    }
                    this.$nextTick(() => {
                      var focusEl = $elm[(this.code || []).filter(el => el && el.length > 0).length];
                      focusEl = focusEl.$el || focusEl;
                      focusEl.type = 'number';
                      if (focusEl.focus) focusEl.focus();
                    })
                }
            },
            
            parseValue() {
                const v = (this.value || '').split('');
                for(var i=v.length; i<6; i++)
                    v.push('');
                
                return v;
            },

            lostFocus($e, index) {
              this.innerTypes[index] = this.type;
            },
            
            onFocus($e, index) {
                this.innerTypes[index] = 'number';
                if(!$e || this.$busy)
                    return;
                
                const nodes = this.$el.querySelectorAll('.token-input input');
                
                if(this.code.join('').length === 6) {
                    if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                      $e.preventDefault();
                    }

                    const node = nodes[nodes.length - 1];

                    if(node !== document.activeElement)
                        node.focus();

                    setTimeout(() => {
                      const originalType = String(node.type);
                      node.type = 'text';
                      node.selectionStart = 1;
                      node.type = originalType;
                    }, 50)
    
                    return;
                }

                var index = 0;
                
                for(var key in nodes) {
                    if(nodes[key] === $e.target) {
                        index = parseInt(key);
                        break;
                    }
                }

                if(index !== this.code.join('').length) {
                    if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                      $e.preventDefault();
                    }

                    index = Math.min(this.code.join('').length, nodes.length - 1);
                    nodes[index].focus();
                }
                
                window.node = nodes[index];
            }
        },

        watch: {
            code() {
                this.code.forEach((el, index) => {
                  if (el && el.length > 0) {
                    this.lostFocus(null, index);
                  } else {
                    this.onFocus(null, index);
                  }
                })

                const index = this.getFocusIndex();

                if(index >= 0 && index < 5 && this.code[index] !== '') {
                    const $elm = this.$el.querySelectorAll('.token-input input');
                    $elm[index + 1].focus();
                }

                const joined = this.code.join('');
                const mapped = this.code.map(el => el && el.length > 0 ? String(el)[0] : el);
                if (joined !== mapped.join('')) {
                  this.code = mapped.slice(0);
                  this.key = (this.key + 1) % 1000;
                  return;
                }

                this.$emit('input', this.code.join(''));
            },
            
            value() {
                this.code = this.parseValue();
            }
        }
    }
    
</script>

<style>

    .token-input {
      width: 20px !important;
      flex: none !important;
      margin-left: 4px;
      margin-right: 4px;
    }
    
    .token-input input {
        text-align: center;
    }
    
    .input-pin input[type=number] {
        /* text-security: disc; */
        /* -webkit-text-security: disc; */
        /* -moz-text-security: disc; */
    }

    input[type='number'] {
        -moz-appearance:textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

</style>