<template>
  <div class="text-center">
    <div
      v-if="middle"
      class="donut-chart-middle"
      :style="{ width: (this.width / 2)+'px', marginLeft: -(this.width / 4)+'px'}"
      v-html="middle"
    ></div>
    <Doughnut ref="chart" :styles="addedStyle" />
  </div>
</template>

<script>
import { Doughnut } from 'vue-chartjs'

export default {
  props: {
    dataset: {
      type: Array,
      required: true,
    },
    labels: {
      type: Array,
      required: true,
    },
    legend: {
      type: Boolean,
      default: true,
    },
    tooltips: {
      type: Boolean,
      default: true,
    },
    height: {
      type: Number,
      default() { return 250; },
    },
    width: {
      type: Number,
      default() { return 250; },
    },
    middle: {
      default() { return null; },
    },
    colors: {
      type: Array,
      default() {
        return [
          '#006aff',
          '#2296f3',
          '#65b2f1',
          '#7fd2fd',
          '#b3def5',
          '#ddeef7',
        ];
      },
    },
  },
  components: {
    Doughnut
  },
  mounted () {
    this.refreshChart();
  },
  data() {
    return {
      //colors: this.colors,
      addedStyle: { display: 'inline-block', height: this.height, width: this.width },
      addedOptions: {
        cutoutPercentage: 75,
        rotation: (0.7 * Math.PI),
        responsive: true,
        maintainAspectRatio: true,
        legend: {
          display: !this.middle && this.legend,
        },
        tooltips: {
          enabled: this.tooltips,
        },
      },
    };
  },
  watch: {
    labels(val, oldval) {
      if (val !== oldval) {
        this.refreshChart();
      }
    },
    dataset(val, oldval) {
      if (val !== oldval) {
        this.refreshChart();
      }
    },
    addedOptions(val, oldval) {
      if (val.legend.postion !== oldval.legend.position) {
        this.refreshChart();
      }
    }
  },
  computed: {
    formattedDataset() {
      const result = this.dataset;
      const length = this.colors.length;
      let colorIndex = 0;
      return result.map((serie) => {
        if (!serie.hoverBorderWidth) serie.hoverBorderWidth = [0, 0];
        serie.data.forEach((el, index) => {
          if (!serie.backgroundColor) serie.backgroundColor = [];
          serie.backgroundColor.push(this.colors[colorIndex]);
          colorIndex = (colorIndex === (length - 1) ? 0 : (colorIndex + Math.floor(length/serie.data.length)));
        });
        if (!serie.label || !serie.data)
          console.error('[Chart Bar]', 'Please provide a label and a data Array for bar chart!');
        return serie;
      });
    },
  },
  methods: {
    refreshChart() {
      this.$refs.chart.renderChart({
        labels: this.labels,
        datasets: this.formattedDataset,
      }, this.addedOptions);
    },
  },
};
</script>

<style>
.donut-chart-middle {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    font-weight: bold;
}
</style>
