<template>
  <div class="text-xs-center">
    <LineChart ref="chart" :style="innerAddedStyle" :height="height" :width="width" />
  </div>
</template>

<script>
import { Line } from 'vue-chartjs'

export default {
  props: {
    dataset: {
      type: Array,
      required: true,
    },
    labels: {
      type: Array,
      required: true,
    },
    colors: {
      type: Array,
      default() { return []; },
    },
    legend: {
      type: Boolean,
      default: true,
    },
    tooltips: {
      type: Boolean,
      default: true,
    },
    height: {
      default() { return 200; },
    },
    width: {
      default() { return 200; },
    },
    addedStyle: {
      type: Object,
      default() { return {}; },
    },
    addedOptions: {
      type: Object,
      default() { return {}; },
    },
  },
  components: {
    LineChart: Line,
  },
  mounted () {
    this.refreshChart();
  },
  data() {
    return {
      innerCollors: this.colors.length > 0 ? this.colors : [
        '#d60000',
        '#f03923',
        '#ff654c',
        '#ff927c',
        '#ffb8a6',
        '#9edba4',
        '#7ac696',
        '#5aaf8c',
        '#399785',
        '#008080',
      ],
    };
  },
  watch: {
    labels(val, oldval) {
      if (val !== oldval) {
        this.refreshChart();
      }
    },
    dataset(val, oldval) {
      if (val !== oldval) {
        this.refreshChart();
      }
    },
    addedOptions(val, oldval) {
      if (val && (!oldval || (val.legend && oldval.legend && val.legend.position !== oldval.legend.position))) {
        this.refreshChart();
      }
    },
  },
  computed: {
    innerAddedOptions() {
      return Object.assign({
        // cutoutPercentage: 75,
        // rotation: (0.7 * Math.PI),
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: this.legend,
        },
        tooltips: {
          enabled: this.tooltips,
        },
      }, this.addedOptions);
    },
    innerAddedStyle() {
      return Object.assign({ 
        display: 'inline-block', 
        height: this.height, 
        width: this.width,
      }, this.addedStyle);
    },
    formattedDataset() {
      const result = this.dataset;
      const length = this.innerCollors.length;
      let colorIndex = 0;
      return result.map((serie) => {
        if (!serie.backgroundColor) {
          serie.backgroundColor = this.innerCollors[colorIndex];
          colorIndex = (colorIndex === (length - 1) ? 0 : (colorIndex + Math.floor(length/this.dataset.length)));
        }
        if (!serie.label || !serie.data)
          console.error('[Chart Bar]', 'Please provide a label and a data Array for bar chart!');
        return serie;
      });
    },
  },
  methods: {
    refreshChart() {
      this.$refs.chart.renderChart({
        labels: this.labels,
        datasets: this.formattedDataset,
      }, this.innerAddedOptions);
    },
  },
};
</script>
