<template>
    <span v-if="error" style="color: red">
        {{error}}
    </span>
    <chart-line v-else-if="graph.length > 0" v-once :width="150" :height="50" :legend="false" :tooltips="false" :addedOptions="{
      animation: {
        duration: 0
      },
      scales: {
        xAxes: [{
          ticks: {
            display: false,
          },
          gridLines: {
            display: false,
            drawBorder: false,
            scaleShowLabels: false,
            drawOnChartArea: false,
          },
        }],
        yAxes: [{
          ticks: {
            display: false,
          },
          gridLines: {
            display: false,
            drawBorder: false,
            scaleShowLabels: false,
            drawOnChartArea: false,
          },
        }],
      }
    }" :labels="graph" :dataset="[{
      fill: 'origin',
      label: 'Data Two',
      borderColor: '#5bbff3',
      pointBackgroundColor: 'transparent',
      pointBorderColor: 'transparent',
      borderWidth: 1,
      backgroundColor: '#e9f5fb',
      data: this.graph
    }]" />
    <span v-else>Loading..</span>
</template>

<script>
    export default {
        props: {
            market: {
                type: String,
            },
            ticks: {
                type: Array,
                default() { return []; },
            },
        },
        
        data() {
            this.$api.graphs = this.$api.graphs || {};
            var marketTicks = null;
            
            if(this.market && this.$api.graphs[this.market])
                marketTicks = this.$api.graphs[this.market].ticks;

            return {
                marketTicks: marketTicks,
                error: false
            }
        },
        
        watch: {
            market() {
                this.loadMarketGraph();
            }
        },

        computed: {
            graph() {
                if(this.marketTicks)
                    return this.marketTicks[this.market] || [];
                
                if(this.market)
                    this.loadMarketGraph();

                return this.ticks[this.market] || [];
            },
        },
        
        methods: {
            loadMarketGraph() {
                const market = this.market;

                this.$api.wsPost('market/graph-preview', {
                    market: market
                }).then((res) => {
                    this.$api.graphs[market] = {
                        ticks: res,
                        last: new Date().getTime()
                    };

                    this.marketTicks = this.$api.graphs[market].ticks;
                    this.error = false;
                }).catch((res) => {
                    if(res.error && res.error.indexOf('<html') !== -1)
                        res.error = 'Error';

                    this.error = res.error || 'Error';
                });
            }
        }
    };
</script>

<style>

    div.chartjs-size-monitor {
        display: none !important;
    }

</style>