<template>
  <div class="chart-pie-wrapper">
    <svg ref="pieGraph" class="pie-svg" />
  </div>
</template>

<script>
    import piechart from "./piechart.js";

    export default {
        props: {
            middleProp: {
                type: String,
                default: null,
            },
            middleDefault: {
                type: String,
                default: '',
            },
            data: {
                type: Array,
                default: () => [{
                    name: 'No Data',
                    val: 1
                }, ],
            }
        },

        data: () => ({
            uuid: new Date().getTime()
        }),

        watch: {
            $route() {
                this.refreshChart();
            }
        },

        updated: function() {
            this.updateChart();
            this.$nextTick(() => {
                this.refreshChart();
            });
        },

        mounted: function() {
            this.updateChart();
            this.$nextTick(() => {
                this.refreshChart();
            });
        },

        methods: {
            refreshChart: function() {
                if (this.piechart)
                    this.piechart.draw();
            },
            updateChart: function() {
                if (!this.$api.isClient) return;

                this.piechart = piechart({
                    data: this.data,
                    selector: this.$refs.pieGraph,

                    middleSetup: function(svg, translateX, translateY) {
                        return {
                            line1: svg
                                .append("text")
                                .attr("text-anchor", "middle")
                                .attr("fill", "#787f85")
                                .attr("font-size", "1em")
                                .attr("font-weight", "bold")
                                .attr("x", 0)
                                .attr("y", -10)
                                .attr(
                                    "transform",
                                    "translate(" + translateX + " " + translateY + ")"
                                ),
                            line2: svg
                                .append("text")
                                .attr("text-anchor", "middle")
                                .attr("fill", "#787f85")
                                .attr("font-size", "1em")
                                .attr("font-weight", "bold")
                                .attr("x", 0)
                                .attr("y", 10)
                                .attr(
                                    "transform",
                                    "translate(" + translateX + " " + translateY + ")"
                                ),
                        };
                        //Transform set
                    },

                    middleHover: (centerObject, d) => {
                        if (this.middleProp && d.data[this.middleProp]) {
                            const split = String(d.data[this.middleProp]).split('\n');
                            centerObject.line1.html(split[0]);
                            centerObject.line2.html((split.length > 1) ? split[1] : '');
                            return true;
                        }
                        centerObject.line1.html(Math.round(d.value) + "%");
                        centerObject.line1.attr("y", 3);
                        centerObject.line2.html('');
                    },

                    middleOut: (centerObject) => {
                        if (this.middleDefault) {
                            const split = String(this.middleDefault).split('\n');
                            centerObject.line1.html(split[0]);
                            centerObject.line2.html((split.length > 1) ? split[1] : '');
                            return true;
                        }
                        centerObject.line1.html(Math.round(d.value) + "%");
                        centerObject.line1.attr("y", 3);
                        centerObject.line2.html('');
                    }
                });
            }
        },

    };

</script>

<style lang="scss">
    .chart-pie-wrapper {
        text-align: center;
        .pie-svg {
            padding: 60px;
            padding-top: 45px;
            overflow: visible !important;
            display: inline-block;
            path {
                cursor: pointer;
                &.pointer {
                    cursor: initial;
                }
            }
        }
    }

</style>
