<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card v-if="isEmpty || isLoading" class="pa-3 ma-0">
          <div class="nothing-container" v-if="isEmpty">
              <div v-if="message.img">
                  <img :src="message.img" />
              </div>
              <v-icon :size="smallIcon ? 60 : 120" color="teal" v-else-if="!hideIcon && message.icon">{{message.icon}}</v-icon>
              <h2 v-if="message.h2 !== false">{{$translate(message.h2)}}</h2>
              <h1 v-if="message.h1 !== false">{{$translate(message.h1 || 'nothingtodisplay.text.1')}}</h1>
              <v-btn v-if="message.button !== false" color="blue white--text" big :to="message.link || '/markets'" @click="$emit('navigation')">
                {{ $translate(message.button || 'nothingtodisplay.btn.1') }}
              </v-btn>
          </div>
          <div v-else-if="isLoading" class="nothing-container">
              <v-progress-circular indeterminate :size="50" color="blue" />
              <h3>{{$translate('label.18')}}...</h3>
          </div>
        </v-card>
        <div v-else>
            <slot />
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

    export default {
        props: {
            api: String,
            api_data: Object,
            history: Boolean,
            openOrders: Boolean,
            walletHistory: Boolean,
            notVerified: Boolean,
            hideIcon: Boolean,
            smallIcon: Boolean,
            fundsProcessing: Boolean,
        },

        data() {
            return {
                isLoading: this.api || this.notVerified ? true : false,
                isEmpty: this.api || this.notVerified ? false : true
            }
        },

        computed:  {
            /*
            styles() {
                const {
                    bar,
                    top,
                    right,
                    footer,
                    bottom,
                    left
                } = this.$vuetify.application

                return {
                    top: `${top + bar}px`,
                    right: `${right}px`,
                    bottom: `${footer + bottom}px`,
                    left: `${left}px`
                }
            },
            */
            
            message() {
                if(this.history) {
                    return {
                        icon: 'icon-clock',
                        h2: 'nothingtodisplay.text.2',
                    }
                } else if (this.openOrders) {
                    return {
                        icon: 'icon-exchange',
                        h2: 'nothingtodisplay.text.3',
                    }
                } else if (this.notVerified) {
                    return {
                        icon: 'icon-verified',
                        h1: false,
                        h2: 'nothingtodisplay.text.4',
                        button: 'nothingtodisplay.btn.2',
                        link: '/settings/verification'
                    };
                } else if (this.fundsProcessing) {
                    return {
                        icon: 'icon-check',
                        h1: 'nothingtodisplay.text.5',
                        h2: 'nothingtodisplay.text.6',
                        button: false,
                    }
                }
                
                return {
                    img: '/img/backend/empty.jpg',
                    h2: 'nothingtodisplay.text.7'
                }
            }
        },

        mounted() {
            if(this.notVerified) {
                this.$nextTick(() => {
                    this.isEmpty = !this.$db.isVerified();
                    this.isLoading = false;
                });

                const interval = this.$setInterval(() => {
                    this.isEmpty = !this.$db.isVerified();
                    if(!this.isEmpty)
                        clearInterval(interval);
                }, 1000);
                return;
            }
            if (!this.api)
                return;

            this.listenerId = this.$api.require(this.api, this.api_data || {}, (items) => {
                if(!Array.isArray(items)) {
                    if(items.items)
                        items = items.items;
                    else
                        items = [];
                }
                
                this.isLoading = false;
                this.isEmpty = (items.length === 0);
            });
        },
    }

</script>


<style>

    .nothing-container {
        position: relative;
        /* position: absolute; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .nothing-container img {
        max-height: 400px;
        max-height: 50vh;
        max-width: 100%;
    }
    
    .nothing-container h1 {
        text-align: center;
    }
    
    .nothing-container h2, .nothing-container h3 {
        text-align: center;
        margin-top: 10px;
    }

</style>