<template>
    <view class="addWallet">
        <LinearGradient class="btn_create" :colors="btn_linearGradient">
            <Touchable @click="addWallet">
                <v-text class="btn_create_text">Add new wallet</v-text>
            </Touchable>
        </LinearGradient>
    </view>
</template>
<script>
import { LinearGradient } from 'expo';
export default {
    components: {
        LinearGradient
    },
    data() {
        return {

        }
    }
};
</script>
<style>
.addWallet{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.btn_create {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;

}


.btn_create_text {
    height: 23px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
</style>