<template>
    <v-dialog :value="true" max-width="500" persistent>
        <v-card>
            <v-card-title class="headline">{{ $translate('tools.text.5') }}</v-card-title>

            <v-card-text v-if="loading" style="text-align: center">
                <v-progress-circular indeterminate v-bind:size="50" color="blue" />
            </v-card-text>
            <form method="post" action="members/accept-conditions" @apiPrepare="loading = true" @apiError="loading = false" @apiSuccess="onSuccess" v-show="!loading">
                <v-card-text>
                    {{ $translate('tools.text.6') }}:
                    <ul style="padding-left: 20px">
                        <li v-for="(val, key) in changes" :key="key" v-if="val">
                            <a href="/terms-and-conditions" v-if="key === 'conditions'">{{$translate('legal.1')}}</a>
                            <a href="/privacy-policy" v-else-if="key === 'privacy'">{{$translate('legal.2')}}</a>
                            <a href="/cookie-policy" v-else>{{$translate('legal.3')}}</a>
                        </li>
                    </ul><br>
                    {{ $translate('tools.text.7') }}
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat="flat" type="submit">
                      {{ $translate('tools.btn.1') }}
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>

<script>

    export default {
        props: {
            changes: Object
        },
        data() {
            return {
                loading: false
            }
        },
        methods: {
            onSuccess() {
                this.$api.refresh('members/profile');
            }
        }
    }

</script>