<template>
    <v-dialog :max-width="maxWidth" v-model="show">
        <v-card>
            <form method="post" :action="action" @apiSuccess="onSuccess" @apiPrepare="onPrepare" @apiError="onError" ref="frm">
                <v-card-title class="headline">{{title}}</v-card-title>
                <v-card-text v-if="loading" style="text-align: center">
                    <v-progress-circular indeterminate v-bind:size="50" color="blue" />
                </v-card-text>
                <v-card-text v-else-if="error" style="color: red">{{error}}</v-card-text>
                <v-card-text v-else-if="text">{{ text }}</v-card-text>
                <slot v-else />
                <v-card-actions>
                    <v-btn :color="cancelColor" flat="flat" @click.native="show = false">{{$translate('btn.5')}}</v-btn>
                    <v-spacer />
                    <v-btn :color="color" flat="flat" @click="submit">{{error ? $translate('btn.1') : (confirm || $translate('btn.4'))}}</v-btn>
                </v-card-actions>
            </form>
        </v-card>
        
        <slot slot="activator" name="activator" />
    </v-dialog>
</template>

<script>

    export default {
        props: {
            title: String,
            text: {
                type: String,
                required: false
            },
            cancelColor: {
                type: String,
                required: false,
                default: 'red darken-1'
            },
            color: {
                type: String,
                required: false,
                default: 'blue'
            },
            confirm: {
                type: String,
                required: false,
                default: null,
            },
            maxWidth: {
                type: Number,
                default: 300
            },
            action: {
                type: String,
                required: true
            }
        },

        data() {
            return {
                show: false,
                loading: false,
                error: null
            }
        },

        watch: {
            show(val, oldVal) {
                if(val && !oldVal) {
                    this.loading = false;
                    this.error = null;
                }
            }
        },
        
        methods: {
            submit() {
                if(this.error) {
                    this.error = null;
                } else {
                    this.$submitForm('frm');
                }
            },

            onPrepare($e) {
                this.$emit('apiPrepare', $e);
                this.loading = true;
            },

            onError($e) {
                this.$emit('apiError', $e);

                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.loading = false;
                this.error = $e.result.error || this.$translate('error.3');
                
                if(this.error.indexOf('<html') !== -1)
                    this.error = this.$translate('error.3');
            },
            
            onSuccess($e) {
                this.$emit('apiSuccess', $e);

                this.show = false;
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
            }
        }
    }
    
</script>