<template>
    <v-btn v-if="!list && !link" :href="getUrl()" :round="round" :large="large" :color="$api.isConnected() && connectedColor ? connectedColor : color" :flat="flat" @click="perform">{{getShowedText()}}</v-btn>
    <v-list-tile v-else-if="list" :href="getUrl()" @click="perform">
        <v-list-tile-content :color="$api.isConnected() && connectedColor ? connectedColor : color" style="font-weight: bold; color: #095CE5">
            <v-list-tile-title>
                {{getShowedText()}}
            </v-list-tile-title>
        </v-list-tile-content>
    </v-list-tile>
    <a v-else :href="getUrl()" @click="perform">{{getShowedText()}}</a>
</template>

<script>

    import { oauth2 } from '@config/server';

    export default {
        props: {
            round: {
                type: Boolean,
                default: false
            },
            flat: {
                type: Boolean,
                default: false
            },
            large: {
                type: Boolean,
                default: false
            },
            list: {
                type: Boolean,
                default: false
            },
            link: {
                type: Boolean,
                default: false
            },
            signup: {
                type: Boolean,
                default: false
            },
            logout: {
                type: Boolean,
                default: false
            },
            color: {
                type: String,
                default: ''
            },
            connectedColor: {
                type: String,
                default: null
            },
            text: String,
            connectedText: {
                type: String,
                default: null
            }
        },
        mounted() {
            this.$onApi('logout', () => {
                this.$nextTick(() => {
                    this.$forceUpdate();
                });
            })
        },
        methods: {
            perform($e) {
                if(!this.$api.isConnected() || !this.logout)
                    return;

                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }

                this.$root.$refs['logout'].submit();
            },
            getUrl() {
                if(this.$api.isConnected())
                    return this.logout ? '#' : '/markets';

                return this.getAuthUrl();
            },
            getAuthUrl() {
                if(typeof(location) === 'undefined')
                    return '/';

                const encodeGetParams = p => Object.entries(p).map(kv => kv.map(encodeURIComponent).join("=")).join("&");
                var redirectUri       = location.href.substr(0, location.href.indexOf('/', 9)) + '/members/';

                const url = (process.env.oauth2 || oauth2).url + '?' + encodeGetParams({
                    client_id: (process.env.oauth2 || oauth2).client_id,
                    redirect_uri: redirectUri,
                    response_type: 'code',
                    ui_locales: this.$translator.lang,
                    scope:  [
                        "openid",
                        "profile",
                        "email",
                        "address",
                        "phone",
                        //"offline_access",
                        "wallets:read",
                        "wallets:write",
                        "portfolio:read",
                        "portfolio:write"
                    ].join(' ')
                });

                return url;
            },
            getShowedText() {
                if(this.connectedText && this.$api.isConnected())
                    return this.$translate(this.connectedText);

                if(this.logout && this.$api.isConnected())
                    return this.$translate('menu.logout');

                return this.$translate(this.text || 'Connect');
            }
        }
    }

</script>