<script>
export default {
  props: {
    experiment: {
      type: String,
      required: true,
    },
    tutorial: {
      type: String,
      required: false,
    },
    tag: {
      type: String,
      default: "div",
    },
  },
  render(h) {
      if (!this.variation) return;
      let candidateSlot = this.$slots[Object.keys(this.$slots)[this.variation - 1]];
      if (candidateSlot.length == 1 && candidateSlot[0].tag) {
          return candidateSlot[0];
      }
      return h(this.tag, candidateSlot);
  },
  data() {
    return {
      api: 'platform/tutorials',
      tutorials: {},
      variation: null,
      // weight: null,
    };
  },
  metaInfo() {
    return {
      script: [
        {
          src: '//www.google-analytics.com/cx/api.js',
        },
      ],
    };
  },
  mounted() {
    if (this.tutorial && this.tutorials[this.tutorial]) return;
    this.$nextTick(() => {
      this.setupCxGA();
    });
  },
  methods: {
    setupCxGA(tries = 1, restarted = false) {
      if (this.$isServer) return;
      if (!window.cxApi) {
        if (tries < 100) {
          return this.$setTimeout(() => {
            this.setupCxGA(tries + 1);
          }, 100);
        }
      }
      let variation = Math.floor(Math.random() * (Object.keys(this.$slots || []).length)) + 1;
      try {
        /*
        if (window.cxApi) {
          variation = window.cxApi.getChosenVariation(this.experiment) || variation;
          if (variation === -1 && tries < 100) {
            return this.$setTimeout(() => {
              this.setupCxGA((restarted ? (tries + 1) : 0), true);
            }, 100);
          }
          variation = Math.max(1, variation);
          window.cxApi.setChosenVariation(variation, this.experiment);
          window.cxApi.setCookieExpirationSeconds(604800000);
        }
        */
      } catch (e) {
        console.error (e);
      }
      this.$set(this, 'variation', variation);
      this.$emit('variation', variation);
    },
  },
};
/*
---
// Example usage:

  <ga-ab-test experiment="TeMBp-ggRjqjyc9dtTaTbw">
    <div v-for="n in 3" :slot="n" :key="`variant-${n}`">
      ...
    </div>
  </ga-ab-test>
---
*/
</script>
