<template>
  <v-tooltip top slot="activator">
    <span>
      <slot></slot>
    </span>
    <span slot="activator">
      <v-icon :size="parseInt(size, 10)" class="grey--text lighten-1">
        icon-{{icon.replace('icon-', '')}}
      </v-icon>
    </span>
  </v-tooltip>
</template>

<script>
export default {
  props: {
    size: {
      type: Number,
      default: 16,
    },
    icon: {
      type: String,
      default: 'info',
    },
  }
}
</script>
