<template>
    <v-card class="text-xs-center">
        <v-card-title class="headline">
            <v-spacer />
            <b>{{ $translate($api.isSimulation ? 'mode.2.portfolio' : 'mode.1.portfolio') }}</b>?
            <v-spacer />
        </v-card-title>
        <div v-if="$api.isSimulation && !$db.isVerified()">
            <nothing-to-display-view notVerified smallIcon @navigation="$emit('close', true)" style="box-shadow: none" />
            <v-btn color="red darken-1" flat @click.native="$emit('close', true)">{{$translate('btn.5')}}</v-btn>
        </div>
        <div v-else>
            <v-card-text v-if="!forceReal">
                <span>{{$translate('tools.text.1')}}</span>&nbsp;<b>{{ $translate($api.isSimulation ? 'mode.2.portfolio' : 'mode.1.portfolio') }}</b>?
            </v-card-text>
            <v-card-text v-else>
                {{$translate('tools.text.2')}}
            </v-card-text>
            <v-card-actions>
                <v-spacer />
                <v-btn v-if="cancelable" color="green darken-1" flat @click.native="$emit('close', true)">{{$translate('btn.15')}}</v-btn>
                <v-btn color="green darken-1" flat @click.native="setMode(!$api.isSimulation)">{{$translate('btn.16')}}</v-btn>
                <v-spacer />
            </v-card-actions>
        </div>
    </v-card>
</template>

<script>
    export default {

        props: {
            forceReal: {
                type: Boolean,
                default: false,
            },
            cancelable: {
                type: Boolean,
                default: true,
            },
        },

        methods: {

            setMode(virtual) {
                this.$api.isSimulation = virtual;

                this.$nextTick(() => {
                    this.refreshAllApis();
                });

                this.$emit('changed', virtual);
            },

            refreshAllApis() {
                const done = [];
                const excludeApis = [
                    'profile/search',
                    'wallet/list',
                    'members/connect',
                    'platform/currencies'
                ]

                this.$api.onApiCallbacks.forEach((obj) => {
                    obj.post = this.$api.mergePost(obj.post, obj.api, true);

                    const salt = JSON.stringify({
                        api: obj.api,
                        post: obj.post
                    });

                    if (done.indexOf(salt) === -1 && obj.api.indexOf('/') > 0 && excludeApis.indexOf(obj.api) === -1) {
                        done.push(salt);
                        this.$api.refresh(obj.api, obj.post);
                    }
                });
            }

        }
    }

</script>
