<template>
  <v-dialog v-model="dialog" persistent max-width="500" v-if="(forceReal && $api.isSimulation) || !forceReal">
        <slot name="activator" slot="activator" :virtualPortfolio="$api.isSimulation" />
        <mode-card
          :forceReal="forceReal"
          @close="dialog = false"
          v-if="dialog"
        />
  </v-dialog>
  <span v-else>
      <slot />
  </span>
</template>

<script>

    //v-if on mode card forces card to check if account has been verified since the page has been loaded (remounting = getting aggound verified field)

    export default {
        props: {
            forceReal: {
                type: Boolean,
                required: false,
                default: false
            },

            showSubDialog: {
                type: Boolean,
                required: false,
                default: false
            },

            value: {
                type: Boolean,
                required: false,
                default: false
            }
        },

        data() {
            return {
                dialog: false,
            }
        },

        mounted() {
            this.$emit('update:showSubDialog', !this.$api.isSimulation && this.value);
        },
        
        watch: {
            '$api.isSimulation': function(val, oldVal) {
                if(val !== oldVal && this.dialog) {
                    this.dialog = false;
                    return;
                } else if(!this.dialog) {
                    return;
                }

                this.$nextTick(() => {
                    if(!this.$slots.default)
                        return;

                    this.$slots.default.forEach((vnode) => {
                        const comp = vnode.componentInstance;

                        if(!comp)
                            return;

                        if(comp.show !== undefined) {
                            if(typeof(comp.show) === 'function')
                                comp.show();
                            else
                                comp.show = true;
                        }
                    });
                });

                this.$emit('update:showSubDialog', !this.$api.isSimulation && this.value);
            },

            dialog(val, oldVal) {
                if(this.value !== val)
                    this.$emit('input', val);
            },

            value(val, oldVal) {
                this.$emit('update:showSubDialog', !this.$api.isSimulation && this.value);
            }
        },
    }
    
</script>