<template>
    <v-card color="grey lighten-5" class="no-radius" flat>
        <v-toolbar color="white" :style="{ position: this.fixed ? 'fixed' : 'block', zIndex: (this.fixed ? 2 : 1), paddingRight: this.fixed && (this.$root.drawerBtn && $vuetify.breakpoint.mdAndDown ? 0 : (this.$root.miniDrawer ? '80px' : '300px')) }">
            <v-tabs color="white" v-if="!hideTabBar && tabs.length > 0" v-model="innerSelectedTab" centered>
                <v-tab v-for="(tab, index) in tabs" :key="`tab-${index}`" @click="handleRoute(tab, index)">
                    {{ tab.text }}
                </v-tab>
            </v-tabs>
        </v-toolbar>
        <v-container grid-list-md fluid :class="{ 'pt-5': this.fixed }">
            <v-layout row wrap class="pb-4" :class="{ 'mt-4': this.fixed }">
                <v-flex xs12>
                    <slot name="cards-before"></slot>
                </v-flex>
                <v-flex xs12 v-if="tabs.length > 0">
                    <slot></slot>
                </v-flex>
                <v-flex xs10 offset-xs1>
                    <slot name="cards-after"></slot>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
</template>

<script>
    export default {
        props: {
            fixed: {
                type: Boolean,
                default: false
            },
            title: {
                type: String,
                default: ""
            },
            tabs: {
                type: Array,
                default () {
                    return [];
                }
            },
            selectedTab: {
                default () {
                    return '0';
                },
                required: false,
            },
            hideTabBar: {
                type: Boolean,
                default: false
            },
            hideSideMenu: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                innerSelectedTab: this.selectedTab,
                sideMenu: false,
                loaded: false,
                search: null
            };
        },
        mounted() {
            this.checkRouteHash();
        },
        watch: {
            innerSelectedTab() {
                this.$emit("update:selectedTab", Number(this.innerSelectedTab));
            }
        },
        methods: {
            handleRoute(tab, index) {
                this.$nextTick(() => {
                    if (tab && tab.link) {
                        const char = String(tab.link[0]);
                        if (char === "#") {
                            this.$router.push(tab.link);
                        } else if (
                            String(this.$route.path).toLowerCase() !==
                            String(tab.link).toLowerCase()
                        ) {
                            this.$router.push(tab.link);
                        }
                    }
                    this.innerSelectedTab = index;
                });
            },
            checkRouteHash() {
                this.$nextTick(() => {
                    if (this.tabs.length > 0) {
                        const indexRoute = () => {
                            const hash1 = String(
                                this.$route.hash || ""
                            ).toLowerCase();
                            const hash2 = hash1.split("#").join("");
                            const links = this.tabs.map(el => {
                                return (typeof el === "string" ?
                                    el :
                                    el.link || el.text
                                ).toLowerCase();
                            });
                            const path = String(this.$route.path).toLowerCase();
                            const fullPath = String(this.$route.fullPath).toLowerCase();
                            switch (true) {
                                case links.indexOf(hash1) > -1:
                                    return links.indexOf(hash1);
                                case links.indexOf(hash2) > -1:
                                    return links.indexOf(hash2);
                                case links.indexOf(`${path}${hash1}`) > -1:
                                    return links.indexOf(`${path}${hash1}`);
                                case links.indexOf(`${path}${hash2}`) > -1:
                                    return links.indexOf(`${path}${hash2}`);
                                case links.indexOf(path) > -1:
                                    return links.indexOf(path);
                                case links.indexOf(fullPath) > -1:
                                    return links.indexOf(fullPath);
                                default:
                                    return this.selectedTab;
                            }
                        };
                        const index = indexRoute();
                        return this.handleRoute(this.tabs[index], index);
                    }
                });
            }
        }
    };

</script>

<style lang="scss">
    .v-tabs__wrapper {
        overflow-x: scroll;
    }

    .v-toolbar--fixed {
        position: fixed;
        right: 0px;
    }

</style>
