<template>
  <v-container grid-list-lg style="padding-top: 25px; padding-bottom: 25px">
      <v-layout row wrap>
        <v-flex xs12>
          <v-alert class="danger" value>
            {{ $translate('tools.text.3') }}
          </v-alert>
        </v-flex>
        <v-flex xs12 class="text-center">
          <v-btn class="success" to="/settings/verification" @click="$emit('navigation')">
            {{ $translate('tools.text.4') }}
          </v-btn>
        </v-flex>
      </v-layout>
  </v-container>
</template>
