<template>
    <div id="qrcode" class="qrcode">
        <!--span class="middle-logo">
            <img src="/img/favicon.png" />
        </span>!-->
    </div>
</template>

<script>
    export default {
        props: {
            value: {
                type: String,
                default: '',
            },
        },
        data: () => ({
            qrcode: null,
            timeout: null,
        }),
        watch: {
            value(val, oldval) {
              this.updateQR();
            },
        },
        mounted() {
            this.$nextTick(() => {
                this.updateQR();
            });
        },
        destroyed() {
          clearTimeout(this.timeout);
        },
        methods: {
            updateQR(tried = 1) {
                this.loading = true;
                if(typeof(window) === 'undefined')
                    return;
                
                if (!this.qrcode && !window.QRCode && this._isMounted) {
                  if (tried < 10) {
                    this.timeout = this.$setTimeout(() => {
                      this.updateQR(tried + 1);
                    }, 300);
                  }
                  return;
                }

                if (this.qrcode) 
                    this.qrcode.makeCode(this.value);
                else {
                    this.qrcode = new window.QRCode("qrcode", {
                        text: this.value,
                        width: 200,
                        height: 200,
                        colorDark: "#000000",
                        colorLight: "#ffffff",
                        correctLevel: window.QRCode.CorrectLevel.H
                    });
                }
            }
        }
    }

</script>

<style>
    .qrcode {
        width: 200px;
        height: 200px;
        margin: auto;
    }

    .qrcode .middle-logo {
        position: absolute;
        margin-left: 80px;
        margin-top: 80px;
        height: 40px;
        width: 40px;
        padding: 12px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #016df1;
    }

    .qrcode .middle-logo img {
        height: 24px;
        width: 24px;
        margin-left: -2px;
        margin-top: 2px;
        padding: 2px;
    }

</style>
