<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12 v-if="id.length === 0">
        <notifications-list />
      </v-flex>
      <v-flex xs12 v-else>
        <notifications-info :id="id" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: { 
    id: {
      default: '',
      required: false,
      type: String
    },
  },
  metaInfo() {
    return {
      title: 'bit4you - Notifications',
    };
  },
};
</script>
