<template>
  <v-card>
    <v-card-text v-if="Object.keys(notification).length === 0" class="text-xs-center">
      <v-icon>icon-notification</v-icon><br>
      <b>{{$translate('notifications.text.1')}}</b>
    </v-card-text>
    <v-card-text v-else>
      <v-layout row wrap>
        <v-flex xs12 text-xs-center class="py-2">
          <img style="width 52px; height: 52px" :src="notification.img || '/img/general-elements/logo-128.png'" />
        </v-flex>
        <v-flex xs12 text-xs-center class="px-4 py-2">
          <h3>{{ notification.title }}</h3>
          <small>{{ notification.createdAt | formatDateTime }}</small>
          <br>
          <div class="mt-2" style="display: inline-block;">
            <p>{{ notification.message }}</p>
          </div>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      notification: {},
      api: 'notifications/info',
    };
  },
  watch: {
    id() {
      this.$refreshApi();
    },
  },
  computed: {
    api_data() {
      return { id: this.id };
    },
  },
};
</script>
