<template>
  <v-card>
    <v-card-title class="headline">
      {{$translate('notifications.label.1')}}
      <v-spacer />
      <v-btn v-if="notifications.filter(el => el.seen === false).length > 0" class="success" @click="readAll()">
        {{$translate('notifications.text.2')}}
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-layout row wrap>
        <v-flex xs12 style="z-index: 1">
          <v-data-table
            :headers="notifications.length === 0 ? [] : Object.keys(notifications[0]).map((el) => {
              return {
                text: el,
                align: 'center',
                sortable: false,
                value: el,
              };
            })"
            :rows-per-page-items="[5,10,25,50]"
            :items="notifications"
            hide-headers
            :no-data-text="$translate('page.text.3')+'.'"
            class="table-cards table-notifications"
          >
            <template slot="items" slot-scope="props">
              <router-link :to="`/notifications/${props.item.id}`" tag="tr">
                <td class="text-xs-right" style="width: 75px">
                  <img style="width: 50px; height: 50px; padding: 5px;" :src="props.item.img || '/img/general-elements/logo-128.png'" />
                </td>
                <td class="text-xs-left">
                  {{ props.item.title }}<br>
                  <small>{{ props.item.createdAt | formatDateTime }}</small>
                </td>
                <td style="width: 100px">
                  <v-chip v-if="!props.item.seen" outline label small class="success success--text">{{$translate('label.23')}}</v-chip>
                </td>
              </router-link>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      notifications: [],
      api: 'notifications/list',
    };
  },
  methods: {
    readAll() {
      this.$api.post('notifications/seen', {
          ids: this.notifications.map(el => el.id),
      }).then(() => {
        this.notification = this.notifications.filter(el => !el.seen).map((el) => {
          el.seen = true;
          return el;
        });
      }).catch((err) => {
          console.error('notifications/seen', err);
      })
    },
  },
};
</script>

<style>
.table-notifications td {
  font-size: 95% !important;
}
</style>
