<template>
    <v-dialog attach="#modalContainer" v-model="show" persistent max-width=500>
        <v-card>
            <v-card-title class="headline">
                {{title}}
                <v-spacer></v-spacer>
                <v-btn icon @click="show = false">
                    <v-icon>icon-close</v-icon>
                </v-btn>
            </v-card-title>
            
            <v-card-text>
                <v-container>
                    <v-layout row wrap v-for="item in dialogConfig" :key="item.name+item.type">
                        <v-flex xs6 v-if="!item.divider">
                            <v-subheader>{{item.name}}</v-subheader>
                        </v-flex>
                        <v-flex xs6 v-if="!item.divider">
                            <v-select v-if="item.type === 'select'" v-bind:items="item.values" :label="item.name" v-model="models[item.name]" single-line bottom />
                            <v-text-field v-else-if="item.type === 'input'" :label="item.name" :value="item.default" v-model="models[item.name]" single-line />
                            <v-text-field v-else-if="item.type === 'number'" :label="item.name" :value="item.default" v-model="models[item.name]" type="number" single-line />
                            <v-switch v-else-if="item.type === 'checkbox'" v-model="models[item.name]" />
                            <v-menu offset-y v-else-if="item.type === 'color'">
                                <div class="color-preview-container" style="margin-top: 10px; margin-bottom: 0" slot="activator">
                                    <div class="color-preview" :style="{background: models[item.name].hex, height: '20px'}" />
                                </div>
                                <color-picker v-if="show" v-model="models[item.name]" />
                            </v-menu>
                            <pre v-else>{{JSON.stringify(item, null, 4)}}</pre>
                        </v-flex>
                        <v-flex xs12 v-else>
                            <v-divider />
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-btn flat @click="show = false">Cancel</v-btn>
                <v-spacer />
                <v-btn flat @click="createConfig" primary>Create</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import { Sketch } from 'vue-color';

    const allJs  = [ 'ADL', 'AMA', 'Aroon', 'ATR', 'BBandsPercent', 'BollingerBands', 'CCI', 'CHO', 'CMF', 'DMI', 'MA', 'MACD', 'ROC', 'RSI', 'Stochastic', 'TrendLines' ].map((o) => require('./' + o + '.js'));

    //const bulk   = require('bulk-require');
    //bulk(__dirname, ['*.js']);
    const Setups = {};

    for(var key in allJs) {
        if(typeof(allJs[key]) === 'object' && allJs[key].default && allJs[key].default.setup)
            Setups[key] = allJs[key].default;
    }

    export default {
        components: {
            'color-picker': Sketch
        },

        data: () => ({
            show: false,
            type: null,
            models: {}
        }),
        
        computed: {
            title() {
                return Setups[this.type] ? Setups[this.type].title : '';
            },
            dialogConfig() {
                const config = [];
                const inputConfig = Setups[this.type] ? Setups[this.type].dialogConfig : {};

                for(var key in inputConfig) {
                    const data = inputConfig[key];

                    const value = {
                        name:    key,
                        default: data,
                        type:    null
                    };
                    
                    if(Array.isArray(data)) {
                        value.type   = 'select';
                        value.values = data;
                        value.default = data[0];
                    } else if(typeof(data) === typeof({})) {
                        value.default = data.default || '';
                        value.type    = data.type || value.type;
                        
                        if(data.values) {
                            value.type    = 'select'
                            value.values  = data.values;
                        }
                    }
    
                    if(value.type === null && value.default === '--DIVIDER--') {
                        value.type = 'divider';
                        value.divider = true;
                        delete value.name;
                        delete value.default;
                    } else if(value.type === null && typeof(value.default) == typeof(true)) {
                        value.type = 'checkbox';
                    } else if(value.type === null && typeof(value.default) == typeof(1)) {
                        value.type = 'number';
                    } else if(value.type === null && value.default.substr(0, 1) === '#') {
                        value.type = 'color';
                        value.default = {
                            hex: value.default
                        }
                    } else if(value.type === null) {
                        value.type = 'input';
                    }

                    if(!this.models[key] && Vue.default)
                        Vue.default.set(this.models, key, value.default);
                    else if(!this.models[key])
                        Vue.set(this.models, key, value.default);

                    config.push(value);
                }
                
                return config;
            }
        },
            
        methods: {
            createConfig() {
                this.show = false;
                
                const inputConfig = this.dialogConfig;
                const config      = JSON.parse(JSON.stringify(this.models));

                for(var key in inputConfig) {
                    const name = inputConfig[key].name;

                    if(inputConfig[key].type === 'number')
                        config[name] = parseFloat(config[name]);
                    if(inputConfig[key].type === 'color')
                        config[name] = config[name].hex;
                }

                config.type = this.type;
                this.$emit('indicator', config);
                return config;
            },
                
            showDialog(type) {
                this.type = type;
                this.show = true;
            }
        },
        
        TechnicalSetup(chart, mapping, config) {
            if(Setups[config.type])
                return Setups[config.type].setup(chart, mapping, config);

            return null;
        },
            
        List() {
            const All = [];
            
            for(var type in Setups) {
                if(Setups[type].title)
                    All.push({ name: Setups[type].title, type, type });
            }
            
            return All.sort(function(a, b) {
                return a.name < b.name ? -1 : 1;
            });
        }
        
    }

</script>