<template>
    <v-container class="mt-4 pt-4">
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-card-text class="text-xs-center">
                        <form method="post" :action="api_n" ref="codeForm" @apiError="showError" @apiSuccess="showResult">
                            <input type="hidden" name="code" :value="$route.query.code" />
                            <input type="hidden" name="state" :value="$route.query.state" />
                        </form>
                        <ui-loading v-if="!err && !userinfo && !current" />
                        <v-alert v-else-if="err" :value="true" class="error" style="text-align: left">{{ err }}</v-alert>
                        <div v-else>
                            <div class="itsme-transfer-icons">
                                <img src="/img/general-elements/verify-itsme-logo.png" alt="itsme" height="85" width="85" style="width: 85px; height: 85px; display: inline-block;" />
                                <div>
                                    <v-icon>icon-arrow-right</v-icon>
                                </div>
                                <img src="/img/general-elements/logo-128.png" alt="bit4you" style="height: 85px; width: 85px; display: inline-block; padding: 5px;">
                            </div>
                            <div v-if="!saved">
                                <h2>{{$translate('itsme.text.1')}}</h2>
                                <small>{{$translate('itsme.text.2')}}</small>

                                <form method="POST" action="settings/update-verification" @apiSuccess="success" @apiError="apiError">
                                    <settings-verification-steps :step.sync="step" :info.sync="info" :itsme="true" :elevation="0" />
                                    <div class="px-2">
                                        <v-btn class="success" type="submit">{{$translate('itsme.btn.1')}}</v-btn>
                                    </div>
                                </form>
                            </div>
                            <div v-else>
                                <v-alert :value="true" class="success">
                                    {{ saved }}
                                </v-alert>
                            </div>

                        </div>
                    </v-card-text>
                    <!--
          <v-card-text class="text-xs-center">
              <pre v-if="err && !$route.query.code">{{err}}</pre>
              <form method="post" :action="api_n" @apiError="showError" @apiSuccess="signin">
                  <input type="hidden" name="requestUrl" value="1" />
                  <v-btn color="blue white--text" type="submit">Sign In</v-btn>
              </form>
          </v-card-text>
          -->
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        props: {
            current: {
                default: null,
                required: false,
            },
        },
        data() {
            const obj = {
                saved: false,
                err: null,
                userinfo: null,
                api_n: 'itsme/auth',
                step: 1,
                info: this.current || {
                    account_type: 'INDIVIDUAL',
                    vat_nr: null,
                    birthdate: null,
                    first_name: '',
                    last_name: '',
                    sex: null,
                    street: '',
                    house_number: '',
                    zip: '',
                    city: '',
                    id_number: null,
                    file_id: null,
                    us_citizen: false,
                    file_address: null,
                    main_income: null,
                    work: null,
                    annual_income: null,
                    total_assets: null,
                    trade_years: null,
                    trade_purpose: null,
                    trade_plan: null,
                    source: null,
                },
            };
            if (!this.current) {
                obj.api = 'settings.verification/status';
            }
            return obj;
        },
        metaInfo() {
            return {
              title: 'bit4you - Verification itsme',
            };
        },
        mounted() {
            if (this.$refs.codeForm && this.$route.query.state && this.$route.query.code) {
                this.err = null;
                this.userinfo = null;
                this.$submitForm("codeForm")
            } else {
                if (!this.current) {
                    this.$router.push('/settings/verification');
                }
            }
        },
        methods: {
            showError($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                $e = $e.result || $e.error
                $e = $e.error && $e.error.error ? $e.error.error : $e;
                switch ($e) {
                    case 'invalid_grant':
                        {
                            this.$router.push('/settings/verification');
                            break;
                        }
                    default:
                        {
                            this.err = $e;
                            break;
                        }
                }
            },
            showResult($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.err = null;
                this.userinfo = $e.result;
            },
            success($e) {
                this.saved = $e.result ? $e.result.result || $e.result : $e;
            },
            apiError($e) {
                $e = $e.result || $e;
                if ($e.step) {
                    this.step = Number($e.step);
                }
            },
        },
    };

</script>

<style>
    .itsme-transfer-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

</style>
