<template>
  <v-card>
    <v-dialog v-model="dialog" max-width="500px">
      <v-card v-if="editItem">
        <v-card-title class="headline">
          {{ editItem.name }}
        </v-card-title>
        <v-card-text>

          <v-layout row wrap>
            <v-flex xs12 class="text-xs-center">
              <b>{{$translate('settings.label.23')}}</b>
              <div v-if="editItem.scope.length > 0">
                <v-chip close small v-for="scope in editItem.scope.split(' ')" @input="deleteScope(editItem.index, scope)" :key="scope">
                  {{ scope }}
                </v-chip>
              </div>
              <div v-else>{{$translate('settings.label.26')}}</div>
            </v-flex>
            <v-flex xs12 class="mt-4 text-xs-center">
              <b>{{$translate('settings.label.27')}}</b>
            </v-flex>
            <v-flex xs10 md7 offset-md1 class="text-xs-center">
              <v-select
                :items="[
                  'users:read',
                  'wallets:read',
                  'wallets:write',
                  'portfolio:read',
                  'portfolio:write',
                  'offline_access',
                ].filter(el => editItem.scope.indexOf(el) === -1)"
                v-model="newScope"
                item-value="text"
              ></v-select>
            </v-flex>
            <v-flex xs2 md4 class="text-xs-center pt-3">
              <v-btn class="green white--text" small @click.stop="saveScope(newScope)">{{$translate('settings.label.27')}}</v-btn>
            </v-flex>
          </v-layout>


          <v-layout row wrap>
            <v-flex xs12 class="text-xs-center">
              <b>{{$translate('settings.label.28')}}</b>
              <div v-if="editItem.ips.length > 0">
                <v-chip close small v-for="IP in editItem.ips" @input="deleteIP(editItem.index, IP)" :key="IP">
                  {{ IP }}
                </v-chip>
              </div>
              <div v-else>{{$translate('settings.label.29')}}</div>
            </v-flex>
            <v-flex xs12 class="mt-4 text-xs-center">
              <b>{{$translate('settings.label.30')}}</b>
            </v-flex>
            <v-flex xs10 md7 offset-md1 class="text-xs-center">
              <v-text-field v-model="newIP" />
            </v-flex>
            <v-flex xs2 md4 class="text-xs-center pt-3">
              <v-btn class="green white--text" small @click.stop="saveIP(newIP)">{{$translate('settings.label.30')}}</v-btn>
            </v-flex>
          </v-layout>


          <v-layout row wrap>
            <v-flex xs12 class="text-xs-center">
              <b>{{$translate('settings.label.31')}}</b>
              <div v-if="editItem.domains.length > 0">
                <v-chip close small v-for="domain in editItem.domains" @input="deleteDomain(editItem.index, domain)" :key="domain">
                  {{ domain }}
                </v-chip>
              </div>
              <div v-else>{{$translate('settings.label.32')}}</div>
            </v-flex>
            <v-flex xs12 class="mt-4 text-xs-center">
              <b>{{$translate('settings.label.33')}}</b>
            </v-flex>
            <v-flex xs10 md7 offset-md1 class="text-xs-center">
              <v-text-field v-model="newDomain" />
            </v-flex>
            <v-flex xs2 md4 class="text-xs-center pt-3">
              <v-btn class="green white--text" small @click.stop="saveDomain(newDomain)">{{$translate('settings.label.33')}}</v-btn>
            </v-flex>
          </v-layout>

        </v-card-text>
        <v-card-actions style="justify-content: center;">
          <v-btn outline color="blue-grey" @click.stop="dialog=false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card-title class="pb-0 mb-0">
      <h2 class="headline pb-0 mb-0">{{$translate('settings.text.22')}}</h2>
      <v-spacer />
      <form action="oauth/new-app" class="pb-0 mb-0" @apiSuccess="addedSuccess" style="display: flex;justify-content: center;align-items: center;">
        <v-text-field name="name" :placeholder="`${$translate('settings.text.23')}...`" />
        <v-btn icon class="green white--text" type="submit">
          <v-icon>icon-plus</v-icon>
        </v-btn>
      </form>
    </v-card-title>
    <v-card-title class="pt-0 mt-0">
      <b class="subheader pl-0">{{$translate('settings.text.24')}}</b>
    </v-card-title>
    <v-card-text>
      <v-data-table
        :headers="[{
          text: $translate('settings.label.34'),
          value: 'name',
          align: 'center',
          sortable: true,
        }, {
          text: $translate('settings.label.22'),
          value: 'client_id',
          align: 'center',
          sortable: true,
        }, {
          text: $translate('settings.label.23'),
          value: 'scope_length',
          align: 'center',
          sortable: true,
        }, {
          text: $translate('settings.label.35'),
          value: 'index',
          align: 'center',
          sortable: false,
        }]"
        :hide-actions="items.length <= 25"
        :items="innerItems"
        :pagination.sync="pagination"
        class="table-markets"
        :no-data-text="$translate('settings.text.21')"
      >
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">
              {{ props.item.name }}
          </td>
          <td class="text-xs-center">
              {{ props.item.client_id }}
          </td>
          <td class="text-xs-center">
            <div v-if="props.item.scope.length > 0">
              <v-chip close small v-for="scope in props.item.scope.split(' ')" @input="deleteScope(props.item.index, scope)" :key="scope">
                {{ scope }}
              </v-chip>
            </div>
            <div v-else>{{$translate('settings.label.26')}}</div>
          </td>
          <td class="text-xs-center">
            <v-btn icon class="error" @click="remove(props.item)">
              <v-icon>icon-trash</v-icon>
            </v-btn>
            <v-btn icon class="warning" @click="edit(props.item)">
              <v-icon>icon-write</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      editItem: null,
      pagination: {
          rowsPerPage: 25
      },
      items: [],
      innerItems: [],
    };
  },
  mounted() {
    this.itemsHandler();
  },
  watch: {
    items: 'itemsHandler',
  },
  methods: {
    deleteScope(index, scope) {
      /* API delete scope ... */
      const items = this.items.slice(0);
      items[index].scope = items[index].scope.split(' ').filter(el => el !== scope).join(' ');
      this.items = items;
    },
    remove(item) {
      /* API delete api key ... */
    },
    addedSuccess($e) {
      /* API result handler ... */
    },
    edit(item) {
      this.editItem = item;
      this.dialog = true;
    },
    saveScope(scope) {
      /* API add scope ... */
      const index = this.editItem.index;
      const items = this.items.slice(0);
      items[index].scope = items[index].scope
        .replace(/ +/g, " ")
        .split(' ')
        .filter(el => el.length > 0 && el !== scope)
        .join(' ');
      items[index].scope += `${items[index].scope.length > 0 ? ' ' : ''}${scope}`;
      this.items = items;
    },
    itemsHandler() {
      if (this.items.length === 0) {
        this.innerItems = [];
        return;
      }
      this.innerItems = this.items.slice(0).map((el, index) => {
        el.index = index;
        el.scope_length = 0;
        if (el.scope && el.scope.length > 0) {
          el.scope = el.scope.replace(/ +/g, " ");
          el.scope_length = el.scope.length;
        }
        return el;
      });
    },
  },
};
</script>
