<template>
  <v-card>
    <v-card-title class="pb-0 mb-0">
      <h2 class="headline pb-0 mb-0">{{$translate('settings.label.21')}}</h2>
    </v-card-title>
    <v-card-title class="pt-0 mt-0">
      <b class="subheader pl-0">{{$translate('settings.text.19')}}</b>
    </v-card-title>
    <v-card-text>
      <v-data-table
        :headers="[{
          text: $translate('settings.label.22'),
          value: 'client_id',
          align: 'center',
          sortable: true,
        }, {
          text: $translate('settings.label.23'),
          value: 'scope_length',
          align: 'center',
          sortable: true,
        }, {
          text: $translate('settings.label.24'),
          value: 'domains',
          align: 'center',
          sortable: false,
        }, {
          text: $translate('settings.label.25'),
          align: 'center',
          sortable: false,
        }]"
        :hide-actions="items.length <= 25"
        :items="innerItems"
        :pagination.sync="pagination"
        class="table-markets"
        :no-data-text="$translate('settings.text.20')"
      >
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">
              {{ props.item.client_id }}
          </td>
          <td class="text-xs-center">
            <div v-if="props.item.scope.length > 0">
              <v-chip small v-for="scope in props.item.scope.split(' ')" :key="scope">
                {{ scope }}
              </v-chip>
            </div>
            <div v-else>{{$translate('settings.label.26')}}</div>
          </td>
          <td class="text-xs-center">
            <div v-if="props.item.domains.length > 0">
              <v-chip small v-for="scope in props.item.domains" :key="scope">
                {{ scope }}
              </v-chip>
            </div>
            <div v-else>{{$translate('settings.label.26')}}</div>
          </td>
          <td class="text-xs-center">
            <v-btn icon color="error" outline @click="remove(props.item)">
              <v-icon>icon-close</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      editItem: null,
      pagination: {
          rowsPerPage: 25
      },
      items: [],
      innerItems: [],
    };
  },
  mounted() {
    this.itemsHandler();
  },
  watch: {
    items: 'itemsHandler',
  },
  methods: {
    remove(item) {
      /* API delete api key ... */
    },
    extractHostname(url) {
      return url
        .split('/')[(url.indexOf("://") > -1) ? 2 : 0]
        .split(':')[0]
        .split('?')[0];
    },
    itemsHandler() {
      if (this.items.length === 0) {
        this.innerItems = [];
        return;
      }
      this.innerItems = this.items.slice(0).map((el, index) => {
        el.index = index;
        el.scope_length = 0;
        if (el.scope && el.scope.length > 0) {
          el.scope = el.scope.replace(/ +/g, " ");
          el.scope_length = el.scope.length;
        }
        const domains = (el.domains || []).slice(0);
        domains.push(el.redirect_url);
        el.domains = domains.map((domain) => {
          return this.extractHostname(domain);
        }).filter((el, i, arr) => i === arr.indexOf(el));
        return el;
      });
    },
  },
};
</script>
