<template>
    <v-card>
        <!--<v-dialog v-model="dialog" max-width="500px">
            <v-card v-if="editItem">
                <v-card-title class="headline">
                    {{$translate('settings.text.28')}}: {{ editItem.client_id }}
                </v-card-title>
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex xs12 class="text-xs-center">
                            <b>{{$translate('settings.label.23')}}</b>
                            <div v-if="editItem.scope.length > 0">
                                <v-chip close small v-for="scope in editItem.scope.split(' ')" @input="deleteScope(editItem.index, scope)" :key="scope">
                                    {{ scope }}
                                </v-chip>
                            </div>
                            <div v-else>{{$translate('settings.label.26')}}</div>
                        </v-flex>
                        <v-flex xs12 class="mt-4 text-xs-center">
                            <b>{{$translate('settings.label.27')}}</b>
                        </v-flex>
                        <v-flex xs10 md7 offset-md1 class="text-xs-center">
                            <v-select :items="[
                                  'users:read',
                                  'wallets:read',
                                  'wallets:write',
                                  'portfolio:read',
                                  'portfolio:write'
                                ].filter(el => editItem.scope.indexOf(el) === -1)" v-model="newScope" item-value="text"></v-select>
                        </v-flex>
                        <v-flex xs2 md4 class="text-xs-center pt-3">
                            <v-btn color="primary" small @click.stop="saveScope(newScope)">{{$translate('settings.label.27')}}</v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-card-actions style="justify-content: center;">
                    <v-btn color="error" @click.stop="dialog=false">{{$translate('btn.3')}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>!-->
        <v-card-title class="pb-0 mb-0">
            <h2 class="headline pb-0 mb-0">{{$translate('settings.text.27')}}</h2>
            <v-spacer class="pb-0 mb-0" />
            <form action="settings.security/oauth2-add" class="pb-0 mb-0" @apiSuccess="addedSuccess">
                <v-btn icon class="green white--text" type="submit">
                    <v-icon>icon-plus</v-icon>
                </v-btn>
            </form>
        </v-card-title>
        <v-card-title class="pt-0 mt-0">
            <b class="subheader pl-0">{{$translate('settings.text.26')}}</b>
        </v-card-title>
        <v-card-text>
            <v-alert class="error" v-model="errShow" dismissible>{{error}}</v-alert>

            <v-data-table :loading="loading" :headers="[{
                  text: $translate('settings.label.22'),
                  value: 'client_id',
                  align: 'center',
                  sortable: true,
                }, {
                  text: $translate('settings.label.23'),
                  value: 'scope_length',
                  align: 'center',
                  sortable: true,
                }, {
                  text: $translate('settings.label.36'),
                  value: 'api_key',
                  align: 'center',
                  sortable: true,
                }, {
                  text: $translate('settings.label.35'),
                  value: 'index',
                  align: 'center',
                  sortable: false,
                }]" :hide-actions="items.length <= 25" :items="items.filter((o) => o.application_type === 'native')" :pagination.sync="pagination" class="table-markets" :no-data-text="$translate('settings.text.25')">
                <template slot="items" slot-scope="props">
                    <td class="text-xs-center">
                        {{ props.item.client_id }}
                    </td>
                    <td class="text-xs-center">
                        <div v-if="props.item.scopes.length > 0">
                            <v-chip small v-for="scope in props.item.scopes" :key="scope">
                                {{ scope }}
                            </v-chip>
                        </div>
                        <div v-else>{{$translate('settings.label.26')}}</div>
                    </td>
                    <td class="text-xs-center">
                        {{ props.item.client_secret }}
                    </td>
                    <td class="text-xs-center">
                        <v-btn icon class="error" @click="remove(props.item)">
                            <v-icon>icon-trash</v-icon>
                        </v-btn>
                        <!--<v-btn icon class="warning" @click="edit(props.item)">
                            <v-icon>icon-write</v-icon>
                        </v-btn>!-->
                    </td>
                </template>
            </v-data-table>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                dialog: false,
                editItem: null,
                pagination: {
                    rowsPerPage: 25
                },
                api: 'settings.security/oauth2-apps',
                items: [],
                loading: false,
                error: null,
                errShow: false
            };
        },
        watch: {
            error(val) {
                this.errShow = val ? true : false
            }
        },
        methods: {
            deleteScope(index, scope) {
                /* API delete scope ... */
                const items = this.items.slice(0);
                items[index].scope = items[index].scope.split(' ').filter(el => el !== scope).join(' ');
                this.items = items;
            },
            remove(item) {
                this.loading = true;
                this.error = null;

                this.$api.post('settings.security/oauth2-delete', {
                    client_id: item.client_id
                }).then(() => {
                    this.items = this.items.filter((o) => o.client_id !== item.client_id)
                }).catch((err) => {
                    this.error = err.error || err.message || err;
                }).then(() => {
                    this.loading = false;
                });
            },
            addedSuccess($e) {
                this.items.push($e.result)
            },
            edit(item) {
                this.editItem = item;
                this.dialog = true;
            },
            saveScope(scope) {
                /* API add scope ... */
                const index = this.editItem.index;
                const items = this.items.slice(0);
                items[index].scope = items[index].scope
                    .replace(/ +/g, " ")
                    .split(' ')
                    .filter(el => el.length > 0 && el !== scope)
                    .join(' ');
                items[index].scope += `${items[index].scope.length > 0 ? ' ' : ''}${scope}`;
                this.items = items;
            }
        },
    };

</script>
