<template>
    <v-card>
        <v-card-title class="pb-0">
            <h2 class="headline pb-0 mb-0">{{$translate('settings.label.37')}}</h2>
        </v-card-title>
        <v-card-title class="pt-0 mt-0 pb-0">
            <b class="subheader pl-0">
                {{$translate('settings.text.29')}}
            </b>
        </v-card-title>
        <v-card-text v-if="show === 1">
            <v-alert class="success" :value="successMessage" style="margin-top: 25px">
                <span>{{successMessage}}</span>
            </v-alert>

            <div class="text-center">
                <v-btn type="button" color="primary" @click="show = 2">
                    {{$translate('settings.btn.2')}}
                </v-btn>
            </div>
        </v-card-text>
        <v-card-text v-else-if="show === 2" class="text-center">
            <h2 style="padding-bottom: 20px">{{$translate('settings.text.30')}}:</h2>
            <form method="post" ref="pinform" action="settings.security/update-pin" @apiSuccess="onMessageSend">
                <v-layout row wrap class="text-xs-center">
                    <v-flex xs12 style="display: flex; justify-content: center; align-items: center;">
                        <div>
                            <div style="margin-bottom: -10; text-align: left">{{$translate('settings.label.38')}}</div>
                            <input-pin name="pin" style="padding: 0; float: left; margin-left: -5px" />
                        </div>
                    </v-flex>
                    <v-flex xs12 style="display: flex; justify-content: center; align-items: center;">
                        <div>
                            <div style="margin-bottom: -10;  text-align: left">{{$translate('settings.label.39')}}</div>
                            <input-pin name="pin_new" style="padding: 0;float: left; margin-left: -5px" :autofocus="false" />
                        </div>
                    </v-flex>
                    <v-flex xs12 style="display: flex; justify-content: center; align-items: center;">
                        <div>
                            <div style="margin-bottom: -10;  text-align: left">{{$translate('settings.label.40')}}</div>
                            <input-pin name="pin_confirm" style="padding: 0; float: left; margin-left: -5px" :autofocus="false"  @submit="$submitForm('pinform')" />
                        </div>
                    </v-flex>
                </v-layout>

                <hr style="margin-top: 20px" />
                <v-btn type="button" color="blue-grey" outline @click="show = 1">
                    {{$translate('btn.5')}}
                </v-btn>
                <v-btn class="green white--text" type="submit">
                    {{$translate('btn.8')}}
                </v-btn>
            </form>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                show: 1,
                successMessage: null
            }
        },
        watch: {
            show(val) {
                if(val !== 1)
                    this.successMessage = null;
            }
        },
        methods: {
            onMessageSend($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.successMessage = $e.result.result || $e.result;
                this.show = 1;
            }
        }
    }

</script>