<template>
    <v-card>
        <v-card-text class="headline pb-0 mb-0">
            <h2 class="headline">{{$translate('settings.label.42')}}</h2>
        </v-card-text>
        <v-card-text class="pt-0 mt-0">
            <b class="subheader pl-0">{{$translate('settings.text.35')}}</b>
            <hr class="mt-2 mb-1">
            <b class="subheader pl-0">{{$translate('settings.text.34')}}</b>
        </v-card-text>
        <v-card-text>
            <v-alert class="error" :value="!q1 && !q2 && !q3">
              {{$translate('settings.text.33')}}  
            </v-alert>
            <v-alert class="success" :value="!(!q1 && !q2 && !q3)">
              {{$translate('settings.text.32')}}  
            </v-alert>
        </v-card-text>
        <v-card-text class="text-center" v-if="show == 1">
            <v-btn color="primary" @click="show = 2">
              {{$translate('settings.text.31')}}
            </v-btn>
        </v-card-text>
        <v-card-text v-else>
            <v-layout row wrap>
                <v-flex xs12 md10 offset-md1 lg8 offset-lg2>
                    <form method="POST" action="settings.security/update-questions" @apiSuccess="success">
                        <div class="text-center">
                            <div style="margin-bottom: -10;">{{$translate('settings.label.37')}}</div>
                            <input-pin name="pin" /><br>
                        </div>
                        
                        <v-select :items="items1" v-model="settingUp.q1" :label="`${$translate('settings.label.42')} 1`" />
                        <input type="hidden" name="q1" :value="settingUp.q1" />
                        <v-text-field name="a1" :label="`${$translate('settings.label.41')} 1`" /><br>

                        <v-select :items="items2" v-model="settingUp.q2" :label="`${$translate('settings.label.42')} 2`"></v-select>
                        <input type="hidden" name="q2" :value="settingUp.q2" />
                        <v-text-field name="a2" :label="`${$translate('settings.label.41')} 2`" /><br>

                        <v-select :items="items3" v-model="settingUp.q3" :label="`${$translate('settings.label.42')} 3`"></v-select>
                        <input type="hidden" name="q3" :value="settingUp.q3" />
                        <v-text-field name="a3" :label="`${$translate('settings.label.41')} 3`" />

                        <div class="text-xs-center">
                            <v-btn type="button" color="blue-grey" outline @click="show = 1">
                                {{$translate('btn.1')}}
                            </v-btn>
                            <v-btn type="submit" class="green white--text">
                                {{$translate('btn.8')}}
                            </v-btn>
                        </div>
                    </form>
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                api: 'settings.security/secret-questions',
                questions: [],
                q1: null,
                q2: null,
                q3: null,
                settingUp: {
                    q1: null,
                    q2: null,
                    q3: null,
                },
                show: 1
            };
        },
        computed: {
            items1() {
                if (!this.settingUp.q2 && !this.settingUp.q3)
                    return this.questions;

                return this.questions.filter(el => el.value !== this.settingUp.q2 && el.value !== this.settingUp.q3);
            },
            items2() {
                if (!this.settingUp.q1 && !this.settingUp.q3)
                    return this.questions;

                return this.questions.filter(el => el.value !== this.settingUp.q1 && el.value !== this.settingUp.q3);
            },
            items3() {
                if (!this.settingUp.q1 && !this.settingUp.q2)
                    return this.questions;

                return this.questions.filter(el => el.value !== this.settingUp.q1 && el.value !== this.settingUp.q2);
            },
        },
        watch: {
            q1() {
                this.settingUp.q1 = this.q1;
            },
            q2() {
                this.settingUp.q2 = this.q2;
            },
            q3() {
                this.settingUp.q3 = this.q3;
            },
        },
        methods: {
            success($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.show = 1;
                this.q1 = this.settingUp.q1;
                this.q2 = this.settingUp.q2;
                this.q3 = this.settingUp.q3;
            }
        }
    };

</script>

<style>
.subheader {
  height: auto !important;
}
</style>
