<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <settings-security-pin />
      </v-flex>
      <v-flex xs12>
        <settings-security-twofactor />
      </v-flex>
      <v-flex xs12>
        <settings-security-questions />
      </v-flex>
      <v-flex xs12>
        <settings-security-api-keys />
      </v-flex>
      <!--<v-flex xs12>
        <settings-security-api-apps />
      </v-flex>
      <v-flex xs12>
        <settings-security-api-accepted />
      </v-flex>!-->
    </v-layout>
  </v-container>
</template>