<template>
    <v-card>
        <v-card-text class="headline pb-0 mb-0">
            <h2 class="headline">{{$translate('settings.text.36')}}</h2>
        </v-card-text>
        <v-card-text>
            <v-layout row wrap v-if="loading">
                <v-flex xs12>
                    <v-progress-linear indeterminate color="blue" />
                </v-flex>
            </v-layout>
            <v-layout row wrap v-else-if="!status" class="text-xs-center" :key="img">
                <v-flex xs12 v-if="img === defaultImg">
                    <form method="post" action="settings.security/twofactor-image" @apiSuccess="generateSuccess">
                        <img class="QR-code" :src="img">
                        <br>
                        <v-btn color="primary" type="submit">{{$translate('settings.text.37')}}</v-btn>
                    </form>
                </v-flex>
                <v-flex xs12 md10 offset-md1 v-else>
                    <img class="QR-code" :src="img">
                    <p>
                        {{$translate('settings.text.38')}}<br>
                        {{$translate('settings.text.39')}}
                    </p>
                    <form method="post" action="settings.security/twofactor-save" @apiSuccess="status = true">
                        <input-pin name="token" token />
                        <v-btn class="green white--text" type="submit">{{$translate('settings.text.40')}}</v-btn>
                    </form>
                </v-flex>
            </v-layout>
            <v-layout row wrap v-else>
                <v-flex xs12>
                    <v-alert class="success" :value="true">
                        {{$translate('settings.text.41')}}
                    </v-alert>
                    <form method="post" action="settings.security/twofactor-delete" @apiSuccess="status = false">                      
                        <div class="text-xs-center">
                          <p>
                              {{$translate('settings.text.42')}}:
                          </p>
                          <input-pin name="token" token />
                          <v-btn color="error" type="submit">{{$translate('settings.text.43')}}</v-btn>
                        </div>
                    </form>
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</template>

<script>
    const defaultImg = "/img/google-auth.png";
    export default {
        data() {
            return {
                api: 'settings.security/twofactor-status',
                status: null,
                loading: true,
                defaultImg: defaultImg,
                img: String(defaultImg),
            };
        },
        watch: {
            status() {
                this.loading = false;
            },
        },
        methods: {
            generateSuccess(e) {
                this.$set(this, 'img', e.result.img);
            },
        },
    };

</script>
