<template>
    <div :key="'' + marketName + tradingview">
      <!--<div>
        <v-btn @click="tradingview = !tradingview" small><v-icon size="12">icon-chart-line</v-icon>&nbsp;Switch</v-btn>
      </div>!-->
      <div v-if="marketName && marketName.length">
        <market-tradingview :market="market" v-if="tradingview" />
        <marketGraph v-else 
          :marketName="marketName" 
          :marketIso="market" 
          :initialDrawer="initialDrawer"
          class="crypto-graph"
          :back="back"
          @back="$emit('back', $event)"
          :marketPrecision="precision"
          :toolbarColor="toolbarColor"
        />
      </div>
      <div class="text-xs-center" v-else>
          <v-progress-linear indeterminate v-bind:size="50" color="blue" />
      </div>
    </div>
</template>

<script>
    import marketGraph from './../../../chart/src/chart.vue';

    export default {
        props: {
            toolbarColor: {
              type: String,
              required: false,
            },
            market: {
                type: String,
                required: true
            },
            back: {
                type: Boolean,
                default: false,
            },
            initialDrawer: {
                type: Boolean,
                default: false,
            },
        },

        components: {
            marketGraph,
        },

        data() {
            return {
                marketName: false,
                precision: 2,
                tradingview: false,
            }
        },

        watch: {
            market: 'refreshInfo',
        },

        mounted()  {
            this.$onApi('market/summaries', this.refreshInfo);
        },

        methods: {
          refreshInfo(summ) {
            const market = this.$db.getMarket(this.market) ||  {};

            this.$nextTick(() => {
              this.marketName = market.name || '';
              this.precision = market.precision || 8;
            });
          },
        },
    };

</script>

<style>
    .crypto-graph aside div.v-list {
        padding-bottom: 80px;
        height: 100%;
        position: relative;
    }
</style>
