<template>
    <v-card style="height: 353px; overflow-y: auto">
        <v-card-text>
            <v-data-table :headers="headers" :items="items" :pagination.sync="pagination" hide-actions>
                <template slot="items" slot-scope="props">
                  <tr>
                    <td>
                        {{ props.item.time | formatTimeSec }}
                    </td>
                    <td>
                        <b :style="{ color: props.item.buy ? $colors.red : $colors.green }" v-if="isUsdt">{{ props.item.rate | currencyWithSymbol(market) }}</b>
                        <b :style="{ color: props.item.buy ? $colors.red : $colors.green }" v-else>{{market.split('-')[0]}} {{ props.item.rate.toFixed(8) }}</b>
                    </td>
                    <td>
                        {{ props.item.quantity.toFixed(8) }}
                    </td>
                    <td v-if="!minimal">
                        <b>{{ props.item.quantity * props.item.rate | currencyWithSymbol }}</b>
                    </td>
                  </tr>
                </template>
            </v-data-table>

        </v-card-text>
    </v-card>
</template>


<script>

    export default {
        props: {
            maxRows: {
                type: Number,
                default: 25
            },
            market: String,
            minimal: {
                type: Boolean,
                default: false
            },
        },

        data() {
            const headers = this.$translateHeaders([{
                    text: 'label.2',
                    value: 'time'
                },
                {
                    text: 'label.9',
                    value: 'quantity',
                },
                {
                    text: 'label.10',
                    value: 'quantity',
                },
                {
                    text: 'label.11',
                    value: 'quantity',
                }
            ]);

            return {
                api: 'market/history',
                api_data: {
                    market: this.market
                },
                items: [],
                headers: this.minimal ? [ headers[0], headers[1], headers[2] ] : headers,
                pagination: {
                    sortBy: 'time', 
                    descending: true,
                    rowsPerPage: this.maxRows
                }
            }
        },
        computed: {
            isUsdt() {
                return this.market.split('-')[0] === 'USDT';
            }
        },
        mounted() {
            this.$onApi('market/history/live', (res) => {
                const items = this.items;
                for(var item of res) {
                    if(item.market !== this.market)
                        continue;

                    for(var x of item.items)
                        items.unshift(x);
                }

                this.items = items.slice(0, this.maxRows - 1);
            })
        },
        watch: {
            market(val, oldval) {
                if (val === oldval) 
                    return;

                this.$replaceApi(this.api, {
                    market: this.market,
                });
            }
        }
    };

</script>
