<template>
  <div>
    <tutorial-first-login :market="market" v-if="parseInt(selectedTab) === 0" show />
    <market-overview :market="market" v-if="parseInt(selectedTab) === 0" />
    <!--<market-orderbook :market="market" v-else-if="selectedTab === '2'" />
    <market-history :market="market" v-else-if="selectedTab === '3'" />!-->
    <portfolio-overview :marketView="true" :market="market" v-else-if="parseInt(selectedTab) === 1" />
    <!--
    <div v-else-if="Number(selectedTab) === 3">
      <v-container>
        <v-layout row-wrap>
          <v-flex xs12 lg6>
            <social-chatroom :room="market" :style="`margin-top: ${parseInt(scrolled || 0)}px;`"/>
          </v-flex>
          <v-flex xs12 lg6>
            <social-posts-list :market="market" />
          </v-flex>
        </v-layout>
      </v-container>
    </div>
    -->

    <div v-else>
      {{ selectedTab }}
    </div>
  </div>
</template>

<script>
    export default {
        tabs: {
            overview:   'market.tabs.1',
            // graph:      'market.tabs.2',
            //'market.tabs.3',
            //'market.tabs.4',
            portfolio:  'menu.portfolio',
            //'market.tabs.6',
        },
        props: {
            market: String,
            page: {
              type: String,
              required: false,
              default() {
                return 'overview';
              },
            },
            selectedTab: {
                default: 0,
                required: false,
                urlProp: false
            },
        },
        data() {
            return {
                scrolled: 0,
                clientReady: false,
            };
        },
        watch: {
            selectedTab: 'tabChanged',
            market(val, oldval) {
                if (oldval)
                    this.$db.unsubscribe(oldval);

                this.$db.subscribe(this.market);
            }
        },

        metaInfo() {
          return {
            title: `bit4you - ${this.market} Market`,
          };
        },

        created() {
            if (this.market)
                this.$db.subscribe(this.market);
        },
        destroyed() {
            this.$db.unsubscribe(this.market);
        },
        beforeMount() {
            this.onScroll = this.onScroll.bind(this);
        },
        mounted: function() {
          window.addEventListener('scroll', this.onScroll);
          window.document.scrollTop = 0;
          this.tabChanged(Object.keys(this.$options.tabs).indexOf(String(this.page || 'overview').toLowerCase()));
        },
        destroyed: function() {
            window.removeEventListener('scroll', this.onScroll);
        },
        methods: {
            tabChanged (val) {
                val = parseInt(val, 10);
                this.$emit('update:selectedTab', val);
                switch (val) {
                  case 0: {
                    this.$router.replace('/market/' + this.market);
                    return;
                  }
                  /*
                  case 1: {
                    this.$router.push('/market-chart/' + this.market);
                    return;
                  }
                  */
                  default: {
                    this.$router.replace('/market/' + this.market + '/' + Object.keys(this.$options.tabs)[val]);
                    return;
                  }
                }
            },
            onScroll($e) {
                var element = $e.target.scrollingElement || event.target;

                if (element.scrollHeight - element.scrollTop !== element.clientHeight) {
                    this.scrolled = 0; // element.scrollTop;
                }
            }
        },
    }

</script>
