<template>
    <v-data-table :headers="headers" :items="items" :pagination.sync="pagination" hide-actions class="table-cards">
        <template slot="items" slot-scope="props">
          <tr>
            <td>
              <b>{{ props.item.rate | currencyWithSymbol(market) }}</b>
            </td>
            <td> 
                {{ props.item.quantity * props.item.rate | currencyWithSymbol }}
            </td>
          </tr>
        </template>
    </v-data-table>
</template>

<script>

    export default {
        props: {
            items: {
                type: Array,
                default () {
                    return [];
                },
            },
            buy: {
                type: Boolean,
                default: false
            },
            maxRows: {
                type: Number,
                default: 50
            },
            market: String
        },

        data() {
            return {
                headers: this.$translateHeaders([{
                        text: 'label.9',
                        value: 'rate'
                    },
                    {
                        text: 'label.12',
                        value: 'quantity',
                    },
                ]),
                pagination: {
                    sortBy: 'rate', 
                    descending: this.buy ? true : false,
                    rowsPerPage: this.maxRows
                }
            }
        }
    };

</script>
