<template>
    <v-card>
        <v-card-text>
            <v-layout wrap row class="orderbook">
                <v-flex xs6 class="text-xs-center" style="border-right: 1px solid #eee">
                    <b>{{$translate('market.text.8')}}</b>
                    <market-list-orderbook buy :items="Bid" :maxRows="maxRows" :market="market" />
                </v-flex>
                <v-flex xs6 class="text-xs-center">
                    <b>{{$translate('market.text.9')}}</b>
                    <market-list-orderbook :items="Ask" :maxRows="maxRows" :market="market" />
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        props: {
            market: String,
            maxRows: {
                type: Number,
                default: 50
            }
        },
        data() {
            return {
                Bid: [],
                Ask: [],
            };
        },
        mounted() {
            this.$onApi('market/orderbook/live', {}, (res) => {
                if (res.market !== this.market)
                    return;

                this.Bid = res.orderbook.Bid;
                this.Ask = res.orderbook.Ask;
            });

            if (!this.market)
                return;

            this.$bindApi('market/order-book', {
                market: this.market,
            });
        },
        watch: {
            market(val, oldval) {
                if (val === oldval)
                    return;

                this.$replaceApi('market/order-book', {
                    market: this.market,
                });
            },
        },
    };

</script>

<style lang="scss">
    .orderbook {

        table.table tbody td,
        table.table tbody th {
            height: 34px;
        }
    }

</style>
