<template>
    <v-container grid-list-lg fluid style="padding: 0 16px;">
        <v-layout row wrap>
            <v-flex lg2 md2 sm6 xs12>
                <market-summary-card :market="market" type="Current" />
            </v-flex>
            <v-flex lg2 md2 sm6 xs12>
                <market-summary-card :market="market" type="Open" />
            </v-flex>
            <v-flex lg2 md2 sm6 xs12>
                <market-summary-card :market="market" type="24h High" />
            </v-flex>
            <v-flex lg2 md2 sm6 xs12>
                <market-summary-card :market="market" type="24h Low" />
            </v-flex>
            <v-flex lg2 md2 sm6 xs12>
                <market-summary-card :market="market" type="Bid" />
            </v-flex>
            <v-flex lg2 md2 sm6 xs12>
                <market-summary-card :market="market" type="Ask" />
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 md8>
                <v-card style="position: 'relative';">
                    <div style="overflow: hidden; width: 100%; height: 500px; position: relative;">
                        <market-graph :market="market" />
                    </div>
                </v-card>
            </v-flex>
            <v-flex xs12 md4>
                <market-trade :market="market" />
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 md4 v-if="showSentiment">
                <screen-market-overview-daneel :market="{ name: name, iso: market }" />
            </v-flex>
            <v-flex xs12 :md4="showSentiment" :md6="!showSentiment">
                <screen-market-overview-global :market="{ name: name, iso: market }" class="market-glob-stat" />
            </v-flex>
            <v-flex xs12 :md4="showSentiment" :md6="!showSentiment">
                <market-history :market="market" minimal />
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

    export default {
        props: {
            market: String
        },
        computed: {
            showSentiment() {
                return (this.market.indexOf('DAN') === -1)
            },
            name() {
                return ''
            }
        },
        mounted() {
            this.$db.subscribe(this.market);
        },
        destroyed() {
            this.$db.unsubscribe(this.market)
        }
    }

</script>

<style lang="scss">

    .market-glob-stat {
        height: 100%;
        display: flex;
        flex-direction: column;

        > .v-card__text {
            flex: 1;
            display: flex;
        }
    }

</style>