<template>
    <v-dialog v-model="opened" persistent :max-width="500">
      <v-card>
        <v-card-title class="headline pb-0 mb-0">
            {{market}}
            <v-spacer />
            <v-btn small icon @click.native="$emit('update:opened', false)">
                <v-icon>icon-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text>
          <table class="v-table theme--light">
              <tbody>
                  <tr>
                    <td>
                      <info-tooltip>{{ $translate('market.tip.1') }}</info-tooltip>
                      <b>{{ $translate('market.label.1') }}</b>
                    </td>
                    <td>{{ convertValue(summary.last) }}</td>
                  </tr>
                  <tr>
                    <td>
                      <info-tooltip>{{ $translate('market.tip.2') }}</info-tooltip>
                      <b>{{ $translate('market.label.2') }}</b>
                    </td>
                    <td>{{ convertValue(summary.open) }}</td>
                  </tr>
                  <tr>
                    <td>
                      <info-tooltip>{{ $translate('market.tip.3') }}</info-tooltip>
                      <b>{{ $translate('market.label.3') }}</b>
                    </td>
                    <td>{{ convertValue(summary.high) }}</td>
                  </tr>
                  <tr>
                    <td>
                      <info-tooltip>{{ $translate('market.tip.4') }}</info-tooltip>
                      <b>{{ $translate('market.label.4') }}</b>
                    </td>
                    <td>{{ convertValue(summary.low) }}</td>
                  </tr>
                  <tr>
                    <td>
                      <info-tooltip>{{ $translate('market.tip.5') }}</info-tooltip>
                      <b>{{ $translate('market.label.5') }}</b>
                    </td>
                    <td>{{ convertValue(summary.bid) }}</td>
                  </tr>
                  <tr>
                    <td>
                      <info-tooltip>{{ $translate('market.tip.6') }}</info-tooltip>
                      <b>{{ $translate('market.label.6') }}</b>
                    </td>
                    <td>{{ convertValue(summary.ask) }}</td>
                  </tr>
                  <tr>
                    <td>
                      <info-tooltip>{{ $translate('market.tip.7') }}</info-tooltip>
                      <b>{{ $translate('market.label.12') }}</b>
                    </td>
                    <td>{{ parseFloat(summary.ask / summary.bid).toFixed(2) }} %</td>
                  </tr>
                  <tr>
                    <td>
                      <info-tooltip>{{ $translate('market.tip.8') }}</info-tooltip>
                      <b>{{ $translate('market.label.7') }}</b>
                    </td>
                    <td>{{ convertValue(summary.marketCap, true) }}</td>
                  </tr>
                  <tr>
                    <td>
                      <info-tooltip>{{ $translate('market.tip.9') }}</info-tooltip>
                      <b>{{ $translate('market.label.8') }}</b>
                    </td>
                    <td>{{ convertValue(summary.volume, true) }}</td>
                  </tr>
              </tbody>
          </table>
        </v-card-text>
      </v-card>
    </v-dialog>
</template>

<script>
    export default {
        props: {
            market: {
                type: String,
                required: true,
            },
            opened: {
                type: Boolean,
                required: true,
            }
        },

        data() {
          return {
            summary: {},
          };
        },

        computed: {
            baseMarket() {
              return this.market.split('-')[0];
            },
        },
        
        mounted() {
            this.$onApi('market/summaries', () => {
                this.summary = this.$db.getSummary(this.market)
            });
        },

        methods: {
          convertValue(value, isZeroDecimals) {
            if (isZeroDecimals || this.baseMarket === 'USDT') {
              return this.$options.filters.currencyWithSymbol(value, isZeroDecimals ? 0 : this.market);
            }
            return parseFloat(parseFloat(this.value).toFixed(6))
          }
        }

    };

</script>
