<template>
    <v-card @click="$emit('info', true)">
        <v-card-text primary-title :class="(colors[type] || 'blue') + ' white--text'" @click="$emit('info', true)">
            <!--
              <v-btn v-if="notifiable" small icon class="white btn--price-notify" @click.stop="$emit('notify', true)">
                <v-icon>icon-notification</v-icon>
              </v-btn>
            -->
            <div @click="$emit('info', true)">
                <div class="headline" v-if="type === 'Market Cap' || baseMarket === 'USDT'">{{ value | currencyWithSymbol(isZeroDecimals ? 0 : market) }}</div>
                <div class="headline" v-else>{{ parseFloat(value).toFixed(8) }} <small style="font-size: 14px">{{baseMarket}}</small></div>
                <div>{{$translate(translation[type])}} </div>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>

    export default {
        props: {
            market: String,
            type: String
        },

        data() {
            return {
                summary: this.$db.getSummary(this.market),
                notifiable: String(this.type || '').toLowerCase() === 'current',
                colors: {
                    Current:      'blue-grey',
                    Open:         'blue-grey',
                    '24h High':   'green',
                    '24h Low':    'red',
                    Bid:          'blue',
                    Ask:          'blue',
                    'Market Cap': 'blue-grey',
                    '24h Volume': 'blue-grey',
                },

                translation: {
                    Current:      'market.label.1',
                    Open:         'market.label.2',
                    '24h High':   'market.label.3',
                    '24h Low':    'market.label.4',
                    Bid:          'market.label.5',
                    Ask:          'market.label.6',
                    'Market Cap': 'market.label.7',
                    '24h Volume': 'market.label.8',
                },
                
                alias: {
                    Current:      'last',
                    Open:         'open',
                    '24h High':   'high',
                    '24h Low':    'low',
                    Bid:          'bid',
                    Ask:          'ask',
                    'Market Cap': 'marketCap',
                    '24h Volume': 'volume',
                }
            }
        },
        
        mounted() {
            this.$onApi('market/summaries', () => {
                this.summary = this.$db.getSummary(this.market)
            });
        },
        
        watch: {
            market() {
                this.summary = this.$db.getSummary(this.market)
            }
        },
        
        computed: {
            isZeroDecimals() {
                return this.type === 'Market Cap' || this.type === '24h Volume';
            },
            baseMarket() {
                return this.market.split('-')[0]
            },
            value() {
                if(!this.summary)
                    return 0;

                const alias = this.alias[this.type];
                if(alias)
                    return this.summary[alias] || 0;
                
                return this.summary[this.type] || 0;
            }
        }
    }

</script>

<style>
.btn--price-notify {
  float: right;
  color: #262626;
  position: absolute !important;
  bottom: 0;
  right: 0px;
}
</style>
