<template>
    <div id="market-trade-wrapper">
        <v-dialog v-model="dialog" persistent max-width="600">
            <v-card class="text-xs-center" :key="'error-'+hasError" v-if="hasError">
                <v-card-title class="headline">
                    <div style="width: 100%;">{{$translate('label.14')}}</div>
                </v-card-title>
                <v-card-text>
                    <v-layout row wrap justify-center class="pb-3" style="max-width: 400px;margin: auto;">
                        <v-icon color="red">icon-error</v-icon>
                        <span class="error-message">{{ tabs[0].error || tabs[1].error }}</span>
                    </v-layout>
                    <v-btn outline color="green" v-if="parseInt((tabs[0].errorCode || 0) + (tabs[1].errorCode || 0)) === 10000">{{$translate('menu.addfunds')}}</v-btn>
                    <v-btn outline color="blue-grey" @click="tabs[0].error = null; tabs[1].error = null;">{{$translate('btn.1')}}</v-btn>
                </v-card-text>
            </v-card>
            <v-stepper v-model="step" v-else>
                <!--
                <v-stepper-header>
                    <v-stepper-step :complete="step > 1" step="1" :editable="!(step === 3 || loading)" @click="dialog = false">{{ $translate('market.label.9') }}</v-stepper-step>
                    <v-divider />
                    <v-stepper-step :complete="step > 2" step="2" :editable="!(step === 3 || loading)">{{ $translate('btn.2') }}</v-stepper-step>
                    <v-divider />
                    <v-stepper-step step="3">{{$translate('market.label.10')}}</v-stepper-step>
                </v-stepper-header>
                -->

                <v-stepper-items>
                    <v-stepper-content step="2">
                        <v-card>
                            <v-card-title class="headline">
                                <div style="width: 100%;">{{ $translate('market.text.10') }}</div>
                            </v-card-title>
                            <v-card-text>
                                <table class="v-table theme--light" v-if="dialog">
                                    <tbody v-if="tab === 0">
                                        <tr>
                                            <td>{{$translate('label.7')}}</td>
                                            <td>{{market}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{$translate('history.label.12')}}</td>
                                            <td :key="tab">{{$translate(`tx.type10`, { market: market.split('-')[1] })}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{$translate(!isMarketCurrency ? 'label.1' : 'label.10')}}</td>
                                            <td>{{qtype}} {{parseFloat(amount).toFixed($getMarketPrecision(qtype))}}</td>
                                        </tr>
                                        <tr v-if="!isMarketCurrency && qtype !== 'USDT' && $getCurrency().name !== 'USD'">
                                            <td>{{$translate('market.label.11')}}</td>
                                            <td>{{$getCurrency().symbol}} {{$convertRate(1) | formatPercentage}} / $ 1</td>
                                        </tr>
                                        <tr v-if="!isMarketCurrency && qtype !== 'USDT' && $getCurrency().name !== 'USD'">
                                            <td>USDT {{$translate('label.1')}}</td>
                                            <td>USDT {{amount / $convertRate(1) | formatPercentage}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{$translate('label.9')}}</td>
                                            <td v-if="market_rate">{{$translate('label.17')}}</td>
                                            <td v-else>{{$getCurrency().symbol}} {{customRate | formatPercentage}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                              {{$translate('market.label.12')}}
                                              <info-tooltip class="ml-1">
                                                {{$translate('market.tip.7')}}
                                              </info-tooltip>
                                            </td>
                                            <td v-if="spread !== 9999">{{ spread | formatPercentage }} %</td>
                                            <td v-else>{{$translate('market.label.14')}}..</td>
                                        </tr>
                                        <tr v-if="!isMarketCurrency">
                                            <td>{{$translate('market.label.13')}}</td>
                                            <td v-if="spread !== 9999">
                                              {{market.split('-')[1] === qtype ? market.split('-')[0] : market.split('-')[1] }} 
                                              <template v-if="qtype === 'USDT'">
                                                {{ (amount / (market_rate ? ask : customRate)).toFixed(8) }}
                                              </template>
                                              <template v-else-if="qtype !== 'USDT'">
                                                {{ ((amount / (market_rate ? $convertRate(1) : 1)) / (market_rate ? ask : customRate)).toFixed(8) }}
                                              </template>
                                            </td>
                                            <td v-else>{{$translate('market.label.14')}}..</td>
                                        </tr>
                                        <tr v-if="isMarketCurrency">
                                          <td>{{ baseCurrency }} Estimée</td>
                                          <td v-if="baseCurrency === 'USDT'">USDT {{Math.round(amount * (market_rate ? ask : (customRate / $convertRate(1))) * 100) / 100 | formatPercentage}}</td>
                                          <td v-else>{{ baseCurrency }} {{ (amount * (market_rate ? ask : customRate)).toFixed(8) }}</td>
                                        </tr>
                                        <tr v-if="isMarketCurrency && $getCurrency().name !== 'USD'">
                                            <td>{{$translate('market.label.11')}}</td>
                                            <td>{{$getCurrency().symbol}} {{$convertRate(1) | formatPercentage}} / $ 1</td>
                                        </tr>
                                        <tr v-if="isMarketCurrency && $getCurrency().name !== 'USD'">
                                          <td>{{$getCurrency().name}} Estimée</td>
                                          <td>{{ $getCurrency().name }} {{ ((Math.round(amount * (market_rate ? ask : (customRate / $convertRate(1))) * 100) / 100) * $convertRate(1)) | formatPercentage}}</td>
                                        </tr>
                                    </tbody>

                                    <tbody v-else-if="tab === 1">
                                        <tr>
                                            <td>{{$translate('label.7')}}</td>
                                            <td>{{market}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{$translate('history.label.12')}}</td>
                                            <td :key="tab">{{$translate(`tx.type9`, { market: market.split('-')[1] })}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                              {{$translate('market.label.12')}}
                                              <info-tooltip class="ml-1">
                                                {{$translate('market.tip.7')}}
                                              </info-tooltip>
                                            </td>
                                            <td v-if="spread !== 9999">{{ spread | formatPercentage }} %</td>
                                            <td v-else>{{$translate('market.label.14')}}..</td>
                                        </tr>
                                        <tr>
                                            <td>{{$translate('label.9')}}</td>
                                            <td v-if="market_rate">{{$translate('label.17')}}</td>
                                            <td v-else>{{$getCurrency().symbol}} {{customRate | formatPercentage}}</td>
                                        </tr>
                                        <tr v-if="!isMarketCurrency">
                                            <td>{{$translate('market.label.25')}}</td>
                                            <td v-if="spread !== 9999">
                                              {{market.split('-')[1]}} 
                                              <template v-if="qtype === 'USDT'">
                                                {{ (amount / (market_rate ? bid : customRate)).toFixed(8) }}
                                              </template>
                                              <template v-else-if="qtype !== 'USDT'">
                                                {{ (amount / (market_rate ? bid : customRate)).toFixed(8) }}
                                              </template>
                                            </td>
                                            <td v-else>{{$translate('market.label.14')}}..</td>
                                        </tr>
                                        <tr>
                                            <td v-if="!isMarketCurrency">{{$translate('label.16')}} ({{qtype}})</td>
                                            <td v-else>{{$translate('market.label.23')}}</td>
                                            <td>{{qtype}} {{parseFloat(amount).toFixed($getMarketPrecision(qtype))}}</td>
                                        </tr>
                                        <tr v-if="isMarketCurrency">
                                          <td>{{$translate('market.label.24')}} ({{ baseCurrency }})</td>
                                          <td v-if="baseCurrency === 'USDT'">USDT {{Math.round(amount * (market_rate ? bid : (customRate * $convertRate(1))) * 100) / 100 | formatPercentage}}</td>
                                          <td v-else>{{ baseCurrency }} {{ (amount * (market_rate ? bid : customRate)).toFixed(8) }}</td>
                                        </tr>
                                        <tr v-if="qtype !== 'USDT' && $getCurrency().name !== 'USD'">
                                            <td>{{$translate('market.label.11')}}</td>
                                            <td>{{$getCurrency().symbol}} {{$convertRate(1) | formatPercentage}} / $ 1</td>
                                        </tr>
                                        <tr v-if="isMarketCurrency && $getCurrency().name !== 'USD'">
                                          <td>{{$translate('market.label.24')}} ({{$getCurrency().name}})</td>
                                          <td>{{ $getCurrency().name }} {{ (Math.round(amount * (market_rate ? bid : customRate)) * 100) / 100 * (market_rate ? $convertRate(1) : 1) | formatPercentage}}</td>
                                        </tr>
                                        <tr v-if="!isMarketCurrency && ($getCurrency().name !== 'USD' || baseCurrency === 'USDT') && qtype !== 'USDT' && qtype !== 'USD'">
                                          <td>{{$translate('label.16')}} (USDT)</td>
                                          <td>USDT {{Math.round(amount / $convertRate(1) * 100) / 100 | formatPercentage}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </v-card-text>
                            <v-card-text class="text-xs-right">
                                <v-btn color="blue-grey white--text" outline type="button" @click="dialog = false">{{$translate('btn.5')}}</v-btn>
                                <v-btn color="green white--text" type="submit" @click="submit(tab)">{{$translate('btn.2')}}</v-btn>
                            </v-card-text>
                        </v-card>
                    </v-stepper-content>

                    <v-stepper-content step="3">
                        <v-card-text v-if="loading" class="text-xs-center">
                            <v-progress-circular indeterminate color="primary" size=100 />
                            <h3>{{$translate('market.text.11')}}..</h3>
                        </v-card-text>
                        <v-card-text v-else class="text-xs-center">
                            <v-icon size=100 color="green">icon-check</v-icon>
                            <h3>{{$translate('market.text.12')}}</h3>
                            <v-btn color="green white--text" @click="dialog = false">{{$translate('btn.14')}}</v-btn>
                        </v-card-text>
                    </v-stepper-content>

                </v-stepper-items>
            </v-stepper>
        </v-dialog>
        <v-tabs centered class="market-trade">
            <v-tab href="#trade-1" @click="tab = 0">{{$translate('label.15')}}</v-tab>
            <v-tab href="#trade-2" @click="tab = 1">{{$translate('label.19')}}</v-tab>
            <!--<v-tab href="#trade-3">{{$translate('Close Position')}}</v-tab>!-->

            <v-tab-item v-for="(tab, i) in tabs" :key="i" :id="'trade-' + (i + 1)">
                <form method="post" action="order/create" :ref="`tradeform${String(i)}`" @apiPrepare="apiPrepare" @apiError="onError($event, i)" @apiSuccess="onSuccess($event, i)">
                    <input type="hidden" name="market" :value="market" />
                    <input type="hidden" name="type" :value="(i === 0 ? 'buy' : 'sell')" />

                    <v-card flat style="min-height: 452px;">
                        <v-card-text v-if="!loading && !tab.success">
                            <v-layout row wrap justify-center style="margin-top: 30px;" v-if="!walletTrade">
                                <label class="rate-lbl" style="padding-top: 15px">{{$translate('market.label.15')}}</label>
                                <v-switch :label="$translate('market.label.16')" style="max-width: 50%;" v-model="market_rate" />
                            </v-layout>

                            <v-container fluid>
                                <v-layout row wrap>
                                    <v-flex xs12 class="pa-0">
                                        <v-subheader class="text-xs-center">
                                            <span v-if="i === 0">{{$translate(!isMarketCurrency ? 'market.label.20' : 'market.label.21')}}:</span>
                                            <span v-else>{{$translate(!isMarketCurrency ? 'market.label.22' : 'market.label.23')}}:</span>
                                            <v-spacer />
                                            <span style="text-align: right"><small>{{$t('addfunds.text3')}}:</small><br>{{wallet}} {{qtype}}</span>
                                        </v-subheader>
                                    </v-flex>
                                    <v-flex xs12 class="py-0 px-3">
                                        <input type="hidden" name="quantity_iso" :value="!isMarketCurrency ? market.split('-')[0] : qtype" />
                                        <input type="hidden" name="quantity" :value="isMarketCurrency || qtype === baseCurrency ? amount : (Math.round(amount * 100 / $convertRate(1)) / 100)" />
                                        <v-text-field :label="$translate(!isMarketCurrency ? 'label.1' : 'label.10')" single-line solo v-model="amount" @keyup="tab.error = null" type="number">
                                            <template v-slot:append-outer>
                                                <v-select :items="getItems()" single-line solo style="margin: -12px 0 -4px 0"  v-model="qtype" />
                                            </template>
                                        </v-text-field>
                                    </v-flex>
                                </v-layout>
                                <v-layout row wrap>
                                    <v-flex xs12 class="pa-0">
                                        <v-subheader class="text-xs-center">
                                          {{$translate('market.label.17')}}:
                                        </v-subheader>
                                    </v-flex>
                                    <v-flex xs12 class="py-0 px-3">
                                        <input type="hidden" name="rate" :value="market.indexOf('USDT-') === -1 ? customRate : (Math.round(customRate * 100 / $convertRate(1)) / 100)" v-if="!market_rate" />
                                        <v-text-field type="number" :placeholder="$translate('label.17')" min="0" max="9999999" v-model="customRate" solo @keyup="tab.error = null" :class="{'v-input-disabled': market_rate}" @click="market_rate = false" @blur="onBlur">
                                            <template v-slot:append>
                                                <div>{{getCurrencyHint()}}</div>
                                            </template>
                                        </v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions v-if="!loading && !tab.success">
                          <div class="text-xs-center" id="market-trade-initializer" style="width: 100%;">
                            <v-btn @click="dialog = amount > 0" color="primary white--text" type="button">
                              {{$translate(i === 0 ? 'market.btn.2' : 'market.btn.3')}}
                            </v-btn>
                          </div>
                        </v-card-actions>

                        <v-card-text v-if="loading" class="order-loading-view">
                            <v-progress-circular indeterminate color="primary" size=100 />
                            <h3>{{$translate('market.text.11')}}..</h3>
                        </v-card-text>

                        <v-card-text v-if="!loading && tab.success" class="order-loading-view">
                            <v-icon size=100 color="green">icon-check</v-icon>
                            <h3>{{$translate('market.text.12')}}</h3>
                            <v-btn color="green white--text" @click="tab.success = false">{{$translate('btn.14')}}</v-btn>
                        </v-card-text>
                    </v-card>
                </form>
            </v-tab-item>
        </v-tabs>
    </div>
</template>

<script>
    export default {
        props: {
            market: String,
            walletTrade: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                tab: 0,
                qtype: null,
                step: 2,
                dialog: false,
                market_rate: true,
                loading: false,
                max_invest: 20000,
                amount: null,
                customRate: null,
                spread: 9999,
                ask:    0,
                bid:    0,
                wallet: 0,
                wallets: [],
                tabs: [{
                        error: null,
                        errorCode: 0,
                        success: false
                    },
                    {
                        error: null,
                        errorCode: 0,
                        success: false
                    }
                ]
            }
        },

        computed: {
            hasError() {
                return this.tabs[0].error || this.tabs[1].error || false;
            },
            baseCurrency() {
              var items = this.getItems();
              return this.market.split('-')[0];
            },
            marketCurrency() {
              var items = this.getItems();
              return this.market.split('-')[1];
            },
            isMarketCurrency() {
              return this.qtype === this.marketCurrency;
            },
            isBaseCurrency() {
              return this.qtype === this.baseCurrency;
            },
        },

        watch: {
            amount(val) {
              let temp = val;
              if (val < 0) temp = 0;
              const safe = String(temp).replace(/[^0-9.,]/g, '');
              if (safe !== String(temp)) temp = Number(safe || 0);
              if (String(val) !== temp) this.$set(this, 'amount', Number(temp));
            },
            customRate(val) {
              let temp = val;
              if (val < 0) temp = 0;
              const safe = String(temp).replace(/[^0-9.,]/g, '');
              if (safe !== String(temp)) temp = Number(safe || 0);
              if (String(val) !== temp) this.$set(this, 'customRate', Number(temp));
            },
            market_rate(val) {
              if (val) {
                this.customRate = null;
              }
            },
            step(val) {
                if(parseInt(val) === 1)
                    this.dialog = false;
            },
            tab(val, oldval) {
              if (val === oldval) return;
              const r = this.getItems();
              if (val === 0) this.qtype = r[0];
              else this.qtype = r[r.length - 1];
            },
            dialog(val, oldval) {
                const query = Object.assign({}, this.$route.query);
                if (val && !oldval) {
                  this.step = 2;
                  query.dialog = true;
                } else {
                  delete query.dialog;
                }
                this.$router.replace({
                  path: this.$route.path,
                  query,
                });
            },
            qtype() {
                this.updateWallet();
            }
        },

        mounted() {
            this.$onApi('market/summaries', () => {
                const summary = this.$db.getSummary(this.market);
                this.spread = parseFloat(summary.ask / summary.bid).toFixed(2);
                this.ask = summary.ask;
                this.bid = summary.bid;
            });

            this.$onApi('platform/currencies', (res) => {
                this.$forceUpdate();
            });

            this.$requireApi('wallet/balances', (res) => {
                this.wallets = res;
                this.updateWallet();
            })
        },

        methods: {
            updateWallet() {
                var wallet = this.wallets.find((o) => o.iso === this.qtype);
                if(wallet) {
                    this.wallet = wallet.balance;
                } else {
                    wallet = this.wallets.find((o) => o.iso === 'USDT');
                    if(!wallet)
                        return;

                    this.wallet = this.$convertRate(wallet.balance);
                }
            },
            onBlur() {
                this.market_rate = (!this.customRate)
            },
            onSuccess($e, $tab) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }

                this.$set(this.tabs[$tab], 'error', null);
                this.$set(this.tabs[$tab], 'errorCode', 0);
                this.$set(this.tabs[$tab], 'success', true);
                this.$emit('update:tabs', this.tabs);
                const query = Object.assign({}, (this.$route.query || {}));
                delete query.error;
                query.ordered = 'true';
                this.$router.replace({
                  path: this.$route.path,
                  query,
                });
                setTimeout(() => {
                    if (this) this.loading = false;
                }, 300);

                this.$api.refresh('wallet/balances');
                $ga('send', 'event', this.$api.isSimulation ? 'simulation' : 'real', (this.tab === 0 ? 'buy' : 'sell'), this.market, Math.round(this.amount))
            },
            onError($e, $tab) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                var error = $e.error || {
                    error: this.$translate('error.2')
                };

                if (typeof(error) === 'string')
                    error = { 
                        error: error
                    };

                this.$set(this.tabs[$tab], 'success', false);
                this.loading = false;
                this.step = 2;
                this.$set(this.tabs[$tab], 'error', error.error || error.message || error.result || this.$translate('error.2'));
                this.$set(this.tabs[$tab], 'errorCode', $e.result.code || 0);
            },
            apiPrepare() {
                this.dialog = true;
                this.step = 3;
                this.loading = true;
                this.tabs = [{
                        error: null,
                        errorCode: 0,
                        success: false
                    },
                    {
                        error: null,
                        errorCode: 0,
                        success: false
                    }
                ];
            },
            submit(i) {
                this.dialog = true;
                if (this.loading)
                    return;

                this.$submitForm(`tradeform${i}`)
            },
            getCurrencyHint() {
                const m = this.market.split('-')[0]
                if(m === 'USDT') {
                    return this.$getCurrency().symbol
                }

                return m;
            },
            getItems() {
                var r = this.market.split('-');
                var qTypeTemp = r[0]

                if (r[0] === 'USDT') {
                  qTypeTemp = this.$getCurrency().name;
                  r.unshift(qTypeTemp);
                }

                if(!this.qtype || r.indexOf(this.qtype) === -1)
                    this.qtype = qTypeTemp;

                return r;
            }
        }
    }

</script>

<style lang="scss">
    .market-trade {
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    }

    .market-trade .v-text-field.v-text-field--enclosed .v-text-field__details {
        display: none;
    }

    .market-trade .theme--light.v-text-field--solo.v-input-disabled > .v-input__control > .v-input__slot {
        background: #eee;

        input {
            color: rgba(0,0,0,0.38);
        }
    }
    
    .market-trade .rate-lbl {
        color: rgba(0, 0, 0, 0.54);
        font-size: 16px;
        line-height: 30px;
        padding-right: 14px;
        margin-bottom: 0px;
        width: 100%;
        max-width: 50%;
        text-align: right;
    }

    .market-trade .subheader {
        padding-top: 35px;
    }

    .order-loading-view {
        display: flex;
        justify-content: center;
        min-height: 452px;
        align-items: center;
        flex-direction: column;
    }

    .order-loading-view h3 {
        margin-top: 15px;
        text-align: center;
    }

    .error-message {
        color: red;
        font-weight: bold;
        line-height: 24px;
        margin-left: 8px;
    }

</style>
