<template>
  <div>
    <div :id="uuid"></div>
  </div>
</template>

<script>
import { widget, onready } from './tradingview-lib.js';
export default {
  props: {
    allMarkets: {
      type: Boolean,
      default: false,
    },
    market: {
      type: String,
      default: 'USDT-BTC',
    },
  },
  data() {
    return {
      api: 'market/list',
      items: [],
      ticks: [],
      subscriptions: {},
      tvWidget: null,
      uuid: 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      }),
    };
  },
  computed: {
    cryptos() {
      return (this.items || []).map((el) => ({
        name: el.iso,
        value: el.iso,
        symbol: el.iso,
        base_name: el.iso,
        full_name: `${el.name} (${el.iso})`,
        description: `${el.name} (${el.iso})`,
        exchange: 'BIT4YOU',
        type: 'crypto',
      }));
    },
  },
  watch: {
    items(val) {
      if (val.length) {
        this.loadLib();
      }
    }
  },
  mounted() {
    this.$onApi('market/summaries', (summaries) => {
      Object.values(this.subscriptions).forEach((s) => {
        const found = summaries.find(el => el.market === s.symbol);
        if (found) {
          return s.callback({
            time: Date.now(),
            close: found.last,
            open: found.open,
            high: found.high,
            low: found.low,
            volume: found.volume,
          });
        }
      });
    });
  },
  destroyed() {
    this.destroyLib();
  },
  methods: {
    getDataFeed() {
      const self = this;
      const cryptos = this.cryptos.slice(0);
      return {
        onReady(callback) {
          callback({
            exchanges: [
                {value: "BIT4YOU", name: "BIT4YOU", desc: ""},
            ],
            symbols_types: [{name: "All types", value: ""}],
            supported_resolutions: ['1', '5', '15', '30', '60', '240', 'D'],
            supportedResolutions: ['1', '5', '15', '30', '60', '240', 'D'],
            favorites: {
              intervals: ['1', '5', '15', '30', '60', '240', 'D'],
              chartTypes: ["Area", "Line"]
            },
            supports_marks: false,
            supports_timescale_marks: true,
            supports_time: true,
            supports_search: true,
          })
        },
        searchSymbols(userInput, exchange, symbolType, onResultReadyCallback) {
          const search = String(userInput).toLowerCase();
          const result = cryptos.filter(el => {
            return (
              !search
              || String(el.symbol).toLowerCase().indexOf(search) > -1
              || String(el.full_name).toLowerCase().indexOf(search) > -1
            );
          });
          return onResultReadyCallback(result);
        },
        resolveSymbol(symbolName, onSymbolResolvedCallback, onResolveErrorCallback) {
          const search = String(symbolName).toLowerCase();
          const found = cryptos.find(el => (
            (String(el.symbol).toLowerCase() === search)
            || (String(el.name).toLowerCase() === search)
            || (String(el.full_name).toLowerCase() === search)
          ));
          if (!found) return onResolveErrorCallback('Not found');
          return onSymbolResolvedCallback(found);
        },
        getBars(symbolInfo, resolution, from, to, onHistoryCallback, onErrorCallback, firstDataRequest) {
          if (firstDataRequest) {
            self.$set(self, 'ticks', []);
          }
          console.log('GET-BARS', from, to);
          if (self.ticks.length) {
            return self.barsHandler(from, to, onHistoryCallback, onErrorCallback, firstDataRequest);
          }
          let interval = 24 * 60;
          if (resolution !== 'D') interval = parseInt(resolution, 10);
          self.$api.post('market/ticks', { interval, market: symbolInfo.symbol }).then((res) => {
            self.$set(self, 'ticks', res);
            return self.barsHandler(from, to, onHistoryCallback, onErrorCallback, firstDataRequest);
          });
        },
        subscribeBars(symbolInfo, resolution, onRealtimeCallback, subscriberUID, onResetCacheNeededCallback) {
          let interval = 24 * 60;
          if (resolution !== 'D') interval = parseInt(resolution, 10);
          if (!self.subscriptions) self.$set(self, 'subscriptions', {}); 
          self.$set(self.subscriptions, subscriberUID, { interval, symbol: symbolInfo.symbol, callback: onRealtimeCallback }); 
          return true;
        },
        unsubscribeBars(subscriberUID) {
          self.$set(self.subscriptions, subscriberUID, undefined);
          return true;
        },
        calculateHistoryDepth(resolution, resolutionBack, intervalBack) {
          // ['1', '5', '15', '30', '60', '240', 'D']
          console.log('calculateHistoryDepth-resolution', resolution);
          console.log('calculateHistoryDepth-resolutionBack', resolutionBack);
          console.log('calculateHistoryDepth-intervalBack', intervalBack);
          return undefined;
          /*
          switch (resolution) {
            case '1': {
              return {
                resolutionBack: 'D',
                intervalBack: 6
              };
            }
            case '5': {
              return {
                resolutionBack: 'D',
                intervalBack: 6
              };
            }
            case '15': {
              return {
                resolutionBack: 'D',
                intervalBack: 6
              };
            }
            case '30': {
              return {
                resolutionBack: 'D',
                intervalBack: 6
              };
            }
            case '60': {
              return {
                resolutionBack: 'D',
                intervalBack: 6
              };
            }
            case '240': {
              return {
                resolutionBack: 'D',
                intervalBack: 6
              };
            }
            case 'D': {
              return {
                resolutionBack: 'D',
                intervalBack: 6
              };
            }
          }
          */
        },
        getServerTime(callback) {
          self.$api.post('platform/time', {}).then((res) => {
            if (res.time) {
              const time = parseInt(res.time, 10);
              if (time > 0) return callback(time);
            }
          });
        },
      };
    },
    findWithAttr(array, attr, value) {
      for(var i = 0; i < array.length; i += 1) {
        if(array[i][attr] === value) {
          return i;
        }
      }
      return -1;
    },
    barsHandler(from, to, callback, errorCallback, firstDataRequest) {
      if (typeof callback !== 'function') return false;
      const ticks = this.ticks;
      let resultIndex = 0;
      let result = ticks.filter((t, index, self) => {
        const keep = (
          t.time > from
          && (
            !!firstDataRequest
            || t.time < to
          )
        );
        if (keep) {
          resultIndex = index;
        }
        if (index !== this.findWithAttr(self, 'time', t.time)) {
          console.log(this.findWithAttr(self, 'time', t.time), index);
        }
        return (keep && this.findWithAttr(self, 'time', t.time) === index);
      });
      if (result.length === 0) return errorCallback('Empty');
      let nextTime = ticks[0].time;
      if (resultIndex > 0) {
        if (resultIndex + 1 >= ticks.length) nextTime = undefined;
        else nextTime = ticks[resultIndex + 1].time;
      }
      result = result.slice(0).map((t) => {
        delete t.marketVolume;
        t.time = t.time * 1000;
        return t;
      });
      return callback(result, { nextTime, noData: result.length > 0 });
    },
    destroyLib() {
      if (this.$isServer) return;
      if (this.tvWidget !== null) {
        this.tvWidget.remove();
        this.tvWidget = null;
      }
    },
    loadLib() {
      if (this.$isServer) return;
      this.destroyLib();
      const datafeed = this.getDataFeed();
      const self = this;
      self.tvWidget = new widget({
          width: '100%',
          symbol: 'USDT-BTC', // String(this.market).toUpperCase(),
          interval: 'D',
          timezone: 'Europe/Brussels',
          container_id: self.uuid,
          locale: self.$translator.lang,
          datafeed,
          toolbar_bg: '#f4f7f9',
          allow_symbol_change: false, // Because one fixed per market page.
          library_path: '/lib/tradingview/charting_library/',
          custom_css_url: '/lib/tradingview/custom.css',
          time_frames: [
            { text: "1m", resolution: "1", description: "1 Minute" },
            { text: "5m", resolution: "5", description: "5 Minutes" },
            { text: "15m", resolution: "15", description: "15 Minutes" },
            { text: "30m", resolution: "30", description: "30 Minutes" },
            { text: "1h", resolution: "60", description: "1 Hour" },
            { text: "4h", resolution: "240", description: "4 Hours" },
            { text: "1d", resolution: "D", description: "1 Day" },
          ],
          debug: false,
      });
    }
  }
};
</script>
