<template>
  <div>
    <v-select :disabled="disabled" :autocomplete="autocomplete" :label="label || $translate('wallet.label.30')" :items="mappedItems" v-model="selectedCurrency" />
    <input type="hidden" :name="name" v-model="selectedCurrency" />
  </div>
</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                default: 'currency'
            },
            label: {
                type: String,
                default: null,
            },
            selected: {
                default: null,
            },
            autocomplete: {
                type: Boolean,
                default: true,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            extra: {
              type: Array,
              default() { return []; },
            },
        },
        data() {
            return {
                selectedCurrency: this.selected,
                items: [],
                api: 'market/list',
            };
        },
        computed: {
            mappedItems() {
                const result = this.addItems || [];
                this.items.forEach((market) => {
                    result.push({
                        text: `${market.name} (${market.iso})`,
                        value: market.iso
                    });
                });
                return result;
            },
        },
        watch: {
            selectedCurrency() {
                this.$emit('update:selected', this.selectedCurrency);
            },
        },
    };

</script>
