<template>
  <div>
    <notifications-manager />
    <v-app v-if="isFront || isGraph">
        <router-view />
    </v-app>
    <v-app v-else>
      <conditions-changed v-if="profile.conditions_updated" :changes="profile.conditions_updated" />
      <v-navigation-drawer class="side-main-navigation" fixed app v-model="drawer" dark style="background-color: #000" :mini-variant="miniDrawer">
          <v-toolbar style="background-color: #FFF; color: #000;">
              <v-list class="pa-0">
                  <v-list-tile>
                      <v-list-tile-action>
                          <v-toolbar-side-icon light @click.stop="miniDrawer = !miniDrawer">
                              <v-icon>{{ miniDrawer ? ($vuetify.breakpoint.mdAndUp ? 'icon-menu' : 'icon-menu') : 'icon-menu-mini' }}</v-icon>
                          </v-toolbar-side-icon>
                      </v-list-tile-action>
                      <a href="https://www.bit4you.io">
                          <v-list-tile-content style="cursor: pointer">
                              <v-list-tile-title style="overflow: visible; color: #000; font-weight: 500; text-align: left; padding-left: 20px; font-size: 18px">
                                  bit4you.io
                              </v-list-tile-title>
                          </v-list-tile-content>
                      </a>
                  </v-list-tile>
              </v-list>
          </v-toolbar>

          <div class="grey-menu-box saldo-menu" v-if="!miniDrawer">
              <v-avatar class="teal">
                  <span class="white--text headline">
                      <span v-if="profile.first_name && profile.first_name.length > 0">
                          {{ profile.first_name[0] }}
                      </span>
                      <v-icon v-else>icon-user</v-icon>
                  </span>
              </v-avatar>
              <div class="saldo-view" :key="'balance'+$api.isSimulation+btnSimulation+wallet">
                  <h3>{{ wallet | currencyWithSymbol }}</h3>
                  <h4>{{ $translate('page.text.1') }} <small>{{ ($api.isSimulation ? `(${$translate('mode.1')})` : '') }}</small></h4>
              </div>
              <br>
              <v-btn fab small dark color="blue" class="btn-add-funds" @click="$router.push('/add-funds')">
                  <v-icon dark>icon-plus</v-icon>
                  <span>{{$translate('menu.addfunds')}}</span>
              </v-btn>
          </div>

          <v-list dense>
              <v-list-tile to="/markets" class="markets-menu-link">
                  <v-list-tile-action>
                      <v-icon>icon-list</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                      <v-list-tile-title>{{$translate('menu.markets')}}</v-list-tile-title>
                  </v-list-tile-content>
              </v-list-tile>
              <v-list-tile to="/portfolio">
                  <v-list-tile-action>
                      <v-icon>icon-progress-up</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                      <v-list-tile-title>{{$translate('menu.portfolio')}}</v-list-tile-title>
                  </v-list-tile-content>
              </v-list-tile>
              <v-list-tile to="/history">
                  <v-list-tile-action>
                      <v-icon>icon-history</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                      <v-list-tile-title>{{$translate('menu.3')}}</v-list-tile-title>
                  </v-list-tile-content>
              </v-list-tile>
              <v-list-tile to="/my-news">
                  <v-list-tile-action>
                      <v-icon>icon-news</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                      <v-list-tile-title>{{$translate('menu.news')}}</v-list-tile-title>
                  </v-list-tile-content>
              </v-list-tile>
              <v-list-tile to="/wallets">
                  <v-list-tile-action>
                      <v-icon>icon-wallet</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                      <v-list-tile-title>{{$translate('menu.wallets')}}</v-list-tile-title>
                  </v-list-tile-content>
              </v-list-tile>
              <v-list-tile to="/add-funds">
                  <v-list-tile-action>
                      <v-icon>icon-add-funds</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                      <v-list-tile-title>{{$translate('menu.addfunds')}}</v-list-tile-title>
                  </v-list-tile-content>
              </v-list-tile>
          </v-list>

          <router-link to="/settings/verification">
              <div class="grey-menu-box" style="margin-bottom: 15px;">
                  <h2>
                      {{ (profile.first_name || '') | ucwords }}{{ (profile.last_name && profile.last_name.length > 0 ? ` ${profile.last_name[0].toUpperCase()}.` : '') | ucwords}}
                  </h2>
              </div>
          </router-link>

          <v-list dense>
              <v-list-tile to="/settings">
                  <v-list-tile-action>
                      <v-icon>icon-settings</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                      <v-list-tile-title>{{$translate('menu.settings')}}</v-list-tile-title>
                  </v-list-tile-content>
              </v-list-tile>
              <v-list-tile @click="logout">
                  <v-list-tile-action>
                      <v-icon>icon-logout</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                      <v-list-tile-title>{{$translate('menu.10')}}</v-list-tile-title>
                  </v-list-tile-content>
              </v-list-tile>
          </v-list>

          <ui-mobile-download />
      </v-navigation-drawer>

      <v-toolbar color="white" fixed app>
          <v-toolbar-side-icon v-if="!drawer/* || $vuetify.breakpoint.mdAndDown*/" :key="`mobile-menu-${String($vuetify.breakpoint.mdAndDown)}`" @click.stop="drawer = !drawer" />
          <v-text-field solo flat hide-details single-line v-else-if="$route.path.indexOf('/markets') !== 0 && $route.path.indexOf('/my-news') !== 0" class="pt-0" prepend-icon="icon-search" :placeholder="$translate('placeholder.search')" hide-details single-line v-model="search" autocorrect="off" autocapitalize="off" spellcheck="false" />
          <v-tabs v-if="($route.path.indexOf('/markets') === 0 || $route.path.indexOf('/my-news') === 0) && Object.values(tabs).length > 0" :key="$route.path" :value="parseInt(selectedTab)" @change="tabChanged($event)" color="white" centered v-show="$vuetify.breakpoint.lgAndUp">
              <v-tab v-for="(tab, index) in tabs" :key="index + '-' + tab">{{$translate(tab)}}</v-tab>
          </v-tabs>
          <v-spacer />

          <v-chip outline color="red" v-if="!socketConnected">
              <v-icon class="mr-1">icon-error</v-icon>{{ $translate('page.text.2') }}
          </v-chip>

          <mode-switch v-if="btnSimulation !== null">
              <template slot="activator" slot-scope="props">
                  <v-btn-toggle :key="'switch'+$api.isSimulation+btnSimulation" slot="activator" v-model="btnSimulation" id="tutorial-mode-switch">
                      <v-btn flat :value="true" class="grey--text text--darken-1">
                          {{$translate('mode.1')}}
                      </v-btn>
                      <v-btn flat :value="false" class="grey--text text--darken-1">
                          {{$translate('mode.2')}}
                      </v-btn>
                  </v-btn-toggle>
              </template>
          </mode-switch>

          <v-menu offset-y>
              <v-btn icon slot="activator">
                  <v-icon :size="20">icon-notification</v-icon>
                  <span v-if="notifications.length > 0" style="font-size: 10px">
                      {{ notifications.length > 9 ? '9+' : notifications.length }}
                  </span>
              </v-btn>
              <v-list v-if="notifications.length === 0">
                  <v-list-tile>
                      <v-list-tile-title>{{ $translate('page.text.3') }}</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile key="end-all-notifs">
                      <v-list-tile-title class="text-xs-center">
                          <router-link to="/notifications">
                              <small>{{ $translate('page.text.4') }}</small>
                          </router-link>
                      </v-list-tile-title>
                  </v-list-tile>
              </v-list>
              <v-list v-else>
                  <v-list-tile v-for="(item, index) in notifications.slice(0, 15)" :key="`${index}-${item.id}`">
                      <v-list-tile-avatar>
                          <img :src="item.img || '/img/general-elements/logo-128.png'" />
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                          <v-list-tile-sub-title><small>{{ item.createdAt | formatDateTime }}</small></v-list-tile-sub-title>
                      </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile key="end-all-notifs">
                      <v-list-tile-title class="text-xs-center">
                          <router-link to="/notifications">
                              <small>{{ $translate('page.text.4') }}</small>
                          </router-link>
                      </v-list-tile-title>
                  </v-list-tile>
              </v-list>
          </v-menu>
          <v-menu offset-y>
              <v-btn icon slot="activator" id="tutorial-welcome" :data-intro="$translate('tutorial.intro.text.1')">
                  <v-icon :size="20">icon-info</v-icon>
              </v-btn>
              <v-list style="text-align: left">
                  <v-list-tile>
                      <v-list-tile-title class="text-xs-center">
                          <a href="/terms-and-conditions">
                              {{ $translate('legal.1') }}
                          </a>
                      </v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile>
                      <v-list-tile-title class="text-xs-center">
                          <a href="/privacy-policy">
                              {{ $translate('legal.2') }}
                          </a>
                      </v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile>
                      <v-list-tile-title class="text-xs-center">
                          <a href="/cookie-policy">
                              {{ $translate('legal.3') }}
                          </a>
                      </v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile>
                      <v-list-tile-title class="text-xs-center">
                          <a href="/about-us">
                              {{ $translate('legal.4') }}
                          </a>
                      </v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile>
                      <v-list-tile-title class="text-xs-center">
                          <a href="/consumer-claims">
                              {{ $translate('legal.5') }}
                          </a>
                      </v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile>
                      <v-list-tile-title class="text-xs-center">
                          <a href="/services">
                              {{ $translate('legal.6') }}
                          </a>
                      </v-list-tile-title>
                  </v-list-tile>
              </v-list>
          </v-menu>
          <v-menu offset-y v-if="innerTutorials.length">
              <v-btn icon slot="activator">
                  <v-icon :size="20">icon-help</v-icon>
              </v-btn>
              <v-list style="text-align: left">
                  <v-list-tile v-for="tuto in innerTutorials" :key="JSON.stringify(tuto)">
                      <v-list-tile-title class="text-xs-center" @click="startTutorial(tuto)">
                          <div style="color: #34495e;">
                              {{ $translate(tuto.title) }}
                          </div>
                      </v-list-tile-title>
                  </v-list-tile>
              </v-list>
          </v-menu>
          <v-tabs v-if="($route.path.indexOf('/markets') !== 0 && $route.path.indexOf('/my-news') !== 0) && Object.values(tabs).length > 0" :key="$route.path" :value="parseInt(selectedTab)" @change="tabChanged($event)" color="white" slot="extension" centered>
              <v-tab v-for="(tab, index) in tabs" :key="index + '-' + tab">{{$translate(tab)}}</v-tab>
          </v-tabs>
      </v-toolbar>
      <v-content id="main-content">
          <!--<ui-noscript />
          <ui-cookie-law v-if="$route.path.indexOf('/market-chart') === -1" />
          <ui-ie-banner v-if="$route.path.indexOf('/market-chart') === -1" />!-->

          <router-view id="tutorial-router-view" v-show="!($route.path !== '/markets' && search && search.length > 0)" :search.sync="search" :selectedTab.sync="selectedTab" :key="$translator.lang" />
          <div v-if="$route.path !== '/markets' && search && search.length > 0">
              <markets :search.sync="search" key="market-list-search" class="pt-0" />
          </div>
          <!--<v-container v-show="search && search.length > 0" style="padding: 40px 0px; margin-top: 0; padding-top: 0;">
            <table-profiles v-show="search && search.length > 0" :search.sync="search" key="profile-list-search" />
          </v-container>!-->
      </v-content>
    </v-app>
  </div>
</template>

<script>
    import TabsMixin from './mixins/tabs.js';

    import "./css/app.scss";
    import '@assets/fonts/icons/styles.scss';
    
    export default {

        mixins: [ TabsMixin ],

        components: {
            //Front
        },

        data() {
            const miniDrawer = this.$storage.get('miniDrawer');

            return {
                drawer: true,
                miniDrawer: (miniDrawer === 'true' || miniDrawer === true),
                cacheMiniDrawer: (miniDrawer === 'true' || miniDrawer === true),
                search: '',
                wallet: null,
                isDev: process.env.NODE_ENV === 'development',
                btnSimulation: null,
                socketConnected: this.$api.socketConnected,
                profile: {
                    first_name: '',
                    last_name: '',
                    conditions_updated: false
                },
                notifications: [],
                tutorials: {},
                tutorialItems: {
                  first_login: {
                    title: 'tutorial.title1',
                    link: '/markets',
                  },
                  first_portfolio: {
                    title: 'tutorial.title2',
                    link: '/portfolio',
                  },
                  first_history: {
                    title: 'tutorial.title3',
                    link: '/history',
                  },
                },
            };
        },

        computed: {
            isFront() {
                return ['/'].indexOf(this.$route.path) !== -1;
            },
            isGraph() {
                return ['/graph'].indexOf(this.$route.path) !== -1;
            },
            innerTutorials() {
              const keys = [];
              for (var key in this.tutorials) {
                if (this.tutorials[key]) {
                  keys.push(key);
                }
              }
              if (!keys.length) return [];
              return keys.map((k) => {
                if (this.tutorialItems[k]) {
                  return Object.assign({}, this.tutorialItems[k], { tutorial: k });
                }
                return null;
              }).filter(el => !!el);
            }
        },

        beforeCreate() {
          if (this.$isServer) return;
          const reduce = Function.bind.call(Function.call, Array.prototype.reduce);
          const concat = Function.bind.call(Function.call, Array.prototype.concat);
          const isEnumerable = Function.bind.call(Function.call, Object.prototype.propertyIsEnumerable);
          if (Object && !Object.values) {
            Object.values = function values(obj) {
              const values = [];
              for (var k in obj) {
                if (typeof k === 'string' && isEnumerable(obj, k)) {
                  values.push(obj[k]);
                }
              }
              return values;
            };
          }
          if (Object && !Object.entries) {
            Object.entries = function entries(obj) {
              const entries = [];
              for (var k in obj) {
                if (typeof k === 'string' && isEnumerable(obj, k)) {
                  entries.push([k, obj[k]]);
                }
              }
              return entries;
            };
          }
          if (Object && !Object.keys) {
            Object.keys = function keys(obj) {
              const keys = [];
              for (var k in obj) {
                if (typeof k === 'string' && isEnumerable(obj, k)) {
                  keys.push(k);
                }
              }
              return keys;
            };
          }
        },

        created() {
          this.$vuetify.lang.current = this.$translator.lang;
          
          if (this.$isServer || this.isFront || this.isGraph)
                return;

            this.$permissions.onLoaded(() => {
                this.parseCredentials();
                if (!this.$api.isConnected()) {
                    if(this.$route.path.substr(0, 8) !== '/members')
                        this.goHome();

                    return;
                }

                this.bindConnectedApis();
            });
            this.$set(this, 'search', null);
        },

        beforeMount() {
            if(this.isFront || this.isGraph)
                return;

            this.$setCurrenciesRoot(this);

            this.$onApi('members/profile', (res) => {
                if(!res.profile)
                    return;
                
                if(this.$api.credentials.first_name !== res.profile.first_name ||  this.$api.credentials.last_name !== res.profile.last_name) {
                    this.$api.credentials.first_name = res.profile.first_name;
                    this.$api.credentials.last_name = res.profile.last_name;
                    
                    this.$api.setCookies({
                        credentials: JSON.stringify(this.$api.credentials)
                    }, Date.now() * 2);
                }
            });

            this.$onApi('notifications/list', (res) => {
                this.$nextTick(() => {
                    this.$set(this, 'notifications', res.notifications.filter(el => !el.seen));
                });
            });
        },

        mounted() {
            if(typeof(window) !== "undefined")
                this.purgeLocalStorage();

            this.setupGA();
            if(this.isFront || this.isGraph)
                return;

            this.btnSimulation = Boolean(this.$api.isSimulation);
            this.$api.on('access-denied', ($e) => {
                console.error($e);
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }

                if(this.$route.path !== '/members') {
                  $e.logout();
                  console.error('access denied', $e);
                  this.$router.push('/members');
                }
            });

            this.$setInterval(() => {
              if(this.$api.socketConnected !== this.socketConnected)
                this.socketConnected = this.$api.socketConnected;
            }, 300);

            this.$onApi('mode-switch', (info) => {
                this.$set(this, 'btnSimulation', Boolean(info.isSimulation));
            });
        },

        watch: {
            btnSimulation() {
              this.$nextTick(() => {
                if (this.$api.isSimulation !== this.btnSimulation)
                  this.$set(this, 'btnSimulation', this.$api.isSimulation);
              });
            },

            '$translator.lang': function (val) {
              this.$vuetify.lang.current = val;
            },

            miniDrawer(val) {
                this.$storage.put('miniDrawer', val);
            },

            path(val, old) {
                this.search = null;
            },

            search() {
              const query = Object.assign({}, (this.$route.query || {}));
              delete query.search;
              if (this.search) {
                query.search = encodeURI(this.search);
              }
              this.$router.replace({
                path: this.$route.path,
                query,
              });
            }
        },

        methods: {
            tabChanged(event) {
              const tabIndex = (typeof event !== 'object') 
                ? event
                : event.which || event.detail || event; // Production fix.
              this.$set(this, 'selectedTab', String(tabIndex));
            },
            startTutorial(tuto) {
              if (this.$isServer) return;
              this.$api.post('platform/tutorials', {
                tutorial: tuto.tutorial,
                resetTutorial: tuto.tutorial,
              }).then((res) => {
                if (res.tutorials) {
                  this.$set(this, 'tutorials', res.tutorials);
                }
                window.location = tuto.link;  
              }).catch(console.error);
            },
            preTutorial(tutorial) {
              this.$set(this.tutorials, tutorial, false);
              this.miniDrawer = false;
              this.drawer = !(this.$vuetify.breakpoint.mdAndDown);
            },
            afterTutorial(tutorial) {
              this.$set(this.tutorials, tutorial, true);
              this.miniDrawer = Boolean(this.cacheMiniDrawer);
            },
            parseCredentials() { 
                if(!this.$api.credentials) { 
                    this.$api.credentials = { phone: null, country: null, first_name: null, last_name: null, credentials: null }; 
                    const c = this.$storage.getCookie('credentials'); 
 
                    if(c) { 
                        try { 
                            this.$api.credentials = JSON.parse(c); 
                        } catch(e) { 
                            console.error(e); 
                        } 
                    } 
                }
            },
            bindConnectedApis() {
                this.$bindApi('portfolio/wallet');
                this.$bindApi('members/profile');
                this.$bindApi('platform/tutorials');
                this.$bindApi('notifications/list', { unseen: true });
            },
            
            logout() {
                this.$replaceApi('members/logout');
                this.$nextTick(() => {
                    this.$api.logout();
                    this.goHome();
                });
            },
            
            goHome() {
                const lang = this.$translator.lang;
                if(lang !== 'en') {
                    window.location.href = '/' + lang;
                } else {
                    window.location.href = '/';
                }
            },

            setupGA(tries = 1) {
              if (this.$isServer) return;
              //if (process.env.NODE_ENV !== 'production') return;

            },

            purgeLocalStorage() {
                try {
                    var tokens = [];
                    if (typeof(localStorage) == "object") {
                        for (var i = localStorage.length - 1; i >= 0; i--) {
                            var key = localStorage.key(i);
                            const index = key.indexOf('_');
                            if(index !== -1 && key.indexOf('/', index) !== -1) {
                                tokens.push(key.substr(0, index))
                                localStorage.removeItem(key);
                            }
                        }

                        for(var token of tokens) {
                            for (var i = localStorage.length - 1; i >= 0; i--) {
                                var key = localStorage.key(i);
                                if(key.substr(token.length + 1) === token + '_' && key.substr(token.length + 1) !== "user_permissions")
                                    localStorage.removeItem(key);
                            }
                        }
                    }

                    const law = this.$storage.getCookie('cookie_law');
                    if(law) {
                        this.$storage.put('cookie_law', law);
                        this.$storage.setCookies({ cookie_law: '' }, 1);
                    }

                    const drawer = this.$storage.getCookie('miniDrawer');
                    if(drawer) {
                        this.$storage.put('miniDrawer', drawer);
                        this.$storage.setCookies({ miniDrawer: '' }, 1);
                    }

                    const lang = this.$storage.getCookie('lang');
                    if(lang) {
                        this.$storage.put('lang', lang);
                        this.$storage.setCookies({ lang: '' }, 1);
                    }

                } catch (e) {
                    console.error(e);
                }
            }
        },

        metaInfo() {
          return {
            title: 'bit4you - Cryptocurrency Trading Platform',
            /*
            script: [
                {
                    src: '/lib/qrcode.min.js'
                },
                {
                    src: '/lib/instascan.js'
                },
                {
                  src: 'https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.3.1/js/hopscotch.min.js',
                }
            ],
            */
            /*
            link: [{
                rel: 'stylesheet',
                href: 'https://cdnjs.cloudflare.com/ajax/libs/hopscotch/0.3.1/css/hopscotch.min.css'
            }]
            */
          };
        },
    }

</script>

<style lang="stylus">

    $body-font-family = 'Exo 2'
    @import '~vuetify/src/stylus/app'
    
    .v-toolbar__content, .v-dialog__content {
        flex-direction: row;
    }

</style>
