<template>
  <div :key="$router.fullPath" v-if="ask">
    <v-container fluid class="pa-0 ma-0">
        <v-alert icon="icon-info" v-model="ask" dismissible color="blue-grey lighten-5" style="color: #000; margin: 0; margin-left: auto; margin-right: auto">
            <b class="my-0">{{$translate('banner.cookie.1')}}</b>
            <p class="my-0">
              {{$translate('banner.cookie.2')}} <a href="/cookie-policy" style="color: #000; text-decoration: underline !important;">{{$translate('banner.cookie.3')}}</a> & <a href="/privacy-policy" style="color: #000; text-decoration: underline !important;">{{$translate('banner.cookie.4')}}</a> {{$translate('banner.cookie.5')}}
            </p>
        </v-alert>
    </v-container>
  </div>
</template>

<script>

    const cookieName = 'cookie_law';
    
    export default {
        data() {
            return {
                ask: false,
            };
        },
        created() {
          if (this.$isServer)
              return;

          this.ask = parseInt(this.$storage.get(cookieName) || 0, 10) < 1;
        },
        watch: {
            ask(val, oldVal) {
                if(!val && oldVal)
                    this.$storage.put(cookieName, 1);
            }
        }
    }

</script>