<template>
  <div v-if="shouldUpdate && ask">
    <v-container fluid class="pa-0 ma-0">
        <v-alert icon="icon-info" v-model="ask" dismissible color="blue-grey lighten-5" style="color: #000; margin: 0; margin-left: auto; margin-right: auto">
            <b class="my-0">{{$translate('banner.ie.1')}}</b>
            <p class="my-0">{{$translate('banner.ie.2')}}: <a class="ie6expl" href="http://www.apple.com/safari/download/">Safari</a>, <a class="ie6expl" href="http://www.google.com/chrome">Google Chrome</a>, <a class="ie6expl" href="http://firefox.com">Firefox</a>.</p>
            <p class="my-0">{{$translate('banner.ie.3')}} <a class="getie8" href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a> / <a class="getie8" href="https://support.microsoft.com/en-gb/help/17621/internet-explorer-downloads">Internet Explorer 11</a>. {{$translate('banner.ie.4')}}.</p>
        </v-alert>
    </v-container>
  </div>
</template>

<script>

    export default {
        data() {
            return {
                ask: false,
                cookieName: 'old_browser',
            };
        },
        computed: {
          shouldUpdate() { return !!(Vue.$isOldBrowser); },
        },
        created() {
          if (this.$isServer) return;
          this.ask = parseInt(this.$storage.get(this.cookieName) || 0, 10) < 1;
        },
        watch: {
            ask(val, oldVal) {
                if(!val && oldVal)
                    this.$storage.put(this.cookieName, 1);
            }
        }
    }

</script>