<template>
  <div :style="`width: ${Math.floor(parsed + (parsed / 2))}px; margin: auto;`">
    <div :style="`width: ${parsed+20}px; height: ${parsed+20}px; margin: auto;`" class="lds-double-ring">
      <div :style="`width: ${parsed}px; height: ${parsed}px; border-width: ${parsed < 50 ? 3 : 6}px !important`"></div>
      <div :style="`width: ${parsed-20}px; height: ${parsed-20}px; border-width: ${parsed < 50 ? 3 : 6}px !important`"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    width: {
      type: Number,
      default: 120,
    },
  },
  computed: {
    parsed() {
      return Math.max(25, parseInt(this.width, 10));
    },
  },
};
</script>


<style lang="scss">
@keyframes lds-double-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-double-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lds-double-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes lds-double-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.lds-double-ring {
  position: relative;
}
.lds-double-ring div {
  top: 10px;
  left: 10px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #1cbc9c transparent #1cbc9c transparent;
  -webkit-animation: lds-double-ring 2s linear infinite;
  animation: lds-double-ring 2s linear infinite;
}
.lds-double-ring div:nth-child(2) {
  top: 20px;
  left: 20px;
  border-color: transparent #4d4d4d transparent #4d4d4d;
  -webkit-animation: lds-double-ring_reverse 2s linear infinite;
  animation: lds-double-ring_reverse 2s linear infinite;
}
.lds-double-ring {
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
</style>

