<template>
  <div v-if="hasApp === false && isMobile" class="mobile-download grey-menu-box">
    <a href="https://itunes.apple.com/be/app/bit4you/id1444871913" alt="Get it on App Store" class="mb-1">
      <img alt="Get it on App Store" src="/img/download-app-store.png"/>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.bit4you.app" alt="Get it on Google Play" class="mt-1">
      <img alt="Get it on Google Play" src="/img/download-play-store.png"/>
    </a>
  </div>
</template>

<script>

export default {
  data() {
    return {
      api: 'platform/has-app',
      hasApp: null,
    };
  },
  computed: {
    isMobile() {
      return !!(Vue.$isMobile);
    },
  },
}
</script>

<style lang="scss">
.mobile-download {
  text-align: center;
  img {
    display: block;
    margin: auto;
    min-height: 42px !important;
    height: 42px !important;
  }
  a {
    display: block;
  }
}
</style>

