<template>
    <noscript inline-template>
        <v-container fluid class="pa-0 ma-0">
            <v-alert icon="icon-info" value dismissible color="blue-grey lighten-5" style="color: #000; margin: 0; margin-left: auto; margin-right: auto">
                <b class="my-0">{{$translate('banner.noscript.1')}}</b>
                <p class="my-0">{{$translate('banner.noscript.2')}}</p>
            </v-alert>
        </v-container>
    </noscript>
</template>