<template>
  <div class="devider--or">{{$translate('common.label.4')}}</div>
</template>

<style lang="scss">
  .devider--or {
    position: relative;
    width: 100%;
    height: 50px;
    
    line-height: 50px;
    text-align: center;
  }

  .devider--or::before,
  .devider--or::after {
    position: absolute;
    width: 40%;
    height: 1px;
    top: 24px;
    background-color: #cecece;
    content: '';

    @media all and (max-width: 350px) {
      width: 40%;
    }
    @media all and (min-width: 800px), (max-width: 1000px) {
      width: 45%;
    }
    @media all and (min-width: 1000px) {
      width: 48%;
    }
  }

  .devider--or::before {
    left: 0;
  }

  .devider--or::after {
    right: 0;
  }
</style>
