<template>
	<view style="flex: 1; position: relative; justify-content: space-around;">
		<view class="section-welcome">
			<v-text center class="title">Wallet</v-text>
			<v-text class="subtitle">Welcome to bit4you wallets</v-text>
		</view>
		<view class="section_scroolView">
			<v-text>scrollview</v-text>
			<!--<CarouselInfo/>-->
		</view>
		<view class="section_next">
			<v-btn @click="btn_nextFunc" color="white" class="btn_next"><v-text class="btn_next_text">Suivant</v-text></v-btn>
		</view>
	</view>
</template>

<script>
import CarouselInfo from './carouselInfo.js';
	export default {
		components:{
			CarouselInfo
		},
		methods:{
			btn_nextFunc(){
				this.$router.push('SmallIntroductionCreateWallet')
			}
		}

	};
</script>

<style>
.title{
    width: 315px;
    height: 41px;
    color: #171f24;
    font-size: 34px;
    line-height: 41px;

}
.section_scroolView{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section_next{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.section-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtitle{
    height: 24px;
    color: #778087;
    font-size: 17px;
    line-height: 22px;
}
.btn_next{
	border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    width: 300px;
}

.btn_next_text {
    color: #1308fe;
    font-size: 16px;
    line-height: 21px;

}

</style>