<template>
    <view style="flex: 1; position: relative; justify-content: space-around;">
        <view class="section_info">
            <v-text center class="title">Wallet</v-text>
            <v-text class="subtitle">Register these keys</v-text>
        </view>
        <KeyboardAwareScrollView>
            <view class="section_keys">
                <view class="section_keys_left">
                    <view v-for="(wordLeft,index) in words.slice(0,10)" :key="index">
                        <v-text style="text-align:center" class="word_container"> {{wordLeft}} </v-text>
                    </view>
                </view>
                <view class="section_keys_right">
                    <view class="word_container" v-for="(wordRight,index) in words.slice(10,20)" :key="index">
                        <v-text style="text-align:center"> {{wordRight}} </v-text>
                    </view>
                </view>
            </view>
            <view class="section_done">
                <v-btn @click="done" color="white" class="btn_done">
                    <v-text class="btn_done_text">Done</v-text>
                </v-btn>
            </view>
        </KeyboardAwareScrollView>
    </view>
</template>
<script>
import { KeyboardAwareScrollView } from 'react-native-keyboard-aware-scrollview';
import { FileSystem } from 'expo';
import words from '@assets/fakeDB/words.json';
//import crypto from 'react-native-crypto'
import * as CryptoJS from "react-native-crypto-js";
import { AsyncStorage } from 'react-native';
import { Platform } from 'react-native'

export default {
    components: {
        KeyboardAwareScrollView,
    },
    data() {
        return {
            words: []
        }
    },
    beforeMount() {
        this.readFile()
        //this.hashFunction()
    },
    methods: {
        done() {

            this.$router.push('VerifyWords')
        },
        async writeToFile() {
            let fileContents = 'this is ';
            await FileSystem.writeToFile('/fakeDB/db.json', fileContents);
        },
        hashFunction() {
            var SHA256 = require("react-native-crypto-js").SHA256;
            //console.log(SHA256("Message"));

            let userSentences = []
            let uniqstring = "app uid +++++" + Date.now()

            console.log(Object.keys(CryptoJS))
            var hash = CryptoJS.SHA256("Message");

            let ciphertext = CryptoJS.SHA256(uniqstring).toString(CryptoJS.enc.Base64);


            //let hash = sha256( 'message');
            //console.log("test",hash)
            /*const hash1 = Crypto.createHash('sha256').update(uniqstring, 'utf8').digest()
            const hash2 = Crypto.createHash('sha256').update(uniqstring + hash1, 'utf8').digest()
            const hash3 = Crypto.createHash('sha256').update(uniqstring + hash2, 'utf8').digest()
            const hash = Buffer.concat([hash1, hash2, hash3])


            for (var i = 0; i < 20; i++) {
                var index = hash.slice(i * 4, (i * 4) + 4).readUInt32BE(0) % words.words.length
                var res = words.words[index]
                userSentences.push(res)
            }*/

            //console.log(userSentences.length)
        },
        async readFile() {

            for (let a = 0; a <= 20; a++) {
                let selectedKeys = words.words[Math.floor(Math.random() * words.words.length)]
                this.words.push(selectedKeys)
            }

            await AsyncStorage.setItem('arrayWithWords', JSON.stringify(this.words));
            /* Expo.FileSystem.readAsStringAsync('./test.txt')
             .then(content => console.log("im content",content))
             .catch(err=> console.log("im err",err))*/


            // const fileContents = await FileSystem.readFile('@assets/fakeDB/en.txt');
            //console.log(`read from file: ${fileContents}`);

        }

    }

};
</script>
<style scoped>
.test {
    width: 300px;
}

.section_keys {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.word_container {

    width: 138px;
    height: 41px;
    background-color: #c4c4c4;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section_keys_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;

}

.section_keys_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;


}

.btn_done {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    width: 300px;
}

.title {
    width: 315px;
    height: 41px;
    color: #171f24;
    font-size: 34px;
    line-height: 41px;

}

.subtitle {
    height: 24px;
    color: #778087;
    font-size: 17px;
    line-height: 22px;
}

.section_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.section_done {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn_done_text {
    color: #1308fe;
    font-size: 16px;
    line-height: 21px;

}
</style>