<template>
    <view style="flex: 1; position: relative; justify-content: space-around;">
        <view class="section_Image">
            <LinearGradient :colors="image_linearGradient">
                <img class="img" :src='require("@assets/images/funds/Bitmap.png")' />
            </LinearGradient>
        </view>
        <KeyboardAwareScrollView>
            <view style="display:flex;flex-direction:row;justify-content:center;align:items:center;margin-top:20px">
                <v-text class="title">Sign in to your account</v-text>
            </view>
            <view class="section_create_password">
                <v-card class="v_card">
                    <TextInput placeholder="Enter your password" v-model="password" />
                </v-card>
                <v-card class="v_card">
                    <TextInput placeholder="Enter your password" v-model="password" />
                </v-card>
                <!--<editable-input  keyboardType="password" placeholder="Enter your password" v-model="password" />
                <editable-input  keyboardType="password" placeholder="Enter your password" v-model="password" />-->
            </view>
            <view style="display:flex;flex-direction:row;justify-content:center;align-items:center">
                <LinearGradient class="btn_create" :colors="btn_linearGradient">
                    <Touchable @click="signin">
                        <v-text class="btn_create_text">Signin</v-text>
                    </Touchable>
                </LinearGradient>
            </view>
        </KeyboardAwareScrollView>
    </view>
</template>
<script>
import { LinearGradient } from 'expo';
import { KeyboardAwareScrollView } from 'react-native-keyboard-aware-scrollview';
import { AsyncStorage } from 'react-native';
import Wallet from '@insight/wallets/NewWallet.js';

export default {
    components: {
        LinearGradient,
        KeyboardAwareScrollView
    },
    data() {
        return {
            btn_linearGradient: ['#9025fc', '#1308fe'],
            image_linearGradient: ['#2a14f6', '#e409f9'],
            words: [],
            password: null
        }
    },
    beforeMount() {

        AsyncStorage.getItem('arrayWithWords', (error, words) => {
            this.arrayWithWords = JSON.parse(words)
            console.log(this.arrayWithWords)

        });

    },
    methods: {
        verificationFunc() {
            this.$router.push('CreatePassword')
        },
        signin() {
            this.$router.push('Wallet')
        }
    }
};
</script>
<style scoped>
.section_create_password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10;
    margin-right: 10;
}

.img {
    width: 375px;
    height: 384px;
    opacity: 0.8;
}

.v_card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70;
    margin: 10;
}

.btn_create {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;

}


.btn_create_text {
    height: 23px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}


.title {
    height: 25px;
    color: #252631;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;

}
</style>