<template>
    <div style="flex: 1; position: relative; justify-content: space-around;">
        <view class="section_image">
            <img class="img" :src='require("@assets/images/funds/layers.png")' />
        </view>
        <view class="section-welcome">
            <v-text h1 center class="title">Wallet</v-text>
            <v-text center class="subtittle">Welcome to bit4you wallets</v-text>
        </view>
        <view class="section-actions">
            <LinearGradient class="btn_createWallet" :colors="btn_linearGradient">
                <Touchable @click="create_new_wallet">
                    <v-text class="btn_createWallet_text">Create new wallet</v-text>
                </Touchable>
            </LinearGradient>
            <v-btn @click="restore_wallet" color="white" class="btn_restoreWallet">
                <v-text class="btn_restoreWallet_text">Restore Wallet</v-text>
            </v-btn>
        </view>
    </div>
</template>
<script>
import { LinearGradient } from 'expo';
export default {
    components: {
        LinearGradient
    },
    data() {
        return {
            btn_linearGradient: ['#9025fc', '#1308fe']
        }
    },
    methods: {
         create_new_wallet() {
             this.$router.push('CreateKeysForAdress')
        },

        restore_wallet() {
            this.$router.push('LoginPage')
        },
    }

};
</script>
<style scoped>
.section_image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

.section-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 315px;
    height: 41px;
    color: #171f24;
    font-size: 34px;
    line-height: 41px;
}

.subtittle {
    height: 24px;
    color: #778087;
    font-size: 17px;
    line-height: 22px;
}

.img {
    width: 315px;
    height: 239px;
}

.section-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_createWallet {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;

}


.btn_createWallet_text {
    height: 23px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.btn_restoreWallet {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    width: 300px;
}


.btn_restoreWallet_text {
    color: #1308fe;
    font-size: 16px;
    line-height: 21px;

}
</style>