<template>
    <view style="flex: 1; position: relative; justify-content: space-around;">
        <view class="section_info">
            <v-text center class="title">Wallet</v-text>
            <v-text class="subtitle">Verify keys</v-text>
            <v-text class="subtitle">Enter the five following keys</v-text>
        </view>
        <KeyboardAwareScrollView>
            <view class="section_input">
                <v-alert :value="error" type="error">Please try again
                </v-alert>
                <view v-for="(words,index) in (arrayWithWords || []).slice(0,5)" :key="index">
                    <!--<v-alert v-if="this['word' + (index+1)] !==  (words) && this['word' + (index+1)] !== 'null' " value="true" type="error">Please try again</v-alert>-->
                    <v-alert v-else value="true" type="success"> This is a success alert.</v-alert>
                    <TextInput v-if="arrayWithWords !== null" class="input_words" :value="this['word' + (index+1)]" @change="($e) => onChange($e, index+1, words)" :placeholder="'Please write the word in the position ' + [[ index + 1 ]]" />
                    <v-alert :value="this['word' + index + 'Alert']" type="success">Please try again
                    </v-alert>
                </view>
            </view>
            <view class="section_verification">
                <LinearGradient class="btn_verification" :colors="btn_linearGradient">
                    <Touchable @click="verificationFunc">
                        <v-text class="btn_verification_text">Vérification</v-text>
                    </Touchable>
                </LinearGradient>
            </view>
        </KeyboardAwareScrollView>
    </view>
</template>
<script>
import { LinearGradient } from 'expo';
import { KeyboardAwareScrollView } from 'react-native-keyboard-aware-scrollview';
import { AsyncStorage } from 'react-native';
export default {
    components: {
        LinearGradient,
        KeyboardAwareScrollView
    },
    data() {
        return {
            btn_linearGradient: ['#9025fc', '#1308fe'],
            word1: null,
            word2: null,
            word3: null,
            word4: null,
            word5: null,
            arrayWithWords: null,
            error: false,
            success: false,
            word1Alert: false,
            word2Alert: false,
            word3Alert: false,
            word4Alert: false,
            word5Alert: false,

        }
    },
    beforeMount() {

        AsyncStorage.getItem('arrayWithWords', (error, words) => {
            this.arrayWithWords = JSON.parse(words)
            console.log(this.arrayWithWords)

        });

    },
    methods: {
        verificationFunc() {
            let array = [];
           /* if ( this.arrayWithWords[0] == this.word1 || this.arrayWithWords[1] == this.word2 || this.arrayWithWords[2] == this.word3 || this.arrayWithWords[3] == this.word4 || this.arrayWithWords[4] ==  this.word5 ) {

                    array.push(x)

                }

                console.log("im array", this.arrayWithWords[0])
                */
            this.arrayWithWords.map((x, index) => {
                console.log("im x",x, "word",this[`word${index + 1}`])
                //if (x == this[`word${index + 1}`]) {
                if ( x == this[`word${index + 1}`]) {

                    array.push(x)

                }

            })

            if (array.length >= 5)
                this.$router.push('CreatePassword')

            return this.error = !this.error


        },
        onChange(value, index, words) {
            this['word' + index] = value.trim().toLowerCase();

            if (this['word' + index] !== words)
                this['word' + index + 'Alert'] = !this['word' + index + 'Alert']
        }
    }
};
</script>
<style scoped>
.section_input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input_words {
    width: 342px;
    height: 60px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #e8ecef;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section_verification {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn_verification {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;

}


.btn_verification_text {
    height: 23px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.btn_done {
    border-radius: 50px;
    border-width: 1px;
    border-color: #1308fe;
    border-style: solid;
    height: 50px;
    width: 300px;
}

.title {
    width: 315px;
    height: 41px;
    color: #171f24;
    font-size: 34px;
    line-height: 41px;

}

.subtitle {
    height: 24px;
    color: #778087;
    font-size: 17px;
    line-height: 22px;
}

.section_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
</style>