<template>
    <v-container grid-list-md text-xs-center style="padding: 0;">
        <v-card>
            <v-card-text>
                <v-layout row wrap>
                    <v-flex xs12 md6 lg4>
                        <v-select :items="years" v-model="year" :label="$translate('history.label21')" />
                    </v-flex>
                    <v-flex xs12 md6 lg4>
                        <v-select :items="months" v-model="month" :label="$translate('history.label22')" />
                    </v-flex>
                    <v-flex xs12 lg4>
                        <v-select :items="types" v-model="type" :label="$translate('history.label23')" />
                    </v-flex>
                    <v-flex xs12>
                        <v-btn v-if="txs.length" class="success" @click="generateCSV">
                            <v-icon>icon-save</v-icon>&nbsp;{{$translate('history.tabs.3')}} {{ txs.length }}
                            <span v-if="types.find(el => el.value === api_data.type)">
                                &nbsp;{{ (types.find(el => el.value === api_data.type)).text }}
                            </span>
                        </v-btn>
                        <v-alert v-else class="info" :value="true">
                            {{ $translate('history.label24') }}
                            <span v-if="types.find(el => el.value === api_data.type)">
                                &nbsp;({{ (types.find(el => el.value === api_data.type)).text }})
                            </span>
                            <span v-if="typeof $api.isSimulation === 'boolean'">
                                &nbsp;({{ $translate($api.isSimulation ? 'mode.1' : 'mode.2') }})
                            </span>
                        </v-alert>
                    </v-flex>
                </v-layout>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        data() {
            const d = new Date();
            const years = [];
            for (var y = 2018; y <= d.getFullYear(); y++) {
                years.push(y);
            }
            return {
                years,
                months: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec',
                ].map((text, index) => ({
                    text,
                    value: (index + 1)
                })),
                types: [
                    'closed-orders',
                    'open-positions',
                    'fiat',
                    'blockchain',
                ].map((value, index) => ({
                    value,
                    text: this.$translate(`export.select${index+1}`)
                })),
                txs: [],
                api: 'wallet/rapport',
                type: 'closed-orders',
                month: d.getMonth() + 1,
                year: d.getFullYear(),
            };
        },
        computed: {
          api_data() {
            return {
              month: this.month,
              year: this.year,
              type: this.type,
            };
          },
        },
        watch: {
          '$api.isSimulation': function() {
            this.$refreshApi();
          },
        },
        methods: {
            generateCSV() {
                const arr = this.txs.slice(0);
                const keys = Object.keys(arr.slice(-1)[0]);
                const rows = [keys].concat(arr.map((tx) => {
                    return [Object.values(tx)];
                }));

                let csvContent = "data:text/csv;charset=utf-8,";
                rows.forEach(function(rowArray) {
                    let row = rowArray.join(";");
                    csvContent += row + "\r\n";
                });
                var encodedUri = encodeURI(csvContent);
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                const name = `bit4you-${this.api_data.year}-${this.api_data.month}-${this.api_data.type}.csv`;
                link.setAttribute("download", name);
                link.innerHTML = name;
                link.style.display = 'none';
                document.body.appendChild(link); // Required for FF
                link.click();
                setTimeout(() => {
                    if (link && link.parentNode)
                        link.parentNode.removeChild(link);
                }, 30000);
            },
        }
    };

</script>
