<template>
    <history-export v-if="Number(selectedTab) === 2" />
    <history-orders v-else-if="Number(selectedTab) === 1" />
    <history-positions v-else :market="market" :hash="hash" />
</template>

<script>
    export default {
        mixins: [
            Vue.selectTabsMixin
        ],
        tabs: { 
            positions:  'history.tabs.1',
            orders:     'history.tabs.2',
            export:     'history.tabs.3'
        },
        props: {
            selectedTab: {
                urlProp: false,
                required: false,
                default () {
                    return '0';
                },
            },
            market: {
                type: String,
                default () {
                    return null;
                },
            },
            hash: {
                type: String,
                default () {
                    return null;
                },
            }
        },
        metaInfo: {
            title: 'bit4you - History',
        },
    };

</script>
