<template>
<v-container v-if="selectedInvestment" style="z-index: 1;" grid-list-md>
  <v-layout row wrap>
    <v-flex xs12 md7 lg8>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-card-title>
                        <h3 class="pb-0">
                            <v-btn color="secondary" to="/history">
                                <v-icon>icon-angle-left</v-icon> <span>{{$translate('history.label.5')}}</span>
                            </v-btn>
                            <span>{{$translate('history.label.6')}}</span>&nbsp;<b class="mr-1">#O-{{ selectedInvestment.market.toUpperCase() }}-{{ selectedInvestment.id }}</b>
                            <img
                                :src="`/img/markets/${selectedInvestment.market}.png`"
                                :alt="`${selectedInvestment.market} logo`"
                                :title="`${selectedInvestment.market} logo`"
                                height="48"
                                width="46"
                                class="pb-1"
                                style="height: 48px; width: 46px; display: 'inline-block'; float: right;"
                            />
                        </h3>
                    </v-card-title>
                </v-card>
            </v-flex>
            <v-flex xs12>
                <v-card>
                    <v-card-title class="pb-0">
                        <h3 class="pb-0">{{$translate('history.label.7')}}</h3>
                    </v-card-title>
                    <v-card-text>
                        {{$translate('history.label.1')}} <b>{{ baseCurrency }} {{ selectedInvestment.invested | round }}</b>
                        {{ selectedInvestment.position ? `${$translate('history.text.2')} ${selectedInvestment.position}` : (selectedInvestment.type !== 'sell' ? $translate('history.text.3') : $translate('history.text.4')) }} {{$translate('history.text.5')}} <b>{{ selectedInvestment.open_time | formatDateTime }}</b><br>
                        {{$translate('history.text.7')}} <b>{{ (selectedInvestment.units || selectedInvestment.quantity) | round }} {{$translate('history.text.8')}}</b>.<br>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs12>
                <v-card>
                    <v-card-title class="pb-0">
                        <h3 class="pb-0">{{$translate('history.label.8')}}</h3>
                    </v-card-title>
                    <v-card-text>
                        {{$translate('history.text.9')}} <b>{{ baseCurrency }} {{ selectedInvestment.closed_amount | round }}</b> {{$translate('history.text.5')}} <b>{{ selectedInvestment.close_time | formatDateTime }}</b><br>
                        {{$translate('history.text.11')}} <b>{{ baseCurrency }} {{ selectedInvestment.fee }}.</b><br>
                        {{$translate('history.text.12')}} <b>{{ baseCurrency }} {{ getProfit(selectedInvestment) | round }} ({{ getProfit(selectedInvestment) * 100/ selectedInvestment.invested | formatPercentage }} %)</b>.<br>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-flex>
    <v-flex xs12 md5 lg4>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-card-title class="pb-0">
                        <h2 class="pa-0">{{$translate('label.6')}}</h2>
                    </v-card-title>
                    <v-card-text>
                        {{ baseCurrency }} {{ getProfit(selectedInvestment) | round }} ({{ getProfit(selectedInvestment) * 100/ selectedInvestment.invested | formatPercentage }} %)
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs12>
                <v-card>
                    <v-card-title class="pb-0">
                        <h2 class="pa-0">{{$translate('history.label.9')}}</h2>
                    </v-card-title>
                    <v-card-text>
                        <table>
                            <tbody>
                                <tr>
                                    <th style="text-align: left; width: 90px">{{$translate('history.label.1')}}:</th>
                                    <td>{{ baseCurrency }} {{ selectedInvestment.invested | round }}</td>
                                </tr>
                                <tr>
                                    <th style="text-align: left; width: 90px">{{$translate('history.label.2')}}:</th>
                                    <td>{{ baseCurrency }} {{ selectedInvestment.closed_amount | round }}</td>
                                </tr>
                                <tr>
                                    <th style="text-align: left; width: 90px">{{$translate('history.text.13')}}:</th>
                                    <td>{{ baseCurrency }} {{ selectedInvestment.fee | round }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs12>
                <v-btn large color="primary" :to="`/market/${market}`" block>
                    {{ market }} {{ $translate('label.7') }}
                </v-btn>
            </v-flex>
        </v-layout>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
    export default {
        props: {
            selectedInvestment: {
                type: Object,
                required: true
            },
            market: {
                type: String,
                required: true,
            }
        },
        computed: {
            baseCurrency() {
                return this.market.split('-')[0]
            },
            marketCurrency() {
                return this.market.split('-')[1]
            }
        },
        methods: {
            getProfit(obj) {
                return obj.closed_amount - obj.invested;
            }
        }
    };
</script>

<style lang="scss">
    .v-list.right {
        .subheader {
            justify-content: flex-end;
        }
        .v-list__tile__title,
        .v-list__tile__sub-title {
            text-align: right;
        }
    }
</style>
