<template>
    <v-container grid-list-md text-xs-center style="padding: 20px 0">
        <!--<tutorial-first-history :show="innerItems.length > 0" />!-->

        <v-card class="card--flex-toolbar">
            <v-card-title primary-title>
                <div class="headline">{{$translate('label.8')}}</div>
            </v-card-title>
            <v-card-text style="min-height: 200px;">
                <v-data-table v-bind:headers="headers" :items="innerItems" class="table-markets" :pagination.sync="pagination" disable-initial-sort>
                    <tr class="portfolio-row" slot="items" slot-scope="props" v-if="props" @click="show(props.item)">
                        <td style="width: 48px">
                            <img style="height: 40px; width: 40px;" height="40" width="40" :alt="props.item.name" :title="props.item.market" :src="`/img/markets/${props.item.market}.png`" />
                        </td>
                        <td>
                            <b>{{ props.item.position | ucwords }}</b>
                            {{props.item.market}} {{ props.item.units.toFixed(8) }}
                        </td>
                        <td>
                            {{ props.item.open_time | formatDateTime }}
                        </td>
                        <td>
                            {{ props.item.close_time | formatDateTime }}
                        </td>
                        <td v-if="props.item.invested > 0 && props.item.base_iso === 'USDT'">
                            <b>{{ props.item.invested | currencyWithSymbol }}</b>
                            {{ props.item.unitPrice | currencyWithSymbol(props.item.market) }} / {{$translate('history.text.15')}}
                        </td>
                        <td v-else-if="props.item.invested > 0">
                            <b>{{ props.item.base_iso }} {{ props.item.invested | round }}</b>
                            {{ props.item.base_iso }} {{ props.item.unitPrice | round }} / {{$translate('history.text.15')}}
                        </td>
                        <td v-else>/</td>
                        <td v-if="props.item.closed_amount > 0 && props.item.base_iso === 'USDT'">
                            <b>{{ props.item.closed_amount | currencyWithSymbol }}</b>
                            {{ (props.item.closed_amount / props.item.units) | currencyWithSymbol(props.item.market) }} / {{$translate('history.text.15')}}
                        </td>
                        <td v-else-if="props.item.closed_amount > 0">
                            <b>{{ props.item.base_iso }} {{ props.item.closed_amount | round }}</b>
                            {{ props.item.base_iso }} {{ props.item.closed_amount / props.item.units | round }} / {{$translate('history.text.15')}}
                        </td>
                        <td v-else>/</td>
                        <td :style="'color: ' + (props.item.invested > 0 && props.item.closed_amount > 0 ? (props.item.profit >= 0 ? 'green' : 'red') : 'black')">
                            <b v-if="props.item.base_iso === 'USDT'">{{props.item.profit | currencyWithSymbol}}</b>
                            <b v-else>{{ props.item.base_iso }} {{ props.item.profit | round }}</b>
                            <span v-if="props.item.invested > 0 && props.item.closed_amount > 0">{{props.item.profit >= 0 ? '+' : ''}}{{props.item.profit * 100 / props.item.invested | formatPercentage }} %</span>
                        </td>
                    </tr>
                </v-data-table>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        props: {
          minDate: {
            type: Number,
            default: 0,
            required: false,
          },
          market: {
            type: String,
            default: null,
            required: false,
          },
        },
        data() {
            return {
                api: 'portfolio/history',
                items: [],
                innerItems: [],
                pagination: {
                    rowsPerPage: 25
                },
                headers: this.$translateHeaders([{
                        text: "",
                        sortable: false,
                        value: "id"
                    },
                    {
                        text: "history.label.12",
                        value: "position"
                    },
                    {
                        text: "history.label.13",
                        value: "open_time"
                    },
                    {
                        text: "history.label.14",
                        value: "close_time"
                    },
                    {
                        text: "history.label.1",
                        value: "invested"
                    },
                    {
                        text: "history.label.16",
                        value: "closed_amount"
                    },
                    {
                        text: "label.6",
                        value: "profit"
                    }
                ])
            }
        },
        beforeDestroy() {
          this.$set(this, 'items', []);
        },
        watch: {
            items() {
                this.innerItems = this.transformItems(this.items);
            },
            minDate() {
                this.innerItems = this.transformItems(this.items);
            },
            market() {
                this.innerItems = this.transformItems(this.items);
            },
        },

        methods: {
            show(item) {
                this.$emit('showItem', item);
            },

            transformItems(items) {
                if (this.market) {
                  items = items.filter(obj => obj.market.toUpperCase() === this.market.toUpperCase());
                }
                if (this.minDate && this.minDate > 0) {
                  items = items.filter(obj => new Date(Number(obj.close_time) * 1000).getTime() >= this.minDate);
                }
                return items.map((obj) => {
                    const name = this.$db.getMarket(obj.market, {}).name || obj.market;

                    var position = this.$translate(obj.invested !== 0 ? 'label.15' : 'portfolio.label.6', { name }) + (obj.invested !== 0 ? ' ' + name : '');
                    if(obj.closed_amount == 0)
                        position = this.$translate('portfolio.label.7', { name })

                    return {
                        id:          obj.id,
                        position:    position,
                        base_iso:    obj.baseCurrency,
                        open_time:   obj.open_time,
                        close_time:  obj.close_time,
                        closed_amount: obj.closed_amount,
                        market:      obj.market,
                        profit:      obj.closed_amount - obj.invested,
                        units:       obj.quantity,
                        unitPrice:   obj.invested / obj.quantity,
                        invested:    obj.invested,
                        multiplicator: obj.multiplicator,
                        stop_loss:   obj.stop_loss,
                        take_profit: obj.take_profit,
                        fee:         obj.fee
                    }
                });
            }
        }
    };

</script>