<template>
    <v-container grid-list-md text-xs-center style="padding: 20px 0">
        <v-card class="card--flex-toolbar">
            <v-card-title primary-title>
                <div class="headline">{{$translate('history.tabs.2')}}</div>
            </v-card-title>
            <v-card-text style="min-height: 200px;">
                <v-data-table v-bind:headers="headers" :items="items" class="table-markets" :pagination.sync="pagination" disable-initial-sort>
                    <tr class="portfolio-row" slot="items" slot-scope="props" v-if="props">
                        <td>{{ props.item.market }}</td>
                        <td>{{ props.item.isOpen ? 'Pending' : 'Closed' }}</td>
                        <td>{{ props.item.requested_rate ? 'Limit' : 'Market' }} {{ props.item.type }}</td>
                        <td>{{ props.item.base_quantity }} {{ props.item.market.split('-')[0] }}</td>
                        <td>{{ props.item.quantity }} {{ props.item.market.split('-')[1] }}</td>
                        <td>{{ props.item.open_time | formatDateTime }}</td>
                    </tr>
                </v-data-table>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>

    export default {
        props: {
            market: {
                type: String,
                required: false,
            }
        },
        data() {
            return {
                api: 'order/list',
                api_data: {
                    market: this.market,
                    page: 0,
                    limit: 50,
                },
                pagination: {
                    rowsPerPage: 25
                },
                items: [],
                headers: this.$translateHeaders([
                    {
                        text: "newtrade.label3",
                        value: "market"
                    },
                    {
                        text: "history.label17",
                        value: "isOpen"
                    },
                    {
                        text: "newtrade.label0",
                        value: "type"
                    },
                    {
                        text: "history.label12",
                        value: "base_quantity"
                    },
                    {
                        text: "global.label3",
                        value: "quantity"
                    },
                    {
                        text: "history.label18",
                        value: "open_time"
                    }
                ])
            }
        }
    }

</script>