<template>
    <nothing-to-display-view api="portfolio/history" history>
        <v-container grid-list-md text-xs-center v-if="!this.market" style="padding: 0;">
            <v-layout row wrap class="history-stats">
                <v-flex xs6 lg3>
                    <v-card>
                        <v-card-text primary-title class="blue white--text">
                            <div>
                                <div class="headline">{{ total_invested | currencyWithSymbol }}</div>
                                <div>{{$translate('history.label.1')}}</div>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs6 lg3>
                    <v-card>
                        <v-card-text primary-title class="blue-grey white--text">
                            <div>
                                <div class="headline">{{ end_balance | currencyWithSymbol }}</div>
                                <div>{{ $translate('history.label.2') }}</div>
                            </div>
                            <v-spacer/>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs6 lg3>
                    <v-card>
                        <v-card-text primary-title :class="'white--text ' + (total_profit >= 0 ? 'green' : 'red')">
                            <div>
                                <div class="headline">{{ total_profit | currencyWithSymbol }}</div>
                                <div><span>{{$translate('label.6')}}</span> {{$getCurrency().name}}</div>
                            </div>
                            <v-spacer/>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex xs6 lg3>
                    <v-card>
                        <v-card-text primary-title :class="'white--text ' + (total_profit >= 0 ? 'green' : 'red')">
                            <div>
                                <div class="headline">{{ total_profit_percent | formatPercentage }} %</div>
                                <div>{{$translate('history.label.4')}}</div>
                            </div>
                            <v-spacer/>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>

        <history-info v-if="selectedInvestment && hash" :selectedInvestment="selectedInvestment" :market="market" />
        <history-list v-else @showItem="selectedInvestment = $event" :minDate="minDate || 0" />
    </nothing-to-display-view>
</template>

<script>
    export default {
        props: {
            market: {
                type: String,
                default () {
                    return null;
                },
            },
            hash: {
                type: String,
                default () {
                    return null;
                }
            },
        },
        data() {
            return {
                firstHash: this.hash,
                selectedInvestment: null,
                api: "portfolio/history",
                items: [],
                lastSuffix: '',
            };
        },
        metaInfo() {
          return {
            title: 'bit4you - History',
          };
        },
        watch: {
            hash(val, oldval) {
                this.checkDialogInfo();
            },
            selectedInvestment() {
              if (this.selectedInvestment) {
                const market = (this.selectedInvestment.base_iso || this.selectedInvestment.baseCurrency) + '-' + this.selectedInvestment.market;
                this.lastSuffix = `/${market}/${this.selectedInvestment.id}`;
                if ( this.hash !== this.selectedInvestment.id && this.$route.path.toLowerCase().indexOf(`/${market}/${this.selectedInvestment.id}`.toLowerCase()) === -1) {
                    this.$router.replace(`/history/positions/${market}/${this.selectedInvestment.id}`);
                }
              }
            },
            items() {
                this.checkDialogInfo();
            }
        },
        computed: {
            minDate() {
                return 0;
            },
            innerItems() {
                let items = this.items;
                return items.filter((item) => {
                    const marketTest = (!this.market || item.baseCurrency + '-' + item.market === String(this.market).toUpperCase());
                    return marketTest && new Date(item.close_time * 1000).getTime() >= this.minDate;
                }).map(item => {
                    item.profit_value = parseFloat(
                        item.closed_amount - item.invested
                    ).toFixed(this.$getMarketPrecision(item.market));
                    item.profit_perc = parseFloat(
                        item.profit_value * 100 / item.invested
                    );
                    return item;
                });
            },

            total_profit() {
                return this.innerItems.reduce((prev, next) => {
                    if(next.invested === 0)
                        return prev;

                    var profit = (next.baseCurrency === 'USDT' ? next.closed_amount - next.invested : 0)
                    if(next.baseCurrency !== 'USDT') {
                        const market = this.$db.getMarket('USDT-' + next.baseCurrency) || { value: 0 }
                        profit = market.value * (next.closed_amount - next.invested);
                    }

                    return prev + profit
                }, 0);
            },

            total_profit_percent() {
                const profit = this.total_profit;
                return this.total_profit * 100 / this.total_invested;
            },

            end_balance() {
                return this.total_invested + this.total_profit;
            },

            total_invested() {
                return this.innerItems.reduce((prev, next) => {
                    if(next.baseCurrency === 'USDT')
                        return prev + parseFloat(next.invested);

                    const market = this.$db.getMarket('USDT-' + next.baseCurrency) || { value: 0 }
                    return prev + (market.value * next.invested);
                }, 0);
            }
        },

        methods: {
            checkDialogInfo() {
                this.$nextTick(() => {
                    let hash = this.hash;
                    if (this.firstHash) {
                        hash = String(this.firstHash);
                        this.firstHash = null;
                    }
                    if (hash && !this.selectedInvestment) {
                        this.selectedInvestment = this.innerItems.find(el => {
                            return (
                                String(el.id).toLowerCase() ===
                                String(hash).toLowerCase()
                            );
                        });
                    }
                });
            }
        }
    };

</script>
