<template>
    <div>
        <router-link tag="tr" :to="`/history/${record.id}`" class="card">
            <td style="width: 50px; border-right: 1px solid #eee; padding-right: 15; margin-right: 10;">
                {{ new Date(record.close_time * 1000).getTime() | formatDate }}<br>
                {{ new Date(record.close_time * 1000).getHours() | padTime }}:{{ new Date(record.close_time * 1000).getMinutes() | padTime }}
            </td>
            <td style="width: 40px">
                <img :src="`/img/markets/${record.market}.png`" :alt="`${record.market} logo`" :title="`${record.market} logo`" height="36" width="36" style="height: 36px; width: 36px;" />
            </td>
            <td class="text-xs-left pl-0">
                <b>{{ record.type | ucwords }}</b> {{ record.market }}
            </td>
            <td class="text-xs-center mx-2">
                <b>{{ $translate('history.label.13') }}</b><br>
                {{ new Date(record.open_time * 1000).getTime() | formatDateTime }}
            </td>
            <td class="text-xs-center mx-2">
                <b>{{ $translate('history.label.14') }}</b><br>
                {{ new Date(record.close_time * 1000).getTime() | formatDateTime }}
            </td>
            <td class="text-xs-center">
                <b>{{ $translate('history.label.1') }}</b> {{ record.invested | currencyWithSymbol }}<br>
                ({{ record.invested / record.quantity | currencyWithSymbol(record.market) }} / {{ $translate('history.text.15') }})
            </td>
            <td class="text-xs-center">
                <b>{{ $translate('history.label.16') }}</b> {{ record.closed_amount | currencyWithSymbol }}<br>
                ({{ record.closed_amount / record.quantity | currencyWithSymbol(record.market) }} / {{ $translate('history.text.15') }})
            </td>
            <td class="text-xs-center">
                <span :class="{ 'error--text': record.profit_value < 0, 'success--text': record.profit_value >= 0 }">
                    {{ record.profit_value < 0 ? '-' : '+' }}{{ Math.abs(record.profit_value) | currencyWithSymbol }} </span> <b>{{ $translate('label.6') }}</b>
                        <br>
                        <span :class="{ 'error--text': record.profit_perc < 0, 'success--text': record.profit_perc >= 0 }">
                            {{ record.profit_perc < 0 ? '-' : '+' }}{{ Math.abs(record.profit_perc) | formatCurrency }} </span> <b>% {{ $translate('label.6') }}</b>
            </td>
        </router-link>
    </div>
</template>

<script>
    export default {
        props: {
            record: {
                type: Object,
                required: true,
            },
        },
    };

</script>
