<template>
    <div style="margin: -40px 0; height: calc(100% - 80px); height: calc(100vh - 80px); position: relative background: red; overflow: hidden;">
        <market-graph :market="market" :back="true" @back="goBack" />
    </div>
</template>

<script>
    export default {

        props: {
            market: String
        },

        methods: {
            goBack() {
                this.$router.push('/market/' + this.market);
            }
        }
    };
</script>
