<template>
    <v-card>
        <v-card-title class="headline pb-1">
            {{$translate('settings.label.8')}}
        </v-card-title>
        <v-card-text class="px-3">
            <form method="POST" action="settings.preferences/update-currency" @apiSuccess="changeCurrency">
                <input type="hidden" name="currency" :value="selected" />
                <v-autocomplete hide-details outline single-line dense color="secondary" class="px-0" :items="currencies" v-model="selected" />
                <div class="text-xs-right pt-2">
                    <v-btn type="submit" class="green white--text mx-0">
                        {{ $translate('btn.8') }}
                    </v-btn>
                </div>
            </form>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                selected: null,
                currencies: [],
            };
        },

        created() {
          this.$onApi('platform/currencies', (res) => {
              this.handleCurrencies(res.currencies);
              setTimeout(() => this.selected = this.selected || this.$getCurrency().name, 50);
          });
        },

        mounted() {
          this.loadCurrencies();
        },

        methods: {
            loadCurrencies() {
              const currencies = this.$getCurrencies();
              if (currencies.length) {
                return this.handleCurrencies(currencies);
              }
              this.$api.require('platform/currencies');
            },
            changeCurrency($e) {
              this.$setCurrency(this.selected);
            },
            handleCurrencies(currencies) {
              this.currencies = Object.keys(currencies).map((key) => {
                  return {
                      value: key,
                      text: currencies[key].name + ' ('+String(currencies[key].symbol)+')'
                  }
              });
            },
        },
    };

</script>
