<template>
    <v-card>
        <v-card-title class="headline pb-1">
            {{ $translate('settings.label.9') }}
        </v-card-title>
        <v-card-text class="px-3">
            <v-select hide-details outline single-line dense color="secondary" class="px-0" :items="items" v-model="selected" />
            <div class="text-xs-right pt-2">
                <v-btn type="submit"  class="green white--text mx-0" @click="save">
                    {{ $translate('btn.8') }}
                </v-btn>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                selected: null,
                items: [
                  {
                    text: 'English',
                    value: 'en',
                  },
                  {
                    text: 'Français',
                    value: 'fr',
                  },
                  {
                    text: 'Nederlands',
                    value: 'nl',
                  },
                ],
            };
        },

        mounted() {
            if (this.$isServer) return;
            setTimeout(() => this.selected = this.$storage.get('lang') || this.$translator.lang, 50);
        },

        methods: {
            changeLocale(lang = this.selected) {
                this.showLanguages = false;

                this.$storage.put('lang', lang);
                this.$translator.lang = lang;
                this.$root.$forceUpdate();
            },

            save() {
                this.changeLocale(this.selected);
            }
        }
    };

</script>
