<template>
  <v-card>
    <v-card-title class="headline pb-1">
      {{$translate('notifications.label.1')}}
    </v-card-title>
    <v-card-text>
      <v-data-table
        :items="Object.keys(types)"
        :headers="this.$translateHeaders([{
            text: 'settings.label.10',
            align: 'left',
            sortable: false,
        },{
            text: 'settings.label.11',
            align: 'center',
            sortable: false,
            width: 175,
        },{
            text: 'settings.label.12',
            align: 'center',
            sortable: false,
            width: 175,
        }/* ,{
            text: 'settings.label.13',
            align: 'center',
            sortable: false,
        } */])"
        hide-actions
        :no-data-text="`${$translate('label.18')}...`"
      >
        <template slot="items" slot-scope="props">
          <tr>
            <td>
              {{ types[props.item] }}
            </td>
            <td class="text-xs-center">
              <v-switch
                color="primary"
                class="d-inline-block"
                v-model="mailResult[props.item]"
              ></v-switch>
            </td>
            <td class="text-xs-center">
              <v-switch
                color="primary"
                class="d-inline-block"
                v-model="phoneResult[props.item]"
              ></v-switch>
            </td>
            <!--
              <td class="text-xs-center">
                <v-switch
                  color="secondary"
                  class="d-inline-block"
                  v-model="webResult[props.item]"
                ></v-switch>
              </td>
            -->
          </tr>
        </template>
    </v-data-table>
    <form method="POST" action="settings.preferences/update-notifications">
        <input type="hidden" name="notifications" :value="formValue" />
        <div class="text-xs-center">
            <v-btn type="submit" class="green white--text">
                {{ $translate('btn.8') }}
            </v-btn>
        </div>
    </form>
   </v-card-text>
  </v-card>
</template>

<script>
    export default {
        data() {
            return {
                api: 'settings.preferences/notifications',
                mail: [],
                phone: [],
                web: [],
                types: {
                    // account_login: this.$translate('settings.label.14'),
                    // order_closed: this.$translate('settings.label.15'),
                    // stop_loss: this.$translate('settings.label.16'),
                    // take_profit: this.$translate('settings.label.17'),
                    // price_change: this.$translate('settings.label.18'),
                    promotions: this.$translate('settings.label.43'),
                    newsletter: this.$translate('settings.label.44'),
                    others: this.$translate('settings.label.45'),
                },
                mailResult: {},
                phoneResult: {},
                webResult: {},
            };
        },
        watch: {
            mail(val, oldval) {
                if (val.length !== oldval.length) {
                    const mailNotifs = this.mail.map(notif => notif.replace('mail:', ''));
                    Object.keys(this.types).forEach((type) => {
                        this.$set(this.mailResult, type, mailNotifs.indexOf(type) > -1);
                    });
                }
            },
            phone(val, oldval) {
                if (val.length !== oldval.length) {
                    const phoneNotifs = this.phone.map(notif => notif.replace('phone:', ''));
                    Object.keys(this.types).forEach((type) => {
                        this.$set(this.phoneResult, type, phoneNotifs.indexOf(type) > -1);
                    });
                }
            },
            web(val, oldval) {
                if (val.length !== oldval.length) {
                    const webNotifs = this.web.map(notif => notif.replace('web:', ''));
                    Object.keys(this.types).forEach((type) => {
                        this.$set(this.webResult, type, webNotifs.indexOf(type) > -1);
                    });
                }
            },
        },
        computed: {
            phoneValues() {
                return Object.keys(this.phoneResult).filter(el => this.phoneResult[el] === true).map(el => `phone:${el}`).join(';') || '';
            },
            mailValues() {
                return Object.keys(this.mailResult).filter(el => this.mailResult[el] === true).map(el => `mail:${el}`).join(';') || '';
            },
            webValues() {
                return Object.keys(this.webResult).filter(el => this.webResult[el] === true).map(el => `web:${el}`).join(';') || '';
            },
            formValue() {
                return this.phoneValues + ';' + this.mailValues; 
                // + ';' + this.webValues;
            }
        }
    };

</script>
