<template>
    <v-card>
        <v-dialog v-model="dialog" persistent max-width="500">
            <v-card class="text-xs-center">
                <v-card-title class="headline">
                    <v-spacer />
                    <b>{{$translate('settings.label.19')}}</b>
                    <v-spacer />
                </v-card-title>
                <v-card-text>
                    {{$translate('settings.text.11')}}
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                        <v-btn color="white" @click.native="dialog = false">{{$translate('btn.14')}}</v-btn>
                    <v-spacer />
                </v-card-actions>
            </v-card>
        </v-dialog>
      <v-card-title class="pb-0">
        <h2 class="headline pb-1">{{$translate('settings.label.20')}}</h2><br>
      </v-card-title>
      <v-card-text>
        <v-flex xs12 v-if="!confirmDelete">
            <span>{{$translate('settings.text.12')}}</span><br>
            <span>{{$translate('settings.text.13')}}</span>
            <br><br>
            <v-btn color="red white--text" @click="confirmDelete = true">{{$translate('settings.btn.1')}}</v-btn>
        </v-flex>
        <v-flex xs12 v-else>
            <form method="post" action="settings.preferences/delete" @apiSuccess="onRemoved">
                <input type="hidden" name="confirm_1" :value="confirm_1 ? 1 : 0" />
                <input type="hidden" name="confirm_2" :value="confirm_2 ? 1 : 0" />
                <input type="hidden" name="confirm_3" :value="confirm_3 ? 1 : 0" />

                <span>{{$translate('settings.text.17')}}</span><br>
                <b>{{$translate('settings.text.18')}}</b><br><br>
                <v-checkbox :label="$translate('settings.text.14')" class="check-delete" v-model="confirm_1" color="blue" />
                <v-checkbox :label="$translate('settings.text.15')" class="check-delete" v-model="confirm_2" color="blue" />
                <v-checkbox :label="$translate('settings.text.16')" class="check-delete" v-model="confirm_3" color="blue" />
                <v-btn color="white" @click="confirmDelete = false">{{$translate('btn.5')}}</v-btn>
                <v-btn color="red white--text" type="submit">{{$translate('settings.btn.1')}}</v-btn>
            </form>
        </v-flex>
      </v-card-text>
    </v-card>
</template>

<script>

    export default {
        data() {
            return {
                dialog: false,
                confirmDelete: false,
                confirm_1: false,
                confirm_2: false,
                confirm_3: false,
            }
        },

        watch: {
            dialog(val, oldVal) {
                if(!val && oldVal) {
                    this.$root.logout();
                }
            }
        },
        
        methods: {
            onRemoved($e) {
                if ($e && $e.preventDefault && (!$e.isDefaultPrevented || !$e.isDefaultPrevented())) {
                  $e.preventDefault();
                }
                this.dialog = true;
            }
        }
    }

</script>

<style lang="scss">

    .check-delete.v-input-group.v-input-group--selection-controls > label {
        text-overflow: initial;
        display: inline-block;
        white-space: initial;
        line-height: 20px;
        min-height: 30px;
        height: auto;
    }
    
</style>