<template>
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12 md6>
        <settings-preferences-currency />
      </v-flex>
      <v-flex xs12 md6>
        <settings-preferences-language />
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12>
        <settings-preferences-notifications />
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12>
        <settings-preferences-remove-account />
      </v-flex>
    </v-layout>
  </v-container>
</template>