<template>
    <svg :width="width" :height="height" viewBox="0 0 200 200">
        <g transform="translate(100, 110)" fill="none" stroke="#E5E6E7" stroke-width=10>
            <path :d="pathBg" />
        </g>
        <g transform="translate(100, 110)" fill="none" stroke="#0140DA" stroke-width=10>
            <path :d="path" />
        </g>
        <g transform="translate(100, 110)" fill="none" stroke-width=10>
            <circle cx=0 cy=0 r=95 fill="#FFF" opacity="1" />
        </g>
    </svg>
</template>

<script>
    import * as d3 from 'd3-shape';
    const radius = 130;

    function degree(n) {
        return n * Math.PI / 180; 
    }

    export default {
        props: {
            progress: Number,
            width: [Number, String],
            height: [Number, String],
        },
        computed: {
            pathBg() {
                const arcBg = d3.arc()
                    .innerRadius(0)
                    .outerRadius(100)
                    .startAngle(degree(-radius))
                    .endAngle(degree(radius));

                return arcBg();
            },
            path() {
                const r = ((radius * 2 * (this.progress || 0)) / 100) - radius;

                const arc = d3.arc()
                    .innerRadius(0)
                    .outerRadius(100)
                    .startAngle(degree(-radius))
                    .endAngle(degree(r));

                return arc();
            }
        }
    }
    
</script>