@charset "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


@font-face {
  font-family: "bit4you";
  src:url("./fonts/bit4you.eot");
  src:url("./fonts/bit4you.eot?#iefix") format("embedded-opentype"),
    url("./fonts/bit4you.woff") format("woff"),
    url("./fonts/bit4you.ttf") format("truetype"),
    url("./fonts/bit4you.svg#bit4you") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "bit4you" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bit4you" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-chart-line:before {
  content: "\61";
}
.icon-progress-up-2:before {
  content: "\62";
}
.icon-progress-down-2:before {
  content: "\63";
}
.icon-share:before {
  content: "\64";
}
.icon-pie-chart:before {
  content: "\65";
}
.icon-materialicons-regular-4:before {
  content: "\66";
}
.icon-users:before {
  content: "\67";
}
.icon-user-o:before {
  content: "\68";
}
.icon-user:before {
  content: "\69";
}
.icon-stats:before {
  content: "\6a";
}
.icon-learn:before {
  content: "\6b";
}
.icon-support:before {
  content: "\6c";
}
.icon-bar-chart:before {
  content: "\6d";
}
.icon-vink:before {
  content: "\6f";
}
.icon-times:before {
  content: "\70";
}
.icon-angle-left:before {
  content: "\6e";
}
.icon-write:before {
  content: "\71";
}
.icon-unlock:before {
  content: "\72";
}
.icon-lock:before {
  content: "\73";
}
.icon-alert:before {
  content: "\74";
}
.icon-card:before {
  content: "\75";
}
.icon-school:before {
  content: "\76";
}
.icon-timeline:before {
  content: "\77";
}
.icon-wifi:before {
  content: "\78";
}
.icon-shield:before {
  content: "\79";
}
.icon-search:before {
  content: "\7a";
}
.icon-progress-down:before {
  content: "\41";
}
.icon-progress-up:before {
  content: "\42";
}
.icon-arrows-expand:before {
  content: "\43";
}
.icon-mail:before {
  content: "\44";
}
.icon-more-dots:before {
  content: "\45";
}
.icon-speedometer:before {
  content: "\46";
}
.icon-circle-o:before {
  content: "\47";
}
.icon-diagonal-line:before {
  content: "\48";
}
.icon-horizontal-line:before {
  content: "\49";
}
.icon-limited-line:before {
  content: "\4a";
}
.icon-triangle:before {
  content: "\4b";
}
.icon-settings:before {
  content: "\4c";
}
.icon-fork:before {
  content: "\4d";
}
.icon-bar-chart-1:before {
  content: "\4e";
}
.icon-stats-bars:before {
  content: "\4f";
}
.icon-car:before {
  content: "\50";
}
.icon-balance:before {
  content: "\51";
}
.icon-twitter:before {
  content: "\52";
}
.icon-reddit:before {
  content: "\53";
}
.icon-news:before {
  content: "\55";
}
.icon-filter:before {
  content: "\54";
}
.icon-angle-down:before {
  content: "\56";
}
.icon-usd:before {
  content: "\57";
}
.icon-language:before {
  content: "\58";
}
.icon-key:before {
  content: "\59";
}
.icon-help:before {
  content: "\5a";
}
.icon-trash:before {
  content: "\30";
}
.icon-menu:before {
  content: "\31";
}
.icon-facebook:before {
  content: "\32";
}
.icon-medium:before {
  content: "\33";
}
.icon-qrcode:before {
  content: "\34";
}
.icon-exchange:before {
  content: "\35";
}
.icon-network:before {
  content: "\36";
}
.icon-bank:before {
  content: "\37";
}
.icon-exchange2:before {
  content: "\38";
}
.icon-copy:before {
  content: "\21";
}
.icon-rss:before {
  content: "\24";
}
.icon-gift:before {
  content: "\25";
}
.icon-send:before {
  content: "\39";
}
.icon-plus-square-o:before {
  content: "\22";
}
.icon-minus-square-o:before {
  content: "\23";
}
.icon-dot-circle-o:before {
  content: "\26";
}
.icon-clock:before {
  content: "\27";
}
.icon-angle-right:before {
  content: "\28";
}
.icon-phone:before {
  content: "\29";
}
