<template>
  <div v-if="auth_time > 0">
    <div v-if="alert.show">
      <v-alert v-if="showEmail" :icon="null" :color="alert.color" :value="true" class="banner-verif__alert">
          <editable-input :containerStyle="{ flex: 1, height: 40, marginTop: 0, marginLeft: 0, marginRight: 0 }" icon="icon-mail" placeholder="settings.email.text3" v-model="email" keyboardType="email-address" />
          <v-btn @click="navigateTo(alert.navigation)" :textStyle="{ fontSize: 12 }" :style="{ width: 64, borderRadius: 4 }" small color="primary">
            {{ alert.button }}
          </v-btn>
      </v-alert>
      <v-alert v-else-if="showPhone" :icon="null" :color="alert.color" :value="true" class="banner-verif__alert">
          <editable-input :containerStyle="{ flex: 1, height: 40, marginTop: 0, marginLeft: 0, marginRight: 0 }" icon="icon-phone" :placeholder="$t('settings.phone.text3')" v-model="phone" keyboardType="number-pad" />
          <v-btn @click="navigateTo(alert.navigation)" :textStyle="{ fontSize: 12 }" :style="{ width: 64, borderRadius: 4 }" small color="primary">
            {{ alert.button }}
          </v-btn>
      </v-alert>
      <v-alert v-else :icon="alert.icon" :color="alert.color" :value="true" class="banner-verif__alert">
        <v-text style="padding-bottom: 4" color="white" bold>{{ alert.text }}</v-text>
        <v-spacer v-if="alert.button"></v-spacer>
        <v-btn v-if="alert.button" @click="alert.onClick || navigateTo(alert.navigation)" :textStyle="{ fontSize: 12 }" :style="{ borderRadius: 4 }" small color="primary">
          {{ alert.button }}
        </v-btn>
      </v-alert>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      camera: false,

      email: '',
      showEmail: false,

      phone: '',
      showPhone: false,

      // api: "settings.verification/status",

      auth_time: 1,
      verified: false,
      verification_pending: false,
      email_verified: true,
      phone_number_verified: true,
      address: {
        verified: true,
        verification_pending: true
      }
    };
  },
  computed: {
    isTrial() {
      return this.$api.isTrial;
    },
    alert() {
      const res = {
        show: true,
        color: 'warning',
      };
      if (this.isTrial) {
        res.text = 'Please upgrade your trial account';
        res.button = 'Upgrade';
        res.navigation = 'SettingsTrialUpgrade';
        res.icon = 'user';
      } else if (!this.email_verified) {
        res.text = 'Please verify your email\nTo unlock all possibilities';
        res.button = 'Verify';
        res.navigation = 'SettingsChangeMail';
        res.icon = 'mail';
        res.onClick = (() => {
          this.showEmail = !this.showEmail;
        }).bind(this);
      } else if (!this.phone_number_verified) {
        res.text = 'Please verify your phone\nTo unlock all possibilities';
        res.button = 'Verify';
        res.navigation = 'SettingsChangePhone';
        res.icon = 'phone';
        res.onClick = (() => {
          this.showPhone = !this.showPhone;
        }).bind(this);
      } else if (
          (!this.verified && !this.verification_pending)
          || (!this.address || (!this.address.verified && !this.address.verification_pending))
      ) {
        this.camera = (!this.verified && !this.verification_pending);
        res.text = 'Please verify your account\nTo unlock all possibilities';
        res.button = 'Verify';
        res.navigation = 'SettingsVerification';
        res.icon = 'user';
      } else {
        res.show = false;
      }
      return res;
    },
  },
  methods: {
    // Only thing to adapt if the need for web compatibility arises
    async navigateTo(name) {
      if (!name) return;
      this.$data.settigngsRefresh = true;
      this.$router.push({
        name: 'Settings',
        subroute: {
          name: 'SettingsMenu',
          params: {
            subroute: {
              name,
              params: {
                camera: this.camera,
                email: this.email,
                phone: this.phone,
              },
            },
          },
        },
      });
    },
  },
};
</script>

<style>
.banner-verif__alert {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20;
  padding-right: 20;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
</style>
