<template>
    <nothing-to-display-view api="portfolio/open-orders" open-orders>
      <open-orders-info v-if="selectedInvestment" @close="selectedInvestment = null" :item="selectedInvestment" />
      <open-orders-list-cards @open="showInvest($event)" />
    </nothing-to-display-view>
</template>

<script>
    export default {
        props: {
            hash: {
                type: String,
                default () {
                    return null;
                },
            },
        },
        data: () => ({
            scrolled: false,
            selectedInvestment: null,
            items: [],
            api: 'portfolio/open-orders',
            innerItems: [],
            summaries: [],
        }),
        metaInfo() {
          return {
            title: 'bit4you - Open orders',
          };
        },
        beforeMount() {
            if (this.$isServer) return;
            window.addEventListener('scroll', this.handleScroll);
            this.handleScroll();
        },
        beforeDestory() {
            if (this.$isServer) return;
            window.addEventListener('scroll', this.handleScroll);
        },

        mounted() {
            this.$onApi("market/summaries", summaries => {
                this.summaries = summaries;
            });
            this.$onApi('portfolio/open-orders', data => {
                this.items = data;
            });
        },
        watch: {
            summaries() {
                this.innerItems = this.items.map(order => {
                    order.units = order.units || order.quantity || (parseFloat(order.invested) / parseFloat(order.execute_at));
                    let summary = this.summaries.filter(el => {
                        return el.market === order.market;
                    });
                    if (summary.length > 0) {
                        summary = summary[0];
                        return Object.assign({}, order, summary);
                    }
                    return order;
                });
            },
            hash() {
              if (!this.hash) this.selectedInvestment = null;
            },
            selectedInvestment() {
              if (this.selectedInvestment && this.hash !== this.selectedInvestment.id)
                this.$router.replace(`/open-orders/${this.selectedInvestment.id}`);
            },
            items() {
              this.checkDialogInfo();
            },
        },
        methods: {
            checkDialogInfo() {
                this.$nextTick(() => {
                    if (this.hash && !this.selectedInvestment) {
                        this.selectedInvestment = this.innerItems.find((el) => {
                            return String(el.id).toLowerCase() === String(this.hash).toLowerCase();
                        });
                    }
                });
            },
            handleScroll() {
                this.scrolled = ((window.pageYOffset || document.documentElement.scrollTop) > 0);
            },
            showInvest(item) {
                this.selectedInvestment = item;
            },
        },
    };

</script>

<style lang="scss">
    .invest-card {
        cursor: pointer;
        &:hover {
            background: #efefef;
            // opacity: 0.9;
        }
    }

</style>
