<template>
  <v-bottom-sheet v-model="showSheet">
    <v-layout row wrap style="margin-top: 80px;background-color: #fff;margin: auto;max-width: 600px;">
      <v-flex xs12 text-xs-center style="display: flex;justify-content: center; justify-items: center; align-items: center; align-content: center;padding: 5px;">
          <img :src="`/img/markets/${item.market}.png`" :alt="`${item.market} logo`" :title="`${item.market} logo`" height="30" width="30" style="height: 30px; width: 30px;margin-right: 5px;" />
          <b style="padding-left: 5px;">{{ $translate(item.type === 'sell' ? 'label.19' : 'label.15') }} {{ item.market }}</b>
      </v-flex>
      <v-flex xs12 md6 text-xs-center style="padding: 5px">
        <b>{{$translate('history.label.1')}}:</b>
        <span style="margin-left: 10px;" v-if="item.baseCurrency === 'USDT'">{{ item.invested | currencyWithSymbol }}</span>
        <span style="margin-left: 10px;" v-else>{{ item.baseCurrency }} {{ item.invested }}</span>
      </v-flex>
      <v-flex xs12 md6 text-xs-center style="padding: 5px">
          <b>{{$translate('openorders.label.1')}}:</b>
          <span style="margin-left: 10px;" v-if="!!item.execute_at">{{ item.execute_at | currencyWithSymbol(item.market) }}</span>
          <span style="margin-left: 10px;" v-else>{{$translate('label.17')}}</span>
      </v-flex>
      <v-flex xs12 md6 text-xs-center style="padding: 5px">
          <span v-if="!!item.open_time">{{ item.open_time | formatDateTime }}</span>
          <span v-else>{{$translate('openorders.label.4')}}</span>
      </v-flex>
      <v-flex xs12 md6 text-xs-center style="padding: 5px">
          <b>{{$translate('openorders.label.5')}}</b>
          <span style="margin-left: 10px;">{{ item.type === 'sell' ? summary.bid : summary.ask | currencyWithSymbol(item.market) }}</span>
      </v-flex>
      <v-flex xs12 text-xs-center v-if="item.isOpening" style="margin-top: 20px">
          <form method="POST" action="portfolio/cancel-order" @submit.prevent @apiSuccess="success">
              <input type="hidden" name="id" :value="item.id" />
              <v-btn type="submit" color="error">{{$translate('openorders.btn.1')}}</v-btn>
          </form>
      </v-flex>

      <!--
      {{ (item.type === 'sell' ? summary.bid : summary.ask) / item.invested }}
      -->
      
      <!--
      <v-list-tile>
          <v-list-tile-content>
              <v-list-tile-title>{{$translate('openorders.label.2')}}</v-list-tile-title>
              <v-list-tile-sub-title :class="item.stop_loss * item.units - item.invested < 0 ? 'error--text' : 'success--text'">
                {{ item.stop_loss | currencyWithSymbol }}
              </v-list-tile-sub-title>
          </v-list-tile-content>
      </v-list-tile>
      <v-list-tile>
          <v-list-tile-content>
              <v-list-tile-title>{{$translate('openorders.label.3')}}</v-list-tile-title>
              <v-list-tile-sub-title :class="item.stop_loss * item.units - item.invested < 0 ? 'error--text' : 'success--text'">
                {{ item.stop_loss * item.units - item.invested | currencyWithSymbol }}
              </v-list-tile-sub-title>
          </v-list-tile-content>
      </v-list-tile>
      <v-list-tile>
          <v-list-tile-content>
              <v-list-tile-title>{{$translate('openorders.label.6')}}</v-list-tile-title>
              <v-list-tile-sub-title :class="item.take_profit * item.units - item.invested < 0 ? 'error--text' : 'success--text'">
                {{ item.take_profit | currencyWithSymbol }}
              </v-list-tile-sub-title>
          </v-list-tile-content>
      </v-list-tile>
      <v-list-tile>
          <v-list-tile-content>
              <v-list-tile-title>{{$translate('openorders.label.7')}}</v-list-tile-title>
              <v-list-tile-sub-title :class="item.take_profit * item.units - item.invested < 0 ? 'error--text' : 'success--text'">
                {{ item.take_profit * item.units - item.invested | currencyWithSymbol }}
              </v-list-tile-sub-title>
          </v-list-tile-content>
      </v-list-tile>
      -->
    </v-layout>
  </v-bottom-sheet>
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        data() {
          return {
            showSheet: !!this.item,
            summary: {},
          };
        },
        mounted() {
          this.$onApi("market/summaries", summaries => {
            this.summary = summaries.find(el => el.market === `${this.item.baseCurrency}-${this.item.market}`);
          });
        },
        watch: {
          showSheet(val) {
            this.$emit((!val ? 'close' : 'open'), true);
          }
        },
        methods: {
            success() {
                this.$router.push("/open-orders");
            }
        }
    };

</script>
