<template>
    <v-container grid-list-md text-xs-center>
        <v-card class="card--flex-toolbar">
            <v-card-text style="min-height: 200px;">
                <v-data-table v-bind:headers="headers" :items="innerItems" class="table-markets" disable-initial-sort :pagination.sync="pagination">
                    <tr class="portfolio-row" slot="items" slot-scope="props" :key="'open-order-' + props.item.id">
                        <td style="width: 48px" @click="$emit('open', props.item)">
                            <img style="height: 40px; width: 40px;" height="40" width="40" :alt="props.item.name" :title="props.item.market" :src="`/img/markets/${props.item.market}.png`" />
                        </td>
                        <td @click="$emit('open', props.item)">
                            <b>{{ props.item.position | ucwords }}</b>
                            {{props.item.market}} {{ /*props.item.units.toFixed(8)*/ }}
                        </td>
                        <td @click="$emit('open', props.item)">
                            {{ props.item.open_time | formatDateTime }}
                        </td>
                        <td v-if="props.item.close_time" @click="$emit('open', props.item)">
                            {{ props.item.close_time | formatDateTime }}
                        </td>
                        <td v-else @click="$emit('open', props.item)">
                            /
                        </td>
                        <td @click="$emit('open', props.item)">
                            <b v-if="props.item.baseCurrency === 'USDT'">{{ props.item.invested | currencyWithSymbol }}</b>
                            <b v-else>{{ props.item.baseCurrency }} {{ props.item.invested }}</b>
                        </td>
                        <td @click="$emit('open', props.item)" v-if="!props.item.isOpening">&nbsp;</td>
                        <td v-else>
                            <form method="POST" action="portfolio/cancel-order">
                                <input type="hidden" name="id" :value="props.item.id" />
                                <v-btn type="submit" color="error">{{$translate('openorders.btn.1')}}</v-btn>
                            </form>
                        </td>
                    </tr>
                </v-data-table>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                headers: this.$translateHeaders([{
                        text: "",
                        sortable: false,
                        value: "id"
                    },
                    {
                        text: "history.label.12",
                        value: "position"
                    },
                    {
                        text: "openorders.label.9",
                        value: "open_time"
                    },
                    {
                        text: "history.label.14",
                        value: "close_time"
                    },
                    {
                        text: "history.label.1",
                        value: "invested"
                    },
                    {
                        sortable: false
                    }
                ]),
                pagination: {
                    rowsPerPage: 25
                },
                items: [],
                innerItems: [],
                api: 'portfolio/open-orders'
            }
        },

        watch: {
            items() {
                this.innerItems = this.transformItems(this.items);
            }
        },

        methods: {
            transformItems(items) {
                return items.map((obj) => {
                    return {
                        id:             obj.id,
                        isOpening:      obj.isOpening,
                        baseCurrency:   obj.baseCurrency,
                        position:       this.$translate(obj.type !== 'sell' ? 'label.15' : 'label.20') + ' ' + obj.market,
                        open_time:      obj.open_time,
                        close_time:     obj.close_time,
                        closed_amount:  obj.closed_amount,
                        market:         obj.market,
                        profit:         obj.closed_amount - obj.invested,
                        units:          obj.quantity,
                        unitPrice:      obj.invested / obj.quantity,
                        invested:       obj.invested,
                        multiplicator:  obj.multiplicator,
                        stop_loss:      obj.stop_loss,
                        take_profit:    obj.take_profit,
                        fee:            obj.fee
                    };
                });
            }
        }
    };

</script>
