<template>
<v-dialog attach="#modalContainer" v-model="showDialog" max-width="800" transition="dialog-bottom-transition" :overlay="false" scrollable>
  <v-card>
    <v-card-title>
      <h2>{{ market.toUpperCase() }} Open orders</h2><br>
      <p class="pa-0 ma-0">Click an order to draw related annotations.</p>
    </v-card-title>
    <v-card-text>
      <v-layout row wrap>
        <v-flex xs12 style="z-index: 1;">
          <v-data-table
            :items="filteredItems"
            hide-actions
            hide-headers
            class="table-cards"
            :no-data-text="$translate('No open orders found for this market')"
            :no-results-text="$translate('No open orders found for this market')"
          >
            <template slot="items" slot-scope="props">
              <tr @click="emitOrderOpened({ rate: props.item.execute_at, tp: props.item.take_profit, sl: props.item.stop_loss })" class="card">
                <td style="width: 48px">
                  <img class="market-logo" style="width: 40px; height: 40px;" height="40" width="40" :alt="props.item.market" :title="props.item.market" :src="`/img/markets/${props.item.market}.png`" />
                </td>
                <td>
                  <b>{{ props.item.type | ucwords }} Order</b><br>
                  <b>Quantity</b>: {{ props.item.invested / props.item.execute_at }} {{ props.item.market }}
                </td>
                <td>
                  <b>Invested</b>: {{ props.item.invested | currencyWithSymbol }}<br>
                  <b>At rate</b>: {{ props.item.execute_at | currencyWithSymbol }}
                </td>
                <td>
                  <b>TP Rate</b>: {{ props.item.take_profit | currencyWithSymbol }}<br>
                  <b>SL Rate</b>: {{ props.item.stop_loss | currencyWithSymbol }}
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-card-text class="text-xs-center">
      <v-btn small link class="blue-grey" outline @click="$emit('close', true)">CANCEL</v-btn>
    </v-card-text>
  </v-card>
</v-dialog>
</template>

<script>
export default {
  props: {
    market: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    showDialog: true,
    items: [],
    api: 'portfolio/open-orders',
  }),
  computed: {
    filteredItems() {
      return this.items.filter(el => el.market === this.market);
    },
  },
  methods: {
    emitOrderOpened(order) {
      this.$emit('open', order);
      this.$emit('close', true);
    },
  }
};
</script>
