<template>
    <v-dialog attach="#modalContainer" v-model="shareDialog" max-width=500 transition="dialog-bottom-transition" :overlay="false" scrollable>
        <v-card>
            <v-toolbar style="flex: 0 0 auto;" dark class="primary">
                <v-toolbar-title>Share this graph!</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon @click.native="shareDialog = false" dark>
                    <v-icon>icon-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text class="text-xs-center">
                <div>
                    <b>Sharable link</b><br>
                    <div class="share-link-wrapper">{{ shareConfigLink }}</div>
                    <v-btn type="button" class="my-2" v-if="!react" v-clipboard:copy="shareConfigLink">
                        Copy!
                    </v-btn>
                </div>
                <div class="mt-4" v-if="!react && $parent.indicatorConfigs.length > 0">
                    <b>Custom share</b>
                    <v-data-table :items="$parent.indicatorConfigs" hide-actions hide-headers v-model="selectedShares" select-all style="max-width: 500px;margin: auto;">
                        <template slot="items" slot-scope="props">
                            <td>
                                <v-checkbox primary hide-details v-model="props.item.selected" />
                            </td>
                            <td>{{ props.item.type }} Indicator <span v-if="props.item.period">(Period: {{ props.item.period }})</span></td>
                          </template>
                    </v-data-table>
                    <v-btn @click="show" :disabled="selectedShares.length === $parent.indicatorConfigs.length">
                        Share!
                    </v-btn>
                </div>
            </v-card-text>
            <div style="flex: 1 1 auto;"></div>
        </v-card>
    </v-dialog>
</template>

<script>

    import undoRedoMixin from './../mixins/undo-redo';

    export default {
        props: {
            react: Boolean
        },

        mixins: [undoRedoMixin],

        data() {
            return {
                shareDialog: false,
                shareLinkId: null,
                selectedShares: [],
                lastHash: null,
                liveView: false
            }
        },
        
        computed: {
            shareConfigLink() {
                if(this.$api.base)
                    return this.$api.base() + `?market=${this.marketIso || 'BTC'}${this.marketName ? '&name=' : ''}${this.marketName || ''}${this.shareLinkId ? '&share=' : ''}${this.shareLinkId || ''}`;
                else
                    return '';
            }
        },
    
        mounted() {
            this.$onApi('market-graph/config', (res) => {
                if(res._id !== this.shareLinkId)
                    return;
                
                this.onSharedData(res);
            });
            
            if (this.$route.query.share && this.$route.query.share.length > 0) {
                this.$parent.shared = true;
                this.shareLinkId = String(this.$route.query.share);

                const post = {
                    share_id: this.shareLinkId
                };

                this.$onApi('market-graph/config', post, (res) => {
                    this.onSharedData(res);
                    this.goLive();
                });

                if (post.share_id) {
                  this.$api.require('market-graph/config', post);
                }
            }
        },
        
        watch: {
            shareLinkId(val, oldval) {
                if (this.shareLinkId) {
                    this.$router.replace({
                        query: {
                            market: this.$parent.marketIso,
                            name:   this.$parent.marketName,
                            share:  this.shareLinkId
                        }
                    });
                }
            }
        },
        
        methods: {
            
            onSharedData(res) {
                const hash = this.getHash({
                    configs:     res.configs,
                    annotations: res.annotations
                });

                if(hash === this.lastHash)
                    return;

                this.lastHash = hash;

                this.$parent.restoreIndicators(res.configs);
                this.$parent.restoreAnnotations(res.annotations);

                if (res.currency) {
                  this.$parent.shareCurrency = res.currency;
                  this.$parent.$forceUpdate();
                }
            },
            
            onModified() {
                if(!this.liveView)
                    this.$parent.saveMarketConfig();
                
                if(!this.liveView || this.lastHash === -1)
                    return;

                const post = {
                    configs:     this.$parent.indicatorConfigs,
                    annotations: this.$parent.serializeAnnotations()
                };

                if(post.annotations.length === 0 || post.annotations.length !== this.$parent.plotsCount)
                    return;

                const hash = this.getHash(post);

                if(hash === this.lastHash)
                    return;

                this.lastHash = hash;
                post.id = this.shareLinkId;

                this.updateUndoRedoEnabled();
                this.$api.post('market-graph/update', post).catch((err) => {
                    //ToDo show error
                    console.error(err);
                });
            },
            
            show() {
                if (!this.$parent.$chart)
                    return;

                this.shareLinkId = null;
                this.selectedShares = this.$parent.indicatorConfigs;

                if (this.selectedShares.length === 0) {
                    this.shareDialog = true;
                } else {
                    const post = {
                        configs: this.selectedShares,
                        annotations: this.$parent.serializeAnnotations()
                    };
                    
                    this.lastHash = this.getHash(post);

                    this.$api.post('market-graph/share', post).then((res) => {
                        if (res.shareLinkId)
                            this.shareLinkId = res.shareLinkId;

                        this.shareDialog = true;
                    }).catch((err) => {
                        //ToDo show error
                        this.shareDialog = true;
                        console.error(err);
                    })
                }
            },
            
            getHash(obj) {
                //ToDo
                return JSON.stringify(obj);
            },
            
            goLive() {
                if(this.liveView === true)
                    return;

                this.liveView = true;

                this.$api.post('subscribe', {
                    chart: this.shareLinkId,
                    removeSubscriptions: true
                }).catch((err) => {
                    console.error(err);
                });
            }


            /*
            shareSocial(type) {
              const svg = this.$chart.toSvg(960, 540);
              switch (String(type).toLowerCase()) {
                case 'facebook':
                default:
                  break;
              }
            }
            */
        }
    }
    
</script>