<template>
	
</template>

<script>
	export default {
		data(){
			images[
				{
					name:"ADA",
					addrees:"@assets/cryptoCoins/ADA.png"
				},
				{
					name:"BCH",
					addrees:"@assets/cryptoCoins/BCH.png"
				},
				{
					name:"BTC",
					addrees:"@assets/cryptoCoins/BTC.png"
				}
			]
		},
		methods:{

		},
		computed:{

		}
	};
</script>